<form class="auth-form custom-form" [formGroup]="resetPassForm" novalidate (ngSubmit)="submit()">
    <div class="logo-div">
        <img class="logo" src="../../../../assets/images/alpha.png" />
    </div>

    <p class="title">Change Password</p>
    <div class="form-group">
        <label>Previous Password*</label>
        <input type="password" nz-input formControlName="user_old_password" placeholder="Previous Password" />
        <label *ngIf="resetPassForm.controls['user_old_password'].invalid && ( isSubmitted || resetPassForm.controls['user_old_password'].dirty )" id="fullname-error" class="error" for="fullname">
        <span *ngIf="resetPassForm.controls['user_old_password'].errors.required">This field is required.</span>
      </label>
    </div>

    <div class="form-group">
        <label>New Password*</label>
        <input type="password" nz-input formControlName="user_new_password" placeholder="New Password" />
        <label *ngIf="resetPassForm.controls['user_new_password'].invalid && ( isSubmitted || resetPassForm.controls['user_new_password'].dirty )" id="fullname-error" class="error" for="fullname">
        <span *ngIf="resetPassForm.controls['user_new_password'].errors.required">This field is required.</span>
        <span *ngIf="resetPassForm.controls['user_new_password'].errors.pattern">Password must contain atleast one number and an uppercase letter.</span>
      </label>
    </div>
    <div class="form-group" style="margin-bottom: 5px;">
        <label>Confirm New Password*</label>
        <input type="password" nz-input formControlName="RePassword" placeholder="Confirm New Password" />
        <label *ngIf="( isSubmitted && !resetPassForm.controls['RePassword'].invalid && (this.resetPassForm.controls['RePassword'].value != this.resetPassForm.controls['Password'].value))" id="fullname-error" class="error" for="fullname">
        <span *ngIf="(this.resetPassForm.controls['RePassword'].value != this.resetPassForm.controls['Password'].value)">Passwords do not match.</span>
      </label>
        <label *ngIf="resetPassForm.controls['RePassword'].invalid && ( isSubmitted || resetPassForm.controls['RePassword'].dirty )" id="fullname-error" class="error" for="fullname">
        <span *ngIf="resetPassForm.controls['RePassword'].errors.required">This field is required.</span>
      </label>
    </div>
    <!-- <a class="goLogin" routerLink="/auth/login">Go to Login</a> -->
    <p class="passStrength">Password strength: <span id="strengthSpan" [class]="!resetPassForm.controls['user_new_password'].valid ? 'weak' : 'strong'">{{!resetPassForm.controls['user_new_password'].valid ? 'weak' : 'strong'}}</span></p>
    <!-- <button class="cnn-form-button-primary">
      <i class="spinner"></i>
      <span *ngIf="!buttonLoading" class="state">Submit</span>
      <span *ngIf="buttonLoading" class="state">Authenticating...</span>
    </button> -->
    <div class="btn-div-reset">
        <button nz-button nzType="primary" class="btn-signup" type="submit">Confirm 
        <i *ngIf="!loading" nz-icon nzType="arrow-right" nzTheme="outline"></i>
        <i *ngIf="loading" nz-icon nzType="loading" nzTheme="outline"></i>
  
      </button>
    </div>
</form>


<!-- <p class="floating-lgn-action">Don't have an account yet? <a class="register" routerLink="/auth/register"> Register </a></p> -->