:host {
    width: 100%;
    max-width: 400px;
}
.btn-div-reset{
    text-align: center;
    margin-top: 40px;
}
.goLogin{
    float: right;
    color: black;
}
.passStrength{
    color: lightgray;
    font-size: 12px;
    text-align: end;
}

.weak{
    color: red;
}
.strong{
    color: rgb(0, 145, 72);
}
.logo-div{
    text-align: center;
    margin: 30px 0px;
  }
.custom-form{
    margin: auto;
    margin-top: 5%;
}
  