.sessions-container {
    padding: 15px;
    height: 100% !important;
  }
  .head-card {
    border-radius: 8px;
    border: 1px solid lightgray;
  }
  .head-half-card {
    width: 50%;
    border-radius: 8px;
    border: 1px solid lightgray;
  }
  svg {
    cursor: pointer;
  }
  svg:hover{
      svg g path{
          fill: red !important
      }
  }
  .main-half-card {
      margin-top: 15px;
      border-radius: 8px;
      border: 1px solid lightgray;
      height: 100%;
      width: 100%;
      overflow: auto;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .profile-img {
    width: 70px;
    height: 70px;
    margin: auto;
  }
  .profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #04057e;
    padding: 4px;
  }
  .accept {
    border-radius: 20px;
    background-color: #04057e;
    border: 1px solid white;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
  }
  .accept:hover {
      background-color:  white;
      border: 1px solid #04057e;
      color: #04057e;
    }
  .my-account-row {
    background-color: #04057e;
    padding: 10px;
    border-radius: 0px 0px 6px 6px;
    min-height: 120px;
    align-items: center;
    background-image: url(/assets/images/contact-boxes-layer.png);
    background-size: auto 120px;
    background-position: center;
    transition: all 4s;
  
    &:hover {
      background-size: auto 180px;
    }
  }
  .white {
    color: white;
  }
  .expand-div {
    background-color: #1515af88;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    margin-right: 5px;
  float: right;
  }
  .w-20 {
    width: 20px;
  }
  td {
    border: none !important;
    padding: 5px;
  }
  .table-data-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .grey {
    color: grey !important;
  }
  .selected {
    background-color: lightgray;
  }
  .contact {
    cursor: pointer;
  }
  //   .hide{
  //       display: none;
  //   }
  .hide {
    visibility: hidden;
    flex-direction: row;
    padding-left: 10px;
    width: 11% !important;
  }
  .cards {
    display: flex;
  }
  .contact:hover {
    background-color: rgba(4, 5, 126 ,  0.09);
    .hide {
      visibility: visible;
    }
  }

  .contact:hover .options-td span {
    transform: scale(0);
    animation: pop-up 0.4s 0s forwards;
  }

  @keyframes pop-up {
      0% {transform: scale(0) }
      100% {transform: scale(1)}
  }
  
  .h-100 {
    height: 100%;
  }
  
  ::ng-deep .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #04057e !important;
    border-color: #04057e !important;
  }
  
  ::ng-deep .ant-checkbox-inner {
    border-radius: 4px !important;
  }

  ::ng-deep .ant-modal.modal--roles .ant-modal-body {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .letter-head {
    padding: 12px;
    padding-left: 23px;
    font-size: 16px;
    color: #04057e !important;
    font-weight: bold;
    text-transform: capitalize;
  }
  .w-100 {
    width: 100%;
  }
  
  .chkbox-td {
    width: 4% !important;
    padding-right: 0px;
    padding-left: 6px !important;
  }
  .split-chkbox-td {
    width:3% !important;
    padding-right: 0px;
  }
  .main-half-card {
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid lightgray;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.letter-head {
    padding: 12px;
    padding-left: 23px;
    font-size: 16px;
    color: #04057e !important;
    font-weight: bold;
    text-transform: capitalize;
  }

  
  .img-td {
    width: 5% !important;
    padding-left: 0px;
    padding-right: 5px;
    text-align: center;
  }
  .name-td {
    padding-left: 0px;
    width: 30%;
  }
  .email-td {
    padding-left: 0px;
    width: 20%;
    color: grey;
  }
  .phone-td {
    padding-left: 0px;
    width: 30%;
    color: grey;
  }
  .split-img-td {
    width: 2% !important;
    padding-left: 0px;
    padding-right: 5px;
    text-align: center;
  }
  .split-name-td {
    padding-left: 0px;
    width: 15% !important;
  }
  .split-email-td {
    padding-left: 0px;
    width: 10% !important;
    color: grey;
  }
  .split-phone-td {
    padding-left: 0px;
    width: 10% !important;
    color: grey;
  }
  .sort-options {
    list-style-type: none;
    ul {
      padding: 0px;
      margin: 0px;
    }
    li {
      color: grey;
      padding: 10px 42px 15px 10px;
      cursor: pointer;
      border-right: 3px solid transparent;
    }
    li:hover {
      background: linear-gradient(
        272.11deg,
        rgba(4, 5, 126, 0.3) 0.23%,
        rgba(4, 5, 126, 0.12) 95.18%
      );
      border-right: 3px solid #04057e !important;
      color: #04057e !important;
    }
  }
  .birthday {
    padding-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .name {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  li.active{
    background: linear-gradient(
      272.11deg,
      rgba(4, 5, 126, 0.3) 0.23%,
      rgba(4, 5, 126, 0.12) 95.18%
    );
    border-right: 3px solid #04057e !important;
    color: #04057e !important;
  }
  .notFound{
    font-size: 18px;
    text-align: center;
    margin: auto;
    color: grey;
    margin-top: 40px;
  }
  .index-box{
    position: absolute; right: 3%; top: 38%; line-height: 19.5px;
  }
  .split-index-box{
    position: absolute; right: 0%; left: 58%; top: 38%; line-height: 19.5px;
  }
  .index{
    font-size: 12px; color: grey; cursor: pointer;
  }
  .split-screen{
    width: 50% !important; padding: 0px 0px 0px 15px
  }
  .type-card {
    width: 100% !important;
        display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid lightgray;
  }
  .options{
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 8px;
  }
  .main-card {
    margin-top: 15px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid lightgray;
  }

  .main-account-card {
    margin-top: 15px;
    width: 100%;
    height: 70vh;
    border-radius: 8px;
    border: 1px solid lightgray;
  }
  .dashboard-container{
      width: 40%;
      margin-left: 10px;
  }
  ::ng-deep .type-card .ant-card-body {
    padding: 0px !important;
    width: 100% !important;
  }
  
  // ::ng-deep .main-card {
  //   padding: 12px 24px !important;
  // }
  ::ng-deep .main-account-card {
    padding: 12px 15px !important;
  }
  .flag {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .profile-row{
    border-top: 1px solid lightgrey;
    padding: 15px; 
  }

  ::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
      color: #04057e !important;
  }

  ::ng-deep .ant-tabs-tab{
      border-top: none !important;
    border-right: 0px !important;
    border-left: none !important;
}

::ng-deep .ant-tabs-tab:hover{
    color: #04057e !important;
}

  ::ng-deep .ant-tabs-tab-active{
    background: linear-gradient(
        720.11deg,
        rgba(4, 5, 126, 0.3) 10.23%,
        rgba(4, 5, 126, 0.12) 95.18%
      ) !important;
      color: #04057e !important;
      border-bottom: 3px solid #04057e !important;
  }

  ::ng-deep .ant-tabs-tab .ng-star-inserted .ant-tabs-tab-active{
    border-bottom: 3px solid #04057e !important;
  }

  .out-box{
      background-color: rgb(241, 241, 241);
      border-radius: 10px;
      width: 240px;
      color: grey;
      margin: auto;
      display: flex;
  }

  .in-box{
    background-color: transparent;
    border-radius: 10px;
    width: 50%;
    margin: 5px;
    padding: 6px 0px 6px 0px;
    color: grey;
    transition: all 0.3s;
    cursor: pointer;

    &.smrt--tab-active {
      background-color: #fff;
    }
  }
  .lbl{
      font-size: 12px;
  }
  .allow-lbl{
      font-size: 14px;
  }
  .option-lbl{
      font-size: 13px;
      color: grey;
  }
  .profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #04057e;
    padding: 4px;
  }
  .profile-img {
    width: 100px;
    height: 100px;
    margin: auto;
  }
  .profile-img2 {
    width: 70px;
    height: 70px;
    margin: auto;
  }
  .profile2 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #04057e;
    padding: 4px;
  }
  ::ng-deep .ant-switch-checked{
    background-color: #04057e !important;
  }
  ::ng-deep .ant-switch{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .role-modal ::ng-deep .ant-modal{
    position: absolute !important;
    right: 10% !important;
    top: 50% !important;
    width: 22% !important;
  }

  .role-lbl{
      font-size: 12px;
  }
  .custom-margin{
      margin: 10px 0px;
  }
  ::ng-deep .ant-radio-checked .ant-radio-inner{
    border-color: #04057E !important;
  }
  
  ::ng-deep .ant-radio-inner::after{
    background-color: #04057E !important;
  }

  .b-bottom{
      border-bottom: 1px solid rgb(236, 236, 236);
  }

  ::ng-deep .ant-tree-switcher{
      position: absolute;
      right: 1px;
  }

  ::ng-deep .ant-tree-show-line .ant-tree-switcher-line-icon{
      color: grey;
  }

  ::ng-deep .ant-tree-show-line .ant-tree-indent-unit{
      margin-left: -15px !important;
  }

  .custom-svg{
      position: relative;
      top: 4px;
      margin-right: 5px;
  }

  .hidden{
    visibility: hidden;
  }

  .lh-32{
      line-height: 35px;
  }

  .mb-10{
      margin-bottom: 10px;
  }
 

  // ::ng-deep .ant-modal-body{
  //     padding: 0px !important;
  //     padding-bottom: 20px !important;
  // }

  .border{
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
  }

  .operation{
      font-weight: 600;
      padding-bottom: 10px;
      margin: 0px;
  }

  .bb{
    border-bottom: 1px solid rgb(236, 236, 236);
  }
  
  .flag {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .flag2 {
    position: relative;
    top: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  ::ng-deep .ant-switch{
    border-radius: 12px !important;
  }
  ::ng-deep .ant-switch-checked{
    background-color: #04057e !important;
  }
  .privacy-table{
    width: 100%;
  }
  .privacy-table,.privacy-th,.privacy-tr{
    border-top: 1px solid rgb(243, 243, 243);
    border-bottom: 1px solid rgb(243, 243, 243);
    line-height: 35px;
  }
  .border-right{
    border-right: 1px solid rgb(243, 243, 243) !important;
  }
  .email{
    position: relative;
    bottom: -10px;
  }
  
  .paddt-10{
    padding-top: 10px;
  }
