<ul nz-menu nzTheme="light" nzMode="inline" class="sider-menu">
    <li class="padd-0" nzSelected nz-menu-item>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
      >
        <g clip-path="url(#clip0)">
          <path
            d="M15.625 7.5H15V5C15 2.2425 12.7575 0 9.99999 0C7.24249 0 4.99999 2.2425 4.99999 5V7.5H4.37499C3.34166 7.5 2.49999 8.34083 2.49999 9.375V18.125C2.49999 19.1592 3.34166 20 4.37499 20H15.625C16.6583 20 17.5 19.1592 17.5 18.125V9.375C17.5 8.34083 16.6583 7.5 15.625 7.5ZM6.66666 5C6.66666 3.16167 8.16166 1.66667 9.99999 1.66667C11.8383 1.66667 13.3333 3.16167 13.3333 5V7.5H6.66666V5ZM10.8333 13.935V15.8333C10.8333 16.2933 10.4608 16.6667 9.99999 16.6667C9.53916 16.6667 9.16666 16.2933 9.16666 15.8333V13.935C8.67083 13.6458 8.33333 13.1142 8.33333 12.5C8.33333 11.5808 9.08083 10.8333 9.99999 10.8333C10.9192 10.8333 11.6667 11.5808 11.6667 12.5C11.6667 13.1142 11.3292 13.6458 10.8333 13.935Z"
          />
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="20" height="20" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </li>
    <li class="padd-0" nz-menu-item>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
      >
        <g clip-path="url(#clip0)">
          <path
            d="M4.66029 18.3214C4.70707 19.2628 5.47844 19.9982 6.4228 19.9982H13.5776C14.5219 19.9982 15.2934 19.2629 15.3401 18.3214L16.3707 6.46875H3.6297L4.66029 18.3214ZM11.7649 9.40993H12.9414V15.8805H11.7649V9.40993ZM9.41197 9.40993H10.5884V15.8805H9.41197V9.40993ZM7.05903 9.40993H8.2355V15.8805H7.05903V9.40993Z"
            fill="#3A3E55"
            fill-opacity="0.8"
          />
          <path
            d="M12.9413 2.94118V1.76471C12.9413 0.791686 12.1497 0 11.1766 0H8.82369C7.85067 0 7.05898 0.791686 7.05898 1.76471V2.94118H2.3531V5.29412H17.6472V2.94118H12.9413ZM8.23545 2.94118V1.76471C8.23545 1.44035 8.49937 1.17647 8.82369 1.17647H11.1766C11.501 1.17647 11.7649 1.44035 11.7649 1.76471V2.94118H8.23545Z"
            fill="#3A3E55"
            fill-opacity="0.8"
          />
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="20" height="20" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </li>
    <li class="padd-0" nz-menu-item>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
      >
        <g clip-path="url(#clip0)">
          <path
            d="M12.4999 10.8332C12.0391 10.8332 11.6666 11.2066 11.6666 11.6665V14.9999C11.6666 15.459 11.2932 15.8331 10.8332 15.8331H8.3332V3.33325C8.3332 2.62159 7.87987 1.98576 7.19826 1.7491L6.95153 1.66655H10.8332C11.2932 1.66655 11.6666 2.04069 11.6666 2.49998V4.99996C11.6666 5.45985 12.0391 5.83323 12.4999 5.83323C12.9607 5.83323 13.3331 5.45985 13.3331 4.99996V2.49998C13.3331 1.12166 12.2115 0 10.8332 0H1.87498C1.84325 0 1.8167 0.0141906 1.78587 0.0183104C1.74574 0.0149535 1.70744 0 1.6667 0C0.747524 0 3.8147e-06 0.747369 3.8147e-06 1.66655V16.6664C3.8147e-06 17.3781 0.453338 18.0139 1.13494 18.2506L6.14999 19.9223C6.31998 19.9748 6.48904 19.9998 6.66665 19.9998C7.58583 19.9998 8.3332 19.2523 8.3332 18.3331V17.4998H10.8332C12.2115 17.4998 13.3331 16.3782 13.3331 14.9999V11.6665C13.3331 11.2066 12.9607 10.8332 12.4999 10.8332Z"
            fill="#3A3E55"
            fill-opacity="0.8"
          />
          <path
            d="M19.7547 7.74561L16.4213 4.41236C16.1832 4.17402 15.8247 4.1023 15.5132 4.23139C15.2023 4.36063 14.9989 4.66474 14.9989 5.0015V7.50147H11.6657C11.2056 7.50147 10.8323 7.8747 10.8323 8.33474C10.8323 8.79479 11.2056 9.16802 11.6657 9.16802H14.9989V11.668C14.9989 12.0047 15.2023 12.3089 15.5132 12.4381C15.8247 12.5672 16.1832 12.4955 16.4213 12.2573L19.7547 8.92388C20.0805 8.59811 20.0805 8.07138 19.7547 7.74561Z"
            fill="#3A3E55"
            fill-opacity="0.8"
          />
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="20" height="20" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </li>
  </ul>