.sider-menu {
    height: 100%;
    border-right: 0;
    text-align: center;
  }
  ::ng-deep nz-sider {
    flex: 0 0 60px !important;
    min-width: auto !important;
    max-width: fit-content !important;
    width: 60px !important;
  }
  ::ng-deep .ant-layout-sider-children {
    width: 60px !important;
  }
  svg {
    width: 15px;
    height: 15px;
  }
  .menu-icon {
    position: relative;
    top: -6px;
  }
  li{
    padding: 0px;
  }