<div class="sessions-container">
    <div [class]="split || splitView ? 'cards h-100' : 'cards'">
        <div [class]="split || splitView ? 'w-50' : 'w-100'">
            <nz-card class="head-card">
                <div class="header" nz-row>
                    <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
                        <load-svg (click)="splitScreen('add')" url="/assets/svg/icon-add-contact.svg"></load-svg>
                    </div>
                    <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
                        <load-svg url="/assets/svg/icon-folder.svg" (click)="showModal('showArchiveMsg')" *ngIf="selectedContacts.length > 0"></load-svg>

                    </div>
                    <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
                        <load-svg url="/assets/svg/icon-star.svg" (click)="showModal('showStarMsg')" *ngIf="selectedContacts.length > 0"></load-svg>
                    </div>
                    <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
                        <load-svg url="/assets/svg/icon-trash-2.svg" (click)="showModal('showDeleteMsg')" *ngIf="selectedContacts.length > 0"></load-svg>
                    </div>
                    <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '4' : '13'"></div>
                    <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
                        <nz-dropdown-menu class="smrt-sort-dropdown" #sort="nzDropdownMenu">
                            <div>
                                <ul id="parent-ul" class="sort-options">
                                    <li id="firstName" (click)="sortByThis('firstName')" class="name active">Name</li>
                                    <li id="lastName" (click)="sortByThis('lastName')">Last Name</li>
                                    <li id="email" (click)="sortByThis('email')">Email</li>
                                    <!-- <li id="country" (click)="sortByThis('country')">Country / City</li>
                        <li id="birthday" class="birthday">Birthday</li> -->
                                </ul>
                            </div>
                        </nz-dropdown-menu>
                        <load-svg url="/assets/svg/icon-sort.svg" nz-dropdown nzTrigger="click" [nzDropdownMenu]="sort"></load-svg>
                    </div>

                    <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '4' : '3'">
                        <input [(ngModel)]="searchValue" (ngModelChange)="searchContact($event)" nz-input placeholder="Search" />
                    </div>
                    <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
                        <load-svg url="/assets/svg/icon-filter.svg" (click)="showNotification()"></load-svg>
                    </div>
                    <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
                        <load-svg url="/assets/svg/icon-settings.svg" (click)="showNotification()"></load-svg>
                    </div>
                    <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
                        <load-svg url="/assets/svg/icon-move.svg" (click)="noSplit()"></load-svg>
                    </div>
                </div>

                <div class="my-account-row" nz-row>
                    <div class="center" nz-col [nzSpan]="split || splitView ? '3' : '2'">
                        <div class="profile-img2">
                            <img class="profile2" [src]="userInfo?.profilePicture" onerror="this.src = '../../../../assets/images/user.png'" />
                        </div>
                    </div>
                    <div nz-col [nzSpan]="split || splitView ? '5' : '2'">
                        <div class="white">{{userInfo?.name}}</div>
                        <div>
                            <button class="accept" nz-button nzType="default" (click)="goToAccount()">
                  Go to my account
                </button>
                        </div>
                    </div>
                    <!-- <div nz-col [nzSpan]="split || splitView ? '15' : '19'"></div>
            <div class="center m-auto" nz-col nzSpan="1">
              <div class="expand-div">
                <load-svg url="/assets/svg/icon-move-2.svg"
              (click)="noSplit()"></load-svg>
              </div>
            </div> -->
                </div>
            </nz-card>

            <nz-card *ngIf="result.length > 0" [class]="split || splitView ? 'main-half-card smrt-table-list' : 'main-card smrt-table-list'">
                <nz-table #basicTable>
                    <tbody>
                        <tr class="padd-10" *ngFor="let res of result">
                            <div class="letter-head" [id]="'letter-' + res.key">
                                {{ res.key }}
                            </div>
                            <div *ngFor="let data of res.contacts" class="contact" [id]="'contact-' + data.id" (click)="selectContact(data.id)">
                                <!-- <td [class]="split || splitView ? 'split-chkbox-td' :'chkbox-td'" (change)="selectContact(data.id)" [nzChecked]="data.selected" [nzDisabled]="false"></td> -->
                                <td style="padding-left: 10px;" [class]="split || splitView ? 'split-img-td' : 'img-td'">
                                    <img class="table-data-img" [src]="data.profilePicture ? data.profilePicture : '../../../../assets/images/user.png'" />
                                </td>
                                <td [class]="split || splitView ? 'split-name-td' : 'name-td'" (click)="viewContact('data.id')">
                                    <span class="smrt-table-link">{{ data.firstName + " " + data.lastName }}</span>
                                </td>
                                <td [class]="split || splitView ? 'split-email-td' : 'email-td'">
                                    {{ data.contactEmails.length ? data.contactEmails[0].email : '-' }}
                                </td>
                                <td [class]="split || splitView ? 'split-phone-td' : 'phone-td'">
                                    {{ data.contactPhoneNumbers.length ? data.contactPhoneNumbers[0].number : '-' }}
                                </td>
                                <td [class]="split || splitView ? 'split-options-td hide' : 'options-td hide'">
                                    <span style="padding-left: 12px">
                    <!-- <load-svg url="/assets/svg/icon-edit.svg"
              (click)="editContact('data.id')"></load-svg> -->
              <svg (click)="editContact('data.id')" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
                <g clip-path="url(#clip0)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67049 3.64255C3.48417 3.64255 3.30549 3.71656 3.17375 3.84831C3.042 3.98005 2.96799 4.15873 2.96799 4.34505V14.18C2.96799 14.3664 3.042 14.545 3.17375 14.6768C3.30549 14.8085 3.48417 14.8825 3.67049 14.8825H13.5055C13.6918 14.8825 13.8705 14.8085 14.0022 14.6768C14.134 14.545 14.208 14.3664 14.208 14.18V10.4287C14.208 10.0407 14.5225 9.7262 14.9105 9.7262C15.2985 9.7262 15.613 10.0407 15.613 10.4287V14.18C15.613 14.739 15.3909 15.275 14.9957 15.6703C14.6005 16.0655 14.0644 16.2875 13.5055 16.2875H3.67049C3.11154 16.2875 2.57549 16.0655 2.18026 15.6703C1.78503 15.275 1.56299 14.739 1.56299 14.18V4.34505C1.56299 3.78611 1.78503 3.25005 2.18026 2.85482C2.57549 2.45959 3.11154 2.23755 3.67049 2.23755H7.42184C7.80982 2.23755 8.12434 2.55207 8.12434 2.94005C8.12434 3.32803 7.80982 3.64255 7.42184 3.64255H3.67049Z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0086 1.03828C13.2829 0.763934 13.7277 0.763934 14.0021 1.03828L16.8121 3.84828C17.0864 4.12262 17.0864 4.56742 16.8121 4.84176L9.78707 11.8668C9.65533 11.9985 9.47665 12.0725 9.29033 12.0725H6.48033C6.09235 12.0725 5.77783 11.758 5.77783 11.37V8.56002C5.77783 8.3737 5.85185 8.19502 5.98359 8.06328L13.0086 1.03828ZM7.18283 8.851V10.6675H8.99935L15.3218 4.34502L13.5053 2.5285L7.18283 8.851Z"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="16.86" height="16.86" fill="white" transform="translate(0.860352 0.130005)"/>
                </clipPath>
                </defs>
                </svg>
                    </span
                  ><span style="padding-left: 12px">
                    <!-- <load-svg url="/assets/svg/icon-folder-2.svg"
              (click)="showModal('showArchiveMsg')"></load-svg> -->
              <svg (click)="showModal('showArchiveMsg', data.id)" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19">
                <g clip-path="url(#clip0)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.16178 3.16164C2.95215 3.16164 2.7511 3.24492 2.60287 3.39315C2.45464 3.54138 2.37136 3.74243 2.37136 3.95206V15.0179C2.37136 15.2275 2.45464 15.4286 2.60287 15.5768C2.7511 15.725 2.95215 15.8083 3.16178 15.8083H15.8084C16.0181 15.8083 16.2191 15.725 16.3674 15.5768C16.5156 15.4286 16.5989 15.2275 16.5989 15.0179V6.32331C16.5989 6.11368 16.5156 5.91263 16.3674 5.7644C16.2191 5.61617 16.0181 5.53289 15.8084 5.53289H8.69469C8.43042 5.53289 8.18362 5.40081 8.03703 5.18092L6.69084 3.16164H3.16178ZM1.48505 2.27533C1.92975 1.83064 2.53288 1.58081 3.16178 1.58081H7.11386C7.37814 1.58081 7.62493 1.71289 7.77153 1.93278L9.11771 3.95206H15.8084C16.4373 3.95206 17.0405 4.20189 17.4852 4.64658C17.9299 5.09128 18.1797 5.69442 18.1797 6.32331V15.0179C18.1797 15.6468 17.9299 16.2499 17.4852 16.6946C17.0405 17.1393 16.4373 17.3891 15.8084 17.3891H3.16178C2.53288 17.3891 1.92975 17.1393 1.48505 16.6946C1.04035 16.2499 0.790527 15.6468 0.790527 15.0179V3.95206C0.790527 3.32317 1.04035 2.72003 1.48505 2.27533Z"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="18.97" height="18.97"/>
                </clipPath>
                </defs>
                </svg> </span
                  ><span style="padding-left: 12px">
                    <!-- <load-svg url="/assets/svg/icon-star-2.svg"
              (click)="showModal('showStarMsg')"></load-svg> -->
              <svg (click)="showModal('showStarMsg', data.id)" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.15207 0.702637C9.4195 0.702637 9.66374 0.854451 9.78211 1.09425L11.7899 5.16173L16.2798 5.818C16.5444 5.85667 16.7641 6.04217 16.8465 6.29651C16.929 6.55087 16.86 6.82998 16.6684 7.01654L13.4201 10.1804L14.1867 14.6501C14.2319 14.9137 14.1235 15.1801 13.9072 15.3373C13.6908 15.4945 13.4039 15.5152 13.1672 15.3908L9.15207 13.2793L5.13697 15.3908C4.90025 15.5152 4.61338 15.4945 4.39699 15.3373C4.1806 15.1801 4.07223 14.9137 4.11744 14.6501L4.88405 10.1804L1.63574 7.01654C1.44419 6.82998 1.37514 6.55087 1.45762 6.29651C1.54009 6.04217 1.75978 5.85667 2.02435 5.818L6.51429 5.16173L8.52204 1.09425C8.64041 0.854451 8.88465 0.702637 9.15207 0.702637ZM9.15207 2.99262L7.61104 6.11458C7.50879 6.32174 7.31122 6.4654 7.08262 6.49881L3.63547 7.00266L6.12926 9.43161C6.29498 9.59303 6.37063 9.82569 6.33152 10.0537L5.74313 13.4843L8.82504 11.8635C9.02977 11.7559 9.27437 11.7559 9.4791 11.8635L12.561 13.4843L11.9726 10.0537C11.9335 9.82569 12.0092 9.59303 12.1749 9.43161L14.6687 7.00266L11.2215 6.49881C10.9929 6.4654 10.7954 6.32174 10.6931 6.11458L9.15207 2.99262Z"/>
                </svg>
              </span
                  ><span style="padding-left: 12px">
                    <!-- <load-svg url="/assets/svg/icon-trash-3.svg"
              (click)="showModal('showDeleteMsg')"></load-svg> -->
              <svg (click)="showModal('showDeleteMsg', data.id)" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
                <g clip-path="url(#clip0)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.98853 4.21569C1.98853 3.82765 2.30309 3.51308 2.69114 3.51308H15.3381C15.7262 3.51308 16.0407 3.82765 16.0407 4.21569C16.0407 4.60373 15.7262 4.9183 15.3381 4.9183H2.69114C2.30309 4.9183 1.98853 4.60373 1.98853 4.21569Z" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.60941 2.10786C7.42306 2.10786 7.24435 2.18188 7.11259 2.31365C6.98082 2.44541 6.9068 2.62412 6.9068 2.81047V3.51308H11.1225V2.81047C11.1225 2.62412 11.0484 2.44541 10.9167 2.31365C10.7849 2.18188 10.6062 2.10786 10.4198 2.10786H7.60941ZM12.5277 3.51308V2.81047C12.5277 2.25144 12.3056 1.7153 11.9103 1.32001C11.515 0.924711 10.9789 0.702637 10.4198 0.702637H7.60941C7.05038 0.702637 6.51424 0.924711 6.11895 1.32001C5.72365 1.7153 5.50158 2.25144 5.50158 2.81047V3.51308H4.09636C3.70832 3.51308 3.39375 3.82765 3.39375 4.21569V14.0522C3.39375 14.6113 3.61582 15.1474 4.01111 15.5427C4.40641 15.938 4.94254 16.1601 5.50158 16.1601H12.5277C13.0867 16.1601 13.6228 15.938 14.0181 15.5427C14.4134 15.1474 14.6355 14.6113 14.6355 14.0522V4.21569C14.6355 3.82765 14.3209 3.51308 13.9329 3.51308H12.5277ZM4.79897 4.9183V14.0522C4.79897 14.2386 4.87299 14.4173 5.00476 14.5491C5.13652 14.6808 5.31523 14.7548 5.50158 14.7548H12.5277C12.714 14.7548 12.8927 14.6808 13.0245 14.5491C13.1563 14.4173 13.2303 14.2386 13.2303 14.0522V4.9183H4.79897Z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.60941 7.02613C7.99745 7.02613 8.31202 7.3407 8.31202 7.72874V11.9444C8.31202 12.3324 7.99745 12.647 7.60941 12.647C7.22137 12.647 6.9068 12.3324 6.9068 11.9444V7.72874C6.9068 7.3407 7.22137 7.02613 7.60941 7.02613Z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4198 7.02613C10.8079 7.02613 11.1225 7.3407 11.1225 7.72874V11.9444C11.1225 12.3324 10.8079 12.647 10.4198 12.647C10.0318 12.647 9.71724 12.3324 9.71724 11.9444V7.72874C9.71724 7.3407 10.0318 7.02613 10.4198 7.02613Z"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="16.8626" height="16.8626" fill="white" transform="translate(0.583252)"/>
                </clipPath>
                </defs>
                </svg>
                  </span>
                                </td>
                            </div>
                        </tr>
                    </tbody>
                </nz-table>
                <div class="index-box js-sticky-index">
                    <div class="index" *ngFor="let letter of letters" [ngClass]="{'index--disabled': !lettersCount[letter]}">
                        <span (click)="scrollToThis(letter)">{{letter}}</span>
                    </div>
                </div>
            </nz-card>
            <div class="notFound" *ngIf="result.length == 0">
                No contacts found
            </div>
        </div>
        <!-- <app-user-account
        [inherited]="'inherited'"
        class="split-screen"
        *ngIf="split"
      ></app-user-account> -->
        <div *ngIf="split" class="dashboard-container">
            <nz-card class="type-card smrt-normalize">
                <div nz-row nzAlign="middle" class="custom-padd">
                    <div nz-col nzSpan="8">
                        <nz-radio-group class="m-0" [(ngModel)]="profileType" (ngModelChange)="typeChanged()" nzName="type">
                            <label nz-radio nzValue="1" style="font-size: 12px;">Individual</label>
                            <label nz-radio nzValue="2" style="font-size: 12px;">Business</label>
                        </nz-radio-group>
                    </div>
                    <div nz-col nzSpan="8">
                        <div class="center" *ngIf="!addingContact">
                            <div class="out-box style--2">
                                <div (click)="switchTab('original')" class="in-box" [ngClass]="{'smrt--tab-active': smrtTab2 == 'original'}">
                                    <span class="lbl">Original</span>
                                </div>
                                <div (click)="switchTab('mine')" class="in-box" [ngClass]="{'smrt--tab-active': smrtTab2 == 'mine'}">
                                    <span class="lbl">Mine</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div nz-col nzSpan="8">
                        <div nz-row nzAlign="middle">
                            <div nz-col nzFlex="auto" class="fs-12">
                                <span>Creation Date : </span><span>10/3/2021</span>
                            </div>
                            <div nz-col nzFlex="30px">
                                <load-svg url="/assets/svg/icon-login.svg"></load-svg>
                            </div>
                            <div nz-col nzFlex="50px">
                                <img class="flag" src="../../../../assets/images/spain-flag.png" />
                            </div>
                        </div>
                    </div>

                </div>
            </nz-card>
            <nz-card class="main-card">
                <div nz-row>
                    <div nz-col nzSpan="5">
                    </div>
                    <div nz-col class="smrt-profile-wrapper" nzSpan="13">
                        <div class="profile-img">
                            <img *ngIf="profileType == '1'" class="profile" id="indImg" src="../../../../assets/images/user.png">
                            <img *ngIf="profileType == '2'" id="busImg" class="profile" src="../../../../assets/images/business-profile.png">

                            <label class="profile-img-label" for="profileimg-upload">
                        Edit Image
                        <input type="file" (change)="pictureChanged($event)" id="profileimg-upload">
                      </label>
                        </div>
                    </div>
                    <div nz-col nzSpan="6" style="text-align: right; display: flex;">
                        <button class="accept-btn" nz-button nzType="default" (click)="addContact()">{{updatingContact ? 'Update' : 'Accept'}}</button>
                        <button class="cancel-btn" style="margin-left: 4px;" nz-button nzType="default" (click)="noSplit()">Cancel</button>

                    </div>
                </div>

                <div nz-row class="row-padd paddb-0 mb-20">
                    <div nz-col nzSpan="12">
                        <label>First Name</label>
                        <input (change)="nameChanged('firstName', $event)" [value]="contactForm.get('firstName')?.value" nz-input placeholder="First Name" />
                    </div>
                    <!-- <div nz-col nzSpan="8" class="paddl-14">
                        <label>Middle Name</label>
                        <input nz-input placeholder="Middle Name" />
                    </div> -->
                    <div nz-col nzSpan="12" class="paddl-14">
                        <label>Last Name</label>
                        <input (change)="nameChanged('lastName', $event)" [value]="contactForm.get('lastName')?.value" nz-input placeholder="Last Name" />
                    </div>
                    <!-- <div nz-col nzSpan="8">
                        <label>Second Last Name</label>
                        <input nz-input placeholder="Second Last Name" />
                    </div> -->
                    <!-- <div nz-col nzSpan="8" class="paddl-14">
                        <label>Nickname</label>
                        <input nz-input placeholder="Nickname" />
                    </div> -->
                </div>

            </nz-card>
            <nz-card class="main-account-card">
                <nz-tabset nzType="card">
                    <form [formGroup]="contactForm">
                        <nz-tab nzTitle="General Details">
                            <div nz-row [nzGutter]="16" nzAlign="bottom">
                                <div nz-col nzSpan="10" class="">
                                    <nz-radio-group style="display: flex;margin: 0px !important;margin-bottom: 10px !important;">
                                        <label class="male" nz-radio checked nzValue="1">Male</label>
                                        <label class="female" nz-radio nzValue="2">Female</label>
                                        <label class="non-binary" nz-radio nzValue="3">Non Binary</label>
                                    </nz-radio-group>
                                </div>
                                <div nz-col nzSpan="7">
                                    <label>Birthday</label>
                                    <div>
                                        <nz-date-picker formControlName="birthday" class=""></nz-date-picker>
                                    </div>
                                </div>
                                <div nz-col nzSpan="7">
                                    <label>Registration Email</label>
                                    <input nz-input placeholder="Registration Email" formControlName="registrationEmail" />
                                </div>
                                <!-- <div nz-col nzSpan="3">
                        <button class="accept-btn" nz-button nzType="default">Follow</button>
                      </div> -->
                                <div nz-col nzSpan="6" class="">
                                    <label>Country</label>
                                    <nz-select nzPlaceHolder="Country" formControlName="country" class="" nzShowSearch>
                                        <nz-option *ngFor="let item of countriesList" [nzValue]="item.alpha3Code" [nzLabel]="item.name"></nz-option>
                                    </nz-select>
                                </div>
                                <div nz-col nzSpan="6" class="">
                                    <label>State</label>
                                    <input nz-input placeholder="State" formControlName="state" />
                                </div>
                                <div nz-col nzSpan="6" class="">
                                    <label>City</label>
                                    <input nz-input placeholder="City" formControlName="city" />
                                </div>
                                <div nz-col nzSpan="6" class="">
                                    <label>Postal Code</label>
                                    <input nz-input placeholder="Postal Code" formControlName="postalCode" />
                                </div>
                            </div>
                            <div nz-row [nzGutter]="16">
                                <div nz-col nzSpan="24">
                                    <label>Address</label>
                                    <input nz-input placeholder="Address" formControlName="userAddress" />
                                </div>
                            </div>
                            <div nz-row [nzGutter]="16">
                                <div nz-col nzFlex="1" class="">
                                    <label>Profession</label>
                                    <input nz-input placeholder="Profession" formControlName="profession" />
                                </div>
                                <div nz-col nzFlex="1" class="">
                                    <label>Occupation</label>
                                    <input nz-input placeholder="Occupation" formControlName="occupation" />
                                </div>
                                <div nz-col nzFlex="1" class="">
                                    <label>Company</label>
                                    <input nz-input placeholder="Company" formControlName="company" />
                                </div>
                                <div nz-col nzFlex="1" class="">
                                    <label>Position</label>
                                    <input nz-input placeholder="Position" formControlName="position" />
                                </div>
                                <div nz-col nzFlex="1" class="">
                                    <label>Web site</label>
                                    <input nz-input placeholder="Web site" formControlName="website" />
                                </div>
                            </div>
                            <div nz-row [nzGutter]="16">
                                <div nz-col nzSpan="24">
                                    <label>Notes</label>
                                    <input nz-input placeholder="Notes" formControlName="notes" />
                                </div>
                            </div>
                        </nz-tab>
                    </form>
                    <nz-tab nzTitle="Contact Details">
                        <div nz-row>
                            <div nz-col nzSpan="8" *ngFor="let email of emails; let i = index">
                                <!-- <span> -->
                                <div *ngIf="emails.length>0" style="margin-right: 5px; margin-bottom: 5px;">
                                    <label>Email</label>
                                    <input [value]="email" (change)="valueChanged($event,i)" nz-input placeholder="Email Address" />

                                </div>
                            </div>
                            <div (click)="addEmail()" nz-col nzSpan="8" class="custom-btn">
                                <button class="addEmail" nz-button nzType="default">
                            <i nz-icon nzType="plus-circle" nzTheme="outline" class="plus"> </i> Add Email
                          </button>
                            </div>
                        </div>
                        <div nz-row class="mt-20">
                            <div nz-col nzSpan="7" *ngFor="let ph of phoneNumbers; let i = index">
                                <div class="smrt-number-picker">
                                    <img class="flag" [src]="selectFlagByCode(ph)" />

                                    <div class="smrt-seamless-pickers">
                                        <nz-select class="seamless-selectbox" nzPlaceHolder="Type" [(ngModel)]="phoneNumbers[i].type">
                                            <nz-option [nzValue]="1" nzLabel="Mobile"></nz-option>
                                            <nz-option [nzValue]="2" nzLabel="Home"></nz-option>
                                            <nz-option [nzValue]="3" nzLabel="Work"></nz-option>
                                        </nz-select>
                                        <input class="seamless-inputbox" [value]="ph" cl [(ngModel)]="phoneNumbers[i].number" (keyup)="selectFlagByCode(ph)" ass="inp" nz-input placeholder="+58-3124234234" />
                                    </div>
                                </div>

                            </div>
                            <div (click)="addPhone()" nz-col nzSpan="8" class="custom-btn">
                                <button class="addEmail" nz-button nzType="default">
                                    <i nz-icon nzType="plus-circle" nzTheme="outline" class="plus"> </i> Add Phone
                                </button>
                            </div>
                            <!-- <div nz-col nzSpan="8">
                                <div style="display: flex; flex-direction: row;">
                                    <img class="flag2" src="../../../../assets/images/flag.PNG" />
                                    <div nz-row>
                                        <div nz-col nzSpan="24">
                                            <label>Home</label>

                                        </div>
                                        <div nz-col nzSpan="24">
                                            <input value="123456" disabled class="inp" nz-input placeholder="+58-3124234234" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="8">
                                <div style="display: flex; flex-direction: row;">
                                    <img class="flag2" src="../../../../assets/images/italy-flag.png" />
                                    <div nz-row>
                                        <div nz-col nzSpan="24">
                                            <label>Home</label>

                                        </div>
                                        <div nz-col nzSpan="24">
                                            <input value="123456" disabled class="inp" nz-input placeholder="+58-3124234234" />
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div nz-row class="mt-20">
                            <div nz-col nzSpan="8" *ngFor="let sm of socialMedias; let i = index">
                                <div class="smrt-social-picker">
                                    <img class="flag" [src]="sm.img" />

                                    <div class="smrt-seamless-pickers">
                                        <nz-select class="seamless-selectbox" nzPlaceHolder="Social Media" [(ngModel)]="socialMedias[i].type" (ngModelChange)="socialSelected(i, $event)">
                                            <nz-option *ngFor="let social of socials" [nzValue]="social.type" [nzLabel]="social.name"></nz-option>
                                        </nz-select>
                                        <input class="seamless-inputbox" cl [(ngModel)]="socialMedias[i].socialLink" ass="inp" nz-input placeholder="@username" />
                                    </div>
                                </div>

                            </div>
                            <div (click)="addSocial()" nz-col nzSpan="8" class="custom-btn">
                                <button class="addEmail" nz-button nzType="default">
                            <i nz-icon nzType="plus-circle" nzTheme="outline" class="plus"> </i> Add Social Media
                          </button>
                            </div>


                            <!-- <div nz-col nzSpan="8" class="paddl-14">
                                <div style="display: flex; flex-direction: row;">
                                    <img class="flag2" src="../../../../assets/images/Snapchat.png" />
                                    <div nz-row>
                                        <div nz-col nzSpan="24">
                                            <label>Snapchat</label>

                                        </div>
                                        <div nz-col nzSpan="24">
                                            <input value="@Test" disabled class="inp" nz-input placeholder="@mikesnapchat" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div nz-col nzSpan="8" class="paddl-14">
                                <div style="display: flex; flex-direction: row;">
                                    <img class="flag2" src="../../../../assets/images/Twitter.png" />
                                    <div nz-row>
                                        <div nz-col nzSpan="24">
                                            <label>Twitter</label>

                                        </div>
                                        <div nz-col nzSpan="24">
                                            <input value="@Test" disabled class="inp" nz-input placeholder="@miketwitter" />
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="Attachments">
                        <div class="attachment-holding">
                            <input (change)="attachmentSelected($event)" id="attachment" type="file" style="display: none;" />
                            <button class="att-btn" nz-button nzType="default" (click)="addAttachment()">Add an attachment</button>
                            <div class="mt-30">
                                <div class="smrt-attachment-wrapper" nz-col *ngFor="let att of attachments;let i = index">

                                    <!-- <label nz-checkbox></label> -->
                                    <div class="smrt-box">
                                        <span class="smrt-attachment-title">Attachment {{i+1}}</span>
                                        <span class="smrt-remove">
                            <load-svg (click)="removeAttachment(i)" url="/assets/svg/icon-close.svg" ></load-svg>
                          </span>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="attachment-footer">
                                <div class="attachment-action">
                                    <span class="icon-btn"><load-svg url="/assets/svg/icon-download.svg" ></load-svg></span>
                                </div>
                                <div class="attachment-action">
                                    <span class="icon-btn"><load-svg url="/assets/svg/icon-plus.svg" ></load-svg></span>
                                    <span class="icon-btn"><load-svg url="/assets/svg/icon-minus.svg" ></load-svg></span>
                                </div>
                            </div> -->
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="Privacy">
                        <div class="center mb-20">
                            <div class="out-box">
                                <div (click)="smrtTab = 'privacy'" class="in-box" [ngClass]="{'smrt--tab-active': smrtTab == 'privacy'}">
                                    <span class="lbl">Privacy & Info</span>
                                </div>
                                <div (click)="smrtTab = 'sessions'" class="in-box" [ngClass]="{'smrt--tab-active': smrtTab == 'sessions'}">
                                    <span class="lbl">Sessions</span>
                                </div>
                            </div>
                        </div>
                        <div class="smrt-tab-content" *ngIf="smrtTab == 'privacy'">
                            <table class="privacy-table" *ngIf="grantRoles.length > 0">
                                <tbody>
                                    <th class="privacy-th">Type</th>
                                    <th class="privacy-th">Role or permission</th>
                                    <th class="privacy-th">Description</th>
                                    <tr class="privacy-tr" *ngFor="let role of grantRoles">
                                        <td class="border-right">{{role.type}}</td>
                                        <td class="border-right mr-5">{{role.role}}</td>
                                        <td class="mr-5">{{role.description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="grantRoles.length == 0" nz-row>
                                <div nz-col nzSpan="12">
                                    <p class="allow-lbl">Allow to see my information</p>
                                </div>
                                <div nz-col nzSpan="8"></div>
                                <div nz-col nzSpan="4" class="right">
                                    <nz-switch [ngModel]="allow" (ngModelChange)="allowChanged()"></nz-switch>
                                </div>
                            </div>
                            <nz-modal nzClassName="modal--roles" (nzOnOk)="showRoleTemplate = false" (nzOnCancel)="showRoleTemplate = false" [nzFooter]="null" [nzStyle]="{ top: '50%', right: '-450px', width: '18%' }">
                                <ng-container>
                                    <div>
                                        <nz-radio-group [(ngModel)]="role" nzName="role">
                                            <label nz-radio nzSelected nzValue="1">Role</label>
                                            <label nz-radio nzValue="2">Permission</label>
                                        </nz-radio-group>
                                        <div class="paddr-20 paddl-20" *ngIf="role == '1'">
                                            <div nz-row>
                                                <div nz-col nzSpan="2" style="display: flex; align-items: center;">
                                                    <label checked nz-checkbox></label>
                                                </div>
                                                <div nz-col nzSpan="19">
                                                    <input nz-input placeholder="Search" />
                                                </div>
                                            </div>
                                            <div class="role-lbl custom-margin">Sale</div>
                                            <div nz-row *ngFor="let role of roles">
                                                <div nz-col nzSpan="2">
                                                    <label nz-checkbox></label>
                                                </div>
                                                <div nz-col nzSpan="19">
                                                    <p class="role-lbl">{{role}}</p>
                                                </div>
                                            </div>
                                            <div class="center custom-margin mb-10">
                                                <button class="apply" nz-button nzType="default" (click)="showRoleTemplate = false">Apply</button>
                                            </div>


                                        </div>
                                        <div *ngIf="role == '2'">
                                            <div class="custom-margin b-bottom paddr-20 paddl-20">
                                                <input (keyup)="searchPermission($event)" nz-input placeholder="Search" />
                                            </div>
                                            <div nz-row class="border padd-0">
                                                <div nz-col nzSpan="12" style="border-right: 1px solid lightgray; padding-top: 10px; padding-left: 10px;">
                                                    <nz-tree class="fs-12" [nzData]="searchedNodes.length == 0 ? nodes : searchedNodes" nzShowLine> </nz-tree>
                                                </div>
                                                <div nz-col nzSpan="12" class="paddt-10">
                                                    <div class="fs-13 mb-5 operation paddl-10 bb">Operation</div>
                                                    <div class="fs-12 lh-32 paddl-10 bb">
                                                        <span>
                                                  <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4418 2.9348C9.26 2.4082 7.93959 2.27775 6.67755 2.56289C5.41551 2.84803 4.27945 3.53349 3.43881 4.51704C2.59816 5.5006 2.09798 6.72954 2.01284 8.02059C1.92771 9.31164 2.2622 10.5956 2.96641 11.681C3.67063 12.7665 4.70685 13.5952 5.92052 14.0436C7.13419 14.4919 8.4603 14.536 9.70105 14.1691C10.9418 13.8023 12.0307 13.0442 12.8054 12.0079C13.5801 10.9716 13.9991 9.71265 13.9998 8.4188V7.80585C13.9998 7.43766 14.2983 7.13918 14.6665 7.13918C15.0347 7.13918 15.3332 7.43766 15.3332 7.80585V8.41918C15.3323 10.0006 14.8202 11.5397 13.8733 12.8062C12.9265 14.0728 11.5956 14.9994 10.0791 15.4478C8.56262 15.8961 6.94183 15.8423 5.45845 15.2943C3.97507 14.7462 2.70858 13.7334 1.84787 12.4067C0.987166 11.0801 0.578351 9.51081 0.6824 7.93286C0.78645 6.35491 1.39779 4.85287 2.42524 3.65075C3.4527 2.44863 4.84121 1.61084 6.38371 1.26234C7.92621 0.913829 9.54003 1.07328 10.9845 1.7169C11.3208 1.86675 11.472 2.26087 11.3221 2.59718C11.1723 2.9335 10.7782 3.08465 10.4418 2.9348Z" fill="#707070"/>
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1375 2.613C15.398 2.87321 15.3982 3.29532 15.138 3.5558L8.47131 10.2291C8.34631 10.3543 8.17671 10.4246 7.99984 10.4246C7.82297 10.4247 7.65334 10.3544 7.52827 10.2294L5.52827 8.22937C5.26792 7.96902 5.26792 7.54691 5.52827 7.28656C5.78862 7.02622 6.21073 7.02622 6.47108 7.28656L7.99944 8.81492L14.1947 2.61347C14.4549 2.35299 14.877 2.35278 15.1375 2.613Z" fill="#707070"/>
                                                      </svg>
                                              </span> Create
                                                    </div>
                                                    <div class="fs-12 lh-32 paddl-10 bb">
                                                        <span>
                                                  <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.42716 8.41797C1.50002 8.54388 1.59662 8.70434 1.71628 8.88962C2.02362 9.36551 2.47878 9.99837 3.06969 10.6287C4.26368 11.9023 5.933 13.0846 8 13.0846C10.067 13.0846 11.7363 11.9023 12.9303 10.6287C13.5212 9.99837 13.9764 9.36551 14.2837 8.88962C14.4034 8.70434 14.5 8.54388 14.5728 8.41797C14.5 8.29206 14.4034 8.1316 14.2837 7.94632C13.9764 7.47043 13.5212 6.83757 12.9303 6.20726C11.7363 4.93368 10.067 3.7513 8 3.7513C5.933 3.7513 4.26368 4.93368 3.06969 6.20726C2.47878 6.83757 2.02362 7.47043 1.71628 7.94632C1.59662 8.1316 1.50002 8.29206 1.42716 8.41797ZM15.3333 8.41797C15.9296 8.11983 15.9295 8.1196 15.9294 8.11936L15.9283 8.11722L15.926 8.11266L15.9184 8.09785C15.9121 8.08548 15.9031 8.06818 15.8915 8.04626C15.8683 8.00244 15.8347 7.94012 15.7907 7.86196C15.7028 7.70573 15.5734 7.48565 15.4038 7.22295C15.0653 6.69884 14.5621 5.99837 13.903 5.29534C12.597 3.90226 10.5997 2.41797 8 2.41797C5.40033 2.41797 3.40299 3.90226 2.09698 5.29534C1.43789 5.99837 0.93471 6.69884 0.596224 7.22295C0.426567 7.48565 0.297195 7.70573 0.209314 7.86196C0.165349 7.94012 0.131693 8.00244 0.108502 8.04626C0.0969045 8.06818 0.0879168 8.08548 0.0815586 8.09785L0.0739933 8.11266L0.0716926 8.11722L0.0709134 8.11877C0.0707909 8.11901 0.0703819 8.11983 0.666667 8.41797L0.0703819 8.11983C-0.0234606 8.30751 -0.0234606 8.52843 0.0703819 8.71611L0.666667 8.41797C0.0703819 8.71611 0.0702594 8.71587 0.0703819 8.71611L0.0716926 8.71872L0.0739933 8.72328L0.0815586 8.73809C0.0879168 8.75045 0.0969045 8.76776 0.108502 8.78968C0.131693 8.8335 0.165349 8.89582 0.209314 8.97398C0.297195 9.13021 0.426567 9.35029 0.596224 9.61299C0.93471 10.1371 1.43789 10.8376 2.09698 11.5406C3.40299 12.9337 5.40033 14.418 8 14.418C10.5997 14.418 12.597 12.9337 13.903 11.5406C14.5621 10.8376 15.0653 10.1371 15.4038 9.61299C15.5734 9.35029 15.7028 9.13021 15.7907 8.97398C15.8347 8.89582 15.8683 8.8335 15.8915 8.78968C15.9031 8.76776 15.9121 8.75045 15.9184 8.73809L15.926 8.72328L15.9283 8.71872L15.9291 8.71717C15.9292 8.71693 15.9296 8.71611 15.3333 8.41797ZM15.3333 8.41797L15.9296 8.71611C16.0235 8.52843 16.0232 8.30704 15.9294 8.11936L15.3333 8.41797Z" fill="#707070"/>
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00016 7.08333C7.26378 7.08333 6.66683 7.68029 6.66683 8.41667C6.66683 9.15305 7.26378 9.75 8.00016 9.75C8.73654 9.75 9.3335 9.15305 9.3335 8.41667C9.3335 7.68029 8.73654 7.08333 8.00016 7.08333ZM5.3335 8.41667C5.3335 6.94391 6.5274 5.75 8.00016 5.75C9.47292 5.75 10.6668 6.94391 10.6668 8.41667C10.6668 9.88943 9.47292 11.0833 8.00016 11.0833C6.5274 11.0833 5.3335 9.88943 5.3335 8.41667Z" fill="#707070"/>
                                                      </svg>
                                          </span> View
                                                    </div>
                                                    <div class="fs-12 lh-32 paddl-10 bb">
                                                        <span>
                                                  <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.6665 3.7513C2.48969 3.7513 2.32012 3.82154 2.1951 3.94656C2.07008 4.07159 1.99984 4.24116 1.99984 4.41797V13.7513C1.99984 13.9281 2.07007 14.0977 2.1951 14.2227C2.32012 14.3477 2.48969 14.418 2.6665 14.418H11.9998C12.1766 14.418 12.3462 14.3477 12.4712 14.2227C12.5963 14.0977 12.6665 13.9281 12.6665 13.7513V10.1913C12.6665 9.82311 12.965 9.52463 13.3332 9.52463C13.7014 9.52463 13.9998 9.82311 13.9998 10.1913V13.7513C13.9998 14.2817 13.7891 14.7904 13.4141 15.1655C13.039 15.5406 12.5303 15.7513 11.9998 15.7513H2.6665C2.13607 15.7513 1.62736 15.5406 1.25229 15.1655C0.877218 14.7904 0.666504 14.2817 0.666504 13.7513V4.41797C0.666504 3.88754 0.877217 3.37883 1.25229 3.00376C1.62736 2.62868 2.13607 2.41797 2.6665 2.41797H6.2265C6.59469 2.41797 6.89317 2.71645 6.89317 3.08464C6.89317 3.45283 6.59469 3.7513 6.2265 3.7513H2.6665Z" fill="#707070"/>
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5284 1.2812C11.7888 1.02085 12.2109 1.02085 12.4712 1.2812L15.1379 3.94787C15.3983 4.20822 15.3983 4.63033 15.1379 4.89068L8.47124 11.5573C8.34622 11.6824 8.17665 11.7526 7.99984 11.7526H5.33317C4.96498 11.7526 4.6665 11.4541 4.6665 11.0859V8.41927C4.6665 8.24246 4.73674 8.07289 4.86177 7.94787L11.5284 1.2812ZM5.99984 8.69541V10.4193H7.72369L13.7237 4.41927L11.9998 2.69541L5.99984 8.69541Z" fill="#707070"/>
                                                      </svg>
                                              </span> Edit</div>
                                                    <div class="fs-12 lh-32 paddl-10">
                                                        <span>
                                                  <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.3335 4.41927C1.3335 4.05108 1.63197 3.7526 2.00016 3.7526H14.0002C14.3684 3.7526 14.6668 4.05108 14.6668 4.41927C14.6668 4.78746 14.3684 5.08594 14.0002 5.08594H2.00016C1.63197 5.08594 1.3335 4.78746 1.3335 4.41927Z" fill="#707070"/>
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66683 2.41927C6.49002 2.41927 6.32045 2.48951 6.19543 2.61453C6.0704 2.73956 6.00016 2.90913 6.00016 3.08594V3.7526H10.0002V3.08594C10.0002 2.90913 9.92992 2.73956 9.8049 2.61453C9.67988 2.48951 9.51031 2.41927 9.3335 2.41927H6.66683ZM11.3335 3.7526V3.08594C11.3335 2.5555 11.1228 2.0468 10.7477 1.67172C10.3726 1.29665 9.86393 1.08594 9.3335 1.08594H6.66683C6.1364 1.08594 5.62769 1.29665 5.25262 1.67172C4.87754 2.0468 4.66683 2.5555 4.66683 3.08594V3.7526H3.3335C2.96531 3.7526 2.66683 4.05108 2.66683 4.41927V13.7526C2.66683 14.283 2.87754 14.7917 3.25262 15.1668C3.62769 15.5419 4.1364 15.7526 4.66683 15.7526H11.3335C11.8639 15.7526 12.3726 15.5419 12.7477 15.1668C13.1228 14.7917 13.3335 14.283 13.3335 13.7526V4.41927C13.3335 4.05108 13.035 3.7526 12.6668 3.7526H11.3335ZM4.00016 5.08594V13.7526C4.00016 13.9294 4.0704 14.099 4.19543 14.224C4.32045 14.349 4.49002 14.4193 4.66683 14.4193H11.3335C11.5103 14.4193 11.6799 14.349 11.8049 14.224C11.9299 14.099 12.0002 13.9294 12.0002 13.7526V5.08594H4.00016Z" fill="#707070"/>
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66683 7.08594C7.03502 7.08594 7.3335 7.38441 7.3335 7.7526V11.7526C7.3335 12.1208 7.03502 12.4193 6.66683 12.4193C6.29864 12.4193 6.00016 12.1208 6.00016 11.7526V7.7526C6.00016 7.38441 6.29864 7.08594 6.66683 7.08594Z" fill="#707070"/>
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.3335 7.08594C9.70169 7.08594 10.0002 7.38441 10.0002 7.7526V11.7526C10.0002 12.1208 9.70169 12.4193 9.3335 12.4193C8.96531 12.4193 8.66683 12.1208 8.66683 11.7526V7.7526C8.66683 7.38441 8.96531 7.08594 9.3335 7.08594Z" fill="#707070"/>
                                                      </svg>
                                              </span> Delete</div>
                                                </div>
                                            </div>
                                            <div class="center custom-margin mb-10">
                                                <button class="apply" nz-button nzType="default" (click)="showRoleTemplate = false">Apply</button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </nz-modal>
                            <div *ngIf="grantRoles.length == 0">
                                <p class="allow-lbl">What info can be seen?</p>
                            </div>
                            <div *ngIf="grantRoles.length == 0" nz-row>
                                <div nz-col nzSpan="8">
                                    <p class="option-lbl">General Info</p>
                                </div>
                                <div nz-col nzSpan="12"></div>
                                <div nz-col nzSpan="4" class="right">
                                    <label nz-checkbox [ngModel]="true" [nzDisabled]="true"></label>
                                </div>
                            </div>
                            <div *ngIf="grantRoles.length == 0 && allow" nz-row>
                                <div nz-col nzSpan="8">
                                    <p class="option-lbl">General Details</p>
                                </div>
                                <div nz-col nzSpan="12"></div>
                                <div nz-col nzSpan="4" class="right">
                                    <label nz-checkbox></label>
                                </div>
                            </div>
                            <div *ngIf="grantRoles.length == 0 && allow" nz-row>
                                <div nz-col nzSpan="8">
                                    <p class="option-lbl">Contact Details</p>
                                </div>
                                <div nz-col nzSpan="12"></div>
                                <div nz-col nzSpan="4" class="right">
                                    <label nz-checkbox></label>
                                </div>
                            </div>
                            <div *ngIf="grantRoles.length == 0 && allow" nz-row>
                                <div nz-col nzSpan="8">
                                    <p class="option-lbl">Attachments</p>
                                </div>
                                <div nz-col nzSpan="12"></div>
                                <div nz-col nzSpan="4" class="right">
                                    <label nz-checkbox></label>
                                </div>
                            </div>
                        </div>
                        <div class="smrt-tab-content" *ngIf="smrtTab == 'sessions'">
                            <h4 style="text-align: center;margin-top: 30px;">No Tab Content assigned here yet.</h4>
                        </div>
                    </nz-tab>
                </nz-tabset>
            </nz-card>
        </div>
        <div *ngIf="splitView" class="dashboard-container smrt-contact-detail">
            <nz-card class="type-card smrt-normalize">
                <div nz-row nzAlign="middle" class="custom-padd">
                    <div nz-col nzSpan="8">
                        <nz-radio-group class="m-0" [(ngModel)]="profileType" (ngModelChange)="typeChanged()" nzName="type">
                            <label nz-radio nzValue="1" style="font-size: 12px;">Individual</label>
                            <label nz-radio nzValue="2" style="font-size: 12px;">Business</label>
                        </nz-radio-group>
                    </div>
                    <div nz-col nzSpan="8">
                        <div class="center" *ngIf="!addingContact">
                            <div class="out-box style--2">
                                <div (click)="switchTab('original')" class="in-box" [ngClass]="{'smrt--tab-active': smrtTab2 == 'original'}">
                                    <span class="lbl">Original</span>
                                </div>
                                <div (click)="switchTab('mine')" class="in-box" [ngClass]="{'smrt--tab-active': smrtTab2 == 'mine'}">
                                    <span class="lbl">Mine</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div nz-col nzSpan="8">
                        <div nz-row nzAlign="middle">
                            <div nz-col nzFlex="auto" class="fs-12">
                                <span>Creation Date : </span><span>10/3/2021</span>
                            </div>
                            <div nz-col nzFlex="30px">
                                <load-svg url="/assets/svg/icon-login.svg"></load-svg>
                            </div>
                            <div nz-col nzFlex="50px">
                                <img class="flag" src="../../../../assets/images/spain-flag.png" />
                            </div>
                        </div>
                    </div>

                </div>
            </nz-card>
            <nz-card class="main-card">
                <div nz-row>
                    <div nz-col nzSpan="5">
                        <div nz-row class="options">
                            <div (click)="showModal('showStarMsg')" nz-col nzSpan="8" class="center pointer" style="border-right: 1px solid lightgrey;">
                                <load-svg url="/assets/svg/icon-favourites.svg"></load-svg>
                            </div>
                            <div (click)="showModal('showDeleteMsg')" nz-col nzSpan="8" class="center pointer" style="border-right: 1px solid lightgrey;">
                                <load-svg url="/assets/svg/icon-trash-4.svg"></load-svg>
                            </div>
                            <div (click)="showModal('showArchiveMsg')" nz-col nzSpan="8" class="center pointer">
                                <load-svg url="/assets/svg/icon-folder-3.svg"></load-svg>
                            </div>
                        </div>
                    </div>
                    <div nz-col class="smrt-profile-wrapper" nzSpan="14">
                        <div class="profile-img">
                            <img *ngIf="profileType == '1'" class="profile" id="indImg" [src]="getSelectedContactImg()" onerror="this.src = '../../../../assets/images/user.png'">
                            <img *ngIf="profileType == '2'" id="busImg" class="profile" src="../../../../assets/images/business-profile.png">

                            <label class="profile-img-label" for="profileimg-upload">
                          Edit Image
                          <input type="file" (change)="pictureChanged($event)" id="profileimg-upload">
                        </label>
                        </div>
                    </div>
                    <div nz-col nzSpan="5" style="text-align: right;" [class]="!updatingContact && !following.includes(selectedContact) && smrtTab2 == 'original' ? 'flex-end' : ''">
                        <button *ngIf="smrtTab2 == 'mine'" class="edit" nz-button nzType="default" (click)="editContact(2)">Edit</button>
                        <button (click)="follow()" *ngIf="!updatingContact && !following.includes(selectedContact) && smrtTab2 == 'original'" class="accept-btn" style="margin-left: 4px;" nz-button nzType="default">Follow</button>
                    </div>
                </div>

                <div class="smrt-contact-detail-form">
                    <form [formGroup]="contactForm">
                        <div class="heading-1">
                            General Info
                        </div>
                        <div nz-row [nzGutter]="16" class="paddb-0">
                            <div nz-col nzFlex="2.5">
                                <label>First Name</label>
                                <input formControlName="firstName" nz-input placeholder="First Name" />
                            </div>
                            <!-- <div nz-col nzFlex="1">
                            <label>Middle Name</label>
                            <input nz-input placeholder="Middle Name" />
                        </div> -->
                            <div nz-col nzFlex="2.5">
                                <label>Last Name</label>
                                <input formControlName="lastName" nz-input placeholder="Last Name" />
                            </div>
                            <!-- <div nz-col nzFlex="1">
                            <label>Second Last Name</label>
                            <input nz-input placeholder="Second Last Name" />
                        </div>
                        <div nz-col nzFlex="1">
                            <label>Nickname</label>
                            <input nz-input placeholder="Nickname" />
                        </div> -->
                        </div>

                        <div class="heading mt-15">
                            General Details
                        </div>
                        <div nz-row [nzGutter]="16" nzAlign="bottom">
                            <div nz-col nzSpan="10" class="">
                                <nz-radio-group style="display: flex;margin: 0px !important;margin-bottom: 10px !important;">
                                    <label class="male" nz-radio checked nzValue="1">Male</label>
                                    <label class="female" nz-radio nzValue="2">Female</label>
                                    <label class="non-binary" nz-radio nzValue="3">Non Binary</label>
                                </nz-radio-group>
                            </div>
                            <div nz-col nzSpan="7">
                                <label>Birthday</label>
                                <input formControlName="birthday" nz-input placeholder="Birthday" />
                            </div>
                            <div nz-col nzSpan="7">
                                <label>Registration Email</label>
                                <input nz-input placeholder="Registration Email" />
                            </div>
                            <!-- <div nz-col nzSpan="3">
                                <button class="accept-btn" nz-button nzType="default">Follow</button>
                            </div> -->
                            <div nz-col nzSpan="6" class="">
                                <label>Country</label>
                                <nz-select nzPlaceHolder="Country" formControlName="country" class="" nzShowSearch>
                                    <nz-option *ngFor="let item of countriesList" [nzValue]="item.alpha3Code" [nzLabel]="item.name"></nz-option>
                                </nz-select>
                            </div>
                            <div nz-col nzSpan="6" class="">
                                <label>State</label>
                                <input nz-input formControlName="state" placeholder="State" />
                            </div>
                            <div nz-col nzSpan="6" class="">
                                <label>City</label>
                                <input nz-input formControlName="city" placeholder="City" />
                            </div>
                            <div nz-col nzSpan="6" class="">
                                <label>Postal Code</label>
                                <input nz-input formControlName="postalCode" placeholder="Postal Code" />
                            </div>
                        </div>
                        <div nz-row [nzGutter]="16">
                            <div nz-col nzSpan="24">
                                <label>Address</label>
                                <input nz-input formControlName="userAddress" placeholder="Address" />
                            </div>
                        </div>
                        <div nz-row [nzGutter]="16">
                            <div nz-col nzFlex="1" class="">
                                <label>Profession</label>
                                <input nz-input formControlName="profession" placeholder="Profession" />
                            </div>
                            <div nz-col nzFlex="1" class="">
                                <label>Occupation</label>
                                <input nz-input formControlName="occupation" placeholder="Occupation" />
                            </div>
                            <div nz-col nzFlex="1" class="">
                                <label>Company</label>
                                <input nz-input formControlName="company" placeholder="Company" />
                            </div>
                            <div nz-col nzFlex="1" class="">
                                <label>Position</label>
                                <input nz-input formControlName="position" placeholder="Position" />
                            </div>
                            <div nz-col nzFlex="1" class="">
                                <label>Web site</label>
                                <input nz-input placeholder="Web site" />
                            </div>
                        </div>
                        <div nz-row [nzGutter]="16">
                            <div nz-col nzSpan="24">
                                <label>Notes</label>
                                <input nz-input placeholder="Notes" />
                            </div>
                        </div>
                    </form>
                    <div class="heading mt-15">
                        Contact Details
                    </div>

                    <div nz-row [nzGutter]="16">
                        <div *ngFor="let email of emails" nz-col nzSpan="12">
                            <label>Email</label>
                            <input disabled [value]="email" nz-input placeholder="Email" />
                        </div>
                    </div>

                    <div nz-row [nzGutter]="16">
                        <div nz-col nzSpan="7" *ngFor="let ph of phoneNumbers; let i = index">
                            <div class="smrt-number-picker">
                                <img class="flag" [src]="ph.flag" />

                                <div class="smrt-seamless-pickers">
                                    <nz-select disabled class="seamless-selectbox" nzPlaceHolder="Type" [(ngModel)]="phoneNumbers[i].type">
                                        <nz-option [nzValue]="1" nzLabel="Mobile"></nz-option>
                                        <nz-option [nzValue]="2" nzLabel="Home"></nz-option>
                                        <nz-option [nzValue]="3" nzLabel="Work"></nz-option>
                                    </nz-select>
                                    <input disabled class="seamless-inputbox" [value]="ph.countryCode+ph.number" cl [(ngModel)]="phoneNumbers[i].number" ass="inp" nz-input />
                                </div>
                            </div>

                        </div>
                    </div>

                    <div nz-row [nzGutter]="16">
                        <div nz-col nzSpan="8" *ngFor="let sm of socialMedias; let i = index">
                            <div class="smrt-social-picker">
                                <img class="flag" [src]="sm.img" />

                                <div class="smrt-seamless-pickers">
                                    <nz-select disabled class="seamless-selectbox" nzPlaceHolder="Social Media" [(ngModel)]="socialMedias[i].type" (ngModelChange)="socialSelected(i, $event)">
                                        <nz-option *ngFor="let social of socials" [nzValue]="social.type" [nzLabel]="social.name"></nz-option>
                                    </nz-select>
                                    <input disabled class="seamless-inputbox" cl [(ngModel)]="socialMedias[i].socialLink" ass="inp" nz-input placeholder="@username" />
                                </div>
                            </div>

                        </div>
                    </div>

                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <label>Attachments</label>
                            <nz-card class="attachment-card">
                                <ul>
                                    <p *ngIf="!attachments.length" style="text-align: center; margin-top: 20px; ">No Attachments</p>
                                    <div *ngFor="let att of attachments " id="img-1 " class="img1-custom ">
                                        <li>
                                            <span (click)="openImg(att.attachmentLink) "> {{att.name}}</span>
                                        </li>
                                        <i (click)="showModal( 'showDeleteImg') " nz-icon id='minus-1' class="minus " nzType="minus " nzTheme="outline "></i>
                                    </div>
                                    <!-- <div id="img-2 " class="img2-custom ">
                                        <li>
                                            <span (click)="openImg( 'https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/software_photos/001/205/265/datas/original.png') ">Curriculum.world</span>
                                        </li>
                                        <i (click)="showModal( 'showDeleteImg') " nz-icon id='minus-2' class="minus " nzType="minus " nzTheme="outline "></i>
                                    </div> -->
                                </ul>
                            </nz-card>
                        </div>
                    </div>


                    <div>
                        <div class="heading mt-15 ">
                            Privacy
                        </div>

                        <div class="center mb-20 ">
                            <div class="out-box ">
                                <div (click)="smrtTab='privacy' " class="in-box " [ngClass]="{ 'smrt--tab-active': smrtTab=='privacy' } ">
                                    <span class="lbl ">Privacy & Info</span>
                                </div>
                                <div (click)="smrtTab='sessions' " class="in-box " [ngClass]="{ 'smrt--tab-active': smrtTab=='sessions' } ">
                                    <span class="lbl ">Sessions</span>
                                </div>
                            </div>
                        </div>
                        <div class="smrt-tab-content " *ngIf="smrtTab=='privacy' ">
                            <table class="privacy-table " *ngIf="grantRoles.length> 0">
                                <tbody>
                                    <th class="privacy-th">Type</th>
                                    <th class="privacy-th">Role or permission</th>
                                    <th class="privacy-th">Description</th>
                                    <tr class="privacy-tr" *ngFor="let role of grantRoles">
                                        <td class="border-right">{{role.type}}</td>
                                        <td class="border-right mr-5">{{role.role}}</td>
                                        <td class="mr-5">{{role.description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="grantRoles.length == 0" nz-row>
                                <div nz-col nzSpan="12">
                                    <p class="allow-lbl">Allow to see my information</p>
                                </div>
                                <div nz-col nzSpan="8"></div>
                                <div nz-col nzSpan="4" class="right">
                                    <nz-switch [ngModel]="allow" (ngModelChange)="allowChanged()"></nz-switch>
                                </div>
                            </div>
                            <nz-modal nzClassName="modal--roles" (nzOnOk)="showRoleTemplate = false" (nzOnCancel)="showRoleTemplate = false" [nzFooter]="null" [nzStyle]="{ top: '50%', right: '-450px', width: '18%' }">
                                <ng-container>
                                    <div>
                                        <nz-radio-group [(ngModel)]="role" nzName="role">
                                            <label nz-radio nzSelected nzValue="1">Role</label>
                                            <label nz-radio nzValue="2">Permission</label>
                                        </nz-radio-group>
                                        <div class="paddr-20 paddl-20" *ngIf="role == '1'">
                                            <div nz-row>
                                                <div nz-col nzSpan="2" style="display: flex; align-items: center;">
                                                    <label checked nz-checkbox></label>
                                                </div>
                                                <div nz-col nzSpan="19">
                                                    <input nz-input placeholder="Search" />
                                                </div>
                                            </div>
                                            <div class="role-lbl custom-margin">Sale</div>
                                            <div nz-row *ngFor="let role of roles">
                                                <div nz-col nzSpan="2">
                                                    <label nz-checkbox></label>
                                                </div>
                                                <div nz-col nzSpan="19">
                                                    <p class="role-lbl">{{role}}</p>
                                                </div>
                                            </div>
                                            <div class="center custom-margin mb-10">
                                                <button class="apply" nz-button nzType="default" (click)="showRoleTemplate = false">Apply</button>
                                            </div>


                                        </div>
                                        <div *ngIf="role == '2'">
                                            <div class="custom-margin b-bottom paddr-20 paddl-20">
                                                <input (keyup)="searchPermission($event)" nz-input placeholder="Search" />
                                            </div>
                                            <div nz-row class="border padd-0">
                                                <div nz-col nzSpan="12" style="border-right: 1px solid lightgray; padding-top: 10px; padding-left: 10px;">
                                                    <nz-tree class="fs-12" [nzData]="searchedNodes.length == 0 ? nodes : searchedNodes" nzShowLine> </nz-tree>
                                                </div>
                                                <div nz-col nzSpan="12" class="paddt-10">
                                                    <div class="fs-13 mb-5 operation paddl-10 bb">Operation</div>
                                                    <div class="fs-12 lh-32 paddl-10 bb">
                                                        <span>
                                          <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4418 2.9348C9.26 2.4082 7.93959 2.27775 6.67755 2.56289C5.41551 2.84803 4.27945 3.53349 3.43881 4.51704C2.59816 5.5006 2.09798 6.72954 2.01284 8.02059C1.92771 9.31164 2.2622 10.5956 2.96641 11.681C3.67063 12.7665 4.70685 13.5952 5.92052 14.0436C7.13419 14.4919 8.4603 14.536 9.70105 14.1691C10.9418 13.8023 12.0307 13.0442 12.8054 12.0079C13.5801 10.9716 13.9991 9.71265 13.9998 8.4188V7.80585C13.9998 7.43766 14.2983 7.13918 14.6665 7.13918C15.0347 7.13918 15.3332 7.43766 15.3332 7.80585V8.41918C15.3323 10.0006 14.8202 11.5397 13.8733 12.8062C12.9265 14.0728 11.5956 14.9994 10.0791 15.4478C8.56262 15.8961 6.94183 15.8423 5.45845 15.2943C3.97507 14.7462 2.70858 13.7334 1.84787 12.4067C0.987166 11.0801 0.578351 9.51081 0.6824 7.93286C0.78645 6.35491 1.39779 4.85287 2.42524 3.65075C3.4527 2.44863 4.84121 1.61084 6.38371 1.26234C7.92621 0.913829 9.54003 1.07328 10.9845 1.7169C11.3208 1.86675 11.472 2.26087 11.3221 2.59718C11.1723 2.9335 10.7782 3.08465 10.4418 2.9348Z" fill="#707070"/>
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1375 2.613C15.398 2.87321 15.3982 3.29532 15.138 3.5558L8.47131 10.2291C8.34631 10.3543 8.17671 10.4246 7.99984 10.4246C7.82297 10.4247 7.65334 10.3544 7.52827 10.2294L5.52827 8.22937C5.26792 7.96902 5.26792 7.54691 5.52827 7.28656C5.78862 7.02622 6.21073 7.02622 6.47108 7.28656L7.99944 8.81492L14.1947 2.61347C14.4549 2.35299 14.877 2.35278 15.1375 2.613Z" fill="#707070"/>
                                              </svg>
                                      </span> Create
                                                    </div>
                                                    <div class="fs-12 lh-32 paddl-10 bb">
                                                        <span>
                                          <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M1.42716 8.41797C1.50002 8.54388 1.59662 8.70434 1.71628 8.88962C2.02362 9.36551 2.47878 9.99837 3.06969 10.6287C4.26368 11.9023 5.933 13.0846 8 13.0846C10.067 13.0846 11.7363 11.9023 12.9303 10.6287C13.5212 9.99837 13.9764 9.36551 14.2837 8.88962C14.4034 8.70434 14.5 8.54388 14.5728 8.41797C14.5 8.29206 14.4034 8.1316 14.2837 7.94632C13.9764 7.47043 13.5212 6.83757 12.9303 6.20726C11.7363 4.93368 10.067 3.7513 8 3.7513C5.933 3.7513 4.26368 4.93368 3.06969 6.20726C2.47878 6.83757 2.02362 7.47043 1.71628 7.94632C1.59662 8.1316 1.50002 8.29206 1.42716 8.41797ZM15.3333 8.41797C15.9296 8.11983 15.9295 8.1196 15.9294 8.11936L15.9283 8.11722L15.926 8.11266L15.9184 8.09785C15.9121 8.08548 15.9031 8.06818 15.8915 8.04626C15.8683 8.00244 15.8347 7.94012 15.7907 7.86196C15.7028 7.70573 15.5734 7.48565 15.4038 7.22295C15.0653 6.69884 14.5621 5.99837 13.903 5.29534C12.597 3.90226 10.5997 2.41797 8 2.41797C5.40033 2.41797 3.40299 3.90226 2.09698 5.29534C1.43789 5.99837 0.93471 6.69884 0.596224 7.22295C0.426567 7.48565 0.297195 7.70573 0.209314 7.86196C0.165349 7.94012 0.131693 8.00244 0.108502 8.04626C0.0969045 8.06818 0.0879168 8.08548 0.0815586 8.09785L0.0739933 8.11266L0.0716926 8.11722L0.0709134 8.11877C0.0707909 8.11901 0.0703819 8.11983 0.666667 8.41797L0.0703819 8.11983C-0.0234606 8.30751 -0.0234606 8.52843 0.0703819 8.71611L0.666667 8.41797C0.0703819 8.71611 0.0702594 8.71587 0.0703819 8.71611L0.0716926 8.71872L0.0739933 8.72328L0.0815586 8.73809C0.0879168 8.75045 0.0969045 8.76776 0.108502 8.78968C0.131693 8.8335 0.165349 8.89582 0.209314 8.97398C0.297195 9.13021 0.426567 9.35029 0.596224 9.61299C0.93471 10.1371 1.43789 10.8376 2.09698 11.5406C3.40299 12.9337 5.40033 14.418 8 14.418C10.5997 14.418 12.597 12.9337 13.903 11.5406C14.5621 10.8376 15.0653 10.1371 15.4038 9.61299C15.5734 9.35029 15.7028 9.13021 15.7907 8.97398C15.8347 8.89582 15.8683 8.8335 15.8915 8.78968C15.9031 8.76776 15.9121 8.75045 15.9184 8.73809L15.926 8.72328L15.9283 8.71872L15.9291 8.71717C15.9292 8.71693 15.9296 8.71611 15.3333 8.41797ZM15.3333 8.41797L15.9296 8.71611C16.0235 8.52843 16.0232 8.30704 15.9294 8.11936L15.3333 8.41797Z" fill="#707070"/>
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00016 7.08333C7.26378 7.08333 6.66683 7.68029 6.66683 8.41667C6.66683 9.15305 7.26378 9.75 8.00016 9.75C8.73654 9.75 9.3335 9.15305 9.3335 8.41667C9.3335 7.68029 8.73654 7.08333 8.00016 7.08333ZM5.3335 8.41667C5.3335 6.94391 6.5274 5.75 8.00016 5.75C9.47292 5.75 10.6668 6.94391 10.6668 8.41667C10.6668 9.88943 9.47292 11.0833 8.00016 11.0833C6.5274 11.0833 5.3335 9.88943 5.3335 8.41667Z" fill="#707070"/>
                                              </svg>
                                  </span> View
                                                    </div>
                                                    <div class="fs-12 lh-32 paddl-10 bb">
                                                        <span>
                                          <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M2.6665 3.7513C2.48969 3.7513 2.32012 3.82154 2.1951 3.94656C2.07008 4.07159 1.99984 4.24116 1.99984 4.41797V13.7513C1.99984 13.9281 2.07007 14.0977 2.1951 14.2227C2.32012 14.3477 2.48969 14.418 2.6665 14.418H11.9998C12.1766 14.418 12.3462 14.3477 12.4712 14.2227C12.5963 14.0977 12.6665 13.9281 12.6665 13.7513V10.1913C12.6665 9.82311 12.965 9.52463 13.3332 9.52463C13.7014 9.52463 13.9998 9.82311 13.9998 10.1913V13.7513C13.9998 14.2817 13.7891 14.7904 13.4141 15.1655C13.039 15.5406 12.5303 15.7513 11.9998 15.7513H2.6665C2.13607 15.7513 1.62736 15.5406 1.25229 15.1655C0.877218 14.7904 0.666504 14.2817 0.666504 13.7513V4.41797C0.666504 3.88754 0.877217 3.37883 1.25229 3.00376C1.62736 2.62868 2.13607 2.41797 2.6665 2.41797H6.2265C6.59469 2.41797 6.89317 2.71645 6.89317 3.08464C6.89317 3.45283 6.59469 3.7513 6.2265 3.7513H2.6665Z" fill="#707070"/>
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5284 1.2812C11.7888 1.02085 12.2109 1.02085 12.4712 1.2812L15.1379 3.94787C15.3983 4.20822 15.3983 4.63033 15.1379 4.89068L8.47124 11.5573C8.34622 11.6824 8.17665 11.7526 7.99984 11.7526H5.33317C4.96498 11.7526 4.6665 11.4541 4.6665 11.0859V8.41927C4.6665 8.24246 4.73674 8.07289 4.86177 7.94787L11.5284 1.2812ZM5.99984 8.69541V10.4193H7.72369L13.7237 4.41927L11.9998 2.69541L5.99984 8.69541Z" fill="#707070"/>
                                              </svg>
                                      </span> Edit</div>
                                                    <div class="fs-12 lh-32 paddl-10">
                                                        <span>
                                          <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M1.3335 4.41927C1.3335 4.05108 1.63197 3.7526 2.00016 3.7526H14.0002C14.3684 3.7526 14.6668 4.05108 14.6668 4.41927C14.6668 4.78746 14.3684 5.08594 14.0002 5.08594H2.00016C1.63197 5.08594 1.3335 4.78746 1.3335 4.41927Z" fill="#707070"/>
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66683 2.41927C6.49002 2.41927 6.32045 2.48951 6.19543 2.61453C6.0704 2.73956 6.00016 2.90913 6.00016 3.08594V3.7526H10.0002V3.08594C10.0002 2.90913 9.92992 2.73956 9.8049 2.61453C9.67988 2.48951 9.51031 2.41927 9.3335 2.41927H6.66683ZM11.3335 3.7526V3.08594C11.3335 2.5555 11.1228 2.0468 10.7477 1.67172C10.3726 1.29665 9.86393 1.08594 9.3335 1.08594H6.66683C6.1364 1.08594 5.62769 1.29665 5.25262 1.67172C4.87754 2.0468 4.66683 2.5555 4.66683 3.08594V3.7526H3.3335C2.96531 3.7526 2.66683 4.05108 2.66683 4.41927V13.7526C2.66683 14.283 2.87754 14.7917 3.25262 15.1668C3.62769 15.5419 4.1364 15.7526 4.66683 15.7526H11.3335C11.8639 15.7526 12.3726 15.5419 12.7477 15.1668C13.1228 14.7917 13.3335 14.283 13.3335 13.7526V4.41927C13.3335 4.05108 13.035 3.7526 12.6668 3.7526H11.3335ZM4.00016 5.08594V13.7526C4.00016 13.9294 4.0704 14.099 4.19543 14.224C4.32045 14.349 4.49002 14.4193 4.66683 14.4193H11.3335C11.5103 14.4193 11.6799 14.349 11.8049 14.224C11.9299 14.099 12.0002 13.9294 12.0002 13.7526V5.08594H4.00016Z" fill="#707070"/>
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66683 7.08594C7.03502 7.08594 7.3335 7.38441 7.3335 7.7526V11.7526C7.3335 12.1208 7.03502 12.4193 6.66683 12.4193C6.29864 12.4193 6.00016 12.1208 6.00016 11.7526V7.7526C6.00016 7.38441 6.29864 7.08594 6.66683 7.08594Z" fill="#707070"/>
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.3335 7.08594C9.70169 7.08594 10.0002 7.38441 10.0002 7.7526V11.7526C10.0002 12.1208 9.70169 12.4193 9.3335 12.4193C8.96531 12.4193 8.66683 12.1208 8.66683 11.7526V7.7526C8.66683 7.38441 8.96531 7.08594 9.3335 7.08594Z" fill="#707070"/>
                                              </svg>
                                      </span> Delete</div>
                                                </div>
                                            </div>
                                            <div class="center custom-margin mb-10">
                                                <button class="apply" nz-button nzType="default" (click)="showRoleTemplate = false">Apply</button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </nz-modal>
                            <div *ngIf="grantRoles.length == 0">
                                <p class="allow-lbl">What info can be seen?</p>
                            </div>
                            <div *ngIf="grantRoles.length == 0" nz-row>
                                <div nz-col nzSpan="8">
                                    <p class="option-lbl">General Info</p>
                                </div>
                                <div nz-col nzSpan="12"></div>
                                <div nz-col nzSpan="4" class="right">
                                    <label nz-checkbox [ngModel]="true" [nzDisabled]="true"></label>
                                </div>
                            </div>
                            <div *ngIf="grantRoles.length == 0 && allow" nz-row>
                                <div nz-col nzSpan="8">
                                    <p class="option-lbl">General Details</p>
                                </div>
                                <div nz-col nzSpan="12"></div>
                                <div nz-col nzSpan="4" class="right">
                                    <label nz-checkbox></label>
                                </div>
                            </div>
                            <div *ngIf="grantRoles.length == 0 && allow" nz-row>
                                <div nz-col nzSpan="8">
                                    <p class="option-lbl">Contact Details</p>
                                </div>
                                <div nz-col nzSpan="12"></div>
                                <div nz-col nzSpan="4" class="right">
                                    <label nz-checkbox></label>
                                </div>
                            </div>
                            <div *ngIf="grantRoles.length == 0 && allow" nz-row>
                                <div nz-col nzSpan="8">
                                    <p class="option-lbl">Attachments</p>
                                </div>
                                <div nz-col nzSpan="12"></div>
                                <div nz-col nzSpan="4" class="right">
                                    <label nz-checkbox></label>
                                </div>
                            </div>
                        </div>
                        <div class="smrt-tab-content" *ngIf="smrtTab == 'sessions'">
                            <h4 style="text-align: center;margin-top: 30px;">No Tab Content assigned here yet.</h4>
                        </div>
                    </div>
                </div>

            </nz-card>
        </div>
    </div>
</div>

<app-confirmation-modal *ngIf="showArchiveMsg || showDeleteMsg || showStarMsg || showRoleMsg" [title]="
  showDeleteMsg ? 'Are you sure you want to delete this contact?' :
  showRoleMsg ? 'We will send a confirmation message to the contact, if he accepts the solicitude, you will be able to use the granted permissions. Would you like to continue?' :
  showArchiveMsg ? 'Are you sure you want to archive this contact?' :
  'Are you sure you want to add this contact to your favourites?'
  " [button1]="
  showDeleteMsg || showArchiveMsg || showStarMsg ? 'Yes' :
  'Apply'
  " [button2]="
  showDeleteMsg || showArchiveMsg || showStarMsg ? 'No' :
  'Cancel'
  " (yes)="
  performAction(showDeleteMsg ? 'showDeleteMsg' : showArchiveMsg ? 'showArchiveMsg' : showRoleMsg ? 'showRoleMsg' : 'showStarMsg')
  " (cancel)="
  showModal(showDeleteMsg ? 'showDeleteMsg' : showArchiveMsg ? 'showArchiveMsg' : showRoleMsg ? 'showRoleMsg' : 'showStarMsg')
  ">