<form class="auth-form {{buttonStateClass}}" [formGroup]="verifyForm" novalidate (ngSubmit)="loginSubmit()">
  <p class="title">OTP Verification</p>
  <p class="subtitle">Enter the OTP sent to you via email</p>
  
  <div class="form-group"> 
    <div class="otp-input-wrapper" 
      formArrayName="otpFields" 
      >

      <div class="otp-input"
        *ngFor="let item of verifyForm.get('otpFields')['controls']; let i = index;"
        [formGroupName]="i"
        >
        <input 
          nz-input 
          formControlName="OTPCodePart"
          (keyup)="goToNextInput($event)"
          (keydown)="onKeyDown($event)"
          (click)="onFocus($event)"  />
      </div>
      
    </div>
  </div>

  <p class="form-message">Didn't receive the OTP? <a class="link" (click)="resendOTP()"> Resend OTP </a></p>
  
  <div class="btn-div">
    <button nz-button nzType="primary" class="btn-signup" type="submit">Verify 
      <i *ngIf="!loading" nz-icon nzType="arrow-right" nzTheme="outline"></i>
      <i *ngIf="loading" nz-icon nzType="loading" nzTheme="outline"></i>
    </button>
  </div>
</form>