:host {
  width: 100%;
  max-width: 400px;
}
::ng-deep .ant-radio-checked .ant-radio-inner{
  border-color: #04057E !important;
}

::ng-deep .ant-radio-inner::after{
  background-color: #04057E !important;
}