<div class="sessions-container">
    <div [class]="split ? 'cards h-100' : 'cards'">
      <div [class]="'w-100'">
        <nz-card class="head-card">
          <div class="header" nz-row>
            <div class="m-auto center" nz-col [nzSpan]="split ? '2' : '1'">
              <svg
              (click)="splitScreen()"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="black"
              >
                <g clip-path="url(#clip0)">
                  <path
                    d="M14.3747 9.51892C14.0101 9.34563 13.6382 9.19635 13.2597 9.0713C14.4855 8.15123 15.2799 6.68617 15.2799 5.03903C15.2799 2.26052 13.0194 0 10.2408 0C7.46229 0 5.20181 2.26052 5.20181 5.03903C5.20181 6.68798 5.99797 8.15449 7.22605 9.07437C6.10086 9.44481 5.04508 10.0212 4.12101 10.7813C2.42656 12.1751 1.24843 14.1191 0.803694 16.2554C0.664306 16.9248 0.831298 17.6123 1.26176 18.1417C1.69012 18.6684 2.3253 18.9705 3.00438 18.9705H12.1305C12.5397 18.9705 12.8715 18.6387 12.8715 18.2294C12.8715 17.8202 12.5397 17.4884 12.1305 17.4884H3.00438C2.68803 17.4884 2.49718 17.3118 2.41159 17.2066C2.26379 17.0249 2.20658 16.7883 2.25464 16.5575C3.02365 12.8636 6.28183 10.1653 10.0444 10.0743C10.1096 10.0768 10.175 10.0781 10.2408 10.0781C10.3073 10.0781 10.3734 10.0768 10.4392 10.0742C11.5923 10.1013 12.7012 10.3644 13.7384 10.8575C14.1081 11.0331 14.5501 10.876 14.7258 10.5063C14.9015 10.1367 14.7444 9.69462 14.3747 9.51892ZM10.4216 8.59144C10.3614 8.59036 10.3012 8.58981 10.2408 8.58981C10.181 8.58981 10.1212 8.5904 10.0615 8.59151C8.18317 8.49781 6.68387 6.94023 6.68387 5.03903C6.68387 3.0777 8.27951 1.48207 10.2408 1.48207C12.2022 1.48207 13.7978 3.0777 13.7978 5.03903C13.7978 6.93975 12.2992 8.49703 10.4216 8.59144Z"
                    fill="#616577"
                  />
                  <path
                    d="M18.9847 14.7086H16.9468V12.6707C16.9468 12.2614 16.6151 11.9297 16.2058 11.9297C15.7965 11.9297 15.4648 12.2614 15.4648 12.6707V14.7086H13.4269C13.0176 14.7086 12.6859 15.0403 12.6859 15.4496C12.6859 15.8589 13.0176 16.1906 13.4269 16.1906H15.4648V18.2285C15.4648 18.6378 15.7965 18.9695 16.2058 18.9695C16.6151 18.9695 16.9468 18.6378 16.9468 18.2285V16.1906H18.9847C19.3939 16.1906 19.7257 15.8589 19.7257 15.4496C19.7257 15.0403 19.3939 14.7086 18.9847 14.7086Z"
                    fill="#616577"
                  />
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect
                      width="18.9705"
                      height="18.9705"
                      fill="white"
                      transform="translate(0.755219)"
                    />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="m-auto center" nz-col [nzSpan]="split ? '2' : '1'">
              <svg
              (click)="showModal('showArchiveMsg')"
                *ngIf="selectedContacts.length > 0"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="black"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3.9169 3.16286C3.70727 3.16286 3.50623 3.24614 3.358 3.39437C3.20976 3.5426 3.12649 3.74365 3.12649 3.95328V15.0191C3.12649 15.2287 3.20976 15.4298 3.358 15.578C3.50623 15.7263 3.70727 15.8095 3.9169 15.8095H16.5636C16.7732 15.8095 16.9742 15.7263 17.1225 15.578C17.2707 15.4298 17.354 15.2287 17.354 15.0191V6.32453C17.354 6.1149 17.2707 5.91385 17.1225 5.76562C16.9742 5.61739 16.7732 5.53411 16.5636 5.53411H9.44982C9.18554 5.53411 8.93875 5.40203 8.79215 5.18214L7.44597 3.16286H3.9169ZM2.24018 2.27655C2.68487 1.83186 3.28801 1.58203 3.9169 1.58203H7.86899C8.13327 1.58203 8.38006 1.71411 8.52665 1.934L9.87284 3.95328H16.5636C17.1925 3.95328 17.7956 4.20311 18.2403 4.6478C18.685 5.0925 18.9348 5.69564 18.9348 6.32453V15.0191C18.9348 15.648 18.685 16.2511 18.2403 16.6958C17.7956 17.1405 17.1925 17.3904 16.5636 17.3904H3.9169C3.28801 17.3904 2.68487 17.1405 2.24018 16.6958C1.79548 16.2511 1.54565 15.648 1.54565 15.0191V3.95328C1.54565 3.32439 1.79548 2.72125 2.24018 2.27655Z"
                  fill="#616577"
                />
              </svg>
            </div>
            <div class="m-auto center" nz-col [nzSpan]="split ? '2' : '1'">
              <svg *ngIf="selectedContacts.length > 0" (click)="showModal('showStarMsg')" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                <g clip-path="url(#clip0)">
                <g clip-path="url(#clip1)">
                <path d="M20.8011 7.3121C20.6694 6.90713 20.3102 6.62041 19.8869 6.58211L14.1135 6.05796L11.8318 0.716075C11.6634 0.323613 11.2801 0.0703125 10.8534 0.0703125C10.4268 0.0703125 10.0433 0.323613 9.87594 0.716075L7.59426 6.05796L1.81993 6.58211C1.39664 6.62117 1.03821 6.90789 0.905759 7.3121C0.774074 7.71708 0.895688 8.16127 1.21582 8.44203L5.58006 12.2688L4.29327 17.9364C4.19912 18.3531 4.36086 18.784 4.70663 19.0339C4.89249 19.169 5.11085 19.2364 5.32997 19.2364C5.51826 19.2364 5.70671 19.1864 5.87502 19.0857L10.8534 16.1089L15.8309 19.0857C16.1961 19.3039 16.6552 19.2839 17.0002 19.0339C17.346 18.784 17.5078 18.3531 17.4136 17.9364L16.1268 12.2688L20.491 8.44203C20.811 8.16127 20.9328 7.71799 20.8011 7.3121Z" fill="#3A3E55" fill-opacity="0.8"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="20" height="20" fill="white" transform="translate(0.853493)"/>
                </clipPath>
                <clipPath id="clip1">
                <rect width="20" height="20" fill="white" transform="translate(0.853493 -0.359375)"/>
                </clipPath>
                </defs>
                </svg>
            </div>
            <div class="m-auto center" nz-col [nzSpan]="split ? '2' : '1'">
              <svg
              (click)="showModal('showDeleteMsg')"
                *ngIf="selectedContacts.length > 0"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="black"
              >
                <g clip-path="url(#clip0)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.2482 4.74124C2.2482 4.3047 2.60209 3.95081 3.03864 3.95081H17.2665C17.703 3.95081 18.0569 4.3047 18.0569 4.74124C18.0569 5.17779 17.703 5.53168 17.2665 5.53168H3.03864C2.60209 5.53168 2.2482 5.17779 2.2482 4.74124Z"
                    fill="#616577"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8.57169 2.36994C8.36205 2.36994 8.161 2.45321 8.01277 2.60145C7.86453 2.74968 7.78125 2.95074 7.78125 3.16037V3.95081H12.5239V3.16037C12.5239 2.95074 12.4406 2.74968 12.2924 2.60145C12.1441 2.45321 11.9431 2.36994 11.7334 2.36994H8.57169ZM14.1047 3.95081V3.16037C14.1047 2.53146 13.8549 1.92831 13.4102 1.4836C12.9655 1.0389 12.3623 0.789062 11.7334 0.789062H8.57169C7.94278 0.789062 7.33963 1.0389 6.89492 1.4836C6.45022 1.92831 6.20038 2.53146 6.20038 3.16037V3.95081H4.61951C4.18296 3.95081 3.82907 4.3047 3.82907 4.74124V15.8074C3.82907 16.4363 4.07891 17.0394 4.52361 17.4841C4.96832 17.9288 5.57147 18.1787 6.20038 18.1787H14.1047C14.7337 18.1787 15.3368 17.9288 15.7815 17.4841C16.2262 17.0394 16.4761 16.4363 16.4761 15.8074V4.74124C16.4761 4.3047 16.1222 3.95081 15.6856 3.95081H14.1047ZM5.40995 5.53168V15.8074C5.40995 16.017 5.49322 16.218 5.64146 16.3663C5.78969 16.5145 5.99075 16.5978 6.20038 16.5978H14.1047C14.3144 16.5978 14.5154 16.5145 14.6637 16.3663C14.8119 16.218 14.8952 16.017 14.8952 15.8074V5.53168H5.40995Z"
                    fill="#616577"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8.57169 7.90299C9.00824 7.90299 9.36213 8.25688 9.36213 8.69343V13.436C9.36213 13.8726 9.00824 14.2265 8.57169 14.2265C8.13515 14.2265 7.78125 13.8726 7.78125 13.436V8.69343C7.78125 8.25688 8.13515 7.90299 8.57169 7.90299Z"
                    fill="#616577"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M11.7334 7.90299C12.17 7.90299 12.5239 8.25688 12.5239 8.69343V13.436C12.5239 13.8726 12.17 14.2265 11.7334 14.2265C11.2969 14.2265 10.943 13.8726 10.943 13.436V8.69343C10.943 8.25688 11.2969 7.90299 11.7334 7.90299Z"
                    fill="#616577"
                  />
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect
                      width="18.9705"
                      height="18.9705"
                      fill="white"
                      transform="translate(0.667328)"
                    />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="m-auto center" nz-col [nzSpan]="split ? '4' : '13'"></div>
            <div class="m-auto center" nz-col [nzSpan]="split ? '2' : '1'">
              <nz-dropdown-menu class="smrt-sort-dropdown" #sort="nzDropdownMenu">
                <div>
                    <ul id="parent-ul" class="sort-options">
                        <li id="firstName" (click)="sortByThis('firstName')" class="name active">Name</li>
                        <li id="lastName" (click)="sortByThis('lastName')">Last Name</li>
                        <li id="email" (click)="sortByThis('email')">Email</li>
                        <!-- <li id="country" (click)="sortByThis('country')">Country / City</li>
                        <li id="birthday" class="birthday">Birthday</li> -->
                    </ul>
                </div>
            </nz-dropdown-menu>
              <svg
              nz-dropdown nzTrigger="click" [nzDropdownMenu]="sort"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                  d="M19.1437 1.86719L11.5835 1.86719C11.2839 1.86719 11.041 1.58872 11.041 1.24519L11.041 0.623195C11.041 0.279667 11.2839 0.00119898 11.5835 0.00119895L19.1437 0.00119819C19.4433 0.00119816 19.6862 0.279666 19.6862 0.623194L19.6862 1.24519C19.6862 1.58872 19.4433 1.86719 19.1437 1.86719Z"
                  fill="#616577"
                />
                <path
                  d="M11.5835 4.09886L18.125 4.09886C18.4246 4.09886 18.6675 4.37732 18.6675 4.72085L18.6675 5.34285C18.6675 5.68638 18.4246 5.96484 18.125 5.96484L11.5835 5.96484C11.2839 5.96484 11.041 5.68638 11.041 5.34285L11.041 4.72085C11.041 4.37732 11.2839 4.09886 11.5835 4.09886Z"
                  fill="#616577"
                />
                <path
                  d="M11.5835 8.19651L17.1062 8.19651C17.4057 8.19651 17.6487 8.47498 17.6487 8.81851L17.6487 9.4405C17.6487 9.78403 17.4057 10.0625 17.1062 10.0625L11.5835 10.0625C11.2839 10.0625 11.041 9.78403 11.041 9.4405L11.041 8.81851C11.041 8.47498 11.2839 8.19651 11.5835 8.19651Z"
                  fill="#616577"
                />
                <path
                  d="M11.5835 12.2903L16.0874 12.2903C16.387 12.2903 16.6299 12.5687 16.6299 12.9123L16.6299 13.5343C16.6299 13.8778 16.387 14.1562 16.0874 14.1562L11.5835 14.1562C11.2839 14.1562 11.041 13.8778 11.041 13.5343L11.041 12.9123C11.041 12.5687 11.2839 12.2903 11.5835 12.2903Z"
                  fill="#616577"
                />
                <path
                  d="M11.584 16.3879L15.0691 16.3879C15.3686 16.3879 15.6115 16.6664 15.6115 17.0099L15.6115 17.6319C15.6115 17.9754 15.3686 18.2539 15.0691 18.2539L11.584 18.2539C11.2844 18.2539 11.0415 17.9754 11.0415 17.6319L11.0415 17.0099C11.0415 16.6664 11.2844 16.3879 11.584 16.3879Z"
                  fill="#616577"
                />
                <path
                  d="M10.0132 13.6782L9.55726 13.2137C9.43633 13.0905 9.27226 13.0212 9.10123 13.0212C8.93019 13.0212 8.76619 13.0905 8.6452 13.2137L6.42703 15.4732V0.660879C6.42703 0.298033 6.13829 0.00390625 5.7821 0.00390625H5.13717C4.78104 0.00390625 4.49224 0.298033 4.49224 0.660879V15.4731L2.27407 13.2136C2.15308 13.0903 1.98908 13.0212 1.81804 13.0212C1.64701 13.0212 1.48294 13.0904 1.36201 13.2136L0.906047 13.6781C0.654202 13.9347 0.654202 14.3507 0.906047 14.6072L5.0036 18.7814C5.12459 18.9045 5.2886 18.9738 5.45963 18.9738C5.63067 18.9738 5.79467 18.9045 5.91566 18.7814L10.0132 14.6072C10.2651 14.3507 10.2651 13.9347 10.0132 13.6782Z"
                  fill="#616577"
                />
              </svg>
            </div>
            
            <div class="m-auto center" nz-col [nzSpan]="split ? '4' : '3'">
              <input [(ngModel)]="searchValue" (ngModelChange)="searchContact($event)" nz-input placeholder="Search" />
            </div>
            <div class="m-auto center" nz-col [nzSpan]="split ? '2' : '1'">
              <svg
              (click)="showNotification()"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M1.581 2.03979C1.71052 1.76064 1.99028 1.58203 2.29802 1.58203H18.1067C18.4145 1.58203 18.6942 1.76064 18.8238 2.03979C18.9533 2.31895 18.909 2.64789 18.7103 2.88287L12.5737 10.1394V16.6003C12.5737 16.8743 12.4318 17.1287 12.1988 17.2727C11.9658 17.4167 11.6748 17.4298 11.4298 17.3073L8.26801 15.7264C8.00023 15.5925 7.83107 15.3188 7.83107 15.0195V10.1394L1.69446 2.88287C1.49575 2.64789 1.45148 2.31895 1.581 2.03979ZM4.00165 3.1629L9.22506 9.33959C9.34573 9.48229 9.41194 9.66312 9.41194 9.85V14.5309L10.9928 15.3214V9.85C10.9928 9.66312 11.059 9.48229 11.1797 9.33959L16.4031 3.1629H4.00165Z"
                  fill="#616577"
                />
              </svg>
            </div>
            <div class="m-auto center" nz-col [nzSpan]="split ? '2' : '1'">
              <svg
              (click)="showNotification()"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <g clip-path="url(#clip0)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10.1731 7.90436C9.30001 7.90436 8.59223 8.61215 8.59223 9.48524C8.59223 10.3583 9.30001 11.0661 10.1731 11.0661C11.0462 11.0661 11.754 10.3583 11.754 9.48524C11.754 8.61215 11.0462 7.90436 10.1731 7.90436ZM7.01136 9.48524C7.01136 7.73905 8.42692 6.32349 10.1731 6.32349C11.9193 6.32349 13.3348 7.73905 13.3348 9.48524C13.3348 11.2314 11.9193 12.647 10.1731 12.647C8.42692 12.647 7.01136 11.2314 7.01136 9.48524Z"
                    fill="#616577"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10.1731 1.58087C9.96347 1.58087 9.76242 1.66415 9.61418 1.81239C9.46595 1.96062 9.38267 2.16167 9.38267 2.37131V2.50884C9.38104 2.91734 9.25999 3.31645 9.03443 3.65704C8.80887 3.99764 8.48865 4.26484 8.11317 4.42576C8.04634 4.45441 7.97602 4.47363 7.90424 4.48301C7.56306 4.60249 7.19579 4.63194 6.83825 4.56711C6.42644 4.49244 6.04643 4.29612 5.74724 4.00345L5.74101 3.99736L5.69362 3.9499C5.62021 3.8764 5.53272 3.81779 5.43676 3.77801C5.3408 3.73823 5.23795 3.71776 5.13407 3.71776C5.0302 3.71776 4.92734 3.73823 4.83138 3.77801C4.73542 3.81779 4.64825 3.87609 4.57484 3.94958L4.57422 3.95021C4.50072 4.02362 4.44242 4.11079 4.40264 4.20675C4.36287 4.30271 4.34239 4.40556 4.34239 4.50944C4.34239 4.61332 4.36287 4.71617 4.40264 4.81213C4.44242 4.90809 4.50072 4.99526 4.57422 5.06867L4.62812 5.12258C4.92078 5.42177 5.11707 5.80181 5.19174 6.21362C5.26493 6.61724 5.21796 7.03328 5.05696 7.41016C4.91029 7.79475 4.65347 8.1278 4.31838 8.36747C3.97651 8.61198 3.56899 8.74799 3.1488 8.75782L3.13031 8.75804H3.05918C2.84954 8.75804 2.64849 8.84131 2.50025 8.98955C2.35202 9.13779 2.26874 9.33884 2.26874 9.54847C2.26874 9.75811 2.35202 9.95916 2.50025 10.1074C2.64849 10.2556 2.84954 10.3389 3.05918 10.3389H3.1967C3.60521 10.3405 4.00432 10.4616 4.34491 10.6871C4.68432 10.9119 4.95085 11.2307 5.11195 11.6045C5.27957 11.9864 5.3294 12.4097 5.25498 12.8201C5.18031 13.2319 4.98398 13.6119 4.69132 13.9111L4.68522 13.9173L4.63776 13.9647C4.56427 14.0381 4.50566 14.1256 4.46588 14.2216C4.4261 14.3175 4.40563 14.4204 4.40563 14.5243C4.40563 14.6281 4.4261 14.731 4.46588 14.827C4.50566 14.9229 4.56396 15.0101 4.63745 15.0835L4.63807 15.0841C4.71148 15.1576 4.79866 15.2159 4.89462 15.2557C4.99057 15.2955 5.09343 15.316 5.19731 15.316C5.30118 15.316 5.40404 15.2955 5.5 15.2557C5.59596 15.2159 5.68313 15.1576 5.75654 15.0841L5.81044 15.0302C6.10963 14.7376 6.48967 14.5413 6.90149 14.4666C7.3051 14.3934 7.72114 14.4404 8.09802 14.6014C8.48262 14.748 8.81566 15.0049 9.05533 15.34C9.29984 15.6818 9.43586 16.0893 9.44569 16.5095L9.4459 16.528V16.5992C9.4459 16.8088 9.52918 17.0099 9.67742 17.1581C9.82565 17.3063 10.0267 17.3896 10.2363 17.3896C10.446 17.3896 10.647 17.3063 10.7953 17.1581C10.9435 17.0099 11.0268 16.8088 11.0268 16.5992V16.4648L11.0268 16.4616C11.0284 16.0531 11.1495 15.654 11.375 15.3134C11.5998 14.974 11.9186 14.7074 12.2925 14.5464C12.6743 14.3788 13.0976 14.329 13.508 14.4034C13.9198 14.478 14.2998 14.6744 14.599 14.967L14.6052 14.9731L14.6526 15.0206C14.726 15.0941 14.8135 15.1527 14.9094 15.1925C15.0054 15.2322 15.1083 15.2527 15.2121 15.2527C15.316 15.2527 15.4189 15.2322 15.5148 15.1925C15.6108 15.1527 15.698 15.0944 15.7714 15.0209L15.772 15.0203C15.8455 14.9469 15.9038 14.8597 15.9436 14.7637C15.9833 14.6678 16.0038 14.5649 16.0038 14.461C16.0038 14.3572 15.9833 14.2543 15.9436 14.1583C15.9038 14.0624 15.8455 13.9752 15.772 13.9018L15.7181 13.8479C15.4254 13.5487 15.2291 13.1687 15.1545 12.7569C15.0801 12.3465 15.1299 11.9232 15.2975 11.5414C15.4586 11.1675 15.7251 10.8487 16.0645 10.6239C16.4051 10.3984 16.8042 10.2773 17.2127 10.2757L17.2159 10.2757L17.287 10.2757C17.4967 10.2757 17.6977 10.1924 17.846 10.0442C17.9942 9.89592 18.0775 9.69487 18.0775 9.48524C18.0775 9.2756 17.9942 9.07455 17.846 8.92631C17.6977 8.77808 17.4967 8.6948 17.287 8.6948H17.1527L17.1495 8.69479C16.741 8.69316 16.3419 8.57212 16.0013 8.34656C15.6607 8.12101 15.3935 7.80078 15.2326 7.42531C15.2039 7.35847 15.1847 7.28816 15.1753 7.21637C15.0559 6.8752 15.0264 6.50792 15.0912 6.15039C15.1659 5.73857 15.3622 5.35857 15.6549 5.05937L15.661 5.05314L15.7084 5.00575C15.7819 4.93234 15.8406 4.84485 15.8803 4.7489C15.9201 4.65294 15.9406 4.55008 15.9406 4.44621C15.9406 4.34233 15.9201 4.23947 15.8803 4.14352C15.8406 4.04756 15.7822 3.96038 15.7088 3.88697L15.7081 3.88635C15.6347 3.81286 15.5475 3.75455 15.4516 3.71478C15.3556 3.675 15.2528 3.65452 15.1489 3.65452C15.045 3.65452 14.9422 3.675 14.8462 3.71478C14.7503 3.75456 14.6631 3.81286 14.5897 3.88635L14.5358 3.94025C14.2366 4.23292 13.8565 4.42921 13.4447 4.50388C13.0343 4.57829 12.611 4.52847 12.2291 4.36085C11.8553 4.19975 11.5365 3.93322 11.3118 3.59381C11.0862 3.25322 10.9652 2.85411 10.9635 2.4456L10.9635 2.44245V2.37131C10.9635 2.16167 10.8803 1.96062 10.732 1.81239C10.5838 1.66415 10.3827 1.58087 10.1731 1.58087ZM16.0223 11.8565L16.7455 12.1757C16.704 12.2696 16.6917 12.3738 16.71 12.4748C16.7281 12.5747 16.7754 12.667 16.8459 12.74L16.8892 12.7833C16.8891 12.7832 16.8893 12.7834 16.8892 12.7833C17.1096 13.0035 17.2847 13.2652 17.4039 13.553C17.5233 13.8408 17.5847 14.1494 17.5847 14.461C17.5847 14.7727 17.5233 15.0812 17.4039 15.3691C17.2846 15.657 17.1097 15.9185 16.8892 16.1387L16.3306 15.5795L16.8898 16.1381C16.6696 16.3586 16.4081 16.5335 16.1202 16.6528C15.8323 16.7722 15.5238 16.8336 15.2121 16.8336C14.9005 16.8336 14.5919 16.7722 14.3041 16.6528C14.0163 16.5336 13.7549 16.3588 13.5347 16.1384C13.5348 16.1385 13.5346 16.1383 13.5347 16.1384L13.4911 16.0948C13.4181 16.0243 13.3258 15.977 13.2259 15.9589C13.1249 15.9406 13.0207 15.9529 12.9268 15.9944L12.919 15.9978C12.8269 16.0373 12.7484 16.1028 12.6931 16.1863C12.6379 16.2695 12.6083 16.367 12.6076 16.4668V16.5992C12.6076 17.2281 12.3578 17.8312 11.9131 18.2759C11.4684 18.7206 10.8652 18.9705 10.2363 18.9705C9.60743 18.9705 9.00428 18.7206 8.55957 18.2759C8.11486 17.8312 7.86503 17.2281 7.86503 16.5992V16.5394C7.86128 16.4388 7.82809 16.3416 7.7695 16.2596C7.70952 16.1758 7.62571 16.1119 7.52895 16.0763C7.51332 16.0706 7.49788 16.0643 7.48264 16.0576C7.38873 16.0162 7.28454 16.0038 7.18353 16.0221C7.08362 16.0402 6.99134 16.0875 6.91832 16.158L6.87501 16.2013C6.87511 16.2012 6.87491 16.2015 6.87501 16.2013C6.65484 16.4217 6.39311 16.5968 6.10538 16.7161C5.8175 16.8354 5.50893 16.8968 5.19731 16.8968C4.88568 16.8968 4.57711 16.8354 4.28924 16.7161C4.00164 16.5968 3.74033 16.4222 3.52023 16.202C3.29975 15.9817 3.12484 15.7202 3.00551 15.4323C2.88618 15.1445 2.82475 14.8359 2.82475 14.5243C2.82475 14.2126 2.88618 13.9041 3.00551 13.6162C3.12484 13.3283 3.29975 13.0668 3.52023 12.8466L3.56356 12.8032C3.63405 12.7302 3.68135 12.6379 3.69947 12.538C3.71778 12.437 3.70542 12.3329 3.66397 12.2389L3.66055 12.2312C3.62107 12.1391 3.55557 12.0605 3.47203 12.0052C3.38882 11.9501 3.29136 11.9204 3.19157 11.9198H3.05918C2.43026 11.9198 1.82711 11.6699 1.38241 11.2252C0.9377 10.7805 0.687866 10.1774 0.687866 9.54847C0.687866 8.91956 0.9377 8.31641 1.38241 7.8717C1.82711 7.427 2.43026 7.17716 3.05918 7.17716H3.11896C3.2195 7.17341 3.31679 7.14022 3.39871 7.08163C3.48256 7.02166 3.54643 6.93784 3.58202 6.84108C3.58777 6.82546 3.59401 6.81001 3.60073 6.79478C3.64218 6.70086 3.65455 6.59668 3.63623 6.49567C3.61812 6.39575 3.57081 6.30348 3.50032 6.23047L3.45699 6.18714C3.23652 5.96691 3.06161 5.70538 2.94228 5.41751C2.82294 5.12964 2.76152 4.82107 2.76152 4.50944C2.76152 4.19781 2.82294 3.88924 2.94228 3.60137C3.06155 3.31363 3.23635 3.05222 3.45668 2.83205C3.67685 2.61172 3.93826 2.43692 4.226 2.31764C4.51387 2.19831 4.82244 2.13689 5.13407 2.13689C5.4457 2.13689 5.75427 2.19831 6.04214 2.31764C6.33001 2.43698 6.59154 2.61188 6.81177 2.83236L6.8551 2.87568C6.92811 2.94618 7.02039 2.99349 7.1203 3.0116C7.22131 3.02992 7.32549 3.01755 7.41941 2.9761C7.47003 2.95376 7.52271 2.93686 7.57658 2.92558C7.63169 2.88817 7.67926 2.84022 7.71638 2.78417C7.77149 2.70095 7.80117 2.6035 7.80179 2.50371V2.37131C7.80179 1.7424 8.05163 1.13925 8.49634 0.69454C8.94104 0.249834 9.54419 0 10.1731 0C10.802 0 11.4052 0.249834 11.8499 0.69454C12.2946 1.13925 12.5444 1.7424 12.5444 2.37131V2.44047C12.545 2.54026 12.5747 2.63772 12.6298 2.72093C12.6851 2.80447 12.7637 2.87001 12.8558 2.90949L12.8636 2.91283C12.9575 2.95428 13.0617 2.96668 13.1627 2.94837C13.2626 2.93025 13.3549 2.88295 13.4279 2.81246L13.4712 2.76913C13.6914 2.54865 13.953 2.37374 14.2408 2.25441C14.5287 2.13508 14.8373 2.07365 15.1489 2.07365C15.4605 2.07365 15.7691 2.13508 16.057 2.25441C16.3448 2.37374 16.6064 2.54865 16.8266 2.76913C17.0468 2.98923 17.2215 3.25053 17.3407 3.53814C17.46 3.82601 17.5215 4.13458 17.5215 4.44621C17.5215 4.75783 17.46 5.0664 17.3407 5.35427C17.2214 5.64201 17.0466 5.90343 16.8263 6.12359C16.8264 6.12349 16.8262 6.1237 16.8263 6.12359L16.7827 6.16723C16.7122 6.24024 16.6649 6.33252 16.6467 6.43243C16.6284 6.53344 16.6408 6.63762 16.6822 6.73154C16.7046 6.78216 16.7215 6.83484 16.7328 6.88871C16.7702 6.94382 16.8181 6.99139 16.8742 7.02852C16.9574 7.08363 17.0548 7.1133 17.1546 7.11393H17.287C17.9159 7.11393 18.5191 7.36376 18.9638 7.80847C19.4085 8.25318 19.6583 8.85633 19.6583 9.48524C19.6583 10.1141 19.4085 10.7173 18.9638 11.162C18.5191 11.6067 17.9159 11.8565 17.287 11.8565H17.2179C17.1181 11.8572 17.0206 11.8868 16.9374 11.942C16.8539 11.9973 16.7883 12.0758 16.7489 12.1679L16.0223 11.8565Z"
                    fill="#616577"
                  />
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect
                      width="18.9705"
                      height="18.9705"
                      fill="white"
                      transform="translate(0.687866)"
                    />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="m-auto center" nz-col [nzSpan]="split ? '2' : '1'">
              <svg
              (click)="noSplit()"
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="27"
                viewBox="0 0 28 27"
                fill="none"
              >
                <g clip-path="url(#clip0)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12.6264 7.82579C12.6264 8.26233 12.2726 8.61621 11.836 8.61621H9.27299V11.1792C9.27299 11.6158 8.91911 11.9697 8.48257 11.9697C8.04604 11.9697 7.69216 11.6158 7.69216 11.1792L7.69216 7.82579C7.69216 7.38926 8.04604 7.03538 8.48257 7.03538L11.836 7.03538C12.2726 7.03538 12.6264 7.38926 12.6264 7.82579Z"
                    fill="#616577"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M19.6607 7.03538C20.0973 7.03538 20.4512 7.38926 20.4512 7.82579L20.4512 11.1792C20.4512 11.6158 20.0973 11.9697 19.6607 11.9697C19.2242 11.9697 18.8703 11.6158 18.8703 11.1792V8.61621H16.3073C15.8707 8.61621 15.5169 8.26233 15.5169 7.82579C15.5169 7.38926 15.8707 7.03538 16.3073 7.03538L19.6607 7.03538Z"
                    fill="#616577"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8.48254 14.8587C8.91908 14.8587 9.27296 15.2125 9.27296 15.6491L9.27296 18.2121L11.836 18.2121C12.2725 18.2121 12.6264 18.566 12.6264 19.0025C12.6264 19.4391 12.2725 19.7929 11.836 19.7929L8.48254 19.7929C8.04601 19.7929 7.69213 19.4391 7.69213 19.0025L7.69213 15.6491C7.69213 15.2125 8.04601 14.8587 8.48254 14.8587Z"
                    fill="#616577"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M19.6608 14.8587C20.0973 14.8587 20.4512 15.2125 20.4512 15.6491L20.4512 19.0025C20.4512 19.4391 20.0973 19.7929 19.6608 19.7929L16.3073 19.7929C15.8708 19.7929 15.5169 19.4391 15.5169 19.0025C15.5169 18.566 15.8708 18.2121 16.3073 18.2121L18.8704 18.2121L18.8703 15.6491C18.8703 15.2125 19.2242 14.8587 19.6608 14.8587Z"
                    fill="#616577"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.92363 7.26594C8.23231 6.95726 8.73278 6.95726 9.04145 7.26594L20.2196 18.4441C20.5283 18.7528 20.5283 19.2533 20.2196 19.5619C19.911 19.8706 19.4105 19.8706 19.1018 19.5619L7.92363 8.38376C7.61496 8.07508 7.61496 7.57462 7.92363 7.26594Z"
                    fill="#616577"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M20.2197 7.26594C20.5284 7.57462 20.5284 8.07508 20.2197 8.38376L9.0415 19.5619C8.73282 19.8706 8.23236 19.8706 7.92368 19.5619C7.615 19.2533 7.615 18.7528 7.92368 18.4441L19.1019 7.26594C19.4105 6.95726 19.911 6.95726 20.2197 7.26594Z"
                    fill="#616577"
                  />
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect
                      width="18.97"
                      height="18.97"
                      fill="white"
                      transform="translate(14.0717) rotate(45)"
                    />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
  
          <div class="my-account-row" nz-row>
            <div class="center" nz-col [nzSpan]="split ? '3' : '2'">
              <div class="profile-img2">
                <img
                  class="profile2"
                  src="../../../../assets/images/profile.PNG"
                />
              </div>
            </div>
            <div nz-col [nzSpan]="split ? '5' : '2'">
              <div class="white">Axay & Kim</div>
              <div>
                <button
                  class="accept"
                  nz-button
                  nzType="default"
                  (click)="splitScreen()"
                >
                  Go to my account
                </button>
              </div>
            </div>
           
          </div>
        </nz-card>
  
        <nz-card
        *ngIf="result.length > 0"
        [class]="split ? 'main-half-card smrt-table-list' : 'main-card smrt-table-list'"
      >
        <nz-table #basicTable>
          <tbody>
            <tr class="padd-10" *ngFor="let res of result">
              <div class="letter-head" [id]="'letter-' + res.key">
                {{ res.key }}
              </div>
              <div
                *ngFor="let data of res.contacts"
                class="contact"
                [id]="'contact-' + data.id"
                (click)="selectContact(data.id)"
              >
                <td
                  [class]="split ? 'split-chkbox-td' :'chkbox-td'"
                  (change)="selectContact(data.id)"
                  [nzChecked]="data.selected"
                  [nzDisabled]="false"
                ></td>
                <td [class]="split ? 'split-img-td' : 'img-td'">
                  <img class="table-data-img" [src]="data.picture" />
                </td>
                <td [class]="split ? 'split-name-td' : 'name-td'">
                  {{ data.firstName + " " + data.lastName }}
                </td>
                <td [class]="split ? 'split-email-td' : 'email-td'">
                  {{ data.email }}
                </td>
                <td [class]="split ? 'split-phone-td' : 'phone-td'">
                  {{ data.phone }}
                </td>
                <td
                  [class]="split ? 'split-options-td hide' : 'options-td hide'"
                >
                  <span style="padding-left: 12px">
                    <svg
                      (click)="editContact(data.id)"
                      class="black"
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="17"
                      viewBox="0 0 17 17"
                      fill="black"
                    >
                      <g clip-path="url(#clip0)">
                        <path
                          class="black"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M2.82466 3.64719C2.63835 3.64719 2.45966 3.7212 2.32792 3.85294C2.19618 3.98469 2.12216 4.16337 2.12216 4.34969V14.1847C2.12216 14.371 2.19618 14.5497 2.32792 14.6814C2.45966 14.8132 2.63835 14.8872 2.82466 14.8872H12.6597C12.846 14.8872 13.0247 14.8132 13.1564 14.6814C13.2881 14.5497 13.3622 14.371 13.3622 14.1847V10.4333C13.3622 10.0454 13.6767 9.73084 14.0647 9.73084C14.4526 9.73084 14.7672 10.0454 14.7672 10.4333V14.1847C14.7672 14.7436 14.5451 15.2797 14.1499 15.6749C13.7547 16.0701 13.2186 16.2922 12.6597 16.2922H2.82466C2.26572 16.2922 1.72967 16.0701 1.33444 15.6749C0.939203 15.2797 0.717163 14.7436 0.717163 14.1847V4.34969C0.717163 3.79074 0.939202 3.25469 1.33444 2.85946C1.72967 2.46423 2.26572 2.24219 2.82466 2.24219H6.57601C6.96399 2.24219 7.27851 2.55671 7.27851 2.94469C7.27851 3.33267 6.96399 3.64719 6.57601 3.64719H2.82466Z"
                          fill="black"
                        />
                        <path
                          class="black"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M12.1629 1.04169C12.4372 0.767352 12.882 0.767352 13.1564 1.04169L15.9664 3.8517C16.2407 4.12604 16.2407 4.57084 15.9664 4.84518L8.94137 11.8702C8.80963 12.0019 8.63094 12.0759 8.44463 12.0759H5.63463C5.24665 12.0759 4.93213 11.7614 4.93213 11.3734V8.56344C4.93213 8.37712 5.00614 8.19844 5.13789 8.06669L12.1629 1.04169ZM6.33713 8.85442V10.6709H8.15364L14.4761 4.34844L12.6596 2.53192L6.33713 8.85442Z"
                          fill="black"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0">
                          <rect
                            width="16.86"
                            height="16.86"
                            fill="white"
                            transform="translate(0.0146484 0.132812)"
                          />
                        </clipPath>
                      </defs>
                    </svg> </span
                  ><span style="padding-left: 12px">
                    <svg
                      (click)="showModal('showArchiveMsg')"
                      class="black"
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="17"
                      viewBox="0 0 20 19"
                      fill="black"
                    >
                      <path
                        class="black"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M3.9169 3.16286C3.70727 3.16286 3.50623 3.24614 3.358 3.39437C3.20976 3.5426 3.12649 3.74365 3.12649 3.95328V15.0191C3.12649 15.2287 3.20976 15.4298 3.358 15.578C3.50623 15.7263 3.70727 15.8095 3.9169 15.8095H16.5636C16.7732 15.8095 16.9742 15.7263 17.1225 15.578C17.2707 15.4298 17.354 15.2287 17.354 15.0191V6.32453C17.354 6.1149 17.2707 5.91385 17.1225 5.76562C16.9742 5.61739 16.7732 5.53411 16.5636 5.53411H9.44982C9.18554 5.53411 8.93875 5.40203 8.79215 5.18214L7.44597 3.16286H3.9169ZM2.24018 2.27655C2.68487 1.83186 3.28801 1.58203 3.9169 1.58203H7.86899C8.13327 1.58203 8.38006 1.71411 8.52665 1.934L9.87284 3.95328H16.5636C17.1925 3.95328 17.7956 4.20311 18.2403 4.6478C18.685 5.0925 18.9348 5.69564 18.9348 6.32453V15.0191C18.9348 15.648 18.685 16.2511 18.2403 16.6958C17.7956 17.1405 17.1925 17.3904 16.5636 17.3904H3.9169C3.28801 17.3904 2.68487 17.1405 2.24018 16.6958C1.79548 16.2511 1.54565 15.648 1.54565 15.0191V3.95328C1.54565 3.32439 1.79548 2.72125 2.24018 2.27655Z"
                        fill="black"
                      />
                    </svg> </span
                  ><span style="padding-left: 12px">
                    <svg
                      (click)="showModal('showStarMsg')"
                      class="black"
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="17"
                      viewBox="0 0 20 19"
                      fill="black"
                    >
                      <path
                        class="black"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M10.1819 0.789062C10.4827 0.789062 10.7575 0.959854 10.8906 1.22963L13.1494 5.80554L18.2005 6.54385C18.4982 6.58735 18.7453 6.79603 18.8381 7.08218C18.9309 7.36832 18.8532 7.68232 18.6377 7.89221L14.9834 11.4515L15.8458 16.48C15.8967 16.7765 15.7748 17.0763 15.5313 17.2531C15.2879 17.43 14.9652 17.4532 14.6988 17.3132L10.1819 14.9378L5.66487 17.3132C5.39856 17.4532 5.07583 17.43 4.83239 17.2531C4.58895 17.0763 4.46703 16.7765 4.5179 16.48L5.38033 11.4516L1.72598 7.89221C1.51049 7.68232 1.43281 7.36832 1.52559 7.08218C1.61837 6.79603 1.86552 6.58735 2.16317 6.54385L7.21435 5.80554L9.47306 1.22963C9.60623 0.959854 9.881 0.789062 10.1819 0.789062ZM10.1819 3.3653L8.4482 6.8775C8.33316 7.11056 8.1109 7.27217 7.85372 7.30976L3.97567 7.87659L6.78119 10.6092C6.96763 10.7908 7.05273 11.0525 7.00873 11.309L6.3468 15.1684L9.81394 13.3451C10.0443 13.224 10.3194 13.224 10.5498 13.3451L14.0169 15.1684L13.355 11.309C13.311 11.0525 13.3961 10.7908 13.5825 10.6092L16.388 7.87659L12.51 7.30976C12.2528 7.27217 12.0306 7.11056 11.9155 6.8775L10.1819 3.3653Z"
                        fill="black"
                      />
                    </svg> </span
                  ><span style="padding-left: 12px">
                    <svg
                      (click)="showModal('showDeleteMsg')"
                      class="black"
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="17"
                      viewBox="0 0 20 19"
                      fill="black"
                    >
                      <g clip-path="url(#clip0)">
                        <path
                          class="black"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M2.2482 4.74124C2.2482 4.3047 2.60209 3.95081 3.03864 3.95081H17.2665C17.703 3.95081 18.0569 4.3047 18.0569 4.74124C18.0569 5.17779 17.703 5.53168 17.2665 5.53168H3.03864C2.60209 5.53168 2.2482 5.17779 2.2482 4.74124Z"
                          fill="black"
                        />
                        <path
                          class="black"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M8.57169 2.36994C8.36205 2.36994 8.161 2.45321 8.01277 2.60145C7.86453 2.74968 7.78125 2.95074 7.78125 3.16037V3.95081H12.5239V3.16037C12.5239 2.95074 12.4406 2.74968 12.2924 2.60145C12.1441 2.45321 11.9431 2.36994 11.7334 2.36994H8.57169ZM14.1047 3.95081V3.16037C14.1047 2.53146 13.8549 1.92831 13.4102 1.4836C12.9655 1.0389 12.3623 0.789062 11.7334 0.789062H8.57169C7.94278 0.789062 7.33963 1.0389 6.89492 1.4836C6.45022 1.92831 6.20038 2.53146 6.20038 3.16037V3.95081H4.61951C4.18296 3.95081 3.82907 4.3047 3.82907 4.74124V15.8074C3.82907 16.4363 4.07891 17.0394 4.52361 17.4841C4.96832 17.9288 5.57147 18.1787 6.20038 18.1787H14.1047C14.7337 18.1787 15.3368 17.9288 15.7815 17.4841C16.2262 17.0394 16.4761 16.4363 16.4761 15.8074V4.74124C16.4761 4.3047 16.1222 3.95081 15.6856 3.95081H14.1047ZM5.40995 5.53168V15.8074C5.40995 16.017 5.49322 16.218 5.64146 16.3663C5.78969 16.5145 5.99075 16.5978 6.20038 16.5978H14.1047C14.3144 16.5978 14.5154 16.5145 14.6637 16.3663C14.8119 16.218 14.8952 16.017 14.8952 15.8074V5.53168H5.40995Z"
                          fill="black"
                        />
                        <path
                          class="black"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M8.57169 7.90299C9.00824 7.90299 9.36213 8.25688 9.36213 8.69343V13.436C9.36213 13.8726 9.00824 14.2265 8.57169 14.2265C8.13515 14.2265 7.78125 13.8726 7.78125 13.436V8.69343C7.78125 8.25688 8.13515 7.90299 8.57169 7.90299Z"
                          fill="black"
                        />
                        <path
                          class="black"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M11.7334 7.90299C12.17 7.90299 12.5239 8.25688 12.5239 8.69343V13.436C12.5239 13.8726 12.17 14.2265 11.7334 14.2265C11.2969 14.2265 10.943 13.8726 10.943 13.436V8.69343C10.943 8.25688 11.2969 7.90299 11.7334 7.90299Z"
                          fill="black"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0">
                          <rect
                            width="18.9705"
                            height="18.9705"
                            fill="white"
                            transform="translate(0.667328)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                  </span>
                </td>
              </div>
            </tr>
          </tbody>
        </nz-table>
        <div class="index-box">
          <div class="index" *ngFor="let letter of letters">
            <span (click)="scrollToThis(letter)">{{letter}}</span>
          </div>
        </div>
      </nz-card>
      
        <div class="notFound" *ngIf="result.length == 0">
          Currently you do not have any favourite contacts
        </div>
      </div>
      <!-- <app-user-account
        [inherited]="'inherited'"
        class="split-screen"
        *ngIf="split"
      ></app-user-account> -->
      <div *ngIf="split" class="dashboard-container">
      <nz-card class="type-card">
        <div nz-row>
          <div nz-col nzSpan="13">
            <nz-radio-group [(ngModel)]="profileType" nzName="type">
              <label nz-radio nzValue="1">Individual</label>
              <label nz-radio nzValue="2">Business</label>
            </nz-radio-group>
          </div>
          <div nz-col nzSpan="8" class="m-auto fs-12 mr-5" >
            <span>Creation Date : </span><span>10/3/2021</span>
          </div>
          <div nz-col nzSpan="2" class="m-auto fs-12 ml-0">
            <img class="flag" src="../../../../assets/images/spain-flag.png" />
          </div>
        </div>
        <div nz-row class="profile-row">
          <div nz-col nzSpan="5">
            <div nz-row class="options">
              <div (click)="showModal('showStarMsg')" nz-col nzSpan="8" class="center pointer" style="border-right: 1px solid lightgrey;">
                <load-svg url="/assets/svg/icon-favourites.svg"></load-svg>
              </div>
              <div (click)="showModal('showDeleteMsg')" nz-col nzSpan="8" class="center pointer" style="border-right: 1px solid lightgrey;">
                <load-svg url="/assets/svg/icon-trash-4.svg"></load-svg>
              </div>
              <div (click)="showModal('showArchiveMsg')" nz-col nzSpan="8" class="center pointer">
                <load-svg url="/assets/svg/icon-folder-3.svg"></load-svg>
              </div>
            </div>
          </div>
            <div class="smrt-profile-wrapper" nz-col nzSpan="14">
                <div class="profile-img">
                    <img *ngIf="profileType == '1'" class="profile" id="indImg" src="../../../../assets/images/profile.PNG">
                    <img *ngIf="profileType == '2'" class="profile" id="busImg" src="../../../../assets/images/business-profile.png">
                    
                    <label class="profile-img-label" for="profileimg-upload">
                      Edit Image
                      <input (change)="pictureChanged($event)" type="file" id="profileimg-upload">
                    </label>
                </div>
            </div>
            <div nz-col nzSpan="5" class="right"></div>
          </div>
            <div nz-row class="row-padd paddb-0 mb-20">
              <div nz-col nzSpan="8">
                <label>{{profileType == '1' ? 'Name' : 'Code'}}</label>
                <input nz-input [placeholder]="profileType == '1' ? 'Name' : 'Code'" />
              </div>
              <div nz-col nzSpan="8" class="paddl-14">
                <label>{{profileType == '1' ? 'Middle Name' : 'Name'}}</label>
                <input nz-input [placeholder]="profileType == '1' ? 'Middle Name' : 'Name'" />
              </div>
              <div *ngIf="profileType == '1'" nz-col nzSpan="8" class="paddl-14">
                <label>Last Name</label>
                <input nz-input placeholder="Last Name" />
              </div>
              <div *ngIf="profileType == '1'" nz-col nzSpan="8">
                <label>Second Last Name</label>
                <input nz-input placeholder="Second Last Name" />
              </div>
              <div nz-col nzSpan="8" class="paddl-14">
                <label>Nickname</label>
                <input nz-input placeholder="Nickname" />
              </div>
          </div>
            
        </nz-card>
        <nz-card class="main-account-card">
            <nz-tabset nzType="card">
                <nz-tab nzTitle="General Details">
                    <div *ngIf="profileType == '1'" nz-row class="paddb-0">
                        <div nz-col nzSpan="8" class="paddt-10">
                            <label>Nickname</label>
                            <input value="13/12/1995" nz-input placeholder="Nickname" />
                          </div>
                          <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                              <!-- <nz-radio-group style="display: flex;margin: 0px !important;
                              margin-top: 15% !important;">
                                  <label class="male" nz-radio checked selected nzValue="1">Male</label>
                                  <label class="female" nz-radio nzValue="2">Female</label>
                                </nz-radio-group> -->
                                <label>Birthday</label>
                            <input value="Test" nz-input placeholder="Birthday" />
                          </div>
                          <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                            <label>Personal Web Site</label>
                            <input value="Test" nz-input placeholder="Personal Web Site" />
                          </div>
                          
                          <div nz-col nzSpan="12" class="email paddt-10">
                            <input value="Correo1@hotmail.com" nz-input />
                          </div>
                          <div nz-col nzSpan="12" class="paddl-14 paddt-10">
                            <button
                            class="accept"
                            nz-button
                            nzType="default"
                          >
                            Accept
                          </button>
                          </div>
                          <div nz-col nzSpan="8" class="paddt-10">
                            <label>State</label>
                            <input value="Test" nz-input placeholder="State" />
                          </div>
                          <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                            <label>City</label>
                            <input value="Test" nz-input placeholder="City" />
                          </div>
                          <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                              <label>Postal Code</label>
                              <input value="Test" nz-input placeholder="Postal Code" />
                            </div>
          <div nz-col nzSpan="24" class="paddt-10">
                            <label>Address</label>
                            <input value="Test" nz-input placeholder="Address" />
                          </div>
                          <div nz-col nzSpan="8" class="paddt-10">
                              <label>Profession</label>
                              <input value="Test" nz-input placeholder="Profession" />
                            </div>
                          <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                            <label>Occupation</label>
                            <input value="Test" nz-input placeholder="Occupation" />
                          </div>
                          <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                            <label>Company</label>
                            <input value="Test" nz-input placeholder="Company" />
                          </div>
                          <div nz-col nzSpan="8" class="paddt-10">
                            <label>Position</label>
                            <input value="Test" nz-input placeholder="Position" />
                          </div>
                          <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                              <label>Company Web site</label>
                              <input value="Test" nz-input placeholder="Web site" />
                            </div>
                    </div>

                    <div *ngIf="profileType == '2'" nz-row class="paddb-0">
                      <div nz-col nzSpan="8">
                        <label>Establishment Date</label>
                        <input value="Test" nz-input placeholder="Establishment Date" />
                      </div>
                      <div nz-col nzSpan="8" class="paddl-14">
                        <label>Web Page</label>
                        <input value="Test" nz-input placeholder="Web Page" />
                      </div>
                      <div nz-col nzSpan="8" class="paddl-14">
                        <label>ID Number</label>
                        <input value="Test" nz-input placeholder="ID Number" />
                      </div>
                      <div nz-col nzSpan="8">
                        <label>Sector</label>
                        <input value="Test" nz-input placeholder="Sector" />
                      </div>
                      <div nz-col nzSpan="8" class="paddl-14">
                          <label>Address</label>
                          <input value="Test" nz-input placeholder="Address" />
                        </div>
            <div nz-col nzSpan="8" class="paddl-14">
                        <label>Registration Email</label>
                        <input value="Test" nz-input placeholder="Registration Email" />
                      </div>
                      <div nz-col nzSpan="8">
                        <label>State</label>
                        <input value="Test" nz-input placeholder="State" />
                      </div>
                      <div nz-col nzSpan="8" class="paddl-14">
                        <label>City</label>
                        <input value="Test" nz-input placeholder="City" />
                      </div>
                      <div nz-col nzSpan="8" class="paddl-14">
                        <label>Country</label>
                        <input value="Test" nz-input placeholder="Country" />
                      </div>
                      <div nz-col nzSpan="8">
                          <label>Postal Code</label>
                          <input value="Test" nz-input placeholder="Postal Code" />
                        </div>
                        
                        <div nz-col nzSpan="8" class="paddl-14">
                          <label>Position</label>
                          <input value="Test" nz-input placeholder="Position" />
                        </div>
                        <div nz-col nzSpan="8" class="paddl-14">
                            <label>Web site</label>
                            <input value="Test" nz-input placeholder="Web site" />
                          </div>
          <div nz-col nzSpan="8">
                            <label>Notes</label>
                            <input value="Test" nz-input placeholder="Notes" />
                          </div>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Contact Details">
                  <div nz-row>
                    <div nz-col nzSpan="8">
                      <label>Email</label>
                      <input value="Test" nz-input placeholder="Email" />
                    </div>
                    <div nz-col nzSpan="8" class="paddl-14">
                      <label>Email</label>
                      <input value="Test" nz-input placeholder="Email" />
                    </div>
                    <div nz-col nzSpan="8" class="paddl-14">
                      <label>Email</label>
                      <input value="Test" nz-input placeholder="Email" />
                    </div>
                  </div>
                  <div nz-row>
                    <div nz-col nzSpan="8">
                      <div style="display: flex; flex-direction: row;">
                        <img class="flag2" src="../../../../assets/images/flag.PNG" />
                        <div nz-row>
                          <div nz-col nzSpan="12">
                            <label>Mobile </label>
                        </div>
                        <div nz-col nzSpan="12">
                            <label>Ext.1204 </label>
                        </div>
                        <div nz-col>
                          <input value="123456" disabled class="inp" nz-input placeholder="+58-3124234234" />
                        </div>
                        </div>
                      </div>
                    </div>
                    <div nz-col nzSpan="8" class="paddl-14">
                      <div style="display: flex; flex-direction: row;">
                        <img class="flag2" src="../../../../assets/images/flag.PNG" />
                        <div nz-row>
                          <div nz-col nzSpan="24">
                            <label>Home</label>
                            
                        </div>
                        <div nz-col nzSpan="24">
                          <input value="123456" disabled class="inp" nz-input placeholder="+58-3124234234" />
                        </div>
                        </div>
                      </div>
                    </div>
                    <div nz-col nzSpan="8" class="paddl-14">
                      <div style="display: flex; flex-direction: row;">
                        <img class="flag2" src="../../../../assets/images/italy-flag.png" />
                        <div nz-row>
                          <div nz-col nzSpan="24">
                            <label>Home</label>
                            
                        </div>
                        <div nz-col nzSpan="24">
                          <input value="123456" disabled class="inp" nz-input placeholder="+58-3124234234" />
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div nz-row>
                    <div nz-col nzSpan="8">
                      <div style="display: flex; flex-direction: row;">
                        <img class="flag2" src="../../../../assets/images/Instagram.png" />
                        <div nz-row>
                          <div nz-col nzSpan="24">
                            <label>Instagram</label>
                            
                        </div>
                        <div nz-col nzSpan="24">
                          <input value="@Test" disabled class="inp" nz-input placeholder="@mikeinsta" />
                        </div>
                        </div>
                      </div>
                    </div>
      
      
                    <div nz-col nzSpan="8" class="paddl-14">
                      <div style="display: flex; flex-direction: row;">
                        <img class="flag2" src="../../../../assets/images/Snapchat.png" />
                        <div nz-row>
                          <div nz-col nzSpan="24">
                            <label>Snapchat</label>
                            
                        </div>
                        <div nz-col nzSpan="24">
                          <input value="@Test" disabled class="inp" nz-input placeholder="@mikesnapchat" />
                        </div>
                        </div>
                      </div>
                    </div>
      
      
                    <div nz-col nzSpan="8" class="paddl-14">
                      <div style="display: flex; flex-direction: row;">
                        <img class="flag2" src="../../../../assets/images/Twitter.png" />
                        <div nz-row>
                          <div nz-col nzSpan="24">
                            <label>Twitter</label>
                            
                        </div>
                        <div nz-col nzSpan="24">
                          <input value="@Test" disabled class="inp" nz-input placeholder="@miketwitter" />
                        </div>
                        </div>
                      </div>
                    </div>
      
                  </div>
                </nz-tab>
                <nz-tab nzTitle="Attachments">
                  Attachments
                  <div>
                    <input (change)="attachmentSelected($event)" id="attachment" type="file" style="display: none;" />
                    <button class="att-btn" nz-button nzType="default" (click)="addAttachment()">Add an attachment</button>
                    <div nz-row>
                    <div class="imgs" nz-col nzSpan="6" *ngFor="let att of attachments;let i = index">
                      <img class="att-img" [id]="'img-'+i" />
                    </div>
                  </div>
                  </div>
                </nz-tab>
                <nz-tab nzTitle="Privacy">
                    <div class="center mb-20">
                        <div class="out-box">
                            <div (click)="smrtTab = 'privacy'" class="in-box" [ngClass]="{'smrt--tab-active': smrtTab == 'privacy'}">
                              <span class="lbl">Privacy & Info</span>
                            </div>
                            <div (click)="smrtTab = 'sessions'" class="in-box" [ngClass]="{'smrt--tab-active': smrtTab == 'sessions'}">
                              <span class="lbl">Sessions</span>
                            </div>
                        </div>
                    </div>
                    <div class="smrt-tab-content" *ngIf="smrtTab == 'privacy'">
                      <table class="privacy-table" *ngIf="grantRoles.length > 0">
                        <tbody>
                          <th class="privacy-th">Type</th>
                          <th class="privacy-th">Role or permission</th>
                          <th class="privacy-th">Description</th>
                          <tr class="privacy-tr" *ngFor="let role of grantRoles">
                            <td class="border-right">{{role.type}}</td>
                            <td class="border-right mr-5">{{role.role}}</td>
                            <td class="mr-5">{{role.description}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <div *ngIf="grantRoles.length == 0" nz-row>
                          <div nz-col nzSpan="12">
                              <p class="allow-lbl">Allow to see my information</p>
                          </div>
                          <div nz-col nzSpan="8"></div>
                          <div nz-col nzSpan="4" class="right">
                              <nz-switch [ngModel]="allow" (ngModelChange)="allowChanged()"></nz-switch>
                          </div>
                      </div>
                      <nz-modal nzClassName="modal--roles" (nzOnCancel)="allowChanged()" [nzFooter]="null" [nzStyle]="{ top: '50%', right: '-450px', width: '18%' }">
                          <ng-container>
                           <div>
                              <nz-radio-group [(ngModel)]="role" nzName="role">
                                  <label nz-radio nzSelected nzValue="1">Role</label>
                                  <label nz-radio nzValue="2">Permission</label>
                                </nz-radio-group>
                                <div class="paddr-20 paddl-20" *ngIf="role == '1'">
                                <div nz-row>
                                  <div nz-col nzSpan="2" style="display: flex; align-items: center;">
                                      <label checked nz-checkbox></label>
                                  </div>
                                  <div nz-col nzSpan="19">
                                      <input nz-input placeholder="Search" />
                                  </div>
                              </div>
                              <div class="role-lbl custom-margin">Sale</div>
                              <div nz-row *ngFor="let role of roles">
                                  <div nz-col nzSpan="2">
                                      <label nz-checkbox></label>
                                  </div>
                                  <div nz-col nzSpan="19">
                                      <p class="role-lbl">{{role}}</p>
                                  </div>
                              </div>
                              <div class="center custom-margin mb-10">
                                  <button class="apply" nz-button nzType="default" (click)="allowChanged()">Apply</button>
                              </div>
  
                              
                              </div>
                              <div *ngIf="role == '2'">
                                  <div class="custom-margin b-bottom paddr-20 paddl-20">
                                      <input (keyup)="searchPermission($event)" nz-input placeholder="Search" />
                                  </div>
                                  <div nz-row class="border padd-0">
                                      <div nz-col nzSpan="12" style="border-right: 1px solid lightgray; padding-top: 10px; padding-left: 10px;">
                                          <nz-tree class="fs-12" [nzData]="searchedNodes.length == 0 ? nodes : searchedNodes" nzShowLine> </nz-tree>
                                      </div>
                                      <div nz-col nzSpan="12"class="paddt-10">
                                          <div class="fs-13 mb-5 operation paddl-10 bb">Operation</div>
                                          <div class="fs-12 lh-32 paddl-10 bb">
                                              <span>
                                                  <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4418 2.9348C9.26 2.4082 7.93959 2.27775 6.67755 2.56289C5.41551 2.84803 4.27945 3.53349 3.43881 4.51704C2.59816 5.5006 2.09798 6.72954 2.01284 8.02059C1.92771 9.31164 2.2622 10.5956 2.96641 11.681C3.67063 12.7665 4.70685 13.5952 5.92052 14.0436C7.13419 14.4919 8.4603 14.536 9.70105 14.1691C10.9418 13.8023 12.0307 13.0442 12.8054 12.0079C13.5801 10.9716 13.9991 9.71265 13.9998 8.4188V7.80585C13.9998 7.43766 14.2983 7.13918 14.6665 7.13918C15.0347 7.13918 15.3332 7.43766 15.3332 7.80585V8.41918C15.3323 10.0006 14.8202 11.5397 13.8733 12.8062C12.9265 14.0728 11.5956 14.9994 10.0791 15.4478C8.56262 15.8961 6.94183 15.8423 5.45845 15.2943C3.97507 14.7462 2.70858 13.7334 1.84787 12.4067C0.987166 11.0801 0.578351 9.51081 0.6824 7.93286C0.78645 6.35491 1.39779 4.85287 2.42524 3.65075C3.4527 2.44863 4.84121 1.61084 6.38371 1.26234C7.92621 0.913829 9.54003 1.07328 10.9845 1.7169C11.3208 1.86675 11.472 2.26087 11.3221 2.59718C11.1723 2.9335 10.7782 3.08465 10.4418 2.9348Z" fill="#707070"/>
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1375 2.613C15.398 2.87321 15.3982 3.29532 15.138 3.5558L8.47131 10.2291C8.34631 10.3543 8.17671 10.4246 7.99984 10.4246C7.82297 10.4247 7.65334 10.3544 7.52827 10.2294L5.52827 8.22937C5.26792 7.96902 5.26792 7.54691 5.52827 7.28656C5.78862 7.02622 6.21073 7.02622 6.47108 7.28656L7.99944 8.81492L14.1947 2.61347C14.4549 2.35299 14.877 2.35278 15.1375 2.613Z" fill="#707070"/>
                                                      </svg>
                                              </span>
                                               Create</div>
                                          <div class="fs-12 lh-32 paddl-10 bb">
                                              <span>
                                                  <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.42716 8.41797C1.50002 8.54388 1.59662 8.70434 1.71628 8.88962C2.02362 9.36551 2.47878 9.99837 3.06969 10.6287C4.26368 11.9023 5.933 13.0846 8 13.0846C10.067 13.0846 11.7363 11.9023 12.9303 10.6287C13.5212 9.99837 13.9764 9.36551 14.2837 8.88962C14.4034 8.70434 14.5 8.54388 14.5728 8.41797C14.5 8.29206 14.4034 8.1316 14.2837 7.94632C13.9764 7.47043 13.5212 6.83757 12.9303 6.20726C11.7363 4.93368 10.067 3.7513 8 3.7513C5.933 3.7513 4.26368 4.93368 3.06969 6.20726C2.47878 6.83757 2.02362 7.47043 1.71628 7.94632C1.59662 8.1316 1.50002 8.29206 1.42716 8.41797ZM15.3333 8.41797C15.9296 8.11983 15.9295 8.1196 15.9294 8.11936L15.9283 8.11722L15.926 8.11266L15.9184 8.09785C15.9121 8.08548 15.9031 8.06818 15.8915 8.04626C15.8683 8.00244 15.8347 7.94012 15.7907 7.86196C15.7028 7.70573 15.5734 7.48565 15.4038 7.22295C15.0653 6.69884 14.5621 5.99837 13.903 5.29534C12.597 3.90226 10.5997 2.41797 8 2.41797C5.40033 2.41797 3.40299 3.90226 2.09698 5.29534C1.43789 5.99837 0.93471 6.69884 0.596224 7.22295C0.426567 7.48565 0.297195 7.70573 0.209314 7.86196C0.165349 7.94012 0.131693 8.00244 0.108502 8.04626C0.0969045 8.06818 0.0879168 8.08548 0.0815586 8.09785L0.0739933 8.11266L0.0716926 8.11722L0.0709134 8.11877C0.0707909 8.11901 0.0703819 8.11983 0.666667 8.41797L0.0703819 8.11983C-0.0234606 8.30751 -0.0234606 8.52843 0.0703819 8.71611L0.666667 8.41797C0.0703819 8.71611 0.0702594 8.71587 0.0703819 8.71611L0.0716926 8.71872L0.0739933 8.72328L0.0815586 8.73809C0.0879168 8.75045 0.0969045 8.76776 0.108502 8.78968C0.131693 8.8335 0.165349 8.89582 0.209314 8.97398C0.297195 9.13021 0.426567 9.35029 0.596224 9.61299C0.93471 10.1371 1.43789 10.8376 2.09698 11.5406C3.40299 12.9337 5.40033 14.418 8 14.418C10.5997 14.418 12.597 12.9337 13.903 11.5406C14.5621 10.8376 15.0653 10.1371 15.4038 9.61299C15.5734 9.35029 15.7028 9.13021 15.7907 8.97398C15.8347 8.89582 15.8683 8.8335 15.8915 8.78968C15.9031 8.76776 15.9121 8.75045 15.9184 8.73809L15.926 8.72328L15.9283 8.71872L15.9291 8.71717C15.9292 8.71693 15.9296 8.71611 15.3333 8.41797ZM15.3333 8.41797L15.9296 8.71611C16.0235 8.52843 16.0232 8.30704 15.9294 8.11936L15.3333 8.41797Z" fill="#707070"/>
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00016 7.08333C7.26378 7.08333 6.66683 7.68029 6.66683 8.41667C6.66683 9.15305 7.26378 9.75 8.00016 9.75C8.73654 9.75 9.3335 9.15305 9.3335 8.41667C9.3335 7.68029 8.73654 7.08333 8.00016 7.08333ZM5.3335 8.41667C5.3335 6.94391 6.5274 5.75 8.00016 5.75C9.47292 5.75 10.6668 6.94391 10.6668 8.41667C10.6668 9.88943 9.47292 11.0833 8.00016 11.0833C6.5274 11.0833 5.3335 9.88943 5.3335 8.41667Z" fill="#707070"/>
                                                      </svg>
                                          </span>
                                               View</div>
                                          <div class="fs-12 lh-32 paddl-10 bb">
                                              <span>
                                                  <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.6665 3.7513C2.48969 3.7513 2.32012 3.82154 2.1951 3.94656C2.07008 4.07159 1.99984 4.24116 1.99984 4.41797V13.7513C1.99984 13.9281 2.07007 14.0977 2.1951 14.2227C2.32012 14.3477 2.48969 14.418 2.6665 14.418H11.9998C12.1766 14.418 12.3462 14.3477 12.4712 14.2227C12.5963 14.0977 12.6665 13.9281 12.6665 13.7513V10.1913C12.6665 9.82311 12.965 9.52463 13.3332 9.52463C13.7014 9.52463 13.9998 9.82311 13.9998 10.1913V13.7513C13.9998 14.2817 13.7891 14.7904 13.4141 15.1655C13.039 15.5406 12.5303 15.7513 11.9998 15.7513H2.6665C2.13607 15.7513 1.62736 15.5406 1.25229 15.1655C0.877218 14.7904 0.666504 14.2817 0.666504 13.7513V4.41797C0.666504 3.88754 0.877217 3.37883 1.25229 3.00376C1.62736 2.62868 2.13607 2.41797 2.6665 2.41797H6.2265C6.59469 2.41797 6.89317 2.71645 6.89317 3.08464C6.89317 3.45283 6.59469 3.7513 6.2265 3.7513H2.6665Z" fill="#707070"/>
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5284 1.2812C11.7888 1.02085 12.2109 1.02085 12.4712 1.2812L15.1379 3.94787C15.3983 4.20822 15.3983 4.63033 15.1379 4.89068L8.47124 11.5573C8.34622 11.6824 8.17665 11.7526 7.99984 11.7526H5.33317C4.96498 11.7526 4.6665 11.4541 4.6665 11.0859V8.41927C4.6665 8.24246 4.73674 8.07289 4.86177 7.94787L11.5284 1.2812ZM5.99984 8.69541V10.4193H7.72369L13.7237 4.41927L11.9998 2.69541L5.99984 8.69541Z" fill="#707070"/>
                                                      </svg>
                                              </span> Edit</div>
                                          <div class="fs-12 lh-32 paddl-10">
                                              <span>
                                                  <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.3335 4.41927C1.3335 4.05108 1.63197 3.7526 2.00016 3.7526H14.0002C14.3684 3.7526 14.6668 4.05108 14.6668 4.41927C14.6668 4.78746 14.3684 5.08594 14.0002 5.08594H2.00016C1.63197 5.08594 1.3335 4.78746 1.3335 4.41927Z" fill="#707070"/>
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66683 2.41927C6.49002 2.41927 6.32045 2.48951 6.19543 2.61453C6.0704 2.73956 6.00016 2.90913 6.00016 3.08594V3.7526H10.0002V3.08594C10.0002 2.90913 9.92992 2.73956 9.8049 2.61453C9.67988 2.48951 9.51031 2.41927 9.3335 2.41927H6.66683ZM11.3335 3.7526V3.08594C11.3335 2.5555 11.1228 2.0468 10.7477 1.67172C10.3726 1.29665 9.86393 1.08594 9.3335 1.08594H6.66683C6.1364 1.08594 5.62769 1.29665 5.25262 1.67172C4.87754 2.0468 4.66683 2.5555 4.66683 3.08594V3.7526H3.3335C2.96531 3.7526 2.66683 4.05108 2.66683 4.41927V13.7526C2.66683 14.283 2.87754 14.7917 3.25262 15.1668C3.62769 15.5419 4.1364 15.7526 4.66683 15.7526H11.3335C11.8639 15.7526 12.3726 15.5419 12.7477 15.1668C13.1228 14.7917 13.3335 14.283 13.3335 13.7526V4.41927C13.3335 4.05108 13.035 3.7526 12.6668 3.7526H11.3335ZM4.00016 5.08594V13.7526C4.00016 13.9294 4.0704 14.099 4.19543 14.224C4.32045 14.349 4.49002 14.4193 4.66683 14.4193H11.3335C11.5103 14.4193 11.6799 14.349 11.8049 14.224C11.9299 14.099 12.0002 13.9294 12.0002 13.7526V5.08594H4.00016Z" fill="#707070"/>
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66683 7.08594C7.03502 7.08594 7.3335 7.38441 7.3335 7.7526V11.7526C7.3335 12.1208 7.03502 12.4193 6.66683 12.4193C6.29864 12.4193 6.00016 12.1208 6.00016 11.7526V7.7526C6.00016 7.38441 6.29864 7.08594 6.66683 7.08594Z" fill="#707070"/>
                                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.3335 7.08594C9.70169 7.08594 10.0002 7.38441 10.0002 7.7526V11.7526C10.0002 12.1208 9.70169 12.4193 9.3335 12.4193C8.96531 12.4193 8.66683 12.1208 8.66683 11.7526V7.7526C8.66683 7.38441 8.96531 7.08594 9.3335 7.08594Z" fill="#707070"/>
                                                      </svg>
                                              </span> Delete</div>
                                      </div>
                                  </div>
                                  <div class="center custom-margin mb-10">
                                      <button class="apply" nz-button nzType="default" (click)="allowChanged()">Apply</button>
                                  </div>
                              </div>
                           </div>
                          </ng-container>
                        </nz-modal>
                      <div *ngIf="grantRoles.length == 0">
                          <p class="allow-lbl">What info can be seen?</p>
                      </div>
                      <div *ngIf="grantRoles.length == 0" nz-row>
                          <div nz-col nzSpan="8">
                              <p class="option-lbl">General Info</p>
                          </div>
                          <div nz-col nzSpan="12"></div>
                          <div nz-col nzSpan="4" class="right">
                              <label nz-checkbox nzDisabled></label>
                          </div>
                      </div>
                      <div *ngIf="grantRoles.length == 0" nz-row>
                          <div nz-col nzSpan="8">
                              <p class="option-lbl">General Details</p>
                          </div>
                          <div nz-col nzSpan="12"></div>
                          <div nz-col nzSpan="4" class="right">
                              <label nz-checkbox></label>
                          </div>
                      </div>
                      <div *ngIf="grantRoles.length == 0" nz-row>
                          <div nz-col nzSpan="8">
                              <p class="option-lbl">Contact Details</p>
                          </div>
                          <div nz-col nzSpan="12"></div>
                          <div nz-col nzSpan="4" class="right">
                              <label nz-checkbox></label>
                          </div>
                      </div>
                      <div *ngIf="grantRoles.length == 0" nz-row>
                          <div nz-col nzSpan="8">
                              <p class="option-lbl">Attachments</p>
                          </div>
                          <div nz-col nzSpan="12"></div>
                          <div nz-col nzSpan="4" class="right">
                              <label nz-checkbox></label>
                          </div>
                      </div>
                    </div>
                    <div class="smrt-tab-content" *ngIf="smrtTab == 'sessions'">
                      <h4 style="text-align: center;margin-top: 30px;">No Tab Content assigned here yet.</h4>
                    </div>
                  </nz-tab>
              </nz-tabset>
        </nz-card>
      </div>
    </div>
  </div>
  
  <app-confirmation-modal *ngIf="showArchiveMsg || showDeleteMsg || showStarMsg || showRoleMsg" [title]="
  showDeleteMsg ? 'Are you sure you want to delete this contact?' :
  showRoleMsg ? 'We will send a confirmation message to the contact, if he accepts the solicitude, you will be able to use the granted permissions. Would you like to continue?' :
  showArchiveMsg ? 'Are you sure you want to archive this contact?' :
  'Are you sure you want to remove this contact from your favourites?'
  "
  [button1]="
  showDeleteMsg || showArchiveMsg || showStarMsg ? 'Yes' :
  'Apply'
  "
  [button2]="
  showDeleteMsg || showArchiveMsg || showStarMsg ? 'No' :
  'Cancel'
  "
  (cancel)="
  showModal(showDeleteMsg ? 'showDeleteMsg' : showArchiveMsg ? 'showArchiveMsg' : showRoleMsg ? 'showRoleMsg' : 'showStarMsg')
  "
  >
  
  