.sessions-container {
  padding: 15px;
  height: 100%;
}
.head-card {
  border-radius: 8px;
  border: 1px solid lightgray;
}
.head-half-card {
  width: 50%;
  border-radius: 8px;
  border: 1px solid lightgray;
}
.main-card {
  margin-top: 15px;
  border-radius: 8px;
  border: 1px solid lightgray;
  width: 100%;
  overflow: auto;
}
svg {
  cursor: pointer;
}
svg:hover{
    svg g path{
        fill: red
    }
}
.main-half-card {
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid lightgray;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.profile-img-2 {
  width: 70px;
  height: 70px;
  margin: auto;
}
.profile-img {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-left: 55%;
}
.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #04057e;
  padding: 4px;
}
.profile-2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #04057e;
  padding: 4px;
}
.accept {
  border-radius: 15px;
  background-color: #04057e;
  border: 1px solid white;
  color: white;
  margin-top: 10px;
}
.accept:hover {
    border-radius: 15px;
    background-color:  white;
    border: 1px solid #04057e;
    color: #04057e;
    transition: 0.5s;
  }
.my-account-row {
  background-color: #04057e;
  padding: 10px;
  border-radius: 0px 0px 6px 6px;
  min-height: 120px;
  align-items: center;
  background-image: url(/assets/images/contact-boxes-layer.png);
  background-size: auto 120px;
  background-position: center;
  transition: all 4s;

  &:hover {
    background-size: auto 180px;
  }
}
.white {
  color: white;
}
.expand-div {
  background-color: #1515af88;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  margin-right: 5px;
  float: right;
}
.w-20 {
  width: 20px;
}
td {
  border: none;
  padding: 5px;
}
.table-data-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.grey {
  color: grey;
}
.selected {
  background-color: lightgray;
}
.contact {
  cursor: pointer;
}
//   .hide{
//       display: none;
//   }
.hide {
  visibility: hidden;
  flex-direction: row;
  padding-left: 10px;
  width: 11%;
}
.cards {
  display: flex;
}
.contact:hover {
  background-color: rgba(4, 5, 126 ,  0.09);
  .hide {
    visibility: visible;
  }
}

.contact:hover .options-td span {
  transform: scale(0);
  animation: pop-up 0.4s 0s forwards;
}

.contact:hover .options-td  svg {
  fill: #04057e;
}

@keyframes pop-up {
    0% {transform: scale(0) }
    100% {transform: scale(1)}
}

.h-100 {
  height: 100%;
}

::ng-deep .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #04057e !important;
  border-color: #04057e !important;
}

::ng-deep .ant-checkbox-inner {
  border-radius: 4px !important;
}

.letter-head {
  padding: 12px;
  padding-left: 23px;
  font-size: 16px;
  color: #04057e;
  font-weight: bold;
  text-transform: capitalize;
}

.split-chkbox-td{
  width: 8% !important;
  padding-right: 0px;
  padding-left: 6px !important;
}

.w-60 {
  width: 60%;
  margin-right: 20px;
}
.w-100 {
  width: 100%;
}

.chkbox-td {
  width: 4%;
  padding-right: 0px;
  padding-left: 6px !important;
}

.img-td {
  width: 5%;
  padding-left: 0px;
  padding-right: 5px;
  text-align: center;
}
.name-td {
  padding-left: 0px;
  width: 30%;
}
.email-td {
  padding-left: 0px;
  width: 20%;
  color: grey;
}
.phone-td {
  padding-left: 0px;
  width: 30%;
  color: grey;
}
.split-img-td {
  width: 12%;
  padding-left: 0px;
  padding-right: 5px;
  text-align: center;
}
.split-name-td {
  padding-left: 0px;
  width: 20%;
}
.split-email-td {
  padding-left: 0px;
  width: 25%;
  color: grey;
}
.split-phone-td {
  padding-left: 0px;
  width: 16%;
  color: grey;
}
.split-options-td {
  padding-left: 0px;
  width: 20%;
}
::ng-deep .ant-table-tbody > tr.ant-table-placeholder {
  display: none;
}
.sort-options {
  list-style-type: none;
  width: 150px;
}
ul {
  padding: 0px;
  margin: 0px;
}
// ::ng-deep .ant-dropdown {
//   width: 200px;
// }
li {
  color: grey;
  padding: 10px 42px 15px 10px;
  cursor: pointer;
}
li:hover {
  background: linear-gradient(
    272.11deg,
    rgba(4, 5, 126, 0.3) 0.23%,
    rgba(4, 5, 126, 0.12) 95.18%
  );
  border-right: 3px solid #04057e;
  color: #04057e;
}
.birthday {
  padding-bottom: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.name {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
li.active{
  background: linear-gradient(
    272.11deg,
    rgba(4, 5, 126, 0.3) 0.23%,
    rgba(4, 5, 126, 0.12) 95.18%
  );
  border-right: 3px solid #04057e;
  color: #04057e;
}
.notFound{
  font-size: 18px;
  text-align: center;
  margin: auto;
  color: grey;
  margin-top: 40px;
}
.index{
  font-size: 12px; color: grey; cursor: pointer;
}
.split-screen{
  width: 50%; padding: 0px 0px 0px 15px
}
::ng-deep .ant-radio-checked .ant-radio-inner{
  border-color: #04057E !important;
}

::ng-deep .ant-radio-inner::after{
  background-color: #04057E !important;
}
.grant-text{
  color: rgba(0,0,0,0.55);
  font-size: 13px;
}
.role,.edit-lbl{
  color: #04057e;
  font-size: 13px;
  line-height: 36px;
  font-weight: bold;
}
.edit-arp{
  color: #04057e;
  font-size: 13px;
  font-weight: bold;
}
.accept2:hover {
  color: #04057e;
  border: 1px solid #04057e;
  background-color: white;
  transition: 0.5s;
}

.reject:hover {
  color: white;
  border: 1px solid white;
  background-color: #04057e;
  transition: 0.5s;
}

.accept2 {
  border-radius: 8px;
  cursor: pointer;
  background-color: #04057e;
  border: 1px solid #04057e;
  color: white;
  height: 40px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80px;
  margin-left: 20px;
}
.btns{
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.contact-name{
  font-weight: bold;
  text-decoration: underline;
  color: black !important;
}

.reject {
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #04057e;
  color: #04057e;
  height: 40px;
  font-size: 12px;
  margin-left: 10px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  width: 80px;
}
.split-width{
  width: 50%;
}
.type-card {
  width: 100% !important;
  height: 50px !important;
  display: flex;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid lightgray;
}

::ng-deep .type-card .ant-card-body {
  // margin-left: 50px !important;
  width: 100% !important;
}

.main-card {
  margin-top: 6px;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid lightgray;
}

.form-row{
  padding: 15px 0px 0px 0px;
}
.inp {
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid grey !important;
}
.flag2 {
  position: relative;
  top: 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.attachment-card {
  width: 100% !important;
  height: 70px !important;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid lightgray;
}
.attachment-card ::ng-deep .ant-card-body {
  padding: 0px !important;
  margin: auto;
  margin-right: 0px;
  width: 100%;
}
.minus {
  color: #04057e;
  position: absolute;
  right: 20px;
  padding-top: 7px;
  margin: auto;
  display: none;
  cursor: pointer;
}
#img-1:hover{
  .img1-custom{
    background: linear-gradient(
      272.11deg,
      rgba(4, 5, 126, 0.3) 0.23%,
      rgba(4, 5, 126, 0.12) 95.18%
    );
  }
  
  .minus{
    display: block;
  } 
}
#img-2:hover{
  .img2-custom{
    background: linear-gradient(
      272.11deg,
      rgba(4, 5, 126, 0.3) 0.23%,
      rgba(4, 5, 126, 0.12) 95.18%
    );
  }
  .minus{
    display: block;
  } 
}
.img1-custom {
  display: flex;
  padding: 5px 0px 0px 0px;
  margin-left: -1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  li {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.img2-custom {
  display: flex;
  padding: 0px 0px 5px 0px;
  margin-left: -1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  li {
    padding-left: 20px;
    padding-right: 20px;
  }
}
li {
  padding: 4px 0px;
  cursor: pointer;
  width: 100%;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.addbtn{
    position: absolute;
    right: 10px;
    bottom: 6px;
    z-index: 99;
}
.removeEmail{
  width: 15px;
    height: 15px;
    border: 1px solid grey;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    bottom: 16%;
    cursor: pointer;
}
.smrt-profile-wrapper .profile-img-label {
  margin-left: 55% !important;
}
.out-box{
  background-color: #04057e;
  border-radius: 15px;
  width: 120px;
  height: 25px;
  color: white;
  margin: auto;
  display: flex;
}

.in-box{
background-color: transparent;
border-radius: 15px;
width: 50%;
margin: 1px;
color: white;
transition: all 0.3s;
cursor: pointer;

&.smrt--tab-active {
  background-color: #fff;
  color: #04057e;
}
}
.lbl{
  font-size: 11px;
}
#firstName, #lastName, #email{
  padding: 15px;
}