<div class="sessions-container">
  <div [class]="split || splitView ? 'cards h-100' : 'cards'">
    <div [class]="split || splitView ? 'w-60' : 'w-100'">
      <nz-card class="head-card">
        <div class="header" nz-row>
          <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
            <load-svg (click)="splitScreen()" url="/assets/svg/icon-add-contact.svg"></load-svg>
          </div>
          <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
            <load-svg url="/assets/svg/icon-folder.svg"
            (click)="showModal('showArchiveMsg')"
              *ngIf="selectedContacts.length > 0"></load-svg>
              
          </div>
          <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
            <load-svg url="/assets/svg/icon-star.svg"
            (click)="showModal('showStarMsg')"
              *ngIf="selectedContacts.length > 0"></load-svg>
          </div>
          <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
            <load-svg url="/assets/svg/icon-trash-2.svg"
            (click)="showModal('showDeleteMsg')"
              *ngIf="selectedContacts.length > 0"></load-svg>
          </div>
          <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '4' : '13'"></div>
          <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
            <nz-dropdown-menu class="smrt-sort-dropdown" #sort="nzDropdownMenu">
              <div>
                  <ul id="parent-ul" class="sort-options">
                      <li id="firstName" (click)="sortByThis('firstName')" class="name active">Name</li>
                      <li id="lastName" (click)="sortByThis('lastName')">Last Name</li>
                      <li id="email" (click)="sortByThis('email')">Email</li>
                      <!-- <li id="country" (click)="sortByThis('country')">Country / City</li>
                      <li id="birthday" class="birthday">Birthday</li> -->
                  </ul>
              </div>
          </nz-dropdown-menu>
            <load-svg url="/assets/svg/icon-sort.svg"
            nz-dropdown nzTrigger="click" [nzDropdownMenu]="sort"></load-svg>
          </div>
          
          <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '4' : '3'">
            <input [(ngModel)]="searchValue" (ngModelChange)="searchContact($event)" nz-input placeholder="Search" />
          </div>
          <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
            <load-svg url="/assets/svg/icon-filter.svg"
            (click)="showNotification()"></load-svg>
          </div>
          <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
            <load-svg url="/assets/svg/icon-settings.svg"
            (click)="showNotification()"></load-svg>
          </div>
          <div class="m-auto center" nz-col [nzSpan]="split || splitView ? '2' : '1'">
            <load-svg url="/assets/svg/icon-move.svg"
            (click)="noSplit()"></load-svg>
          </div>
        </div>

        <div class="my-account-row" nz-row>
          <div class="center" nz-col [nzSpan]="split || splitView ? '3' : '2'">
            <div class="profile-img-2">
              <img
                class="profile-2"
                src="../../../../assets/images/profile.PNG"
              />
            </div>
          </div>
          <div nz-col [nzSpan]="split || splitView ? '5' : '2'">
            <div class="white">Axay & Kim</div>
            <div>
              <button
                class="accept"
                nz-button
                nzType="default"
                (click)="splitScreen()"
              >
                Go to my account
              </button>
            </div>
          </div>
          <div nz-col [nzSpan]="split || splitView ? '15' : '19'"></div>
        </div>
      </nz-card>

      <nz-card
        *ngIf="result.length > 0"
        [class]="split || splitView ? 'main-half-card smrt-table-list' : 'main-card smrt-table-list'"
      >
        <nz-table #basicTable>
          <tbody>
            <tr class="padd-10" *ngFor="let res of result">
              <div class="letter-head" [id]="'letter-' + res.key">
                {{ res.key }}
              </div>
              <div
                *ngFor="let data of res.contacts"
                class="contact"
                [id]="'contact-' + data.id"
              >
                <td
                  [class]="split || splitView ? 'split-chkbox-td' : 'chkbox-td'"
                  (change)="selectContact(data.id)"
                  [nzChecked]="data.selected"
                  [nzDisabled]="false"
                ></td>
                <td [class]="split || splitView ? 'split-img-td' : 'img-td'">
                  <img class="table-data-img" [src]="data.picture" />
                </td>
                <td [class]="split || splitView ? 'split-name-td' : 'name-td'" (click)="viewContact('data.id')">
                  <span class="smrt-table-link">{{ data.firstName + " " + data.lastName }}</span>
                </td>
                <td [class]="split || splitView ? 'split-email-td' : 'email-td'">
                  {{ data.email }}
                </td>
                <td [class]="split || splitView ? 'split-phone-td' : 'phone-td'">
                  {{ data.phone }}
                </td>
                <td
                  [class]="split || splitView ? 'split-options-td hide' : 'options-td hide'"
                >
                <span style="padding-left: 12px">
                  <load-svg url="/assets/svg/icon-edit.svg" (click)="editContact('data.id')"></load-svg>
                </span>
                <span style="padding-left: 12px">
                  <load-svg url="/assets/svg/icon-folder-2.svg" (click)="showModal('showArchiveMsg')"></load-svg> 
                </span>
                <span style="padding-left: 12px">
                  <load-svg url="/assets/svg/icon-star-2.svg" (click)="showModal('showStarMsg')"></load-svg> 
                </span>
                <span style="padding-left: 12px">
                  <load-svg url="/assets/svg/icon-trash-3.svg" (click)="showModal('showDeleteMsg')"></load-svg>
                </span>
                </td>
              </div>
            </tr>
          </tbody>
        </nz-table>
        <div class="index-box">
          <div class="index" *ngFor="let letter of letters">
            <span (click)="scrollToThis(letter)">{{letter}}</span>
          </div>
        </div>
      </nz-card>
      <!-- <div [class]="split || splitView ? 'split-index-box' : 'index-box'">
        <div class="index" *ngFor="let letter of letters">
          <span (click)="scrollToThis(letter)">{{ letter }}</span>
        </div>
      </div>
      <div class="notFound" *ngIf="result.length == 0">No contacts found</div> -->
    </div>
    <!-- <app-user-account
      [inherited]="'inherited'"
      class="split-screen"
      *ngIf="split"
    ></app-user-account> -->
    <div *ngIf="split" class="split-width">
      <nz-card class="type-card">
        <div nz-row class="custom-padd">
          <div nz-col nzSpan="14">
            <div nz-row nzAlign="middle">
              <div nz-col nzSpan="14">
                <nz-radio-group [(ngModel)]="profileType" (ngModelChange)="typeChanged()" nzName="type">
                  <label nz-radio nzValue="1" style="font-size: 12px;">Individual</label>
                  <label nz-radio nzValue="2" style="font-size: 12px;">Business</label>
                </nz-radio-group>
              </div>
              <div nz-col nzSpan="10">
                <div class="center">
                  <div class="out-box style--2">
                      <div (click)="smrtTab2 = 'original'" class="in-box" [ngClass]="{'smrt--tab-active': smrtTab2 == 'original'}">
                        <span class="lbl">Original</span>
                      </div>
                      <div (click)="smrtTab2 = 'mine'" class="in-box" [ngClass]="{'smrt--tab-active': smrtTab2 == 'mine'}">
                        <span class="lbl">Mine</span>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="5" class="m-auto fs-12" >
            <span>Creation Date : </span><span>10/3/2021</span>
          </div>
          <div nz-col nzSpan="2" class="m-auto">
            <load-svg url="/assets/svg/icon-login.svg" ></load-svg>
          </div>
          <div nz-col nzSpan="3" class="m-auto">
            <img class="flag" src="../../../../assets/images/spain-flag.png" />
          </div>
        </div>
        </nz-card>
        <nz-card class="main-card">
          <div nz-row>
              <div nz-col class="smrt-profile-wrapper" nzSpan="18">
                  <div class="profile-img">
                      <img *ngIf="profileType == '1'" class="profile" id="indImg" src="../../../../assets/images/profile.PNG">
                      <img *ngIf="profileType == '2'" id="busImg" class="profile" src="../../../../assets/images/business-profile.png">

                      <label class="profile-img-label" for="profileimg-upload">
                        Edit Image
                        <input type="file" (change)="imageUpload($event)" id="profileimg-upload">
                      </label>
                  </div>
              </div>
              <div nz-col nzSpan="6">
                <div style="display: flex;">
                  <span style="font-size: 11px; font-weight: bold; margin: auto;">Account Info </span>
                  <nz-switch></nz-switch>
                </div>
                
            </div>
            </div>
            <div nz-row class="row form-row">
              <div nz-col [nzSpan]="profileType == '1' ? '6' : '12'">
                <label class="fs-10 bold">{{profileType == '1' ? 'Name' : 'Code'}}</label>
                <input nz-input [placeholder]="profileType == '1' ? 'Name' : 'Code'" />
              </div>
              <div nz-col [nzSpan]="profileType == '1' ? '6' : '12'" class="paddl-14">
                <label class="fs-10 bold">{{profileType == '1' ? 'Middle Name' : 'Name'}}</label>
                <input nz-input [placeholder]="profileType == '1' ? 'Middle Name' : 'Name'" />
              </div>
              <div *ngIf="profileType == '1'" nz-col nzSpan="6" class="paddl-14">
                <label class="fs-10 bold">Last Name</label>
                <input nz-input placeholder="Last Name" />
              </div>
              <div *ngIf="profileType == '1'" nz-col nzSpan="6" class="paddl-14">
                <label class="fs-10 bold">Second Last Name</label>
                <input nz-input placeholder="Second Last Name" />
              </div>
          </div>
          <div nz-row class="row form-row">
            <div nz-col  [nzSpan]="profileType == '1' ? '6' : '12'">
              <label class="fs-10 bold">Nickname</label>
              <input nz-input placeholder="Nickname" />
            </div>
            <div nz-col  [nzSpan]="profileType == '1' ? '6' : '12'" class="paddl-14">
              <label class="fs-10 bold">Creation Date</label>
              <nz-date-picker></nz-date-picker>
            </div>
            <div *ngIf="profileType == '1'" nz-col nzSpan="6" class="paddl-14">
              <label class="fs-10 bold">Birthday</label>
              <nz-date-picker></nz-date-picker>
            </div>
            <div *ngIf="profileType == '1'" nz-col nzSpan="6" class="paddl-14">
              <label class="fs-10 bold">Personal Web Site</label>
              <input nz-input placeholder="Personal Web Site" />
            </div>
        </div>
        
        <div nz-row class="row form-row">
          <div *ngFor="let email of emails;let odd=odd; let i=index;" nz-col nzSpan="12" [class]="odd ? 'paddl-14' : 'nothing'" [ngClass]="{'smrt-email-selected': (i+1) != emails.length}">
            <label class="fs-10 bold">Email</label>
            <input nz-input placeholder="Email" />
            <div *ngIf="(i+1) != emails.length;else lastEmailBox" (click)="removeEmail(i)" class="removeEmail">
              <span></span>
            </div>
            <ng-template #lastEmailBox>
              <div class="addbtn" (click)="addEmail()">
                <load-svg url="/assets/svg/icon-plus-circle.svg"></load-svg>
              </div>
            </ng-template>
          </div>
        </div>

        <div nz-row class="row form-row">
          <div nz-col nzSpan="12">
            <label class="fs-10 bold">State</label>
            <input nz-input placeholder="State" />
          </div>
          <div nz-col nzSpan="6" class="paddl-14">
            <label class="fs-10 bold">City</label>
            <input nz-input placeholder="City" />
          </div>
          <div nz-col nzSpan="6" class="paddl-14">
            <label class="fs-10 bold">Postal Code</label>
            <input nz-input placeholder="Postal Code" />
          </div>
          </div>
          <div nz-row class="row form-row">
            <div nz-col nzSpan="24">
              <label class="fs-10 bold">Address</label>
              <input nz-input placeholder="Address" />
            </div>
          </div>
          <div nz-row class="row form-row">
            <div nz-col nzSpan="12">
            <div style="display: flex; flex-direction: row;">
              <img class="flag2" src="../../../../assets/images/flag.PNG" />
              <div nz-row>
                <div nz-col nzSpan="12">
                  <label>Mobile </label>
              </div>
              <div nz-col nzSpan="12">
                  <label>Ext.1204 </label>
              </div>
              <div nz-col>
                <input class="inp" nz-input placeholder="+58-3124234234" />
              </div>
              <div nz-col>
                <label nz-radio ngModel></label>
              </div>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div style="display: flex; flex-direction: row;">
              <img class="flag2" src="../../../../assets/images/Instagram.png" />
              <div nz-row>
                <div nz-col nzSpan="12">
                  <label>Instagram </label>
              </div>
              <div nz-col>
                <input class="inp" nz-input placeholder="@mike" />
              </div>
              </div>
            </div>
          </div>
          </div>
          <div nz-row class="row form-row">
            <div nz-col nzSpan="12">
            <div style="display: flex; flex-direction: row;">
              <img class="flag2" src="../../../../assets/images/flag.PNG" />
              <div nz-row>
                <div nz-col nzSpan="12">
                  <label>Home </label>
              </div>
              <div nz-col>
                <input class="inp" nz-input placeholder="+58-3124234234" />
              </div>
              <div nz-col>
                <label nz-radio [nzDisabled]="true" ngModel></label>
              </div>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div style="display: flex; flex-direction: row;">
              <img class="flag2" src="../../../../assets/images/Snapchat.png" />
              <div nz-row>
                <div nz-col nzSpan="12">
                  <label>Snapchat </label>
              </div>
              <div nz-col>
                <input class="inp" nz-input placeholder="@mike" />
              </div>
              </div>
            </div>
          </div>
          </div>
          <div nz-row class="row form-row">
            <div nz-col nzSpan="12">
            <div style="display: flex; flex-direction: row;">
              <img class="flag2" src="../../../../assets/images/flag.PNG" />
              <div nz-row>
                <div nz-col nzSpan="12">
                  <label>Mobile </label>
              </div>
              <div nz-col>
                <input class="inp" nz-input placeholder="+58-3124234234" />
              </div>
              <div nz-col>
                <label nz-radio [nzDisabled]="true" ngModel></label>
              </div>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div style="display: flex; flex-direction: row;">
              <img class="flag2" src="../../../../assets/images/Twitter.png" />
              <div nz-row>
                <div nz-col nzSpan="12">
                  <label>Twitter </label>
              </div>
              <div nz-col>
                <input class="inp" nz-input placeholder="@mike" />
              </div>
              </div>
            </div>
          </div>
          </div>
          <div nz-row class="row form-row">
            <div nz-col [nzSpan]="profileType == '1' ? '6' : '12'">
              <label class="fs-10 bold">Profession</label>
              <input nz-input placeholder="Profession" />
            </div>
            <div nz-col [nzSpan]="profileType == '1' ? '6' : '12'" class="paddl-14">
              <label class="fs-10 bold">Occupation</label>
              <input nz-input placeholder="Occupation" />
            </div>
            <div *ngIf="profileType == '1'" nz-col nzSpan="6" class="paddl-14">
              <label class="fs-10 bold">Company</label>
              <input nz-input placeholder="Company" />
            </div>
            <div *ngIf="profileType == '1'" nz-col nzSpan="6" class="paddl-14">
              <label class="fs-10 bold">Position</label>
              <input nz-input placeholder="Position" />
            </div>
        </div>
        <div nz-row class="row form-row">
          <div nz-col nzSpan="24">
            <label class="fs-10 bold">Company Website</label>
            <input nz-input placeholder="Company Website" />
          </div>
        </div>
        <div nz-row class="row form-row">
          <div nz-col nzSpan="24">
            <label>Attachments</label>
            <nz-card class="attachment-card">
              <ul>
                  <div id="img-1" class="img1-custom">
                  <li>
                     <span (click)="openImg('https://graphicriver.img.customer.envatousercontent.com/files/41850875/id-card-preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&w=590&h=590&s=b31033c0472ae181c3c34d4a8face3be')"> ID.jpg</span>
                  </li>
                  <i (click)="showModal('showDeleteImg')" nz-icon id='minus-1' class="minus" nzType="minus" nzTheme="outline"></i>
              </div>
              <div id="img-2" class="img2-custom">
                  <li>
                      <span (click)="openImg('https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/software_photos/001/205/265/datas/original.png')">Curriculum.world</span>
                  </li>
                  <i (click)="showModal('showDeleteImg')" nz-icon id='minus-2' class="minus" nzType="minus" nzTheme="outline"></i>
              </div>
              </ul>
            </nz-card>
          </div>
      </div>
        </nz-card>
    </div>
    <div *ngIf="splitView" class="split-width">
      <session-split-view></session-split-view>
    </div>
  </div>
</div>

<app-confirmation-modal
  *ngIf="showArchiveMsg || showDeleteMsg || showStarMsg || showDeleteImg"
  [title]="
    showDeleteMsg
      ? 'Are you sure you want to delete this contact?'
      : showDeleteImg
      ? 'Are you sure you want to delete this image?'
      : showArchiveMsg
      ? 'Are you sure you want to archive this contact?'
      : 'Are you sure you want to add this contact to your favourites?'
  "
  [button1]="'Yes'"
  [button2]="'No'"
  (cancel)="
    showModal(
      showDeleteMsg
        ? 'showDeleteMsg'
        : showArchiveMsg
        ? 'showArchiveMsg'
        : showDeleteImg
        ? 'showDeleteImg'
        : 'showStarMsg'
    )
  "
>
</app-confirmation-modal>

<nz-modal [nzVisible]="roleModal" (nzOnCancel)="toggleRoleModal()" [nzFooter]="null" [nzStyle]="{ top: '55%', right: '400px', width: '18%' }">
  <ng-container>
    <div class="paddt-20">
      <p class="grant-text"><span class="contact-name">Anthony</span> wants to grant you a session. He is providing next roles.</p>
      <p class="role">Administrator</p>
      <p class="grant-text">He granted next permissions.</p>
      <p class="edit-lbl">Edit account</p>
      <p class="edit-arp">Edit ARP</p>
      <div class="btns">
        <button class="reject" nz-button nzType="default">Reject</button>
        <button class="accept2" nz-button nzType="default">Accept</button>
      </div>
      
    </div>
  </ng-container>
</nz-modal>