<form class="auth-form {{buttonStateClass}}" [formGroup]="forgotPassForm" novalidate (ngSubmit)="submit()">
    <p class="title">Forgot Password</p>
    <div class="form-group" style="margin-bottom: 5px"> 
      <label>Email*</label>
      <input nz-input placeholder="Email" formControlName="Email" />
      <label
        *ngIf="forgotPassForm.controls['Email'].invalid && ( isSubmitted )"
        id="fullname-error" class="error" for="fullname">
        <span *ngIf="forgotPassForm.controls['Email'].errors.required">This field is required.</span>
        <span *ngIf="forgotPassForm.controls['Email'].errors.pattern">This field is invalid.</span>
      </label>
    </div>
    <a class="goLogin" routerLink="/auth/login">Go to Login</a>
    <div class="btn-div-forgot">
      <button nz-button nzType="primary" class="btn-signup" type="submit">Submit
        <i *ngIf="!loading" nz-icon nzType="arrow-right" nzTheme="outline"></i>
        <i *ngIf="loading" nz-icon nzType="loading" nzTheme="outline"></i>

      </button>
    </div>
  </form>
  <!-- <a routerLink="/auth/login">Got</a> -->

  <nz-modal [(nzVisible)]="showMsg" [nzFooter]="null" nzTitle="Confirmation">
    <ng-container *nzModalContent>
      <p>Confirmation email has been sent to {{forgotPassForm.controls['Email'].value}}</p>
    </ng-container>
  </nz-modal>
  
  <p class="floating-lgn-action">Don't have an account yet? <a routerLink="/auth/register" class="register"> Register </a></p>