.privacy-card{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    height: 100%;
    margin: 15px;
    display: flex;
}
.privacy-content{
    padding: 25px;
}
.privacy{
    font-weight: 600;
}
.privacy-content ::ng-deep .ant-radio-group{
    display: flex !important;
    flex-direction: column !important;
}
.privacy-card ::ng-deep .ant-card-body{
    width: 100% !important;
}
.privacy-content ::ng-deep .ant-radio-wrapper{
  line-height: 45px !important;
}
.search-privacy{
    margin: 0px;
    padding: 0px;
    padding-left: 6px;
    height: 32px;
    width: 80px;
    margin-top: -5px;
    text-align: left;
  }
  .avatar{
    border-radius: 50%;
}
.avatar img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.search-user{
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}
.users-radio{
    padding: 5px; height: 300px; overflow: auto;
  }

  .users-radio ::ng-deep .ant-radio-group{
      margin: 2px
  }
  .lbl ::ng-deep .ant-radio-wrapper{
    margin: 8px 8px 0px 8px;
}
.lbl-checked{
    margin: 0px 5px;
}
.search-user-foot{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.apply-btn {
  border-radius: 8px;
  background-color: #04057e;
  border: 1px solid white;
  color: white;
  margin: 4px 2px;
  width: 80px;
  height: 40px;
}
.apply-btn:hover {
    border-radius: 8px;
    background-color:  white;
    border: 1px solid #04057e;
    color: #04057e;
    transition: 0.5s;
  }
  .cancel {
      border-radius: 8px;
      background-color: white;
      border: 1px solid #04057e;
      color: #04057e;
      margin: 4px 2px;
      width: 80px;
      height: 40px;
    }
    .cancel:hover {
        border-radius: 8px;
        background-color:  #04057e;
        border: 1px solid white;
        color: white;
        transition: 0.5s;
      }
      .overflow-radio{
          height: 80%;
  overflow: auto;
      }
      .grid{
        display: grid;
    }
    ::ng-deep .ant-checkbox-checked .ant-checkbox-inner{
        background-color: #04057e;
        border-color: #04057e;
    }
    ::ng-deep .ant-radio-checked .ant-radio-inner{
        border-color: #04057E !important;
      }
      
      ::ng-deep .ant-radio-inner::after{
        background-color: #04057E !important;
      }
      
      ::ng-deep .ant-switch-checked{
        background-color: #04057E !important;
      }

