<nz-card class="privacy-card">
    <div class="privacy-content">
      <div class="privacy">Privacy Info</div>
      <p>Who can see my info?</p>
      <nz-radio-group class="privacy-radio" (ngModelChange)="privacyChanged($event)" [(ngModel)]="privacy" nzName="type">
        <label nz-radio nzValue="onlyMe">Only Me</label>
        <label nz-radio nzValue="myContacts">My Contacts</label>
        <label nz-radio nzValue="allUsers">All Users</label>
        <label nz-radio nzValue="personalized">Personalized</label>
        
      </nz-radio-group>
      <div *ngIf="privacy" style="padding-left: 30px;">
        <div nz-row>
          <div *ngIf="privacy != 'allUsers' && privacy != 'onlyMe'" nz-col nzSpan="5" style="display: flex; margin-right: 100px;">
            <div class="flex"><label checked nz-checkbox></label><div style="margin: 0px 10px">Additionals</div></div>
            <!-- <input class="search-privacy" nz-input placeholder="Search" /> -->
            <div class="smrt-hover-dropdown"  style="display: flex;flex: 0 0 170px;">
              <div style="width: 100%;" nz-dropdown nzTrigger="click" [nzDropdownMenu]="allUsersDropdown">
                
                <nz-select class="search-privacy" nzPlaceHolder="Search"></nz-select>
              </div>

              <div class="js-dropdown">
                <ul>
                  <li *ngFor="let item of selectedUsers">{{ item.firstName }} <span class="smrt-dropdown-icon"><i nz-icon nzType="close" nzTheme="outline"></i></span></li>
                </ul>
              </div>
            </div>
          </div>
          <div *ngIf="privacy != 'onlyMe'" nz-col nzSpan="5" style="display: flex; text-align: center;">
            <div class="flex"><label checked nz-checkbox></label><div style="margin: 0px 10px">Exceptions</div></div>
            <div class="smrt-hover-dropdown" style="display: flex;flex: 0 0 170px;" *ngIf="privacy == 'allUsers'"> 
              <div style="width: 100%;" nz-dropdown nzTrigger="click" [nzDropdownMenu]="allUsersDropdown" [nzClickHide]="false" [(nzVisible)]="showUserDropdown">
                <nz-select class="search-privacy" nzPlaceHolder="Search"></nz-select>
              </div>

              <div class="js-dropdown">
                <ul>
                  <li *ngFor="let item of selectedUsers">{{ item.firstName }} <span class="smrt-dropdown-icon"><i nz-icon nzType="close" nzTheme="outline"></i></span></li>
                </ul>
              </div>
            </div>
            <div style="display: flex;flex: 0 0 170px;" *ngIf="privacy == 'personalized'" nz-dropdown nzTrigger="click" [nzDropdownMenu]="personalizedDropdown"> 
              <nz-select class="search-privacy" nzPlaceHolder="Search">
              </nz-select>
            </div>
            <div class="smrt-hover-dropdown" style="display: flex;flex: 0 0 170px;" *ngIf="privacy == 'myContacts'"> 
              <div style="width: 100%;">
                <nz-select class="search-privacy" nzPlaceHolder="Search">
                  <nz-option nzValue="test1" nzLabel="Robert"></nz-option>
                  <nz-option nzValue="tes2" nzLabel="Abilesh"></nz-option>
                  <nz-option nzValue="tes3" nzLabel="Jazz"></nz-option>
                </nz-select>
              </div>

              <div class="js-dropdown">
                <ul>
                  <li *ngFor="let item of selectedUsers">{{ item.firstName }} <span class="smrt-dropdown-icon"><i nz-icon nzType="close" nzTheme="outline"></i></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nz-dropdown-menu #allUsersDropdown="nzDropdownMenu" >
        <div class="users-radio">
          <div class="overflow-radio">
            <div class="search-user" *ngFor="let user of users">
             <label class="name">{{user.firstName}}</label>
             <!-- <nz-radio-group class="privacy-radio" nzName="type"> -->
              <div class="lbl-checked"><label checked nz-checkbox></label></div>
            
           </div>
        </div>
         <div class="search-user-foot">
          <button
          class="apply-btn"
          nz-button
          nzType="default"
          (click)="handleChange($event)"
        >
          Apply
        </button>
        <button
            class="cancel"
            nz-button
            nzType="default"
            (click)="handleChange($event)"
          >
            Cancel
          </button>
         </div>
        
        </div>
    </nz-dropdown-menu>

    <nz-dropdown-menu #personalizedDropdown="nzDropdownMenu" >
      <div class="users-radio">
        <div class="overflow-radio">
        <div class="search-user" *ngFor="let user of users">
         <label class="name">{{user.firstName}}</label>
         <!-- <nz-radio-group class="privacy-radio" nzName="type"> -->
          <div class="lbl-checked"><label checked nz-checkbox></label></div>
        
       </div>
    </div>
       <div class="search-user-foot">
        <button
          class="apply-btn"
          nz-button
          nzType="default"
          (click)="handleChange($event)"
        >
          Apply
        </button>
        <button
            class="cancel"
            nz-button
            nzType="default"
            (click)="handleChange($event)"
          >
            Cancel
          </button>
       </div>
      
      </div>
  </nz-dropdown-menu>

    
    </div>
    <hr style="color: rgb(241, 241, 241);">
    <div class="privacy-content"><label checked nz-checkbox></label> Allow content to appear as a suggestion</div>
  </nz-card>