.privacy-content{
    padding: 25px;
}
.privacy-content ::ng-deep .ant-radio-group{
    display: flex !important;
    flex-direction: column !important;
}
.privacy-content ::ng-deep .ant-radio-wrapper{
  line-height: 45px !important;
}.grid{
    display: grid;
}
.check-option-1{
    margin-left: 8px;
}
.check-option, .check-option-1{
    line-height: 45px;
}
.privacy{
    font-weight: 600;
}
.privacy-card{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    height: 100%;
    margin: 15px;
    display: flex;
}