<nz-card class="privacy-card">
    <div class="privacy-content">
      <div class="privacy">Informacion</div>
      <p>Who can see my info?</p>
      <!-- <nz-radio-group class="privacy-radio" (ngModelChange)="privacyChanged($event)" [(ngModel)]="privacy" nzName="type"> -->
        <div class="grid">
        <label class="check-option-1" checked nz-checkbox>General Info</label>
        <label class="check-option" checked nz-checkbox>General Details</label>
        <label class="check-option" checked nz-checkbox>Contact Details</label>
        <label class="check-option" checked nz-checkbox>Attachments</label>
      </div>
    </div>
  </nz-card>