.yes:hover {
    color: #04057e;
    border: 1px solid #04057e;
    background-color: white;
    transition: 0.5s;
  }
  
  .no:hover {
    color: white;
    border: 1px solid white;
    background-color: #04057e;
    transition: 0.5s;
  }
  
  .yes {
    border-radius: 8px;
    cursor: pointer;
    background-color: #04057e;
    border: 1px solid #04057e;
    color: white;
    height: 40px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 80px;
  }
  
  
  .no {
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #04057e;
    color: #04057e;
    height: 40px;
    font-size: 12px;
    margin-left: 10px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 80px;
  }
  .reject {
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #bbbbcc;
    color: #04057e;
    height: 40px;
    font-size: 12px;
    margin-left: 10px;
    background-color: #bbbbcc;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 80px;
  }
  
  .reject:hover {
    color: white;
    border: 1px solid white;
    background-color: #04057e;
    transition: 0.5s;
  }

  .card-body {
    flex-direction: row;
    text-align: center;
    margin: 10px 0px;
  }

  ::ng-deep .ant-modal-title{
    color: rgba(0,0,0,0.55) !important;
  }