<nz-modal
[nzStyle]="{ width: button1 == 'Apply' ? '150%' : '100%' }"
nzClassName="modal--sm" nzVisible="true"  (nzOnCancel)="cancelModal()" [nzFooter]="null" [nzTitle]="title">
    <ng-container *nzModalContent>
      <div class="card-body">
        <button class="yes" (click)="success()" nz-button nzType="default">{{button1}}</button>
        <button *ngIf="button2" class="no" (click)="cancelModal()" nz-button nzType="default">{{button2}}</button>
        <button *ngIf="button3" class="reject" (click)="cancelModal()" nz-button nzType="default">{{button3}}</button>
      </div>
    </ng-container>
  </nz-modal>