:host {
    width: 100%;
    max-width: 400px;
}
.btn-div-reset{
    text-align: center;
    margin-top: 40px;
}
.goLogin{
    float: right;
    color: black;
}

.logo-div{
    text-align: center;
    margin: 30px 0px;
  }