<form class="auth-form" [formGroup]="resetPassForm" novalidate (ngSubmit)="submit()">
  <div class="logo-div">
    <img class="logo" src="../../../../assets/images/alpha.png" />
  </div>  
  
  <p class="title">Reset Password</p>
    <!-- <div class="form-group"> 
      <label>Previous Password*</label>
      <input type="password" nz-input formControlName="PreviousPassword" placeholder="Previous Password" />
      <label
        *ngIf="resetPassForm.controls['PreviousPassword'].invalid && ( isSubmitted || resetPassForm.controls['PreviousPassword'].dirty )"
        id="fullname-error" class="error" for="fullname">
        <span *ngIf="resetPassForm.controls['PreviousPassword'].errors.required">This field is required.</span>
      </label>
    </div> -->

    <div class="form-group"> 
      <label>Password*</label>
      <input type="password" nz-input formControlName="Password" placeholder="Password" />
      <label
        *ngIf="resetPassForm.controls['Password'].invalid && ( isSubmitted || resetPassForm.controls['Password'].dirty )"
        id="fullname-error" class="error" for="fullname">
        <span *ngIf="resetPassForm.controls['Password'].errors.required">This field is required.</span>
        <span *ngIf="resetPassForm.controls['Password'].errors.pattern">Password must contain atleast one number and an uppercase letter.</span>
      </label>
    </div>
    <div class="form-group" style="margin-bottom: 5px;">
        <label>Confirm New Password*</label>
      <input type="password" nz-input formControlName="RePassword" placeholder="Confirm New Password" />
        <label
        *ngIf="( isSubmitted && !resetPassForm.controls['RePassword'].invalid && (this.resetPassForm.controls['RePassword'].value != this.resetPassForm.controls['Password'].value))"
        id="fullname-error" class="error" for="fullname">
        <span *ngIf="(this.resetPassForm.controls['RePassword'].value != this.resetPassForm.controls['Password'].value)">Passwords do not match.</span>
      </label>
        <label
        *ngIf="resetPassForm.controls['RePassword'].invalid && ( isSubmitted || resetPassForm.controls['RePassword'].dirty )"
        id="fullname-error" class="error" for="fullname">
        <span *ngIf="resetPassForm.controls['RePassword'].errors.required">This field is required.</span>
      </label>
      </div>
      <!-- <a class="goLogin" routerLink="/auth/login">Go to Login</a> -->
      <p class="passStrength">Password strength: <span id="strengthSpan" [class]="!resetPassForm.controls['Password'].valid ? 'weak' : 'strong'">{{!resetPassForm.controls['Password'].valid ? 'weak' : 'strong'}}</span></p>
    <!-- <button class="cnn-form-button-primary">
      <i class="spinner"></i>
      <span *ngIf="!buttonLoading" class="state">Submit</span>
      <span *ngIf="buttonLoading" class="state">Authenticating...</span>
    </button> -->
    <div class="btn-div-reset">
      <button nz-button nzType="primary" class="btn-signup" type="submit">Confirm
        <i *ngIf="!loading" nz-icon nzType="arrow-right" nzTheme="outline" style="color: white;"></i>
      <i *ngIf="loading" nz-icon nzType="loading" nzTheme="outline"></i>
      </button>
    </div>
  </form>
  
  
  <!-- <p class="floating-lgn-action">Don't have an account yet? <a class="register" routerLink="/auth/register"> Register </a></p> -->