.body-error.error-outside {
    min-height: 100vh;
    height: auto;
    max-width: 90%;
    margin: 50px auto;
}

.body-error.error-outside .flex-wrapper {
    display: flex;
    min-height: 100vh;
    height: 100%;
    align-items: center
}

.body-error.error-outside .flex-wrapper .col-sm-6 {
    float: none;
    width: 50%;
    flex: 0 0 50%;
}

.body-error.error-outside img {
    max-width: 100%
}

.rm-wrapper {
    padding: 40px;
    max-width: 500px
  }

  .rm-wrapper .title {
    font-size: 110px;
    line-height: 120px;
    margin: 0;
    color: #001659;
    font-weight: 700
  }

  .rm-wrapper .subtitle {
    color: #ff5e15;
    font-size: 23px;
    margin-top: 5px;
    line-height: 32px;
    font-weight: 600
  }

  .rm-wrapper .description {
    font-size: 16px;
    font-weight: 400;
    color: #5f5f5f;
    margin-top: 0;
    margin-bottom: 40px
  }

  .rm-wrapper a {
    color: #fff;
    text-decoration: none
  }

  @media (max-width:767px) {
    .flex-wrapper>.col-sm-6:first-child {
      display: none;
      width: 100%;
      flex: 0 0 100%;
    }

    .rm-wrapper {
      padding: 0
    }
  }