<nz-card class="type-card">
  <div nz-row class="custom-padd">
    <div nz-col nzSpan="11">
      <nz-radio-group nzName="type">
        <label nz-radio nzValue="1" style="font-size: 12px;">Individual</label>
        <label nz-radio nzValue="2" style="font-size: 12px;">Business</label>
      </nz-radio-group>
    </div>
    <div nz-col nzSpan="8" class="m-auto fs-12">
      <span>Creation Date : </span><span>10/3/2021</span>
    </div>
    <div nz-col nzSpan="2" class="m-auto" style="margin-top: 3.5%;">
      <load-svg url="/assets/svg/icon-login.svg"></load-svg>
    </div>
    <div nz-col nzSpan="3" class="m-auto">
      <img class="flag" src="../../../../assets/images/spain-flag.png" />
    </div>
  </div>
</nz-card>

<nz-card class="main-card smrt-view-wrapper">
  <div nz-row nzJustify="space-between" class="smrt-view-info">
    <div nz-col>
      <div nz-row nzAlign="middle">
        <i nz-icon nzType="global" nzTheme="outline" class="mr-5"></i>
        05/02/2021
      </div>
    </div>
    <div nz-col>
      <div nz-row nzAlign="middle">
        <load-svg url="/assets/svg/icon-cake.svg" class="mr-5"></load-svg>
        05/02/2021
      </div>
    </div>
  </div>

  <div nz-row>
    <div nz-col class="smrt-profile-wrapper mt-15">
        <div class="profile-img">
            <img id="busImg" class="profile" src="../../../../assets/images/business-profile.png">
        </div>

        <div class="amrt-profile-content">
          <h5>Andres Gonzales</h5>
          <p class="subtitle">Nickname</p>
          <p class="">correal@hotmail.com</p>
        </div>
    </div>
  </div>

  <div nz-row class="mb-20">
    <div nz-col class="mt-15">
        <div class="smrt-label-info-style">
          <label for="">State: </label>
          <span>Miranda</span>
        </div>
        <div class="smrt-label-info-style">
          <label for="">Address: </label>
          <span>Lorem ipsum dolor sit amet</span>
        </div>
    </div>
  </div>

  <div nz-row class="row form-row">
    <div nz-col nzSpan="12">
    <div style="display: flex; flex-direction: row;">
      <img class="flag2" src="../../../../assets/images/flag.PNG" />
      <div nz-row>
        <div nz-col nzSpan="12">
          <label>Mobile </label>
      </div>
      <div nz-col nzSpan="12">
          <label>Ext.1204 </label>
      </div>
      <div nz-col>
        <input class="inp" nz-input placeholder="+58-3124234234" />
      </div>
      <div nz-col>
        <label nz-radio ngModel></label>
      </div>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="12">
    <div style="display: flex; flex-direction: row;">
      <img class="flag2" src="../../../../assets/images/Instagram.png" />
      <div nz-row>
        <div nz-col nzSpan="12">
          <label>Instagram </label>
      </div>
      <div nz-col>
        <input class="inp" nz-input placeholder="@mike" />
      </div>
      </div>
    </div>
  </div>
  </div>
  <div nz-row class="row form-row">
    <div nz-col nzSpan="12">
    <div style="display: flex; flex-direction: row;">
      <img class="flag2" src="../../../../assets/images/flag.PNG" />
      <div nz-row>
        <div nz-col nzSpan="12">
          <label>Home </label>
      </div>
      <div nz-col>
        <input class="inp" nz-input placeholder="+58-3124234234" />
      </div>
      <div nz-col>
        <label nz-radio [nzDisabled]="true" ngModel></label>
      </div>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="12">
    <div style="display: flex; flex-direction: row;">
      <img class="flag2" src="../../../../assets/images/Snapchat.png" />
      <div nz-row>
        <div nz-col nzSpan="12">
          <label>Snapchat </label>
      </div>
      <div nz-col>
        <input class="inp" nz-input placeholder="@mike" />
      </div>
      </div>
    </div>
  </div>
  </div>
  <div nz-row class="row form-row">
    <div nz-col nzSpan="12">
    <div style="display: flex; flex-direction: row;">
      <img class="flag2" src="../../../../assets/images/flag.PNG" />
      <div nz-row>
        <div nz-col nzSpan="12">
          <label>Mobile </label>
      </div>
      <div nz-col>
        <input class="inp" nz-input placeholder="+58-3124234234" />
      </div>
      <div nz-col>
        <label nz-radio [nzDisabled]="true" ngModel></label>
      </div>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="12">
    <div style="display: flex; flex-direction: row;">
      <img class="flag2" src="../../../../assets/images/Twitter.png" />
      <div nz-row>
        <div nz-col nzSpan="12">
          <label>Twitter </label>
      </div>
      <div nz-col>
        <input class="inp" nz-input placeholder="@mike" />
      </div>
      </div>
    </div>
  </div>
  </div>

  
  <div nz-row class="mt-15">
    <div nz-col nzSpan="24">
      <div nz-row nzAlign="middle" nzJustify="space-between">
        <div nz-col>
          <div class="smrt-label-info-style">
            <label for="">State: </label>
            <span>Miranda</span>
          </div>
        </div>
        <div nz-col>
          <div class="smrt-quick-actions">
            <ul>
              <li>
                <i nz-icon nzType="phone" nzTheme="outline"></i>
              </li>
              <li>
                <i nz-icon nzType="message" nzTheme="outline"></i>
              </li>
              <li>
                <i nz-icon nzType="whats-app" nzTheme="outline"></i>
              </li>
              <li>
                <i nz-icon nzType="send" nzTheme="outline"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div nz-row class="mt-15">
    <div nz-col>
        <div class="smrt-label-info-style">
          <label for="">Company: </label>
          <span>N/A</span>
        </div>
        <div class="smrt-label-info-style">
          <label for="">Occupation: </label>
          <span>Lawyer</span>
        </div>
    </div>
  </div>

  <div nz-row class="row form-row mt-15">
    <div nz-col nzSpan="24">
      <label>Attachments</label>
      <nz-card class="attachment-card">
        <ul>
            <div id="img-1" class="img1-custom">
            <li>
               <span> ID.jpg</span>
            </li>
            <i (click)="showModal('showDeleteImg')" nz-icon id='minus-1' class="minus" nzType="minus" nzTheme="outline"></i>
        </div>
        <div id="img-2" class="img2-custom">
            <li>
                <span>Curriculum.world</span>
            </li>
            <i (click)="showModal('showDeleteImg')" nz-icon id='minus-2' class="minus" nzType="minus" nzTheme="outline"></i>
        </div>
        </ul>
      </nz-card>
    </div>
</div>
</nz-card>
