.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #04057e;
  padding: 4px;
}
.profile-2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #04057e;
  padding: 4px;
}

.profile-img {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.attachment-card {
  width: 100% !important;
  height: 70px !important;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid lightgray;
}
.attachment-card ::ng-deep .ant-card-body {
  padding: 0px !important;
  margin: auto;
  margin-right: 0px;
  width: 100%;
}
.minus {
  color: #04057e;
  position: absolute;
  right: 20px;
  padding-top: 7px;
  margin: auto;
  display: none;
  cursor: pointer;
}
#img-1:hover{
  .img1-custom{
    background: linear-gradient(
      272.11deg,
      rgba(4, 5, 126, 0.3) 0.23%,
      rgba(4, 5, 126, 0.12) 95.18%
    );
  }
  
  .minus{
    display: block;
  } 
}
#img-2:hover{
  .img2-custom{
    background: linear-gradient(
      272.11deg,
      rgba(4, 5, 126, 0.3) 0.23%,
      rgba(4, 5, 126, 0.12) 95.18%
    );
  }
  .minus{
    display: block;
  } 
}
.img1-custom {
  display: flex;
  padding: 5px 0px 0px 0px;
  margin-left: -1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  li {
    padding-left: 20px;
    padding-right: 20px;
  }

  li {
    color: grey;
    padding: 4px 15px;
    cursor: pointer;
  }
  li:hover {
    background: linear-gradient(
      272.11deg,
      rgba(4, 5, 126, 0.3) 0.23%,
      rgba(4, 5, 126, 0.12) 95.18%
    );
    border-right: 3px solid #04057e;
    color: #04057e;
  }
}

.img2-custom {
  display: flex;
  padding: 0px 0px 5px 0px;
  margin-left: -1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  li {
    padding-left: 20px;
    padding-right: 20px;
  }

  li {
    color: grey;
    padding: 4px 15px;
    cursor: pointer;
  }
  li:hover {
    background: linear-gradient(
      272.11deg,
      rgba(4, 5, 126, 0.3) 0.23%,
      rgba(4, 5, 126, 0.12) 95.18%
    );
    border-right: 3px solid #04057e;
    color: #04057e;
  }
}

li {
  padding: 4px 0px;
  cursor: pointer;
  width: 100%;
}

.type-card {
  width: 100% !important;
  height: 50px !important;
  display: flex;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid lightgray;
}