<div class="container">
    <div class="half-1">
        <nz-card class="head-card">
            <div nz-row class="options-row">
                <div nz-col nzSpan="12" class="options-col">
                    <div class="ml-15">
                      <load-svg (click)="showNotification()" url="/assets/svg/icon-plus-circle.svg"></load-svg>
                    </div>
                      <div class="ml-15">  
                        <load-svg (showModal)="toggleModal('delete')" url="/assets/svg/icon-trash-2.svg"></load-svg>
                      </div>
                </div>
                <div nz-col nzSpan="12" class="options-col just-end">
                    <div class="ml-15">
                      <load-svg url="/assets/svg/icon-sort.svg"
                      nz-dropdown nzTrigger="click"
                      [nzDropdownMenu]="sort"></load-svg>
                        
                    </div>
                      <div class="ml-15">  
                        <input nz-input placeholder="Search" [(ngModel)]="searchValue"
                        (ngModelChange)="searchRole($event)"/>
                      </div>
                      <nz-dropdown-menu #sort="nzDropdownMenu">
                        <div class="dropdown-ul">
                            <ul id="parent-ul" class="sort-options">
                                <li id="firstName" (click)="sortByThis('firstName')" class="name active drop-li">Name</li>
                                <li id="lastName" (click)="sortByThis('lastName')" class="drop-li" >Description</li>
                                <!-- <li id="country" (click)="sortByThis('country')">Country / City</li>
                                <li id="birthday" class="birthday">Birthday</li> -->
                            </ul>
                        </div>
                    </nz-dropdown-menu>
                    
                      <div class="ml-15">
                        <load-svg
                        nz-dropdown nzTrigger="click"
                        [nzDropdownMenu]="sort" url="/assets/svg/icon-filter.svg"></load-svg>
                      </div>
                      <div class="ml-15 mr-10">
                        <load-svg
                        (click)="showNotification()" url="/assets/svg/icon-settings.svg"></load-svg>
                      </div>
                </div>
            </div>
        </nz-card>
        
        <nz-card class="role-card">
            <table class="role-table">
                <thead>
                    <th>Name</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles" class="role">
                        <td class="role-td"><label checked nz-checkbox></label> <span style="margin-left: 12px;">{{role}}</span></td>
                        <td>xxxxxxxxxxxxxxxxx</td>
                        <td class="hide">
                            <div class="icons">
                              <load-svg (click)="toggleModal('copy')" url="/assets/svg/icon-copy.svg"></load-svg>
                              <load-svg (click)="editContact('data.id')" url="/assets/svg/icon-edit.svg"></load-svg>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </nz-card>
    </div>
    
    <div class="half-2">
        <nz-card class="info-card">
            <div>
                <label>Name</label>
                            <input nz-input placeholder="Name" />
            </div>
            <div class="mt-15">
                <label>Description</label>
                            <textarea nz-input placeholder="Description"></textarea>
            </div>
        </nz-card>
    
        <nz-card class="tabs-card">
            <nz-tabset class="privacy-tabs" nzType="card">
                <nz-tab nzTitle="Selected Object">
                    <div nz-row style="height: 100%;">
                        <div nz-col nzSpan="10" class="br">
                            <input class="search" nz-input placeholder="Search" />
                            <nz-tree class="tree" [nzData]="nodes" nzShowLine> </nz-tree>
                        </div>
                        <div nz-col nzSpan="14">
                            <nz-card class="permissions-card">
                                <div nz-row>
                                    <div nz-col nzSpan="10" class="custom-col">
                                        Permission
                                    </div>
                                    <div nz-col nzSpan="14" class="custom-col">
                                        Description
                                    </div>
                                </div>
                                <div nz-row>
                                    <div nz-col nzSpan="10" class="custom-col">
                                        <label checked nz-checkbox></label><span style="margin-left: 6px;"> Create</span>
                                    </div>
                                    <div nz-col nzSpan="14" class="custom-col">
                                        
                                    </div>
                                </div>
                                <div nz-row>
                                    <div nz-col nzSpan="10" class="custom-col">
                                        <label checked nz-checkbox></label><span style="margin-left: 6px;"> View</span>
                                    </div>
                                    <div nz-col nzSpan="14" class="custom-col">
                                        
                                    </div>
                                </div>
                                <div nz-row>
                                    <div nz-col nzSpan="10" class="custom-col">
                                        <label checked nz-checkbox></label><span style="margin-left: 6px;"> Edit</span>
                                    </div>
                                    <div nz-col nzSpan="14" class="custom-col">
                                        
                                    </div>
                                </div>
                                <div nz-row>
                                    <div nz-col nzSpan="10" class="custom-col">
                                        <label checked nz-checkbox></label><span style="margin-left: 6px;"> Delete</span>
                                    </div>
                                    <div nz-col nzSpan="14" class="custom-col">
                                        
                                    </div>
                                </div>
                            </nz-card>
                        </div>
                    </div>
    
                </nz-tab>
                <nz-tab nzTitle="Permission">
                  <div style="margin: 20px">
                    <ul class="smrt-permissions">
                      <li>
                        <div class="smrt-permission-header">
                          <span>...Object \ Operation</span>
                        </div>
                      </li>
                      <li>
                        <div class="smrt-permission-item">
                          <span>Smart Connect details Name Create</span>
                          <div class="smrt-permission-action">
                            <svg (click)="toggleModal('delete')" xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="black" > <g clip-path="url(#clip0)"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2.2482 4.74124C2.2482 4.3047 2.60209 3.95081 3.03864 3.95081H17.2665C17.703 3.95081 18.0569 4.3047 18.0569 4.74124C18.0569 5.17779 17.703 5.53168 17.2665 5.53168H3.03864C2.60209 5.53168 2.2482 5.17779 2.2482 4.74124Z" fill="#616577" /> <path fill-rule="evenodd" clip-rule="evenodd" d="M8.57169 2.36994C8.36205 2.36994 8.161 2.45321 8.01277 2.60145C7.86453 2.74968 7.78125 2.95074 7.78125 3.16037V3.95081H12.5239V3.16037C12.5239 2.95074 12.4406 2.74968 12.2924 2.60145C12.1441 2.45321 11.9431 2.36994 11.7334 2.36994H8.57169ZM14.1047 3.95081V3.16037C14.1047 2.53146 13.8549 1.92831 13.4102 1.4836C12.9655 1.0389 12.3623 0.789062 11.7334 0.789062H8.57169C7.94278 0.789062 7.33963 1.0389 6.89492 1.4836C6.45022 1.92831 6.20038 2.53146 6.20038 3.16037V3.95081H4.61951C4.18296 3.95081 3.82907 4.3047 3.82907 4.74124V15.8074C3.82907 16.4363 4.07891 17.0394 4.52361 17.4841C4.96832 17.9288 5.57147 18.1787 6.20038 18.1787H14.1047C14.7337 18.1787 15.3368 17.9288 15.7815 17.4841C16.2262 17.0394 16.4761 16.4363 16.4761 15.8074V4.74124C16.4761 4.3047 16.1222 3.95081 15.6856 3.95081H14.1047ZM5.40995 5.53168V15.8074C5.40995 16.017 5.49322 16.218 5.64146 16.3663C5.78969 16.5145 5.99075 16.5978 6.20038 16.5978H14.1047C14.3144 16.5978 14.5154 16.5145 14.6637 16.3663C14.8119 16.218 14.8952 16.017 14.8952 15.8074V5.53168H5.40995Z" fill="#616577" /> <path fill-rule="evenodd" clip-rule="evenodd" d="M8.57169 7.90299C9.00824 7.90299 9.36213 8.25688 9.36213 8.69343V13.436C9.36213 13.8726 9.00824 14.2265 8.57169 14.2265C8.13515 14.2265 7.78125 13.8726 7.78125 13.436V8.69343C7.78125 8.25688 8.13515 7.90299 8.57169 7.90299Z" fill="#616577" /> <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7334 7.90299C12.17 7.90299 12.5239 8.25688 12.5239 8.69343V13.436C12.5239 13.8726 12.17 14.2265 11.7334 14.2265C11.2969 14.2265 10.943 13.8726 10.943 13.436V8.69343C10.943 8.25688 11.2969 7.90299 11.7334 7.90299Z" fill="#616577" /> </g> <defs> <clipPath id="clip0"> <rect width="18.9705" height="18.9705" fill="white" transform="translate(0.667328)" /> </clipPath> </defs> </svg>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="smrt-permission-item">
                          <span>Smart My Account Birthday Modify</span>
                          <div class="smrt-permission-action">
                            <svg (click)="toggleModal('delete')" xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="black" > <g clip-path="url(#clip0)"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2.2482 4.74124C2.2482 4.3047 2.60209 3.95081 3.03864 3.95081H17.2665C17.703 3.95081 18.0569 4.3047 18.0569 4.74124C18.0569 5.17779 17.703 5.53168 17.2665 5.53168H3.03864C2.60209 5.53168 2.2482 5.17779 2.2482 4.74124Z" fill="#616577" /> <path fill-rule="evenodd" clip-rule="evenodd" d="M8.57169 2.36994C8.36205 2.36994 8.161 2.45321 8.01277 2.60145C7.86453 2.74968 7.78125 2.95074 7.78125 3.16037V3.95081H12.5239V3.16037C12.5239 2.95074 12.4406 2.74968 12.2924 2.60145C12.1441 2.45321 11.9431 2.36994 11.7334 2.36994H8.57169ZM14.1047 3.95081V3.16037C14.1047 2.53146 13.8549 1.92831 13.4102 1.4836C12.9655 1.0389 12.3623 0.789062 11.7334 0.789062H8.57169C7.94278 0.789062 7.33963 1.0389 6.89492 1.4836C6.45022 1.92831 6.20038 2.53146 6.20038 3.16037V3.95081H4.61951C4.18296 3.95081 3.82907 4.3047 3.82907 4.74124V15.8074C3.82907 16.4363 4.07891 17.0394 4.52361 17.4841C4.96832 17.9288 5.57147 18.1787 6.20038 18.1787H14.1047C14.7337 18.1787 15.3368 17.9288 15.7815 17.4841C16.2262 17.0394 16.4761 16.4363 16.4761 15.8074V4.74124C16.4761 4.3047 16.1222 3.95081 15.6856 3.95081H14.1047ZM5.40995 5.53168V15.8074C5.40995 16.017 5.49322 16.218 5.64146 16.3663C5.78969 16.5145 5.99075 16.5978 6.20038 16.5978H14.1047C14.3144 16.5978 14.5154 16.5145 14.6637 16.3663C14.8119 16.218 14.8952 16.017 14.8952 15.8074V5.53168H5.40995Z" fill="#616577" /> <path fill-rule="evenodd" clip-rule="evenodd" d="M8.57169 7.90299C9.00824 7.90299 9.36213 8.25688 9.36213 8.69343V13.436C9.36213 13.8726 9.00824 14.2265 8.57169 14.2265C8.13515 14.2265 7.78125 13.8726 7.78125 13.436V8.69343C7.78125 8.25688 8.13515 7.90299 8.57169 7.90299Z" fill="#616577" /> <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7334 7.90299C12.17 7.90299 12.5239 8.25688 12.5239 8.69343V13.436C12.5239 13.8726 12.17 14.2265 11.7334 14.2265C11.2969 14.2265 10.943 13.8726 10.943 13.436V8.69343C10.943 8.25688 11.2969 7.90299 11.7334 7.90299Z" fill="#616577" /> </g> <defs> <clipPath id="clip0"> <rect width="18.9705" height="18.9705" fill="white" transform="translate(0.667328)" /> </clipPath> </defs> </svg>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                   
                </nz-tab>
            </nz-tabset>
        </nz-card>
    </div>
    
</div>


<app-confirmation-modal *ngIf="showModal" [title]="title" [button1]="primaryBtn" [button2]="secondaryBtn" (cancel)="toggleModal()"></app-confirmation-modal>