.container{
    height: 100%;
    display: flex;
}
.half-1{
    // background-color: red;
    width: 50%;
    height: 100%;
}
.half-2{
    width: 50%;
    height: 100%;
}
.head-card ::ng-deep .ant-card-body{
    display: flex;
    width: 100%;
}
.info-card{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    margin: 15px;
    display: flex;
    height: 40%;
    padding: 20px 30px;
}
svg{
    cursor: pointer;
}
.info-card ::ng-deep .ant-card-body{
    width: 100%;
}
.permissions-card{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    height: 95%;
    margin: 15px;
    display: flex;
}
.head-card{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    height: 50px;
    margin: 15px;
    display: flex;
}

.tabs-card{
    height: 100%;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    margin: 15px;
    display: flex;
}
.privacy-card ::ng-deep .ant-card-body{
    width: 100%;
}
.tabs-card ::ng-deep .ant-card-body{
    width: 100%;
}
.options-row{
    display: flex;
    width: 100%;
}
.options-col{
    display: flex;
    align-items: center;
}.ml-15{
    margin-left: 15px;
}
.mr-15{
    margin-right: 15px;
}
.drop-li{
      cursor: pointer;
    height: 50px;
    padding: 15px;
  }
  .sort-options {
    list-style-type: none;
  }
  .parent-ul {
    padding: 0px;
    margin: 0px;
    height: 100px;
  }
  .dropdown-ul{
      width: 140px;
      height: 100px;
  }
  .role-card ::ng-deep .ant-card-body{
    width: 100%;
}
.role-card{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    height: 100%;
    margin: 15px;
    display: flex;
}
.role-table{
    margin: 15px 0px;
    width: 100%;
}
th{
    font-weight: 600;
}
th,td{
    width: 50%;
}

tr, th{
    height: 40px;
    padding: 15px;
}
.role:hover {
    background-color: lightgray;
    cursor: pointer;
    .hide {
      visibility: visible;
    }
  }
  .role-td{
      padding-left: 15px;
  }
  .role-td{
    padding-left: 15px;
}
.hide{
    visibility: hidden;
}
.copy{
    margin-right: 10px;
}
.icons{
    width: 55px;
    display: flex;
    justify-content: space-around;
}
textarea{
  height: 100px;
}
::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #04057e !important;
}

::ng-deep .ant-tabs-tab{
    border-top: none !important;
  border-right: 0px !important;
  border-left: none !important;
}

::ng-deep .ant-tabs-tab:hover{
  color: #04057e !important;
}

::ng-deep .ant-tabs-tab-active{
  background: linear-gradient(
      720.11deg,
      rgba(4, 5, 126, 0.3) 10.23%,
      rgba(4, 5, 126, 0.12) 95.18%
    ) !important;
    color: #04057e !important;
    border-bottom: 3px solid #04057e !important;
}

::ng-deep .ant-tabs-tab .ng-star-inserted .ant-tabs-tab-active{
  border-bottom: 3px solid #04057e !important;
}
.br{
    border-right: 1px solid rgb(236, 236, 236);
    border-bottom: 1px solid rgb(236, 236, 236);
}
.privacy-tabs ::ng-deep .ant-tabs-content-holder{
    height: 300px !important;
}

::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap{
    margin: 10px !important;
    margin-bottom: 0px !important;
}
::ng-deep .ant-tabs>.ant-tabs-nav, .ant-tabs>div>.ant-tabs-nav{
    margin: 0px !important;
}

.privacy-tabs ::ng-deep .ant-tabs-content{
    height: 100%;
}
.search, .tree{
    margin: 10px;
    width: 90%;
}
.custom-col{
    border-right: 1px solid rgb(228, 228, 228); border-bottom: 1px solid rgb(228, 228, 228);
    height: 40px;
    padding: 10px 5px 5px 15px;
}
li.active{
    background: linear-gradient(
      272.11deg,
      rgba(4, 5, 126, 0.3) 0.23%,
      rgba(4, 5, 126, 0.12) 95.18%
    );
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 3px solid #04057e !important;
    color: #04057e !important;
  }