<section class="body-error error-outside">
	<div class="flex-wrapper stretched-row">
		<div class="col-sm-6"><img src="../../../../assets/images/construct.png" alt="404 Page Not Found"></div>
		<div class="col-sm-6">
			<div class="rm-wrapper">
				<h2 class="title">404</h2>
				<h4 class="subtitle">Oh no! page not found</h4>
				<p class="description">The page you're looking for isn't available.
					<br> 
          Try your search again or use the Go Home button below.</p>
        <a routerlink="/" class="btn btn-primary">Go to Home</a></div>
		</div>
	</div>
</section>