:host {
  width: 100%;
  max-width: 712px;
}
::ng-deep .ant-radio-checked .ant-radio-inner{
  border-color: #04057E !important;
}

::ng-deep .ant-radio-inner::after{
  background-color: #04057E !important;
}

::ng-deep .ant-switch{
  border-radius: 12px !important;
}
::ng-deep .ant-picker{
  border-radius: 6px !important;
}
::ng-deep .ant-switch-checked{
  background-color: #04057e !important;
}
.flex{
  display: flex;
}