<form class="auth-form auth-form-large {{buttonStateClass}}" [formGroup]="registerForm" novalidate (ngSubmit)="register()">
    <p class="title">Register</p>
    <div class="form-group">
        <div class="auth-form-wrapper">
            <nz-radio-group formControlName="UserType">
                <label nz-radio checked nzValue="1">Individual</label>
                <label nz-radio nzValue="2">Business</label>
            </nz-radio-group>
        </div>
    </div>
    <div nz-row [nzGutter]="16" class="flex">
        <div nz-col [nzSpan]="12" class="form-group gutter-row">
            <label>Name*</label>
            <input nz-input formControlName="Name" placeholder="Name" class="" />
            <label *ngIf="registerForm.controls['Name'].invalid && ( isSubmitted )" id="name-error" class="error" for="name">
        <span *ngIf="registerForm.controls['Name'].errors.required">This field is required.</span>
      </label>
        </div>

        <div nz-col [nzSpan]="12" class="form-group gutter-row">
            <label>Last Name*</label>
            <input nz-input formControlName="LastName" placeholder="Last Name" class="" />
            <label *ngIf="registerForm.controls['LastName'].invalid && ( isSubmitted )" id="lastname-error" class="error" for="lastname">
        <span *ngIf="registerForm.controls['LastName'].errors.required">This field is required.</span>
      </label>
        </div>
    </div>
    <div nz-row [nzGutter]="16" class="flex">
        <div nz-col [nzSpan]="12" class="form-group gutter-row">
            <label>Password*</label>
            <input nz-input type="password" formControlName="Password" placeholder="Password" class="" />
            <label *ngIf="registerForm.controls['Password'].invalid && ( isSubmitted )" id="fullname-error" class="error" for="fullname">
        <span *ngIf="registerForm.controls['Password'].errors.required">This field is required.</span>
        <span *ngIf="registerForm.controls['Password'].errors.pattern">Password must contain atleast one number and an uppercase letter.</span>
  
      </label>
            <p class="passStrength">Password strength: <span id="strengthSpan" [class]="!registerForm.controls['Password'].valid ? 'weak' : 'strong'">{{!registerForm.controls['Password'].valid ? 'weak' : 'strong'}}</span></p>

        </div>

        <div nz-col [nzSpan]="12" class="form-group gutter-row">
            <label>Confirm Password*</label>
            <input nz-input type="password" formControlName="ConfirmPassword" placeholder="Confirm Password" class="" />
            <label *ngIf="registerForm.controls['ConfirmPassword'].invalid && ( isSubmitted )" id="fullname-error" class="error" for="fullname">
        <span *ngIf="registerForm.controls['ConfirmPassword'].errors.required">This field is required.</span>
        <span *ngIf="registerForm.controls['ConfirmPassword'].errors.confirm">Passwords do not match.</span>
      </label>
        </div>
    </div>
    <div nz-row [nzGutter]="16" class="flex">
        <div nz-col [nzSpan]="12" class="form-group gutter-row">
            <label>Email*</label>
            <input nz-input type="email" formControlName="Email" placeholder="Email" class="" />
            <label *ngIf="registerForm.controls['Email'].invalid && ( isSubmitted )" id="email-error" class="error" for="email">
        <span *ngIf="registerForm.controls['Email'].errors.required">This field is required.</span>
        <span *ngIf="registerForm.controls['Email'].errors.pattern">This field is invalid.</span>
      </label>

        </div>
        <div nz-col [nzSpan]="12" class="form-group gutter-row">
            <label>Confirm Email*</label>
            <input nz-input type="email" formControlName="ConfirmEmail" placeholder="Confirm Email" class="" />
            <label *ngIf="registerForm.controls['ConfirmEmail'].invalid && ( isSubmitted )" id="confirmemail-error" class="error" for="confirmemail">
        <span *ngIf="registerForm.controls['ConfirmEmail'].errors.required">This field is required.</span>
        <span *ngIf="registerForm.controls['ConfirmEmail'].errors.pattern">This field is invalid.</span>
      </label>
            <label *ngIf="registerForm.controls['Email'].value != registerForm.controls['ConfirmEmail'].value && ( isSubmitted )" id="confirmemail-error" class="error" for="confirmemail">
      <span *ngIf="registerForm.controls['ConfirmEmail'].errors.required">Emails do not match.</span>
    </label>
        </div>
    </div>

    <div nz-row [nzGutter]="16" class="flex">
        <div nz-col [nzSpan]="12" class="form-group gutter-row smrt-country-selector">
            <label>Country*</label>
            <nz-select nzPlaceHolder="Country" formControlName="Country" class="" nzShowSearch>
                <nz-option *ngFor="let item of countriesList" [nzValue]="item.alpha3Code" [nzLabel]="item.name"></nz-option>
            </nz-select>
        </div>
        <div nz-col [nzSpan]="12" class="form-group smrt-input-tel">
            <label>Mobile*</label>
            <span class="smrt-country-flag"></span>
            <input nz-input type="tel" formControlName="Mobile" placeholder="+58-37297297" class="" />
        </div>
    </div>

    <div nz-row [nzGutter]="16" class="flex">
        <div nz-col [nzSpan]="12" class="form-group gutter-row">
            <label>Birthday*</label>
            <nz-date-picker formControlName="Birthday" class=""></nz-date-picker>
        </div>
        <div nz-col [nzSpan]="12" class="form-group">
            <nz-radio-group formControlName="Gender" style="display: flex;" class="" nzName="type">
                <label nz-radio nzValue="male">Male</label>
                <label nz-radio nzValue="female">Female</label>
                <label nz-radio nzValue="non-binary">Non binary</label>

            </nz-radio-group>
        </div>
    </div>



    <div class="form-group" style="margin-top: 30px;">
        <nz-switch formControlName="IsPublic"></nz-switch>
        <span style="padding-left: 20px;">Public Account</span>
    </div>

    <div class="form-group">
        <nz-switch formControlName="CanSuggest"></nz-switch>
        <span style="padding-left: 20px;">Send contacts suggestions</span>
    </div>

    <div class="form-group">
        <div id="smrt-google-recaptcha"></div>
    </div>




    <div class="btn-div">
        <button nz-button nzType="primary" class="btn-signup" type="submit">Sign up 
      <i *ngIf="!loading" nz-icon nzType="arrow-right" nzTheme="outline"></i>
      <i *ngIf="loading" nz-icon nzType="loading" nzTheme="outline"></i>
    </button>
    </div>
</form>

<p class="floating-lgn-action">Do you already have an account? Click here to<a class="register" routerLink="/auth/login"> Sign in </a></p>

<app-confirmation-modal *ngIf="showVerification" title="Before proceed please click on the confirmation link sent to your email address. If you have not received the link, please click 'Resend'." button1="Resend" button2="Ok" (cancel)="showVerification = false"
    (yes)="resendVerification()">