<div [class]="split ? 'container-split' : 'container'">
    <div [class]=" split ? 'half-1' : 'full'">
        <nz-card class="head-card">
            <div nz-row class="options-row">
                <div nz-col nzSpan="12" class="options-col">
                    <div *ngIf="selectedContacts.length > 0" class="ml-15"> <load-svg url="/assets/svg/icon-trash-4.svg"
                      (click)="showModal('showDeleteMsg')"></load-svg>
                    </div>
                      <div *ngIf="selectedContacts.length > 0" class="ml-15">  
                        <button
                class="follow"
                nz-button
                nzType="default"
              >
                Accept
              </button>
                      </div>
                      <div class="ml-15">
                        <load-svg url="/assets/svg/icon-check.svg"
                        (click)="selectAll()"></load-svg>
                      </div>
                </div>
                <div nz-col nzSpan="12" class="options-col" style="justify-content: flex-end;">
                    <div class="ml-15">
                        <load-svg url="/assets/svg/icon-sort.svg" (click)="showNotification()"></load-svg>
                    </div>
                      <div class="ml-15">  
                        <input [(ngModel)]="searchValue" (ngModelChange)="searchContact($event)" nz-input placeholder="Search" />
                      </div>
                      <nz-dropdown-menu #sort="nzDropdownMenu">
                        <div class="dropdown-ul">
                            <ul id="parent-ul" class="sort-options">
                                <li id="firstName" class="name active drop-li">Name</li>
                                <li id="lastName" class="drop-li" >Description</li>
                                <!-- <li id="country" (click)="sortByThis('country')">Country / City</li>
                                <li id="birthday" class="birthday">Birthday</li> -->
                            </ul>
                        </div>
                    </nz-dropdown-menu>
                    
                      <div class="ml-15 mr-15">
                        <load-svg url="/assets/svg/icon-filter.svg"
                        nz-dropdown nzTrigger="click"
                        [nzDropdownMenu]="sort"></load-svg>
                      </div>
                </div>
            </div>
        </nz-card>

        <nz-card class="sugg-card">
            <div class="sugg-content">
                <div class="text">Pending Sessions</div>
                <nz-table #basicTable>
                    <tbody>
                      <tr class="padd-10" *ngFor="let res of result">
                        <!-- <div class="letter-head" [id]="'letter-' + res.key">
                          {{ res.key }}
                        </div> -->
                        <div
                          *ngFor="let data of res.contacts"
                          class="contact"
                          [id]="'contact-' + data.id"
                          (click)="viewProfile()"
                        >
                          <td
                            [class]="split ? 'split-chkbox-td' : 'chkbox-td'"
                            [nzChecked]="data.selected"
                            [nzDisabled]="false"
                            (change)="selectContact(data.id)"
                          ></td>
                          <td [class]="split ? 'split-img-td' : 'img-td'">
                            <img class="table-data-img" [src]="data.picture" />
                          </td>
                          <td [class]="split ? 'split-name-td' : 'name-td'">
                            {{ data.firstName + " " + data.lastName }}
                          </td>
                          <td [class]="split ? 'split-email-td' : 'email-td'">
                            {{ data.email }}
                          </td>
                          <td [class]="split ? 'split-phone-td' : 'phone-td'">
                            {{ data.phone }}
                          </td>
                          <td
                            [class]="split ? 'split-options-td hide' : 'options-td hide'"
                          >
                          <div class="smrt-actions">
                            <span style="padding-left: 12px">
                              <load-svg url="/assets/svg/icon-eye.svg"
                              (click)="viewProfile()"></load-svg> </span>
                                    <span style="padding-left: 12px">
                                <button (click)="showModal('showAcceptMsg')"
                                class="follow-2"
                                nz-button
                                nzType="default"
                              >
                                Accept
                              </button> </span>
                              <span style="padding-left: 12px">
                                <load-svg url="/assets/svg/icon-trash-3.svg"
                                (click)="showModal('showDeleteMsg')"></load-svg>
                            </span>
                            </div>
                          </td>
                        </div>
                      </tr>
                    </tbody>
                  </nz-table>
            </div>
        </nz-card>
    </div>
    <div class="half-2" [ngStyle]="{display: split ? 'block' : 'none'}">
      <nz-card class="type-card">
        <div nz-row style="width: 100%; height: 60px; border-bottom: 1px solid rgb(238, 238, 238);">
          <div nz-col nzSpan="13">
            <nz-radio-group [(ngModel)]="profileType" nzName="type">
              <label nz-radio nzValue="1">Individual</label>
              <label nz-radio nzValue="2">Business</label>
            </nz-radio-group>
          </div>
          <div nz-col nzSpan="8" class="m-auto fs-12 mr-5" >
            <span>Creation Date : </span><span>10/3/2021</span>
          </div>
          <div nz-col nzSpan="2" class="m-auto fs-12 ml-0">
            <img class="flag" src="../../../../assets/images/spain-flag.png" />
          </div>
        </div>
        <div nz-row class="profile-row">
          <div nz-col [nzSpan]="split ? '6' : '4'">
            <div nz-row class="options">
              <div (click)="showModal('showDeleteMsg')" nz-col nzSpan="12" class="center pointer" style="border-right: 1px solid lightgrey;">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none">
                  <g clip-path="url(#clip0)">
                  <path d="M10.8849 1.73656H8.67977V1.33562C8.67977 0.671322 8.14126 0.132812 7.47695 0.132812H5.8732C5.2089 0.132812 4.67039 0.671322 4.67039 1.33562V1.73656H2.46523C1.91167 1.73656 1.46289 2.18534 1.46289 2.73891V3.54078C1.46289 3.76222 1.64239 3.94172 1.86383 3.94172H11.4863C11.7078 3.94172 11.8873 3.76222 11.8873 3.54078V2.73891C11.8873 2.18534 11.4385 1.73656 10.8849 1.73656ZM5.47227 1.33562C5.47227 1.11461 5.65219 0.934687 5.8732 0.934687H7.47695C7.69797 0.934687 7.87789 1.11461 7.87789 1.33562V1.73656H5.47227V1.33562Z" fill="#616577"/>
                  <path d="M2.22392 4.74219C2.15238 4.74219 2.09537 4.80198 2.09878 4.87344L2.42955 11.8157C2.46012 12.4582 2.98786 12.9614 3.63086 12.9614H9.7196C10.3626 12.9614 10.8903 12.4582 10.9209 11.8157L11.2517 4.87344C11.2551 4.80198 11.1981 4.74219 11.1265 4.74219H2.22392ZM8.27898 5.74453C8.27898 5.52301 8.4584 5.34359 8.67992 5.34359C8.90144 5.34359 9.08086 5.52301 9.08086 5.74453V10.9567C9.08086 11.1782 8.90144 11.3577 8.67992 11.3577C8.4584 11.3577 8.27898 11.1782 8.27898 10.9567V5.74453ZM6.27429 5.74453C6.27429 5.52301 6.45371 5.34359 6.67523 5.34359C6.89675 5.34359 7.07617 5.52301 7.07617 5.74453V10.9567C7.07617 11.1782 6.89675 11.3577 6.67523 11.3577C6.45371 11.3577 6.27429 11.1782 6.27429 10.9567V5.74453ZM4.2696 5.74453C4.2696 5.52301 4.44902 5.34359 4.67054 5.34359C4.89206 5.34359 5.07148 5.52301 5.07148 5.74453V10.9567C5.07148 11.1782 4.89206 11.3577 4.67054 11.3577C4.44902 11.3577 4.2696 11.1782 4.2696 10.9567V5.74453Z" fill="#616577"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="12.83" height="12.83" fill="white" transform="translate(0.259766 0.132812)"/>
                  </clipPath>
                  </defs>
                  </svg>
              </div>
              <div (click)="showModal('showStarMsg')" nz-col nzSpan="12" class="center pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none">
                  <g clip-path="url(#clip0)">
                  <path d="M13.4054 5.06022C13.3209 4.8004 13.0904 4.61645 12.8189 4.59187L9.1148 4.25559L7.65092 0.828368C7.54284 0.576574 7.29692 0.414062 7.0232 0.414062C6.74947 0.414062 6.50346 0.576574 6.39606 0.828368L4.93219 4.25559L1.22752 4.59187C0.955948 4.61694 0.725985 4.80089 0.641009 5.06022C0.556522 5.32004 0.634547 5.60502 0.839938 5.78516L3.63993 8.24035L2.81435 11.8765C2.75395 12.1439 2.85772 12.4203 3.07956 12.5807C3.1988 12.6673 3.33889 12.7106 3.47947 12.7106C3.60028 12.7106 3.72118 12.6785 3.82917 12.6139L7.0232 10.7041L10.2166 12.6139C10.4509 12.7539 10.7455 12.741 10.9668 12.5807C11.1887 12.4203 11.2924 12.1439 11.232 11.8765L10.4065 8.24035L13.2065 5.78516C13.4117 5.60502 13.4899 5.32063 13.4054 5.06022Z" fill="#616577"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="12.8315" height="12.8315" fill="white" transform="translate(0.607422 0.136719)"/>
                  </clipPath>
                  </defs>
                  </svg>
              </div>
              

              
            </div>
          </div>
            <div nz-col [nzSpan]="split ? '12' : '16'">
                <div class="profile-img">
                    <img *ngIf="profileType == '1'" class="profile" src="../../../../assets/images/profile.PNG">
                    <img *ngIf="profileType == '2'" class="profile" src="../../../../assets/images/business-profile.png">
                </div>
            </div>
            <div nz-col [nzSpan]="split ? '6' : '4'" class="right">
                <!-- <button class="edit" *ngIf="!individualEdit && !businessEdit" nz-button nzType="default" (click)="startEdit()">Edit</button>
                <div *ngIf="individualEdit || businessEdit" class="flex-row">
                <button class="accept-btn" nz-button nzType="default" (click)="accept(profileType == '1' ? 'individualEdit' : 'businessEdit')">Accept</button>
                <button class="apply" nz-button nzType="default" (click)="accept(profileType == '1' ? 'individualEdit' : 'businessEdit')">Apply</button>
              </div> -->
            </div>
          </div>
          <div nz-row class="row-padd paddb-0 mb-20">
            <div nz-col nzSpan="8">
              <label>{{profileType == '1' ? 'Name' : 'Code'}}</label>
              <input nz-input [placeholder]="profileType == '1' ? 'Name' : 'Code'" />
            </div>
            <div nz-col nzSpan="8" class="paddl-14">
              <label>{{profileType == '1' ? 'Middle Name' : 'Name'}}</label>
              <input nz-input [placeholder]="profileType == '1' ? 'Middle Name' : 'Name'" />
            </div>
            <div *ngIf="profileType == '1'" nz-col nzSpan="8" class="paddl-14">
              <label>Last Name</label>
              <input nz-input placeholder="Last Name" />
            </div>
            <div *ngIf="profileType == '1'" nz-col nzSpan="8">
              <label>Second Last Name</label>
              <input nz-input placeholder="Second Last Name" />
            </div>
            <div nz-col nzSpan="8" class="paddl-14 mb-20">
              <label>Nickname</label>
              <input nz-input placeholder="Nickname" />
            </div>
        </div>
        </nz-card>

        <nz-card class="main-account-card">
          <nz-tabset nzType="card">
              <nz-tab class="general-tab" nzTitle="General Details">
                  <div *ngIf="profileType == '1'" nz-row class="padd-custom">
                      <div nz-col nzSpan="8" class="paddt-10">
                          <label>Nickname</label>
                          <input disabled value="13/12/1995" nz-input placeholder="Nickname" />
                        </div>
                        <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                            <!-- <nz-radio-group style="display: flex;margin: 0px !important;
                            margin-top: 15% !important;">
                                <label class="male" nz-radio checked selected nzValue="1">Male</label>
                                <label class="female" nz-radio nzValue="2">Female</label>
                              </nz-radio-group> -->
                              <label>Birthday</label>
                          <input disabled value="Test" nz-input placeholder="Birthday" />
                        </div>
                        <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                          <label>Personal Web Site</label>
                          <input disabled value="Test" nz-input placeholder="Personal Web Site" />
                        </div>
                        
                        <div nz-col nzSpan="12" class="email paddt-10">
                          <input value="Correo1@hotmail.com" nz-input />
                        </div>
                        <div nz-col nzSpan="12" class="paddl-14 paddt-10">
                          <button
                          class="accept"
                          nz-button
                          nzType="default"
                        >
                          Accept
                        </button>
                        </div>
                        <div nz-col nzSpan="8" class="paddt-10">
                          <label>State</label>
                          <input disabled value="Test" nz-input placeholder="State" />
                        </div>
                        <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                          <label>City</label>
                          <input disabled value="Test" nz-input placeholder="City" />
                        </div>
                        <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                            <label>Postal Code</label>
                            <input disabled value="Test" nz-input placeholder="Postal Code" />
                          </div>
        <div nz-col nzSpan="24" class="paddt-10">
                          <label>Address</label>
                          <input disabled value="Test" nz-input placeholder="Address" />
                        </div>
                        <div nz-col nzSpan="8" class="paddt-10">
                            <label>Profession</label>
                            <input disabled value="Test" nz-input placeholder="Profession" />
                          </div>
                        <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                          <label>Occupation</label>
                          <input disabled value="Test" nz-input placeholder="Occupation" />
                        </div>
                        <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                          <label>Company</label>
                          <input disabled value="Test" nz-input placeholder="Company" />
                        </div>
                        <div nz-col nzSpan="8" class="paddt-10">
                          <label>Position</label>
                          <input disabled value="Test" nz-input placeholder="Position" />
                        </div>
                        <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                            <label>Company Web site</label>
                            <input disabled value="Test" nz-input placeholder="Web site" />
                          </div>
                  </div>

                  <div *ngIf="profileType == '2'" nz-row class="padd-custom">
                    <div nz-col nzSpan="8">
                      <label>Establishment Date</label>
                      <input value="Test" nz-input placeholder="Establishment Date" />
                    </div>
                    <div nz-col nzSpan="8" class="paddl-14">
                      <label>Web Page</label>
                      <input value="Test" nz-input placeholder="Web Page" />
                    </div>
                    <div nz-col nzSpan="8" class="paddl-14">
                      <label>ID Number</label>
                      <input value="Test" nz-input placeholder="ID Number" />
                    </div>
                    <div nz-col nzSpan="8">
                      <label>Sector</label>
                      <input value="Test" nz-input placeholder="Sector" />
                    </div>
                    <div nz-col nzSpan="8" class="paddl-14">
                        <label>Address</label>
                        <input value="Test" nz-input placeholder="Address" />
                      </div>
          <div nz-col nzSpan="8" class="paddl-14">
                      <label>Registration Email</label>
                      <input value="Test" nz-input placeholder="Registration Email" />
                    </div>
                    <div nz-col nzSpan="8">
                      <label>State</label>
                      <input value="Test" nz-input placeholder="State" />
                    </div>
                    <div nz-col nzSpan="8" class="paddl-14">
                      <label>City</label>
                      <input value="Test" nz-input placeholder="City" />
                    </div>
                    <div nz-col nzSpan="8" class="paddl-14">
                      <label>Country</label>
                      <input value="Test" nz-input placeholder="Country" />
                    </div>
                    <div nz-col nzSpan="8">
                        <label>Postal Code</label>
                        <input value="Test" nz-input placeholder="Postal Code" />
                      </div>
                      
                      <div nz-col nzSpan="8" class="paddl-14">
                        <label>Position</label>
                        <input value="Test" nz-input placeholder="Position" />
                      </div>
                      <div nz-col nzSpan="8" class="paddl-14">
                          <label>Web site</label>
                          <input value="Test" nz-input placeholder="Web site" />
                        </div>
        <div nz-col nzSpan="8">
                          <label>Notes</label>
                          <input value="Test" nz-input placeholder="Notes" />
                        </div>
                  </div>
              </nz-tab>
              <nz-tab nzTitle="Contact Details">
                <div nz-row class="padd-custom mb-10">
                  <span>Email</span>
                </div>
                <div *ngFor="let email of emails" nz-row class="padd-custom mb-10">
                  <div nz-col nzSpan="20">
                    <input nz-input [value]="email" />
                  </div>
                  <div nz-col nzSpan="4" class="center">
                    <button
                class="follow"
                nz-button
                nzType="default"
              >
                Follow
              </button>
                  </div>
                </div>
                <div nz-row class="padd-custom paddr-25 mb-20">
                  <button (click)="addEmail()"
                class="add-email"
                nz-button
                nzType="default"
              >
                Add Email
              </button>
                </div>
                <div nz-row class="padd-custom">
                  <div nz-col nzSpan="12">
                    <div style="display: flex; flex-direction: row;">
                      <img class="flag2" src="../../../../assets/images/flag.PNG" />
                      <div nz-row>
                        <div nz-col nzSpan="24">
                          <label>Mobile</label>
                          
                      </div>
                      <div nz-col nzSpan="24">
                        <input value="@Test" disabled class="inp" nz-input placeholder="@mikeinsta" />
                      </div>
                      </div>
                    </div>
                  </div>
                  <div nz-col nzSpan="12">
                    <div style="display: flex; flex-direction: row;">
                      <img class="flag2" src="../../../../assets/images/Instagram.png" />
                      <div nz-row>
                        <div nz-col nzSpan="24">
                          <label>Instagram</label>
                          
                      </div>
                      <div nz-col nzSpan="24">
                        <input value="@Test" disabled class="inp" nz-input placeholder="@mikeinsta" />
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div nz-row class="padd-custom">
                  <div nz-col nzSpan="12">
                    <div style="display: flex; flex-direction: row;">
                      <img class="flag2" src="../../../../assets/images/italy-flag.png" />
                      <div nz-row>
                        <div nz-col nzSpan="24">
                          <label>Home</label>
                          
                      </div>
                      <div nz-col nzSpan="24">
                        <input value="123456" disabled class="inp" nz-input placeholder="+58-3124234234" />
                      </div>
                      </div>
                    </div>
                  </div>
                  <div nz-col nzSpan="12">
                    <div style="display: flex; flex-direction: row;">
                      <img class="flag2" src="../../../../assets/images/Snapchat.png" />
                      <div nz-row>
                        <div nz-col nzSpan="24">
                          <label>Snapchat</label>
                          
                      </div>
                      <div nz-col nzSpan="24">
                        <input value="@Test" disabled class="inp" nz-input placeholder="@mikesnapchat" />
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div nz-row class="padd-custom">
                 
    
    
                  <div nz-col nzSpan="12">
                    <div style="display: flex; flex-direction: row;">
                      <img class="flag2" src="../../../../assets/images/flag.PNG" />
                      <div nz-row>
                        <div nz-col nzSpan="24">
                          <label>Mobile</label>
                          
                      </div>
                      <div nz-col nzSpan="24">
                        <input value="@Test" disabled class="inp" nz-input placeholder="@mikeinsta" />
                      </div>
                      </div>
                    </div>
                  </div>
    
    
                  <div nz-col nzSpan="12">
                    <div style="display: flex; flex-direction: row;">
                      <img class="flag2" src="../../../../assets/images/Twitter.png" />
                      <div nz-row>
                        <div nz-col nzSpan="24">
                          <label>Twitter</label>
                          
                      </div>
                      <div nz-col nzSpan="24">
                        <input value="@Test" disabled class="inp" nz-input placeholder="@miketwitter" />
                      </div>
                      </div>
                    </div>
                  </div>
    
                </div>
              </nz-tab>
              <nz-tab nzTitle="Attachments">
                <div class="padd-custom">Attachments</div>
              </nz-tab>
              <nz-tab nzTitle="Privacy">
                </nz-tab>
            </nz-tabset>
      </nz-card>
    </div>
</div>

<app-confirmation-modal *ngIf="showFollowMsg || showAcceptMsg || showDeleteMsg" [title]="
  showFollowMsg ? 'If the user accepts the follow request, he will be able to see your information available on the sit. If you go to his contact details and then privacy settings, you will be able to define what inforamtion the user can be seen. Would you like to continue?
  ' : showAcceptMsg ? 'If you accept the follow request, this user will be able to see your information. Would you like to continue?' : 'Are you sure you want to delete this follow request?'"
  [button1]=" showFollowMsg ? 'Ok' : showDeleteMsg ? 'Yes' : 'Accept'
  "
  [button2]="'Cancel'
  "
  [button3]=" showFollowMsg ? null : showDeleteMsg ? null : 'Reject'
  "
  (cancel)="
  showModal(showFollowMsg ? 'showFollowMsg' : showDeleteMsg ? 'showDeleteMsg' : 'showAcceptMsg')
  "
  >