:host {
  width: 100%;
  max-width: 400px;
}
.forgot {
  float: right;
  color: black;
  font-size: 13px;
}
.logo-div {
  text-align: center;
  margin: 30px 0px;

  img {
    max-width: 180px;
  }
}
i {
  color: white;
}
.custom-div {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}
