<form class="auth-form {{buttonStateClass}}" [formGroup]="loginForm" novalidate (ngSubmit)="loginSubmit()">
  <div class="logo-div">
    <img class="logo" src="../../../../assets/images/connect-logo.png" />
  </div>
  <p class="title">Log in</p>
  <div class="form-group"> 
    <!-- <div class="auth-form-wrapper"> -->
      <label>Email*</label>
      <input nz-input placeholder="Email" formControlName="Email" />
    <!-- </div> -->
    <label
      *ngIf="loginForm.controls['Email'].invalid && ( isSubmitted )"
      id="fullname-error" class="error" for="fullname">
      <span *ngIf="loginForm.controls['Email'].errors.required">This field is required.</span>
      <span *ngIf="loginForm.controls['Email'].errors.pattern">This field is invalid.</span>

    </label>

  </div>

  <div class="form-group" style="margin-bottom: 0px;"> 
    <!-- <div class="auth-form-wrapper">
      <input class="cnn-forminput" [type]="showPass ? 'text' : 'password' " formControlName="Password" placeholder="Password" />
      <i nz-icon nzType="key" nzTheme="outline"></i>
      <span class="floating-icon" (click)="switchPassType()">
        <i nz-icon [nzType]="showPass ? 'eye-invisible' : 'eye'" nzTheme="outline"></i>
      </span>
    </div> -->
    <label>Password*</label>
      <input nz-input type="password" placeholder="Password" formControlName="Password" />
    <label
      *ngIf="loginForm.controls['Password'].invalid && ( isSubmitted )"
      id="fullname-error" class="error" for="fullname">
      <span *ngIf="loginForm.controls['Password'].errors.required">This field is required.</span>
      <span *ngIf="loginForm.controls['Password'].errors.pattern">Password must contain atleast one number and an uppercase letter.</span>
    </label>
  </div>
  <div class="custom-div">
    <p class="passStrength"></p>
    <a class="forgot" routerLink="/auth/forgot-password">Forgot your password?</a>
  </div>

  
  <!-- <button class="cnn-form-button-primary">
    <i class="spinner"></i>
    <span *ngIf="!buttonLoading" class="state">Sign In</span>
    <span *ngIf="buttonLoading" class="state">Authenticating...</span>
  </button> -->
  <div class="btn-div">
    <button nz-button nzType="primary" class="btn-signup" type="submit">Sign in 
      <i *ngIf="!loading" nz-icon nzType="arrow-right" nzTheme="outline"></i>
      <i *ngIf="loading" nz-icon nzType="loading" nzTheme="outline"></i>

    </button>
  </div>

</form>

<p class="floating-lgn-action">Don't have an account yet? <a class="register" routerLink="/auth/register"> Register </a></p>