<div class="h-100 force-full-section">
    <nz-layout class="h-100">
        <nz-header nzTheme="light">
            <div nz-row class="smrt-row-header">
                <div nz-col [nzFlex]="isCollapsed ? '60px' : '200px'">
                    <div id="sider" class="sider-toggle" [class]="isCollapsed ? 'coll-sider-header' : 'exp-sider-header'">
                        <!-- <i *ngIf="url.includes('user')" class="menu-icon" nz-icon nzType="menu" nzTheme="outline"></i> -->
                        <i class="trigger" (click)="collapse()">
              <load-svg url="/assets/svg/icon-bar-chart.svg"></load-svg>
            </i>
                    </div>
                </div>
                <div nz-col class="smrt-header-dropdown" style="margin-left: auto;">
                    <a>
                        <load-svg url="/assets/svg/icon-bell.svg"></load-svg>
                    </a>
                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="gridMenu" class="grid-icon">
                        <load-svg class="grid" url="/assets/svg/icon-grid.svg"></load-svg>

                    </a>
                    <span class="username">{{userInfo?.name}}</span>

                    <span class="profile-img">
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <img class="profile" [src]="userInfo?.profilePicture" onerror="this.src = '../../../../assets/images/user.png'" />
          </a>
          </span>

                </div>
            </div>
            <nz-dropdown-menu style="margin-left: 20px;" class="profile-drop" #menu="nzDropdownMenu">
                <div nz-row class="my-account" [routerLink]="['/connect/user-account']">
                    <div nz-col nzSpan="6" class="center m-auto paddt-8">
                        <load-svg url="/assets/svg/icon-account.svg"></load-svg>
                    </div>
                    <div (click)="goToAccount()" nz-col nzSpan="18" class="m-auto fs-12 lbl">
                        My account
                    </div>
                </div>


                <div (click)="changePassword()" nz-row class="change-password">
                    <div nz-col nzSpan="6" class="center m-auto paddt-5">
                        <svg class="size-15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <g>
                <g>
                  <path class="lbl" style="fill:rgb(97, 101, 119);" d="M437.333,192h-32v-42.667C405.333,66.99,338.344,0,256,0S106.667,66.99,106.667,149.333V192h-32    C68.771,192,64,196.771,64,202.667v266.667C64,492.865,83.135,512,106.667,512h298.667C428.865,512,448,492.865,448,469.333    V202.667C448,196.771,443.229,192,437.333,192z M287.938,414.823c0.333,3.01-0.635,6.031-2.656,8.292    c-2.021,2.26-4.917,3.552-7.948,3.552h-42.667c-3.031,0-5.927-1.292-7.948-3.552c-2.021-2.26-2.99-5.281-2.656-8.292l6.729-60.51    c-10.927-7.948-17.458-20.521-17.458-34.313c0-23.531,19.135-42.667,42.667-42.667s42.667,19.135,42.667,42.667    c0,13.792-6.531,26.365-17.458,34.313L287.938,414.823z M341.333,192H170.667v-42.667C170.667,102.281,208.948,64,256,64    s85.333,38.281,85.333,85.333V192z"/>
                </g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              </svg>
                    </div>
                    <div nz-col nzSpan="18" class="m-auto fs-12 lbl">
                        Change Password
                    </div>
                </div>

                <div nz-row class="deactivate" (click)="deactivate()">
                    <div nz-col nzSpan="6" class="center m-auto paddt-7">

                        <svg class="size-15" xmlns="http://www.w3.org/2000/svg" height="512pt" viewBox="0 -107 512 512" width="512pt"><path class="lbl" style="fill:rgb(97, 101, 119);" d="m362.667969 0h-213.335938c-82.324219 0-149.332031 66.988281-149.332031 149.332031 0 82.347657 67.007812 149.335938 149.332031 149.335938h213.335938c82.324219 0 149.332031-66.988281 149.332031-149.335938 0-82.34375-67.007812-149.332031-149.332031-149.332031zm-213.335938 234.667969c-47.058593 0-85.332031-38.273438-85.332031-85.335938 0-47.058593 38.273438-85.332031 85.332031-85.332031 47.0625 0 85.335938 38.273438 85.335938 85.332031 0 47.0625-38.273438 85.335938-85.335938 85.335938zm0 0"/></svg>

                    </div>
                    <div nz-col nzSpan="18" class="m-auto fs-12 lbl">
                        Deactivate Account
                    </div>
                </div>


                <div nz-row class="log-out" (click)="showModal('showLogoutMsg')">
                    <div nz-col nzSpan="6" class="center m-auto paddt-8 paddl-3">
                        <load-svg url="/assets/svg/icon-logout.svg"></load-svg>
                    </div>
                    <div nz-col nzSpan="18" class="m-auto fs-12 lbl">
                        Log out
                    </div>
                </div>
            </nz-dropdown-menu>


            <nz-dropdown-menu class="grid" #gridMenu="nzDropdownMenu">
                <div nz-row class="smrt-suite-wrapper">
                    <div nz-col nzSpan="6" (click)="goToContacts()" class="center m-auto paddt-8">
                        <load-svg url="/assets/svg/icon-contacts.svg"></load-svg>
                        <span class="smrt-suite-lbl">Contacts</span>
                    </div>
                    <div nz-col nzSpan="6" class="center m-auto paddt-8">
                        <load-svg url="/assets/svg/icon-working-plan.svg"></load-svg> <span class="smrt-suite-lbl">Working Plan</span>
                    </div>
                    <div nz-col nzSpan="6" class="center m-auto paddt-8">
                        <load-svg url="/assets/svg/icon-arp.svg"></load-svg> <span class="smrt-suite-lbl">ARP</span>
                    </div>
                    <div nz-col nzSpan="6" class="center m-auto paddt-8">
                        <load-svg url="/assets/svg/icon-crm.svg"></load-svg> <span class="smrt-suite-lbl">CRM</span>
                    </div>
                </div>

                <div nz-row class="smrt-suite-wrapper">
                    <div nz-col nzSpan="6" class="center m-auto paddt-8">
                        <load-svg url="/assets/svg/icon-crm-2.svg"></load-svg> <span class="smrt-suite-lbl">CRM</span>
                    </div>
                    <div nz-col nzSpan="6" class="center m-auto paddt-8">
                        <load-svg url="/assets/svg/icon-process-flow.svg"></load-svg> <span class="smrt-suite-lbl">Process Flow</span>
                    </div>
                    <div nz-col nzSpan="6" class="center m-auto paddt-8">
                        <load-svg url="/assets/svg/icon-organigram.svg"></load-svg> <span class="smrt-suite-lbl">Organigram</span>
                    </div>
                    <div nz-col nzSpan="6" class="center m-auto paddt-8">
                        <load-svg url="/assets/svg/icon-home.svg"></load-svg> <span class="smrt-suite-lbl">Home</span>
                    </div>
                </div>
            </nz-dropdown-menu>

        </nz-header>
        <nz-layout>
            <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" class="smrt-side-menu" [nzTrigger]="null">
                <ul [class]="isCollapsed ? 'collapse-ul' : 'expand-ul'" nz-menu nzTheme="light" nzMode="inline">
                    <li *ngIf="url.includes('user-account')" class="expand-col" [nzSelected]="url.includes('user-account')" nz-menu-item nzTitle="Contacts">
                        <load-svg url="/assets/svg/icon-lock.svg"></load-svg> <span *ngIf="!isCollapsed" class="ml-10">User account</span>
                    </li>
                    <li *ngIf="url.includes('user-account')" (click)="showModal('showLogoutMsg')" class="expand-col" nz-menu-item nzTitle="Contacts">
                        <load-svg url="/assets/svg/icon-logout.svg"></load-svg> <span *ngIf="!isCollapsed" class="ml-10">Logout</span>
                    </li>
                    <li *ngIf="!url.includes('privacy') && !url.includes('user-account')" (click)="goToPage('contacts')" class="expand-col" [nzSelected]="url.includes('contacts')" nz-menu-item nzTitle="Contacts">
                        <load-svg url="/assets/svg/icon-contacts-2.svg"></load-svg>
                        <nz-badge [nzCount]="20">
                            <a class="head-example"></a>
                        </nz-badge>
                        <span *ngIf="!isCollapsed" class="ml-10">Contacts (20)</span>
                    </li>
                    <li *ngIf="!url.includes('privacy') && !url.includes('user-account')" [nzSelected]="url.includes('connected')" (click)="goToPage('connected')" class="expand-col" nz-menu-item nzTitle="Favourites">
                        <load-svg url="/assets/svg/icon-connected.svg"></load-svg>
                        <nz-badge [nzCount]="9">
                            <a class="head-example"></a>
                        </nz-badge>
                        <span *ngIf="!isCollapsed" class="ml-10">Connected (9)</span>
                    </li>
                    <li *ngIf="!url.includes('privacy') && !url.includes('user-account')" [nzSelected]="url.includes('favourites')" (click)="goToPage('favourites')" class="expand-col" nz-menu-item nzTitle="Favourites">
                        <load-svg url="/assets/svg/icon-favourites.svg"></load-svg>

                        <span *ngIf="!isCollapsed" class="ml-10">Favorites</span>
                    </li>
                    <li *ngIf="!url.includes('privacy') && !url.includes('user-account')" [nzSelected]="url.includes('archives')" (click)="goToPage('archives')" class="expand-col" nz-menu-item nzTitle="Archives">
                        <load-svg url="/assets/svg/icon-archive-2.svg"></load-svg>

                        <span *ngIf="!isCollapsed" class="ml-10">Archive</span>
                    </li>
                    <li *ngIf="!url.includes('privacy') && !url.includes('user-account')" (click)="goToPage('suggestions')" class="expand-col" nz-menu-item nzTitle="Suggestions & Requeests">
                        <load-svg url="/assets/svg/icon-solicitudes.svg"></load-svg>

                        <span *ngIf="!isCollapsed" style="max-width: 120px;overflow: hidden;text-overflow: ellipsis;" title="Suggestions & Requeests" class="ml-10">Suggestions & Requeests</span>
                    </li>

                    <li *ngIf="!url.includes('privacy') && !url.includes('user-account')" id="session" [nzSelected]="url.endsWith('/sessions')" [class]="isCollapsed ? 'col-sessions' : 'expand-col-sessions'" (click)="goToPage('sessions')" nz-menu-item>
                        <ul>
                            <li nz-submenu>
                                <span title>
                    <svg class="side-icons" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"> <g clip-path="url(#clip0)"> <path d="M0.818722 11.6641V17.9163C0.818722 19.0659 1.75406 20.0004 2.90279 20.0004H17.9082C19.0578 20.0004 19.9923 19.0659 19.9923 17.9163V11.6641H0.818722Z" fill="#04057E"/> <path d="M9.87682 1.90625L6.75734 2.64652L9.37078 6.49208L12.7495 5.72348L9.87682 1.90625Z" fill="#04057E"/> <path d="M5.89063 2.85156L2.52857 3.64849L5.1145 7.45822L8.49821 6.68876L5.89063 2.85156Z" fill="#04057E"/> <path d="M19.979 3.63746L19.2696 0.94649C19.1062 0.292075 18.436 -0.119713 17.7749 0.0311611L14.9739 0.6964L17.6315 4.61449L19.6681 4.151C19.7789 4.12599 19.874 4.05679 19.9323 3.96011C19.9907 3.86344 20.0074 3.7475 19.979 3.63746Z" fill="#04057E"/> <path d="M14.1061 0.902344L10.7624 1.69595L13.6401 5.5215L16.7587 4.81207L14.1061 0.902344Z" fill="#04057E"/> <path d="M5.01901 7.49609L3.68521 10.8298H6.95557L8.28937 7.49609H5.01901Z" fill="#04057E"/> <path d="M9.18729 7.49609L7.85349 10.8298H11.1238L12.4576 7.49609H9.18729Z" fill="#04057E"/> <path d="M19.5756 7.49609H17.524L16.1902 10.8306H19.9924V7.91288C19.9923 7.68198 19.8065 7.49609 19.5756 7.49609Z" fill="#04057E"/> <path d="M13.3552 7.49609L12.0214 10.8298H15.2909L16.6255 7.49609H13.3552Z" fill="#04057E"/> <path d="M1.6611 3.85547L0.981677 4.01635C0.650738 4.09137 0.370638 4.29227 0.193074 4.58073C0.01551 4.87001 -0.0370089 5.21014 0.0455208 5.5394L0.818298 8.59381V10.8296H2.78733L4.0386 7.70267L4.24199 7.65684L1.6611 3.85547Z" fill="#04057E"/> </g> <defs> <clipPath id="clip0"> <rect width="20" height="20" fill="white"/> </clipPath> </defs> </svg>
                    <span *ngIf="!isCollapsed" nzSelected class="ml-10">Sessions</span>
                                </span>
                                <ul>
                                    <li nz-menu-item>Mike</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="!url.includes('privacy') && !url.includes('user-account')" [nzSelected]="url.includes('pending-sessions')" (click)="goToPage('pending-sessions')" class="expand-col" nz-menu-item nzTitle="Favourites">
                        <load-svg url="/assets/svg/icon-pending-sessions.svg"></load-svg>

                        <span *ngIf="!isCollapsed" class="ml-10">Pending Sessions</span>
                    </li>

                    <li *ngIf="url.includes('privacy')" [nzSelected]="!url.includes('privacy/information')" [class]="isCollapsed ? 'col-sessions' : 'expand-col-sessions'" (click)="expandAccess()" nz-menu-item nzTitle="Access Control">
                        <ul>
                            <li nz-submenu>
                                <span (click)="routeToTab('privacy')" title>
                    <svg class="side-icons" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                      <g clip-path="url(#clip0)">
                      <g opacity="0.8">
                      <path d="M18.1161 2.30279C15.603 -0.210332 11.514 -0.210293 9.00091 2.30283C7.2843 4.01943 6.68805 6.54916 7.43133 8.84428L0.172656 16.103C0.0627735 16.2129 0.000976562 16.3616 0.000976562 16.5173V19.8321C0.000976562 20.1559 0.263047 20.418 0.586915 20.418H3.90168C4.05731 20.418 4.2061 20.3562 4.31594 20.2463L5.1445 19.4172C5.27094 19.2907 5.33274 19.1133 5.31215 18.9354L5.20914 18.045L6.44282 17.9288C6.72321 17.9025 6.94465 17.6811 6.97098 17.4007L7.08715 16.167L7.97751 16.2706C8.14286 16.2929 8.30938 16.2374 8.43469 16.1264C8.55942 16.0148 8.63094 15.8557 8.63094 15.6887V14.5977H9.70212C9.85774 14.5977 10.0065 14.5359 10.1164 14.426L11.619 12.9433C13.9135 13.6871 16.3995 13.1358 18.1161 11.418C20.6292 8.90494 20.6292 4.81592 18.1161 2.30279ZM16.4585 6.44615C15.773 7.13166 14.6583 7.13166 13.9728 6.44615C13.2873 5.76064 13.2873 4.646 13.9728 3.96049C14.6583 3.27498 15.773 3.27498 16.4585 3.96049C17.144 4.646 17.144 5.76064 16.4585 6.44615Z"/>
                      </g>
                      </g>
                      <defs>
                      <clipPath id="clip0">
                      <rect width="20" height="20" fill="white" transform="translate(0 0.417969)"/>
                      </clipPath>
                      </defs>
                      </svg>
                    <span *ngIf="!isCollapsed" nzSelected class="ml-10">Access Control</span>
                                </span>
                                <ul>
                                    <li (click)="routeToTab('privacy')" [class]="tab == 'privacy' && !isCollapsed ? 'selected' : 'not-selected'" nz-menu-item nzTitle="Access Control">
                                        <svg [class]="tab == 'privacy' && !isCollapsed ? 'side-icons-selected' : 'grey'" xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
                      <g clip-path="url(#clip0)">
                      <path d="M14.0625 7.16797H13.5V4.91797C13.5 2.43622 11.4818 0.417969 9 0.417969C6.51825 0.417969 4.5 2.43622 4.5 4.91797V7.16797H3.9375C3.0075 7.16797 2.25 7.92472 2.25 8.85547V16.7305C2.25 17.6612 3.0075 18.418 3.9375 18.418H14.0625C14.9925 18.418 15.75 17.6612 15.75 16.7305V8.85547C15.75 7.92472 14.9925 7.16797 14.0625 7.16797ZM6 4.91797C6 3.26347 7.3455 1.91797 9 1.91797C10.6545 1.91797 12 3.26347 12 4.91797V7.16797H6V4.91797ZM9.75 12.9595V14.668C9.75 15.082 9.41475 15.418 9 15.418C8.58525 15.418 8.25 15.082 8.25 14.668V12.9595C7.80375 12.6992 7.5 12.2207 7.5 11.668C7.5 10.8407 8.17275 10.168 9 10.168C9.82725 10.168 10.5 10.8407 10.5 11.668C10.5 12.2207 10.1962 12.6992 9.75 12.9595Z" fill="grey" fill-opacity="0.8"/>
                      </g>
                      <defs>
                      <clipPath id="clip0">
                      <rect width="18" height="18" fill="white" transform="translate(0 0.417969)"/>
                      </clipPath>
                      </defs>
                      </svg>
                                        <span class="ml-10">Privacy</span>

                                    </li>
                                    <li (click)="routeToTab('roles')" [class]="tab == 'roles' && !isCollapsed ? 'selected' : 'not-selected'" nz-menu-item nzTitle="Access Control">
                                        <svg [class]="tab == 'roles' && !isCollapsed ? 'side-icons-selected' : 'grey'" xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19">
                      <g clip-path="url(#clip0)">
                      <path d="M14.2207 2.61808L15.0925 2.5091C15.4828 2.45988 15.7605 2.1048 15.7148 1.71105C15.6691 1.34894 15.3738 1.05363 14.9168 1.08878L12.2941 1.41574C11.9039 1.46496 11.6261 1.82003 11.6718 2.21027L11.9953 4.86808C12.0445 5.25831 12.3996 5.53956 12.7898 5.49035C13.18 5.44113 13.4613 5.08605 13.4121 4.6923L13.2925 3.70441C15.757 5.53253 16.78 8.70363 15.8343 11.6392C14.8886 14.5747 12.1113 16.5892 9.04215 16.5962C8.58863 16.5962 8.30035 16.8985 8.2898 17.2923C8.28277 17.686 8.56402 18.0235 9.04215 18.0235C12.7265 18.0235 16.0628 15.6013 17.1949 12.0751C18.3199 8.59113 17.1246 4.81886 14.2207 2.61808Z"/>
                      <path d="M6.00119 13.9641C5.95197 13.5738 5.59689 13.2926 5.20666 13.3418C4.81642 13.391 4.53517 13.7461 4.58439 14.1398L4.70392 15.1277C2.23947 13.2996 1.21642 10.1285 2.16212 7.19297C3.10783 4.25743 5.88517 2.24297 8.95431 2.23594C9.40783 2.23594 9.69611 1.9336 9.70666 1.53985C9.71369 1.1461 9.43244 0.808598 8.95431 0.808598C5.27345 0.805082 1.93712 3.22735 0.805094 6.75352C-0.319906 10.2445 0.875406 14.0168 3.77931 16.2176L2.90744 16.3266C2.5172 16.3758 2.23947 16.7309 2.28517 17.1246C2.33087 17.4867 2.62619 17.782 3.08322 17.7469L5.70587 17.4199C6.09611 17.3707 6.37384 17.0156 6.32814 16.6254L6.00119 13.9641Z"/>
                      </g>
                      <defs>
                      <clipPath id="clip0">
                      <rect width="18" height="18" fill="white" transform="translate(0 0.417969)"/>
                      </clipPath>
                      </defs>
                      </svg>

                                        <span class="ml-10">Roles</span>

                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- <li  [nzSelected]="url.includes('privacy')" (click)="expandAccess()" class="expand-col" nz-menu-item nzTitle="Access Control">
                 <load-svg url="/assets/svg/icon-access-control.svg"></load-svg>
                
                <span *ngIf="!isCollapsed" class="ml-10">Access Control</span>
                
              </li>
              <li (click)="routeToTab('privacy')" *ngIf="accessExpanded" class="expanded-col" nz-menu-item nzTitle="Access Control">
                <load-svg url="/assets/svg/icon-privacy.svg"></load-svg>
                <span *ngIf="!isCollapsed" class="ml-10">Privacy</span>
                
              </li>
              <li (click)="routeToTab('roles')" *ngIf="accessExpanded" class="expanded-col" nz-menu-item nzTitle="Access Control">
                <load-svg url="/assets/svg/icon-roles.svg"></load-svg>
                
                <span *ngIf="!isCollapsed" class="ml-10">Roles</span>
                
              </li> -->

                    <li *ngIf="url.includes('privacy')" [nzSelected]="url.includes('privacy/information')" [class]="isCollapsed ? 'col-sessions' : 'expand-col-sessions'" (click)="expandAccess()" nz-menu-item nzTitle="Access Control">
                        <ul>
                            <li nz-submenu>
                                <span (click)="routeToTab('information')" title>
                    <svg class="side-icons" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
                      <g clip-path="url(#clip0)">
                      <g opacity="0.8">
                      <path d="M1.37868 8.11084C1.48907 8.48931 1.64226 8.85426 1.836 9.19669L1.28407 9.8928C1.10384 10.1203 1.12412 10.4447 1.32687 10.6497L2.27755 11.6004C2.48255 11.8054 2.80695 11.8234 3.03448 11.6432L3.72609 11.0958C4.08203 11.3008 4.4605 11.4607 4.85474 11.5734L4.95836 12.4632C4.99216 12.7516 5.23546 12.9678 5.52381 12.9678H6.86873C7.15708 12.9678 7.40039 12.7515 7.43418 12.4632L7.5333 11.6049C7.95682 11.4945 8.36233 11.3301 8.74305 11.116L9.41212 11.6454C9.63966 11.8257 9.96406 11.8054 10.1691 11.6026L11.1197 10.652C11.3247 10.447 11.3428 10.1226 11.1625 9.89503L10.6421 9.23496C10.8584 8.86098 11.0274 8.46226 11.14 8.04549L11.942 7.95313C12.2304 7.91933 12.4466 7.67603 12.4466 7.38768V6.04276C12.4466 5.75441 12.2304 5.51111 11.942 5.47731L11.1513 5.38495C11.0431 4.97269 10.8809 4.57845 10.6737 4.209L11.1603 3.59398C11.3405 3.36645 11.3203 3.04205 11.1175 2.83705L10.1691 1.88863C9.96408 1.68362 9.63968 1.6656 9.41215 1.84582L8.81516 2.31891C8.42768 2.09138 8.01314 1.91791 7.57838 1.80077L7.48827 1.02806C7.45447 0.739705 7.21117 0.523438 6.92282 0.523438H5.5779C5.28955 0.523438 5.04625 0.739705 5.01245 1.02806L4.92234 1.80077C4.47629 1.92016 4.05051 2.10039 3.65402 2.33693L3.03451 1.84582C2.80697 1.6656 2.48257 1.68588 2.27757 1.88863L1.32689 2.8393C1.12189 3.04431 1.10387 3.36871 1.28409 3.59624L1.80223 4.2518C1.59497 4.62576 1.43728 5.0245 1.33365 5.43902L0.504624 5.53363C0.216268 5.56743 0 5.81073 0 6.09908V7.444C0 7.73235 0.216268 7.97565 0.504624 8.00945L1.37868 8.11084ZM6.25146 4.47259C7.47698 4.47259 8.47497 5.47058 8.47497 6.69609C8.47497 7.92161 7.47698 8.91959 6.25146 8.91959C5.02597 8.91959 4.02796 7.92161 4.02796 6.69609C4.02796 5.47058 5.02595 4.47259 6.25146 4.47259Z" fill="#3A3E55" fill-opacity="0.8"/>
                      <path d="M19.5474 8.44112L18.8377 7.84188C18.6192 7.65715 18.2971 7.66616 18.0898 7.86215L17.6978 8.22936C17.3667 8.06941 17.0153 7.95677 16.6525 7.89144L16.5422 7.35077C16.4859 7.07143 16.2268 6.87769 15.9429 6.90022L15.017 6.97906C14.7332 7.00384 14.5101 7.23588 14.5011 7.52198L14.4831 8.07166C14.1272 8.20007 13.7915 8.37579 13.4851 8.59656L13.0166 8.28568C12.7777 8.12798 12.4601 8.17304 12.2754 8.39156L11.6762 9.10569C11.4914 9.32421 11.5004 9.64636 11.6964 9.85362L12.1064 10.2906C11.9645 10.6105 11.8631 10.9462 11.8045 11.2909L11.2188 11.4103C10.9395 11.4666 10.7457 11.7257 10.7683 12.0095L10.8471 12.9354C10.8719 13.2193 11.1039 13.4423 11.39 13.4513L12.0231 13.4716C12.138 13.7734 12.2889 14.0596 12.4714 14.3276L12.1177 14.8615C11.96 15.1003 12.0051 15.418 12.2236 15.6027L12.9332 16.2019C13.1517 16.3867 13.4739 16.3777 13.6811 16.1817L14.1452 15.7469C14.4493 15.8888 14.7692 15.9947 15.0981 16.0578L15.2265 16.693C15.2829 16.9724 15.5419 17.1661 15.8258 17.1436L16.7517 17.0648C17.0355 17.04 17.2586 16.808 17.2676 16.5218L17.2879 15.9C17.6258 15.7806 17.9456 15.6184 18.2408 15.418L18.7522 15.7559C18.991 15.9136 19.3086 15.8685 19.4933 15.65L20.0926 14.9404C20.2773 14.7219 20.2683 14.3997 20.0723 14.1925L19.66 13.7554C19.811 13.4355 19.9214 13.0976 19.9844 12.7507L20.5476 12.6358C20.827 12.5795 21.0207 12.3204 20.9982 12.0365L20.9193 11.1106C20.8945 10.8268 20.6625 10.6037 20.3764 10.5947L19.811 10.5767C19.6938 10.2478 19.5361 9.93695 19.3401 9.64857L19.6487 9.18449C19.811 8.94574 19.7659 8.62585 19.5474 8.44112ZM16.0578 13.7937C15.0576 13.8793 14.1745 13.1336 14.0911 12.1334C14.0055 11.1332 14.7512 10.2501 15.7514 10.1667C16.7516 10.0811 17.6348 10.8268 17.7181 11.827C17.8037 12.8273 17.058 13.7104 16.0578 13.7937Z" fill="#3A3E55" fill-opacity="0.8"/>
                      <path d="M4.61826 16.2863C4.33441 16.3156 4.11589 16.5544 4.11364 16.8405L4.10688 17.4105C4.10238 17.6966 4.31414 17.9399 4.59799 17.9759L5.01701 18.03C5.08684 18.2846 5.18597 18.5279 5.31438 18.7576L5.04404 19.0911C4.86382 19.3141 4.87733 19.634 5.07783 19.839L5.47658 20.2467C5.67707 20.4517 5.99697 20.4743 6.2245 20.2985L6.56014 20.0395C6.79669 20.1792 7.04677 20.2896 7.30807 20.3661L7.35312 20.7987C7.38241 21.0825 7.62121 21.301 7.90731 21.3033L8.47729 21.3101C8.76337 21.3146 9.00669 21.1028 9.04274 20.8189L9.09455 20.4089C9.37842 20.3391 9.64876 20.2332 9.90555 20.0935L10.2209 20.3481C10.444 20.5283 10.7639 20.5148 10.9689 20.3143L11.3766 19.9156C11.5816 19.7151 11.6042 19.3952 11.4285 19.1676L11.1874 18.8545C11.3361 18.6067 11.451 18.3431 11.5298 18.066L11.9038 18.0277C12.1876 17.9984 12.4061 17.7596 12.4084 17.4735L12.4152 16.9036C12.4197 16.6175 12.2079 16.3741 11.9241 16.3381L11.5591 16.2908C11.4893 16.016 11.3857 15.7501 11.2505 15.5023L11.478 15.223C11.6582 14.9999 11.6447 14.6801 11.4442 14.475L11.0455 14.0673C10.845 13.8623 10.5251 13.8397 10.2976 14.0155L10.025 14.225C9.76816 14.0695 9.49329 13.9501 9.20496 13.869L9.16889 13.5154C9.13961 13.2315 8.90083 13.013 8.61471 13.0107L8.04475 13.004C7.75865 12.9995 7.51535 13.2112 7.47928 13.4951L7.43422 13.8465C7.13688 13.9231 6.85078 14.0403 6.58495 14.1934L6.30335 13.9637C6.08032 13.7834 5.7604 13.797 5.5554 13.9975L5.14539 14.3985C4.94039 14.599 4.91786 14.9189 5.09358 15.1464L5.33463 15.4573C5.19496 15.7051 5.08457 15.9686 5.01248 16.2458L4.61826 16.2863ZM8.29706 15.642C9.11483 15.651 9.77036 16.3246 9.76137 17.1424C9.75236 17.9601 9.07876 18.6157 8.261 18.6067C7.44324 18.5977 6.7877 17.9241 6.79669 17.1063C6.80572 16.2886 7.4793 15.633 8.29706 15.642Z" fill="#3A3E55" fill-opacity="0.8"/>
                      </g>
                      </g>
                      <defs>
                      <clipPath id="clip0">
                      <rect width="21" height="21" fill="white" transform="translate(0 0.417969)"/>
                      </clipPath>
                      </defs>
                      </svg>
                    <span *ngIf="!isCollapsed" nzSelected class="ml-10">Preferences</span>
                                </span>
                                <ul>
                                    <li (click)="routeToTab('information')" [class]="tab == 'information' && !isCollapsed ? 'selected' : 'not-selected'" nz-menu-item nzTitle="Access Control">
                                        <svg [class]="tab == 'information' && !isCollapsed ? 'side-icons-selected' : 'grey'" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                      <g clip-path="url(#clip0)">
                      <path d="M10.0391 0.417969C4.54648 0.417969 0 4.88633 0 10.3789C0 15.8715 4.54648 20.418 10.0391 20.418C15.5316 20.418 20 15.8715 20 10.3789C20 4.88633 15.5316 0.417969 10.0391 0.417969ZM11.2109 15.7305C11.2109 16.3766 10.6848 16.9023 10.0391 16.9023C9.39297 16.9023 8.86719 16.3766 8.86719 15.7305V9.79297C8.86719 9.14688 9.39297 8.62109 10.0391 8.62109C10.6848 8.62109 11.2109 9.14688 11.2109 9.79297V15.7305ZM10.0391 6.27734C9.39297 6.27734 8.86719 5.75156 8.86719 5.10547C8.86719 4.45937 9.39297 3.93359 10.0391 3.93359C10.6848 3.93359 11.2109 4.45937 11.2109 5.10547C11.2109 5.75156 10.6848 6.27734 10.0391 6.27734Z" fill="#04057E"/>
                      </g>
                      <defs>
                      <clipPath id="clip0">
                      <rect width="20" height="20" fill="white" transform="translate(0 0.417969)"/>
                      </clipPath>
                      </defs>
                      </svg>
                                        <span class="ml-10">Information</span>

                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                    <!-- <li *ngIf="url.includes('privacy')" (click)="expandPreference()" class="expand-col" nz-menu-item nzTitle="Access Control">
                <svg class="side-icons" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
                  <g clip-path="url(#clip0)">
                  <g opacity="0.8">
                  <path d="M1.37868 8.11084C1.48907 8.48931 1.64226 8.85426 1.836 9.19669L1.28407 9.8928C1.10384 10.1203 1.12412 10.4447 1.32687 10.6497L2.27755 11.6004C2.48255 11.8054 2.80695 11.8234 3.03448 11.6432L3.72609 11.0958C4.08203 11.3008 4.4605 11.4607 4.85474 11.5734L4.95836 12.4632C4.99216 12.7516 5.23546 12.9678 5.52381 12.9678H6.86873C7.15708 12.9678 7.40039 12.7515 7.43418 12.4632L7.5333 11.6049C7.95682 11.4945 8.36233 11.3301 8.74305 11.116L9.41212 11.6454C9.63966 11.8257 9.96406 11.8054 10.1691 11.6026L11.1197 10.652C11.3247 10.447 11.3428 10.1226 11.1625 9.89503L10.6421 9.23496C10.8584 8.86098 11.0274 8.46226 11.14 8.04549L11.942 7.95313C12.2304 7.91933 12.4466 7.67603 12.4466 7.38768V6.04276C12.4466 5.75441 12.2304 5.51111 11.942 5.47731L11.1513 5.38495C11.0431 4.97269 10.8809 4.57845 10.6737 4.209L11.1603 3.59398C11.3405 3.36645 11.3203 3.04205 11.1175 2.83705L10.1691 1.88863C9.96408 1.68362 9.63968 1.6656 9.41215 1.84582L8.81516 2.31891C8.42768 2.09138 8.01314 1.91791 7.57838 1.80077L7.48827 1.02806C7.45447 0.739705 7.21117 0.523438 6.92282 0.523438H5.5779C5.28955 0.523438 5.04625 0.739705 5.01245 1.02806L4.92234 1.80077C4.47629 1.92016 4.05051 2.10039 3.65402 2.33693L3.03451 1.84582C2.80697 1.6656 2.48257 1.68588 2.27757 1.88863L1.32689 2.8393C1.12189 3.04431 1.10387 3.36871 1.28409 3.59624L1.80223 4.2518C1.59497 4.62576 1.43728 5.0245 1.33365 5.43902L0.504624 5.53363C0.216268 5.56743 0 5.81073 0 6.09908V7.444C0 7.73235 0.216268 7.97565 0.504624 8.00945L1.37868 8.11084ZM6.25146 4.47259C7.47698 4.47259 8.47497 5.47058 8.47497 6.69609C8.47497 7.92161 7.47698 8.91959 6.25146 8.91959C5.02597 8.91959 4.02796 7.92161 4.02796 6.69609C4.02796 5.47058 5.02595 4.47259 6.25146 4.47259Z" fill="#3A3E55" fill-opacity="0.8"/>
                  <path d="M19.5474 8.44112L18.8377 7.84188C18.6192 7.65715 18.2971 7.66616 18.0898 7.86215L17.6978 8.22936C17.3667 8.06941 17.0153 7.95677 16.6525 7.89144L16.5422 7.35077C16.4859 7.07143 16.2268 6.87769 15.9429 6.90022L15.017 6.97906C14.7332 7.00384 14.5101 7.23588 14.5011 7.52198L14.4831 8.07166C14.1272 8.20007 13.7915 8.37579 13.4851 8.59656L13.0166 8.28568C12.7777 8.12798 12.4601 8.17304 12.2754 8.39156L11.6762 9.10569C11.4914 9.32421 11.5004 9.64636 11.6964 9.85362L12.1064 10.2906C11.9645 10.6105 11.8631 10.9462 11.8045 11.2909L11.2188 11.4103C10.9395 11.4666 10.7457 11.7257 10.7683 12.0095L10.8471 12.9354C10.8719 13.2193 11.1039 13.4423 11.39 13.4513L12.0231 13.4716C12.138 13.7734 12.2889 14.0596 12.4714 14.3276L12.1177 14.8615C11.96 15.1003 12.0051 15.418 12.2236 15.6027L12.9332 16.2019C13.1517 16.3867 13.4739 16.3777 13.6811 16.1817L14.1452 15.7469C14.4493 15.8888 14.7692 15.9947 15.0981 16.0578L15.2265 16.693C15.2829 16.9724 15.5419 17.1661 15.8258 17.1436L16.7517 17.0648C17.0355 17.04 17.2586 16.808 17.2676 16.5218L17.2879 15.9C17.6258 15.7806 17.9456 15.6184 18.2408 15.418L18.7522 15.7559C18.991 15.9136 19.3086 15.8685 19.4933 15.65L20.0926 14.9404C20.2773 14.7219 20.2683 14.3997 20.0723 14.1925L19.66 13.7554C19.811 13.4355 19.9214 13.0976 19.9844 12.7507L20.5476 12.6358C20.827 12.5795 21.0207 12.3204 20.9982 12.0365L20.9193 11.1106C20.8945 10.8268 20.6625 10.6037 20.3764 10.5947L19.811 10.5767C19.6938 10.2478 19.5361 9.93695 19.3401 9.64857L19.6487 9.18449C19.811 8.94574 19.7659 8.62585 19.5474 8.44112ZM16.0578 13.7937C15.0576 13.8793 14.1745 13.1336 14.0911 12.1334C14.0055 11.1332 14.7512 10.2501 15.7514 10.1667C16.7516 10.0811 17.6348 10.8268 17.7181 11.827C17.8037 12.8273 17.058 13.7104 16.0578 13.7937Z" fill="#3A3E55" fill-opacity="0.8"/>
                  <path d="M4.61826 16.2863C4.33441 16.3156 4.11589 16.5544 4.11364 16.8405L4.10688 17.4105C4.10238 17.6966 4.31414 17.9399 4.59799 17.9759L5.01701 18.03C5.08684 18.2846 5.18597 18.5279 5.31438 18.7576L5.04404 19.0911C4.86382 19.3141 4.87733 19.634 5.07783 19.839L5.47658 20.2467C5.67707 20.4517 5.99697 20.4743 6.2245 20.2985L6.56014 20.0395C6.79669 20.1792 7.04677 20.2896 7.30807 20.3661L7.35312 20.7987C7.38241 21.0825 7.62121 21.301 7.90731 21.3033L8.47729 21.3101C8.76337 21.3146 9.00669 21.1028 9.04274 20.8189L9.09455 20.4089C9.37842 20.3391 9.64876 20.2332 9.90555 20.0935L10.2209 20.3481C10.444 20.5283 10.7639 20.5148 10.9689 20.3143L11.3766 19.9156C11.5816 19.7151 11.6042 19.3952 11.4285 19.1676L11.1874 18.8545C11.3361 18.6067 11.451 18.3431 11.5298 18.066L11.9038 18.0277C12.1876 17.9984 12.4061 17.7596 12.4084 17.4735L12.4152 16.9036C12.4197 16.6175 12.2079 16.3741 11.9241 16.3381L11.5591 16.2908C11.4893 16.016 11.3857 15.7501 11.2505 15.5023L11.478 15.223C11.6582 14.9999 11.6447 14.6801 11.4442 14.475L11.0455 14.0673C10.845 13.8623 10.5251 13.8397 10.2976 14.0155L10.025 14.225C9.76816 14.0695 9.49329 13.9501 9.20496 13.869L9.16889 13.5154C9.13961 13.2315 8.90083 13.013 8.61471 13.0107L8.04475 13.004C7.75865 12.9995 7.51535 13.2112 7.47928 13.4951L7.43422 13.8465C7.13688 13.9231 6.85078 14.0403 6.58495 14.1934L6.30335 13.9637C6.08032 13.7834 5.7604 13.797 5.5554 13.9975L5.14539 14.3985C4.94039 14.599 4.91786 14.9189 5.09358 15.1464L5.33463 15.4573C5.19496 15.7051 5.08457 15.9686 5.01248 16.2458L4.61826 16.2863ZM8.29706 15.642C9.11483 15.651 9.77036 16.3246 9.76137 17.1424C9.75236 17.9601 9.07876 18.6157 8.261 18.6067C7.44324 18.5977 6.7877 17.9241 6.79669 17.1063C6.80572 16.2886 7.4793 15.633 8.29706 15.642Z" fill="#3A3E55" fill-opacity="0.8"/>
                  </g>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="21" height="21" fill="white" transform="translate(0 0.417969)"/>
                  </clipPath>
                  </defs>
                  </svg>
                
                <span *ngIf="!isCollapsed" class="ml-10">Preferences</span>
                
              </li>
              <li (click)="routeToTab('information')" *ngIf="preferenceExpanded" class="expanded-col" nz-menu-item nzTitle="Access Control">
                <svg class="side-icons" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                  <g clip-path="url(#clip0)">
                  <path d="M10.0391 0.417969C4.54648 0.417969 0 4.88633 0 10.3789C0 15.8715 4.54648 20.418 10.0391 20.418C15.5316 20.418 20 15.8715 20 10.3789C20 4.88633 15.5316 0.417969 10.0391 0.417969ZM11.2109 15.7305C11.2109 16.3766 10.6848 16.9023 10.0391 16.9023C9.39297 16.9023 8.86719 16.3766 8.86719 15.7305V9.79297C8.86719 9.14688 9.39297 8.62109 10.0391 8.62109C10.6848 8.62109 11.2109 9.14688 11.2109 9.79297V15.7305ZM10.0391 6.27734C9.39297 6.27734 8.86719 5.75156 8.86719 5.10547C8.86719 4.45937 9.39297 3.93359 10.0391 3.93359C10.6848 3.93359 11.2109 4.45937 11.2109 5.10547C11.2109 5.75156 10.6848 6.27734 10.0391 6.27734Z" fill="#04057E"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="20" height="20" fill="white" transform="translate(0 0.417969)"/>
                  </clipPath>
                  </defs>
                  </svg>
                
                <span *ngIf="!isCollapsed" class="ml-10">Information</span>
                
              </li> -->
                </ul>
            </nz-sider>
            <nz-layout class="inner-layout">
                <router-outlet></router-outlet>
            </nz-layout>
        </nz-layout>
    </nz-layout>
</div>


<nz-modal nzWrapClassName="sm-deactivate-modal" [(nzVisible)]="showMsg" (nzOnCancel)="cancelled()" [nzFooter]="null" nzTitle="Are you sure you want to deactivate your account?">
    <ng-container *nzModalContent>
        <p class="head">This action is irreversible</p>
        <p class="head2">Previous to deactivate your account, may we know the reason?</p>
        <!-- <nz-card class="reason-card">
      <p nz-dropdown nzTrigger="click" [nzDropdownMenu]="reason" class="reason-label">Select reason <i class="down-icon" nz-icon nzType="caret-down" nzTheme="outline"></i></p>
      <nz-dropdown-menu style="margin-left: 20px;" class="profile-drop" #reason="nzDropdownMenu">
        <ul class="reasons">
          <li class="reason">Test Reason 1</li>
          <li class="reason">Test Reason 2</li>
        </ul>
      </nz-dropdown-menu>
    </nz-card> -->
        <nz-select nzPlaceHolder="Select reason">
            <nz-option nzValue="test1" nzLabel="Test Reason 1"></nz-option>
            <nz-option nzValue="tes2" nzLabel="Test Reason 2"></nz-option>
        </nz-select>
        <div *ngIf="submitted" class="mt-10">
            <label style="font-weight: bold;" nz-label>Enter your password</label>
            <input value="Correo1@hotmail.com" nz-input />
        </div>

        <div class="card-body">
            <button (click)="DeactivateAccount()" class="deactive" nz-button nzType="default">Deactivate account</button>
            <button class="cancel" nz-button nzType="default">Cancel</button>
        </div>
    </ng-container>
</nz-modal>


<app-confirmation-modal *ngIf="showArchiveMsg || showLogoutMsg" [title]="
showArchiveMsg ? 'Are you sure you want to archive this contact?' : 'Are you sure you want to log out?'
" [button1]="
'Yes'
" [button2]="
'No'
" (cancel)="
showModal(showLogoutMsg ? 'showLogoutMsg' : 'showArchiveMsg')
" (yes)="
showLogoutMsg ? logout() : showModal('showArchiveMsg')
">