.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 30px 16px 0;
  float: left;
}

.header-menu {
  line-height: normal;
}

::ng-deep .ant-layout-header {
  height: 50px !important;
  line-height: normal !important;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 0 24px 24px;
}

li {
  padding-left: 0px;
  padding-right: 0px;
}

::ng-deep .anticon:hover, .anticon svg:hover{
  color: #04057e !important;
}

.sider-menu {
  text-align: center;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 24px 100px;
  min-height: 280px;
}

::ng-deep .ant-layout-header {
  padding: 0px !important;
  background: white !important;
  border: 0.5px solid rgb(236, 236, 236) !important;
}

::ng-deep nz-sider {
  flex: 0 0 60px !important;
  min-width: auto !important;
  max-width: fit-content !important;
  // width: 60px !important;
}

::ng-deep .ant-layout-sider-children {
  // width: 60px !important;
  background-color: white;
}

::ng-deep .inner-layout {
  padding: 0px !important;
}

::ng-deep nz-content {
  background-color: rgb(247, 247, 247) !important;
}

svg {
  width: 15px;
  height: 15px;
}

.side-icons {
  fill: #3a3e55 !important;
  width: 17px;
  height: 17px;
  position: relative;
  flex: 0 0 17px;
}

.grey{
  fill: grey !important;
}

.coll-sider-header {
  width: 60px;
  text-align: center;
  border-right: 0.5px solid rgb(236, 236, 236);
}

.exp-sider-header {
  width: 200px;
  text-align: right;
  border-right: 0.5px solid rgb(236, 236, 236);
}

.expand-ul{
  width: 200px;
}

.collapse-ul{
  width: 60px;
}

.expand-col{
  padding: 10px 20px;
  height: 60px;
  display: flex;
  align-items: center;
}
.expand-col-sessions{
  padding: 10px 0px !important;
  background: white;
  height: auto;
}
.col-sessions{
  padding: 10px 4px !important;
  background: white;
  height: auto;
}
::ng-deep .ant-menu-sub.ant-menu-inline{
  position: relative;
  top: 10px;
}
.expand-selected{
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(
    272.11deg,
    rgba(4, 5, 126, 0.3) 0.23%,
    rgba(4, 5, 126, 0.12) 95.18%
  );
}

.expand-col.ant-menu-item.ant-menu-item-selected:before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  background-color: #04057e;
  height: 100%;
  top: 0;
  right: 0;
  animation: aa 0.3s forwards;
  transform: scaleY(0);
}

.expand-col.ant-menu-item.ant-menu-item-selected {
  position: relative;
}
.expand-col-sessions.ant-menu-item.ant-menu-item-selected:before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  background-color: #04057e;
  height: 100%;
  top: 0;
  right: 0;
  animation: aa 0.3s forwards;
  transform: scaleY(0);
}

.expand-col-sessions.ant-menu-item.ant-menu-item-selected {
  position: relative;
}
.col-sessions.ant-menu-item.ant-menu-item-selected:before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  background-color: #04057e;
  height: 100%;
  top: 0;
  right: 0;
  animation: aa 0.3s forwards;
  transform: scaleY(0);
}

.col-sessions.ant-menu-item.ant-menu-item-selected {
  position: relative;
}

@keyframes aa {
  0% {transform: scaleY(0);}
  100% {transform: scaleY(1);}
}

.expanded-col{
  padding: 10px 45px !important;
  height: 60px;
}

.hidden-tab{
  display: none;
}
.sessions-tab:hover{
  .hidden-tab{
    display: inline;
    width: 60px;
    height: 50px;
    padding: 10px;
    background-color: white;
    // margin-left: 40px;
  }
}

.menu-icon {
  position: relative;
}

::ng-deep .ant-menu-inline-collapsed{
  width: 60px !important;
}

::ng-deep .ant-menu-item svg g path {
  fill: rgb(58, 62, 85) !important;
  fill-opacity: 0.8 !important;
}

::ng-deep .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: linear-gradient(
    272.11deg,
    rgba(4, 5, 126, 0.3) 0.23%,
    rgba(4, 5, 126, 0.12) 95.18%
  );
}

::ng-deep .ant-menu-item-selected svg g path,::ng-deep .ant-menu-item-selected svg path {
  fill: #04057e !important;
}

::ng-deep .ant-menu:not(.ant-menu-horizontal) .ant-menu-submenu-selected {
  background: linear-gradient(
    272.11deg,
    rgba(4, 5, 126, 0.3) 0.23%,
    rgba(4, 5, 126, 0.12) 95.18%
  );
}

::ng-deep .ant-menu-submenu-selected svg g path,::ng-deep .ant-menu-submenu-selected svg path {
  fill: #04057e !important;
}

// ::ng-deep .ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title{
//   width: 175px !important;
// }

::ng-deep .ant-menu-inline .ant-menu-item::after,
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after {
  border-right: 3px solid #04057e;
}
.profile-img {
  width: 39px;
  height: 39px;
}
.profile-img .ant-dropdown-link {
  display: block;
}

.smrt-header-dropdown {
  display: flex;
  align-items: center;
  padding-right: 15px;
  height: 100%;
}

.smrt-header-dropdown svg {
  display: block;
}
.noti,
.grid {
  margin: 5px 10px 5px 10px;
}
.username {
  position: relative;
  margin-right: 15px;
}
.profile {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  border: 1px solid #04057e;
  padding: 2px;
  object-fit: cover;
}

.custom-col {
  flex-direction: row;
  text-align: center;
}

.trigger svg {
  width: 22px;
  height: 22px;
  display: block;
  transition: all 0.2s;
}

.coll-sider-header svg {
  transform: scaleX(-1);
}

::ng-deep .ant-dropdown {
  background-color: white !important;
  // width: 150px !important;
  border: 1px solid lightgrey !important;
  border-radius: 10px !important;
  // height: 90px !important;
  box-shadow: 1px 1px 6px 0px lightgray !important;
}

::ng-deep .ant-modal-title {
  font-size: 13px !important;
  font-weight: 600 !important;
}

::ng-deep .ant-modal-close-x .anticon {
  position: absolute !important;
  top: -9px !important;
  right: -7px !important;
  background: white !important;
  border-radius: 50% !important;
  padding: 4px !important;
  font-size: 16px !important;
  /* width: 26px; */
  border: 1px solid #f3f3f3 !important;
  color: #c3c3c3 !important;
  box-shadow: -2px 2px 8px -1px grey !important;
}

::ng-deep .ant-modal-header {
  border: none !important;
  border-radius: 15px !important;
}

::ng-deep .ant-modal-body {
  padding-top: 0px !important;
  padding-bottom: 3px;
}

.head {
  margin-bottom: 4px;
  font-size: 12px;
}

.head2 {
  color: rgb(161, 161, 161);
  font-size: 12px;
}

::ng-deep .ant-modal-content {
  border-radius: 15px !important;
}

nz-card {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 8px 20px;
  padding-bottom: 0px;
  height: 40px;
  flex-direction: row;
}

.reason-card{
  cursor: pointer;
}

::ng-deep .ant-card-body {
  padding: 0px !important;
}

.down-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  color: grey;
}

.deactive:hover {
  color: #04057e;
  border: 1px solid #04057e;
  background-color: white;
  transition: 0.5s;
}

.cancel:hover {
  color: white;
  border: 1px solid white;
  background-color: #04057e;
  transition: 0.5s;
}

.deactive {
  border-radius: 8px;
  cursor: pointer;
  background-color: #04057e;
  border: 1px solid #04057e;
  color: white;
  height: 40px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.reason-label {
  font-size: 12px;
}

.reason{
  line-height: 40px;
}

.reason:hover{
  background: linear-gradient(
    272.11deg,
    rgba(4, 5, 126, 0.3) 0.23%,
    rgba(4, 5, 126, 0.12) 95.18%
  );
  transition: 0.5s;
}

.reasons{
  list-style-type: none; padding: 10px
}

.cancel {
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #04057e;
  color: #04057e;
  height: 40px;
  font-size: 12px;
  margin-left: 10px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.card-body {
  flex-direction: row;
  text-align: center;
  margin: 30px 0px;
  margin-bottom: 25px;
}
.size-15{
  width: 15px;
  height: 15px;
}
.h-100{
  height: 100%;
}

.paddt-5{
  padding-top: 5px;
}

.dropdown{
  width: 330px; padding-top: 10;
}

.paddt-7{
  padding-top: 7px;
}

.dropdown-lbl{
  width: 330px; padding-bottom: 10px;
}

.w-330{
  width: 330px;
}

.paddl-3{
  padding-left: 3px;
}

.my-account {
  height: 40px;
  padding-top: 10px;
  width: 180px;
  cursor: pointer;
}
.my-account:hover, .change-password:hover, .deactivate:hover, .log-out:hover{
  .lbl{
    color: #04057e;
    fill: #04057e;
    transition: 0.5s;
  }
}

.change-password{
  height: 30px; width: 180px; cursor: pointer;
}
.deactivate{
  height: 30px; width: 180px; cursor: pointer;
}
.log-out{
  height: 40px; padding-bottom:10px; width: 180px; cursor: pointer;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.smrt-row-header {
  height: 100%;

  .sider-toggle {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}
.trigger {
  font-size: 18px;
  // line-height: 64px;
  padding: 0 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

li:hover{
  color: #04057e;
  transition: 0.5s;
}

::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector, ::ng-deep .ant-select-dropdown{
  border-radius: 10px !important;
}

::ng-deep .ant-select{
  width: 100% !important;
}

::ng-deep .ant-select-item-option:hover{
  background: linear-gradient(
    272.11deg,
    rgba(4, 5, 126, 0.3) 0.23%,
    rgba(4, 5, 126, 0.12) 95.18%
  );
}

.selected{
  background: linear-gradient(
    272.11deg,
    rgba(4, 5, 126, 0.3) 0.23%,
    rgba(4, 5, 126, 0.12) 95.18%
  );
  color: #04057e;
}
.not-selected{
  background-color: white;
  color: grey;
}

::ng-deep .ant-menu-item-selected, .ant-menu-item-selected a, .ant-menu-item-selected a:hover{
  color: #04057e !important;
}
::ng-deep .ant-submenu-selected, .ant-submenu-selected a, .ant-submenu-selected a:hover{
  color: #04057e !important;
}
.grid-icon{
  margin-right: 8px; 
  margin-left: 8px;
}
.count-badge{
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #04057e;
  background-color: #c9c9d6;
  color: #04057e;
  right: 5px;
  top: 5px;
}
.count{
  font-size: 8px;
}