<div [class]="split ? 'container-split' : 'container'">
    <div [class]=" split ? 'half-1' : 'full'">
      <nz-card class="head-card">
        <div nz-row class="options-row">
            <div nz-col nzSpan="12" class="options-col">
                <div *ngIf="selectedContacts.length > 0" class="ml-15"> <load-svg url="/assets/svg/icon-trash-4.svg"
                  (click)="showModal('showDeleteMsg')"></load-svg>
                </div>
                  <div *ngIf="selectedContacts.length > 0" class="ml-15">  
                    <button
            class="follow"
            nz-button
            nzType="default"
          >
            Follow
          </button>
                  </div>
                  <div class="ml-15">
                    <load-svg url="/assets/svg/icon-check.svg"
                    (click)="selectAll()"></load-svg>
                  </div>
            </div>
            <div nz-col nzSpan="12" class="options-col" style="justify-content: flex-end;">
                <div class="ml-15">
                    <load-svg url="/assets/svg/icon-sort.svg" (click)="showNotification()"></load-svg>
                </div>
                  <div class="ml-15">  
                    <input (ngModelChange)="searchContact($event)" nz-input placeholder="Search" />
                  </div>
                  <nz-dropdown-menu #sort="nzDropdownMenu">
                    <div class="dropdown-ul">
                        <ul id="parent-ul" class="sort-options">
                            <li id="firstName" class="name active drop-li">Name</li>
                            <li id="lastName" class="drop-li" >Description</li>
                            <!-- <li id="country" (click)="sortByThis('country')">Country / City</li>
                            <li id="birthday" class="birthday">Birthday</li> -->
                        </ul>
                    </div>
                </nz-dropdown-menu>
                
                  <div class="ml-15 mr-15">
                    <load-svg url="/assets/svg/icon-filter.svg"
                    nz-dropdown nzTrigger="click"
                    [nzDropdownMenu]="sort"></load-svg>
                  </div>
            </div>
        </div>
    </nz-card>

        <nz-card class="sugg-card">
            <div class="sugg-content">
                <div class="text">Received Follow Requests</div>
                <nz-table #basicTable>
                    <tbody>
                      <tr class="padd-10" *ngFor="let res of result">
                        <!-- <div class="letter-head" [id]="'letter-' + res.key">
                          {{ res.key }}
                        </div> -->
                        <div
                          *ngFor="let data of res.contacts"
                          class="contact"
                          [id]="'contact-' + data.id"
                          (click)="viewProfile()"
                        >
                          <td
                            [class]="split ? 'split-chkbox-td' : 'chkbox-td'"
                            [nzChecked]="data.selected"
                            [nzDisabled]="false"
                            (change)="selectContact(data.id)"
                          ></td>
                          <td [class]="split ? 'split-img-td' : 'img-td'">
                            <img class="table-data-img" [src]="data.picture" />
                          </td>
                          <td [class]="split ? 'split-name-td' : 'name-td'">
                            {{ data.firstName + " " + data.lastName }}
                          </td>
                          <td [class]="split ? 'split-email-td' : 'email-td'">
                            {{ data.email }}
                          </td>
                          <td [class]="split ? 'split-phone-td' : 'phone-td'">
                            {{ data.phone }}
                          </td>
                          <td
                            [class]="split ? 'split-options-td hide' : 'options-td hide'"
                          >
                          <div class="smrt-actions">
                            <span style="padding-left: 12px">
                              <load-svg url="/assets/svg/icon-eye.svg"
                              (click)="viewProfile()"></load-svg> </span>
                                    <span style="padding-left: 12px">
                                <div (click)="showModal('showAcceptMsg')"
                                class="follow-2"
                                
                              >
                                Accept
                              </div> </span>
                              <span style="padding-left: 12px">
                                <load-svg url="/assets/svg/icon-trash-3.svg"
                                (click)="showModal('showDeleteMsg')"></load-svg>
                            </span>
                            </div>
                          </td>
                        </div>
                      </tr>
                    </tbody>
                  </nz-table>
            </div>
        </nz-card>

        <nz-card class="sugg-card">
            <div class="sugg-content">
                <div class="text">Sent Follow Requests</div>
                <nz-table #basicTable>
                    <tbody>
                      <tr class="padd-10" *ngFor="let res of result">
                        <!-- <div class="letter-head" [id]="'letter-' + res.key">
                          {{ res.key }}
                        </div> -->
                        <div
                          *ngFor="let data of res.contacts"
                          class="contact"
                          [id]="'contact-' + data.id"
                          (click)="selectContact(data.id)"
                        >
                          <td
                            [class]="split ? 'split-chkbox-td' : 'chkbox-td'"
                            (change)="selectContact(data.id)"
                            [nzChecked]="data.selected"
                            [nzDisabled]="false"
                          ></td>
                          <td [class]="split ? 'split-img-td' : 'img-td'">
                            <img class="table-data-img" [src]="data.picture" />
                          </td>
                          <td [class]="split ? 'split-name-td' : 'name-td'">
                            {{ data.firstName + " " + data.lastName }}
                          </td>
                          <td [class]="split ? 'split-email-td' : 'email-td'">
                            {{ data.email }}
                          </td>
                          <td [class]="split ? 'split-phone-td' : 'phone-td'">
                            {{ data.phone }}
                          </td>
                          <td
                            [class]="split ? 'split-options-td hide' : 'options-td hide'"
                          >
                          <div class="smrt-actions">
                            <span style="padding-left: 12px">
                                <svg (click)="viewProfile()" class="black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <g clip-path="url(#clip0)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.17636 9.40844C2.25313 9.54112 2.35492 9.7102 2.48101 9.90544C2.80488 10.4069 3.2845 11.0738 3.90717 11.738C5.16534 13.08 6.92439 14.3259 9.10249 14.3259C11.2806 14.3259 13.0396 13.08 14.2978 11.738C14.9205 11.0738 15.4001 10.4069 15.724 9.90544C15.8501 9.7102 15.9518 9.54112 16.0286 9.40844C15.9518 9.27576 15.8501 9.10668 15.724 8.91144C15.4001 8.40997 14.9205 7.74309 14.2978 7.07891C13.0396 5.73686 11.2806 4.49094 9.10249 4.49094C6.92439 4.49094 5.16534 5.73686 3.90717 7.07891C3.2845 7.74309 2.80488 8.40997 2.48101 8.91144C2.35492 9.10668 2.25313 9.27576 2.17636 9.40844ZM16.83 9.40844C17.4583 9.09427 17.4582 9.09403 17.4581 9.09378L17.4569 9.09152L17.4545 9.08672L17.4465 9.07112C17.4398 9.05808 17.4304 9.03985 17.4181 9.01675C17.3937 8.97057 17.3582 8.90491 17.3119 8.82255C17.2193 8.65792 17.083 8.426 16.9042 8.14919C16.5475 7.59691 16.0173 6.85878 15.3228 6.11797C13.9466 4.65001 11.8419 3.08594 9.10249 3.08594C6.36308 3.08594 4.25838 4.65001 2.88217 6.11797C2.18766 6.85878 1.65744 7.59691 1.30076 8.14919C1.12198 8.426 0.985654 8.65792 0.89305 8.82255C0.846722 8.90491 0.811257 8.97057 0.78682 9.01675C0.774598 9.03985 0.765128 9.05808 0.758428 9.07112L0.750456 9.08672L0.748031 9.09152L0.74721 9.09315C0.747081 9.09341 0.74665 9.09427 1.37499 9.40844L0.74665 9.09427C0.647764 9.29204 0.647764 9.52483 0.74665 9.72261L1.37499 9.40844C0.74665 9.72261 0.746521 9.72235 0.74665 9.72261L0.748031 9.72536L0.750456 9.73015L0.758428 9.74576C0.765128 9.75879 0.774598 9.77703 0.78682 9.80013C0.811257 9.84631 0.846722 9.91197 0.89305 9.99433C0.985654 10.159 1.12198 10.3909 1.30076 10.6677C1.65744 11.22 2.18766 11.9581 2.88217 12.6989C4.25838 14.1669 6.36308 15.7309 9.10249 15.7309C11.8419 15.7309 13.9466 14.1669 15.3228 12.6989C16.0173 11.9581 16.5475 11.22 16.9042 10.6677C17.083 10.3909 17.2193 10.159 17.3119 9.99433C17.3582 9.91197 17.3937 9.84631 17.4181 9.80013C17.4304 9.77703 17.4398 9.75879 17.4465 9.74576L17.4545 9.73015L17.4569 9.72536L17.4578 9.72372C17.4579 9.72347 17.4583 9.72261 16.83 9.40844ZM16.83 9.40844L17.4583 9.72261C17.5572 9.52483 17.557 9.29155 17.4581 9.09378L16.83 9.40844Z" fill="black"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.10248 8.00266C8.32652 8.00266 7.69748 8.6317 7.69748 9.40766C7.69748 10.1836 8.32652 10.8127 9.10248 10.8127C9.87844 10.8127 10.5075 10.1836 10.5075 9.40766C10.5075 8.6317 9.87844 8.00266 9.10248 8.00266ZM6.29248 9.40766C6.29248 7.85574 7.55056 6.59766 9.10248 6.59766C10.6544 6.59766 11.9125 7.85574 11.9125 9.40766C11.9125 10.9596 10.6544 12.2177 9.10248 12.2177C7.55056 12.2177 6.29248 10.9596 6.29248 9.40766Z" fill="black"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0">
                                    <rect width="16.86" height="16.86" fill="white" transform="translate(0.672485 0.976562)"/>
                                    </clipPath>
                                    </defs>
                                    </svg> </span>
                                    <span style="padding-left: 12px">
                                <div (click)="showModal('showFollowMsg')"
                                class="follow-2"
                              >
                                Follow
                                    </div> </span>
                              <span style="padding-left: 12px">
                              <svg
                                (click)="showModal('showDeleteMsg')"
                                class="black"
                                xmlns="http://www.w3.org/2000/svg"
                                width="17"
                                height="17"
                                viewBox="0 0 20 19"
                                fill="black"
                              >
                                <g clip-path="url(#clip0)">
                                  <path
                                    class="black"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M2.2482 4.74124C2.2482 4.3047 2.60209 3.95081 3.03864 3.95081H17.2665C17.703 3.95081 18.0569 4.3047 18.0569 4.74124C18.0569 5.17779 17.703 5.53168 17.2665 5.53168H3.03864C2.60209 5.53168 2.2482 5.17779 2.2482 4.74124Z"
                                    fill="black"
                                  />
                                  <path
                                    class="black"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M8.57169 2.36994C8.36205 2.36994 8.161 2.45321 8.01277 2.60145C7.86453 2.74968 7.78125 2.95074 7.78125 3.16037V3.95081H12.5239V3.16037C12.5239 2.95074 12.4406 2.74968 12.2924 2.60145C12.1441 2.45321 11.9431 2.36994 11.7334 2.36994H8.57169ZM14.1047 3.95081V3.16037C14.1047 2.53146 13.8549 1.92831 13.4102 1.4836C12.9655 1.0389 12.3623 0.789062 11.7334 0.789062H8.57169C7.94278 0.789062 7.33963 1.0389 6.89492 1.4836C6.45022 1.92831 6.20038 2.53146 6.20038 3.16037V3.95081H4.61951C4.18296 3.95081 3.82907 4.3047 3.82907 4.74124V15.8074C3.82907 16.4363 4.07891 17.0394 4.52361 17.4841C4.96832 17.9288 5.57147 18.1787 6.20038 18.1787H14.1047C14.7337 18.1787 15.3368 17.9288 15.7815 17.4841C16.2262 17.0394 16.4761 16.4363 16.4761 15.8074V4.74124C16.4761 4.3047 16.1222 3.95081 15.6856 3.95081H14.1047ZM5.40995 5.53168V15.8074C5.40995 16.017 5.49322 16.218 5.64146 16.3663C5.78969 16.5145 5.99075 16.5978 6.20038 16.5978H14.1047C14.3144 16.5978 14.5154 16.5145 14.6637 16.3663C14.8119 16.218 14.8952 16.017 14.8952 15.8074V5.53168H5.40995Z"
                                    fill="black"
                                  />
                                  <path
                                    class="black"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M8.57169 7.90299C9.00824 7.90299 9.36213 8.25688 9.36213 8.69343V13.436C9.36213 13.8726 9.00824 14.2265 8.57169 14.2265C8.13515 14.2265 7.78125 13.8726 7.78125 13.436V8.69343C7.78125 8.25688 8.13515 7.90299 8.57169 7.90299Z"
                                    fill="black"
                                  />
                                  <path
                                    class="black"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M11.7334 7.90299C12.17 7.90299 12.5239 8.25688 12.5239 8.69343V13.436C12.5239 13.8726 12.17 14.2265 11.7334 14.2265C11.2969 14.2265 10.943 13.8726 10.943 13.436V8.69343C10.943 8.25688 11.2969 7.90299 11.7334 7.90299Z"
                                    fill="black"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0">
                                    <rect
                                      width="18.9705"
                                      height="18.9705"
                                      fill="white"
                                      transform="translate(0.667328)"
                                    />
                                  </clipPath>
                                </defs>
                              </svg>
                            </span>
                          </div>
                          </td>
                        </div>
                      </tr>
                    </tbody>
                  </nz-table>
            </div>
        </nz-card>

        <nz-card class="sugg-card">
            <div class="sugg-content">
                <div class="text">Suggestions for you</div>
                <nz-table #basicTable>
                    <tbody>
                      <tr class="padd-10" *ngFor="let res of result">
                        <!-- <div class="letter-head" [id]="'letter-' + res.key">
                          {{ res.key }}
                        </div> -->
                        <div
                          *ngFor="let data of res.contacts"
                          class="contact"
                          [id]="'contact-' + data.id"
                          (click)="selectContact(data.id)"
                        >
                          <td
                            [class]="split ? 'split-chkbox-td' : 'chkbox-td'"
                            (change)="selectContact(data.id)"
                            [nzChecked]="data.selected"
                            [nzDisabled]="false"
                          ></td>
                          <td [class]="split ? 'split-img-td' : 'img-td'">
                            <img class="table-data-img" [src]="data.picture" />
                          </td>
                          <td [class]="split ? 'split-name-td' : 'name-td'">
                            {{ data.firstName + " " + data.lastName }}
                          </td>
                          <td [class]="split ? 'split-email-td' : 'email-td'">
                            {{ data.email }}
                          </td>
                          <td [class]="split ? 'split-phone-td' : 'phone-td'">
                            {{ data.phone }}
                          </td>
                          <td
                            [class]="split ? 'split-options-td hide' : 'options-td hide'"
                          >
                          <div class="smrt-actions">
                            <span (click)="viewProfile()" style="padding-left: 12px">
                                <svg class="black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <g clip-path="url(#clip0)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.17636 9.40844C2.25313 9.54112 2.35492 9.7102 2.48101 9.90544C2.80488 10.4069 3.2845 11.0738 3.90717 11.738C5.16534 13.08 6.92439 14.3259 9.10249 14.3259C11.2806 14.3259 13.0396 13.08 14.2978 11.738C14.9205 11.0738 15.4001 10.4069 15.724 9.90544C15.8501 9.7102 15.9518 9.54112 16.0286 9.40844C15.9518 9.27576 15.8501 9.10668 15.724 8.91144C15.4001 8.40997 14.9205 7.74309 14.2978 7.07891C13.0396 5.73686 11.2806 4.49094 9.10249 4.49094C6.92439 4.49094 5.16534 5.73686 3.90717 7.07891C3.2845 7.74309 2.80488 8.40997 2.48101 8.91144C2.35492 9.10668 2.25313 9.27576 2.17636 9.40844ZM16.83 9.40844C17.4583 9.09427 17.4582 9.09403 17.4581 9.09378L17.4569 9.09152L17.4545 9.08672L17.4465 9.07112C17.4398 9.05808 17.4304 9.03985 17.4181 9.01675C17.3937 8.97057 17.3582 8.90491 17.3119 8.82255C17.2193 8.65792 17.083 8.426 16.9042 8.14919C16.5475 7.59691 16.0173 6.85878 15.3228 6.11797C13.9466 4.65001 11.8419 3.08594 9.10249 3.08594C6.36308 3.08594 4.25838 4.65001 2.88217 6.11797C2.18766 6.85878 1.65744 7.59691 1.30076 8.14919C1.12198 8.426 0.985654 8.65792 0.89305 8.82255C0.846722 8.90491 0.811257 8.97057 0.78682 9.01675C0.774598 9.03985 0.765128 9.05808 0.758428 9.07112L0.750456 9.08672L0.748031 9.09152L0.74721 9.09315C0.747081 9.09341 0.74665 9.09427 1.37499 9.40844L0.74665 9.09427C0.647764 9.29204 0.647764 9.52483 0.74665 9.72261L1.37499 9.40844C0.74665 9.72261 0.746521 9.72235 0.74665 9.72261L0.748031 9.72536L0.750456 9.73015L0.758428 9.74576C0.765128 9.75879 0.774598 9.77703 0.78682 9.80013C0.811257 9.84631 0.846722 9.91197 0.89305 9.99433C0.985654 10.159 1.12198 10.3909 1.30076 10.6677C1.65744 11.22 2.18766 11.9581 2.88217 12.6989C4.25838 14.1669 6.36308 15.7309 9.10249 15.7309C11.8419 15.7309 13.9466 14.1669 15.3228 12.6989C16.0173 11.9581 16.5475 11.22 16.9042 10.6677C17.083 10.3909 17.2193 10.159 17.3119 9.99433C17.3582 9.91197 17.3937 9.84631 17.4181 9.80013C17.4304 9.77703 17.4398 9.75879 17.4465 9.74576L17.4545 9.73015L17.4569 9.72536L17.4578 9.72372C17.4579 9.72347 17.4583 9.72261 16.83 9.40844ZM16.83 9.40844L17.4583 9.72261C17.5572 9.52483 17.557 9.29155 17.4581 9.09378L16.83 9.40844Z" fill="black"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.10248 8.00266C8.32652 8.00266 7.69748 8.6317 7.69748 9.40766C7.69748 10.1836 8.32652 10.8127 9.10248 10.8127C9.87844 10.8127 10.5075 10.1836 10.5075 9.40766C10.5075 8.6317 9.87844 8.00266 9.10248 8.00266ZM6.29248 9.40766C6.29248 7.85574 7.55056 6.59766 9.10248 6.59766C10.6544 6.59766 11.9125 7.85574 11.9125 9.40766C11.9125 10.9596 10.6544 12.2177 9.10248 12.2177C7.55056 12.2177 6.29248 10.9596 6.29248 9.40766Z" fill="black"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0">
                                    <rect width="16.86" height="16.86" fill="white" transform="translate(0.672485 0.976562)"/>
                                    </clipPath>
                                    </defs>
                                    </svg> </span>
                                    <span style="padding-left: 12px">
                                <div (click)="showModal('showFollowMsg')"
                                class="follow-2"
                              >
                                Follow
                              </div> </span>
                              <span style="padding-left: 12px">
                              <svg
                                (click)="showModal('showDeleteMsg')"
                                class="black"
                                xmlns="http://www.w3.org/2000/svg"
                                width="17"
                                height="17"
                                viewBox="0 0 20 19"
                                fill="black"
                              >
                                <g clip-path="url(#clip0)">
                                  <path
                                    class="black"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M2.2482 4.74124C2.2482 4.3047 2.60209 3.95081 3.03864 3.95081H17.2665C17.703 3.95081 18.0569 4.3047 18.0569 4.74124C18.0569 5.17779 17.703 5.53168 17.2665 5.53168H3.03864C2.60209 5.53168 2.2482 5.17779 2.2482 4.74124Z"
                                    fill="black"
                                  />
                                  <path
                                    class="black"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M8.57169 2.36994C8.36205 2.36994 8.161 2.45321 8.01277 2.60145C7.86453 2.74968 7.78125 2.95074 7.78125 3.16037V3.95081H12.5239V3.16037C12.5239 2.95074 12.4406 2.74968 12.2924 2.60145C12.1441 2.45321 11.9431 2.36994 11.7334 2.36994H8.57169ZM14.1047 3.95081V3.16037C14.1047 2.53146 13.8549 1.92831 13.4102 1.4836C12.9655 1.0389 12.3623 0.789062 11.7334 0.789062H8.57169C7.94278 0.789062 7.33963 1.0389 6.89492 1.4836C6.45022 1.92831 6.20038 2.53146 6.20038 3.16037V3.95081H4.61951C4.18296 3.95081 3.82907 4.3047 3.82907 4.74124V15.8074C3.82907 16.4363 4.07891 17.0394 4.52361 17.4841C4.96832 17.9288 5.57147 18.1787 6.20038 18.1787H14.1047C14.7337 18.1787 15.3368 17.9288 15.7815 17.4841C16.2262 17.0394 16.4761 16.4363 16.4761 15.8074V4.74124C16.4761 4.3047 16.1222 3.95081 15.6856 3.95081H14.1047ZM5.40995 5.53168V15.8074C5.40995 16.017 5.49322 16.218 5.64146 16.3663C5.78969 16.5145 5.99075 16.5978 6.20038 16.5978H14.1047C14.3144 16.5978 14.5154 16.5145 14.6637 16.3663C14.8119 16.218 14.8952 16.017 14.8952 15.8074V5.53168H5.40995Z"
                                    fill="black"
                                  />
                                  <path
                                    class="black"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M8.57169 7.90299C9.00824 7.90299 9.36213 8.25688 9.36213 8.69343V13.436C9.36213 13.8726 9.00824 14.2265 8.57169 14.2265C8.13515 14.2265 7.78125 13.8726 7.78125 13.436V8.69343C7.78125 8.25688 8.13515 7.90299 8.57169 7.90299Z"
                                    fill="black"
                                  />
                                  <path
                                    class="black"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M11.7334 7.90299C12.17 7.90299 12.5239 8.25688 12.5239 8.69343V13.436C12.5239 13.8726 12.17 14.2265 11.7334 14.2265C11.2969 14.2265 10.943 13.8726 10.943 13.436V8.69343C10.943 8.25688 11.2969 7.90299 11.7334 7.90299Z"
                                    fill="black"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0">
                                    <rect
                                      width="18.9705"
                                      height="18.9705"
                                      fill="white"
                                      transform="translate(0.667328)"
                                    />
                                  </clipPath>
                                </defs>
                              </svg>
                            </span>
                            </div>
                          </td>
                        </div>
                      </tr>
                    </tbody>
                  </nz-table>
            </div>
        </nz-card>
    </div>
    <div class="half-2" [ngStyle]="{display: split ? 'block' : 'none'}">
      <nz-card class="type-card">
        <div nz-row style="width: 100%; height: 60px; border-bottom: 1px solid rgb(238, 238, 238);">
          <div nz-col nzSpan="13">
            <nz-radio-group [(ngModel)]="profileType" nzName="type">
              <label nz-radio nzValue="1">Individual</label>
              <label nz-radio nzValue="2">Business</label>
            </nz-radio-group>
          </div>
          <div nz-col nzSpan="8" class="m-auto fs-12 mr-5" >
            <span>Creation Date : </span><span>10/3/2021</span>
          </div>
          <div nz-col nzSpan="2" class="m-auto fs-12 ml-0">
            <img class="flag" src="../../../../assets/images/spain-flag.png" />
          </div>
        </div>
        <div nz-row class="profile-row">
          <div nz-col [nzSpan]="split ? '6' : '4'">
            <div nz-row class="options">
              <div (click)="showModal('showDeleteMsg')" nz-col nzSpan="12" class="center pointer" style="border-right: 1px solid lightgrey;">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none">
                  <g clip-path="url(#clip0)">
                  <path d="M10.8849 1.73656H8.67977V1.33562C8.67977 0.671322 8.14126 0.132812 7.47695 0.132812H5.8732C5.2089 0.132812 4.67039 0.671322 4.67039 1.33562V1.73656H2.46523C1.91167 1.73656 1.46289 2.18534 1.46289 2.73891V3.54078C1.46289 3.76222 1.64239 3.94172 1.86383 3.94172H11.4863C11.7078 3.94172 11.8873 3.76222 11.8873 3.54078V2.73891C11.8873 2.18534 11.4385 1.73656 10.8849 1.73656ZM5.47227 1.33562C5.47227 1.11461 5.65219 0.934687 5.8732 0.934687H7.47695C7.69797 0.934687 7.87789 1.11461 7.87789 1.33562V1.73656H5.47227V1.33562Z" fill="#616577"/>
                  <path d="M2.22392 4.74219C2.15238 4.74219 2.09537 4.80198 2.09878 4.87344L2.42955 11.8157C2.46012 12.4582 2.98786 12.9614 3.63086 12.9614H9.7196C10.3626 12.9614 10.8903 12.4582 10.9209 11.8157L11.2517 4.87344C11.2551 4.80198 11.1981 4.74219 11.1265 4.74219H2.22392ZM8.27898 5.74453C8.27898 5.52301 8.4584 5.34359 8.67992 5.34359C8.90144 5.34359 9.08086 5.52301 9.08086 5.74453V10.9567C9.08086 11.1782 8.90144 11.3577 8.67992 11.3577C8.4584 11.3577 8.27898 11.1782 8.27898 10.9567V5.74453ZM6.27429 5.74453C6.27429 5.52301 6.45371 5.34359 6.67523 5.34359C6.89675 5.34359 7.07617 5.52301 7.07617 5.74453V10.9567C7.07617 11.1782 6.89675 11.3577 6.67523 11.3577C6.45371 11.3577 6.27429 11.1782 6.27429 10.9567V5.74453ZM4.2696 5.74453C4.2696 5.52301 4.44902 5.34359 4.67054 5.34359C4.89206 5.34359 5.07148 5.52301 5.07148 5.74453V10.9567C5.07148 11.1782 4.89206 11.3577 4.67054 11.3577C4.44902 11.3577 4.2696 11.1782 4.2696 10.9567V5.74453Z" fill="#616577"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="12.83" height="12.83" fill="white" transform="translate(0.259766 0.132812)"/>
                  </clipPath>
                  </defs>
                  </svg>
              </div>
              <div (click)="showModal('showStarMsg')" nz-col nzSpan="12" class="center pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none">
                  <g clip-path="url(#clip0)">
                  <path d="M13.4054 5.06022C13.3209 4.8004 13.0904 4.61645 12.8189 4.59187L9.1148 4.25559L7.65092 0.828368C7.54284 0.576574 7.29692 0.414062 7.0232 0.414062C6.74947 0.414062 6.50346 0.576574 6.39606 0.828368L4.93219 4.25559L1.22752 4.59187C0.955948 4.61694 0.725985 4.80089 0.641009 5.06022C0.556522 5.32004 0.634547 5.60502 0.839938 5.78516L3.63993 8.24035L2.81435 11.8765C2.75395 12.1439 2.85772 12.4203 3.07956 12.5807C3.1988 12.6673 3.33889 12.7106 3.47947 12.7106C3.60028 12.7106 3.72118 12.6785 3.82917 12.6139L7.0232 10.7041L10.2166 12.6139C10.4509 12.7539 10.7455 12.741 10.9668 12.5807C11.1887 12.4203 11.2924 12.1439 11.232 11.8765L10.4065 8.24035L13.2065 5.78516C13.4117 5.60502 13.4899 5.32063 13.4054 5.06022Z" fill="#616577"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="12.8315" height="12.8315" fill="white" transform="translate(0.607422 0.136719)"/>
                  </clipPath>
                  </defs>
                  </svg>
              </div>
              

              
            </div>
          </div>
            <div nz-col [nzSpan]="split ? '12' : '16'">
                <div class="profile-img">
                    <img *ngIf="profileType == '1'" class="profile" src="../../../../assets/images/profile.PNG">
                    <img *ngIf="profileType == '2'" class="profile" src="../../../../assets/images/business-profile.png">
                </div>
            </div>
            <div nz-col [nzSpan]="split ? '6' : '4'" class="right">
                <!-- <button class="edit" *ngIf="!individualEdit && !businessEdit" nz-button nzType="default" (click)="startEdit()">Edit</button>
                <div *ngIf="individualEdit || businessEdit" class="flex-row">
                <button class="accept-btn" nz-button nzType="default" (click)="accept(profileType == '1' ? 'individualEdit' : 'businessEdit')">Accept</button>
                <button class="apply" nz-button nzType="default" (click)="accept(profileType == '1' ? 'individualEdit' : 'businessEdit')">Apply</button>
              </div> -->
            </div>
          </div>
          <div nz-row class="row-padd paddb-0 mb-20">
            <div nz-col nzSpan="8">
              <label>{{profileType == '1' ? 'Name' : 'Code'}}</label>
              <input nz-input [placeholder]="profileType == '1' ? 'Name' : 'Code'" />
            </div>
            <div nz-col nzSpan="8" class="paddl-14">
              <label>{{profileType == '1' ? 'Middle Name' : 'Name'}}</label>
              <input nz-input [placeholder]="profileType == '1' ? 'Middle Name' : 'Name'" />
            </div>
            <div *ngIf="profileType == '1'" nz-col nzSpan="8" class="paddl-14">
              <label>Last Name</label>
              <input nz-input placeholder="Last Name" />
            </div>
            <div *ngIf="profileType == '1'" nz-col nzSpan="8">
              <label>Second Last Name</label>
              <input nz-input placeholder="Second Last Name" />
            </div>
            <div nz-col nzSpan="8" class="paddl-14 mb-20">
              <label>Nickname</label>
              <input nz-input placeholder="Nickname" />
            </div>
        </div>
        </nz-card>

        <nz-card class="main-account-card">
          <nz-tabset nzType="card">
              <nz-tab class="general-tab" nzTitle="General Details">
                  <div *ngIf="profileType == '1'" nz-row class="padd-custom">
                      <div nz-col nzSpan="8" class="paddt-10">
                          <label>Nickname</label>
                          <input disabled value="13/12/1995" nz-input placeholder="Nickname" />
                        </div>
                        <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                            <!-- <nz-radio-group style="display: flex;margin: 0px !important;
                            margin-top: 15% !important;">
                                <label class="male" nz-radio checked selected nzValue="1">Male</label>
                                <label class="female" nz-radio nzValue="2">Female</label>
                              </nz-radio-group> -->
                              <label>Birthday</label>
                          <input disabled value="Test" nz-input placeholder="Birthday" />
                        </div>
                        <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                          <label>Personal Web Site</label>
                          <input disabled value="Test" nz-input placeholder="Personal Web Site" />
                        </div>
                        
                        <div nz-col nzSpan="12" class="email paddt-10">
                          <input value="Correo1@hotmail.com" nz-input />
                        </div>
                        <div nz-col nzSpan="12" class="paddl-14 paddt-10">
                          <button
                          class="accept"
                          nz-button
                          nzType="default"
                        >
                          Accept
                        </button>
                        </div>
                        <div nz-col nzSpan="8" class="paddt-10">
                          <label>State</label>
                          <input disabled value="Test" nz-input placeholder="State" />
                        </div>
                        <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                          <label>City</label>
                          <input disabled value="Test" nz-input placeholder="City" />
                        </div>
                        <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                            <label>Postal Code</label>
                            <input disabled value="Test" nz-input placeholder="Postal Code" />
                          </div>
        <div nz-col nzSpan="24" class="paddt-10">
                          <label>Address</label>
                          <input disabled value="Test" nz-input placeholder="Address" />
                        </div>
                        <div nz-col nzSpan="8" class="paddt-10">
                            <label>Profession</label>
                            <input disabled value="Test" nz-input placeholder="Profession" />
                          </div>
                        <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                          <label>Occupation</label>
                          <input disabled value="Test" nz-input placeholder="Occupation" />
                        </div>
                        <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                          <label>Company</label>
                          <input disabled value="Test" nz-input placeholder="Company" />
                        </div>
                        <div nz-col nzSpan="8" class="paddt-10">
                          <label>Position</label>
                          <input disabled value="Test" nz-input placeholder="Position" />
                        </div>
                        <div nz-col nzSpan="8" class="paddl-14 paddt-10">
                            <label>Company Web site</label>
                            <input disabled value="Test" nz-input placeholder="Web site" />
                          </div>
                  </div>

                  <div *ngIf="profileType == '2'" nz-row class="padd-custom">
                    <div nz-col nzSpan="8">
                      <label>Establishment Date</label>
                      <input value="Test" nz-input placeholder="Establishment Date" />
                    </div>
                    <div nz-col nzSpan="8" class="paddl-14">
                      <label>Web Page</label>
                      <input value="Test" nz-input placeholder="Web Page" />
                    </div>
                    <div nz-col nzSpan="8" class="paddl-14">
                      <label>ID Number</label>
                      <input value="Test" nz-input placeholder="ID Number" />
                    </div>
                    <div nz-col nzSpan="8">
                      <label>Sector</label>
                      <input value="Test" nz-input placeholder="Sector" />
                    </div>
                    <div nz-col nzSpan="8" class="paddl-14">
                        <label>Address</label>
                        <input value="Test" nz-input placeholder="Address" />
                      </div>
          <div nz-col nzSpan="8" class="paddl-14">
                      <label>Registration Email</label>
                      <input value="Test" nz-input placeholder="Registration Email" />
                    </div>
                    <div nz-col nzSpan="8">
                      <label>State</label>
                      <input value="Test" nz-input placeholder="State" />
                    </div>
                    <div nz-col nzSpan="8" class="paddl-14">
                      <label>City</label>
                      <input value="Test" nz-input placeholder="City" />
                    </div>
                    <div nz-col nzSpan="8" class="paddl-14">
                      <label>Country</label>
                      <input value="Test" nz-input placeholder="Country" />
                    </div>
                    <div nz-col nzSpan="8">
                        <label>Postal Code</label>
                        <input value="Test" nz-input placeholder="Postal Code" />
                      </div>
                      
                      <div nz-col nzSpan="8" class="paddl-14">
                        <label>Position</label>
                        <input value="Test" nz-input placeholder="Position" />
                      </div>
                      <div nz-col nzSpan="8" class="paddl-14">
                          <label>Web site</label>
                          <input value="Test" nz-input placeholder="Web site" />
                        </div>
        <div nz-col nzSpan="8">
                          <label>Notes</label>
                          <input value="Test" nz-input placeholder="Notes" />
                        </div>
                  </div>
              </nz-tab>
              <nz-tab nzTitle="Contact Details">
                <div nz-row class="padd-custom mb-10">
                  <span>Email</span>
                </div>
                <div *ngFor="let email of emails" nz-row class="padd-custom mb-10">
                  <div nz-col nzSpan="20">
                    <input nz-input [value]="email" />
                  </div>
                  <div nz-col nzSpan="4" class="center">
                    <button
                class="follow"
                nz-button
                nzType="default"
              >
                Follow
              </button>
                  </div>
                </div>
                <div nz-row class="padd-custom paddr-25 mb-20">
                  <button (click)="addEmail()"
                class="add-email"
                nz-button
                nzType="default"
              >
                Add Email
              </button>
                </div>
                <div nz-row class="padd-custom">
                  <div nz-col nzSpan="12">
                    <div style="display: flex; flex-direction: row;">
                      <img class="flag2" src="../../../../assets/images/flag.PNG" />
                      <div nz-row>
                        <div nz-col nzSpan="24">
                          <label>Mobile</label>
                          
                      </div>
                      <div nz-col nzSpan="24">
                        <input value="@Test" disabled class="inp" nz-input placeholder="@mikeinsta" />
                      </div>
                      </div>
                    </div>
                  </div>
                  <div nz-col nzSpan="12">
                    <div style="display: flex; flex-direction: row;">
                      <img class="flag2" src="../../../../assets/images/Instagram.png" />
                      <div nz-row>
                        <div nz-col nzSpan="24">
                          <label>Instagram</label>
                          
                      </div>
                      <div nz-col nzSpan="24">
                        <input value="@Test" disabled class="inp" nz-input placeholder="@mikeinsta" />
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div nz-row class="padd-custom">
                  <div nz-col nzSpan="12">
                    <div style="display: flex; flex-direction: row;">
                      <img class="flag2" src="../../../../assets/images/italy-flag.png" />
                      <div nz-row>
                        <div nz-col nzSpan="24">
                          <label>Home</label>
                          
                      </div>
                      <div nz-col nzSpan="24">
                        <input value="123456" disabled class="inp" nz-input placeholder="+58-3124234234" />
                      </div>
                      </div>
                    </div>
                  </div>
                  <div nz-col nzSpan="12">
                    <div style="display: flex; flex-direction: row;">
                      <img class="flag2" src="../../../../assets/images/Snapchat.png" />
                      <div nz-row>
                        <div nz-col nzSpan="24">
                          <label>Snapchat</label>
                          
                      </div>
                      <div nz-col nzSpan="24">
                        <input value="@Test" disabled class="inp" nz-input placeholder="@mikesnapchat" />
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div nz-row class="padd-custom">
                 
    
    
                  <div nz-col nzSpan="12">
                    <div style="display: flex; flex-direction: row;">
                      <img class="flag2" src="../../../../assets/images/flag.PNG" />
                      <div nz-row>
                        <div nz-col nzSpan="24">
                          <label>Mobile</label>
                          
                      </div>
                      <div nz-col nzSpan="24">
                        <input value="@Test" disabled class="inp" nz-input placeholder="@mikeinsta" />
                      </div>
                      </div>
                    </div>
                  </div>
    
    
                  <div nz-col nzSpan="12">
                    <div style="display: flex; flex-direction: row;">
                      <img class="flag2" src="../../../../assets/images/Twitter.png" />
                      <div nz-row>
                        <div nz-col nzSpan="24">
                          <label>Twitter</label>
                          
                      </div>
                      <div nz-col nzSpan="24">
                        <input value="@Test" disabled class="inp" nz-input placeholder="@miketwitter" />
                      </div>
                      </div>
                    </div>
                  </div>
    
                </div>
              </nz-tab>
              <nz-tab nzTitle="Attachments">
                <div class="padd-custom">Attachments</div>
              </nz-tab>
              <nz-tab nzTitle="Privacy">
                </nz-tab>
            </nz-tabset>
      </nz-card>
    </div>
</div>

<app-confirmation-modal *ngIf="showFollowMsg || showAcceptMsg || showDeleteMsg" [title]="
  showFollowMsg ? 'If the user accepts the follow request, he will be able to see your information available on the sit. If you go to his contact details and then privacy settings, you will be able to define what inforamtion the user can be seen. Would you like to continue?
  ' : showAcceptMsg ? 'If you accept the request, the requester will be able to see your available information. If you accept and add, the requester will be able to see your available information and will be added to your contact list.' : 'Are you sure you want to delete this follow request?'"
  [button1]=" showFollowMsg ? 'Ok' : showDeleteMsg ? 'Yes' : 'Accept'
  "
  [button2]="'Cancel'
  "
  [button3]=" showFollowMsg ? null : showDeleteMsg ? null : 'Accept and Add'
  "
  (cancel)="
  showModal(showFollowMsg ? 'showFollowMsg' : showDeleteMsg ? 'showDeleteMsg' : 'showAcceptMsg')
  "
  >