.container{
    // display: flex;
}
.container-split{
  height: 100%;
  display: flex;
}
.half-1{
    width: 50%;
    height: 100%;
}
.full{
    // background-color: red;
    width: 100%;
    height: 100%;
}
.head-card, .type-card, .main-account-card, .sugg-card, .tabs-card, .permissions-card, .privacy-card{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    height: 50px;
    margin: 15px;
    display: flex;
}
.type-card{
  height: 50%;
}
.main-account-card{
  height: 100%;
}
.sugg-card{
    height: 360px;
    overflow: auto;
}
.head-card ::ng-deep .ant-card-body{
    display: flex;
    width: 100%;
}
.accept {
  border-radius: 8px;
  background-color: #04057e;
  border: 1px solid white;
  color: white;
  margin-top: 10px;
}
.accept:hover {
    border-radius: 8px;
    background-color:  white;
    border: 1px solid #04057e;
    color: #04057e;
    transition: 0.5s;
  }
  .email{
    position: relative;
    bottom: -10px;
  }
.padd-custom{
  padding: 0px 15px;
}
.type-card ::ng-deep .ant-card-body{
  width: 100%;
}
.main-account-card ::ng-deep .ant-card-body{
  width: 100%;
}
.mb-20{
  margin-bottom: 20px;
}
.sugg-card ::ng-deep .ant-card-body{
    display: flex;
    width: 100%;
}
.options-col{
    display: flex;
    align-items: center;
}
.half-2{
    width: 50%;
    height: 100%;
}
.options-row{
    display: flex;
    width: 100%;
}
.ml-15{
    margin-left: 15px;
}
.follow {
    border-radius: 8px;
    background-color: white;
    border: 1px solid #04057e;
    color: #04057e;
  }
  .paddr-25{
    padding-right: 25px;
  }
  .mb-10{
    margin-bottom: 10px;
  }
  ::ng-deep .ant-radio-checked .ant-radio-inner{
    border-color: #04057E !important;
  }
  
  ::ng-deep .ant-radio-inner::after{
    background-color: #04057E !important;
  }
  .follow:hover {
      border-radius: 8px;
      background-color:  #04057e;
      transition: 0.5s;
      background-color: #04057e;
      color: white;
    }
    .add-email {
      border-radius: 8px;
      width: 100%;
      background-color: white;
      border: 1px dotted #04057e;
      color: #04057e;
    }
    .follow-2 {
        border-radius: 8px;
        background-color: #04057e;
        border: 1px solid white;
        color: white;
        padding: 5px 10px;
      }
      .follow-2:hover {
          border-radius: 8px;
          background-color:  white;
          transition: 0.5s;
          background-color: white;
          color: #04057e;
        }
    .mr-15{
        margin-right: 15px;
    }
    .sugg-content{
        padding: 15px;
        width: 100%;
    }
    .text{
        color: #04057e;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 20px;
    }
    ::ng-deep .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #04057e !important;
        border-color: #04057e !important;
      }
      
      ::ng-deep .ant-checkbox-inner {
        border-radius: 4px !important;
      }
      
      .letter-head {
        padding: 12px;
        padding-left: 23px;
        font-size: 16px;
        color: #04057e;
        font-weight: bold;
        text-transform: capitalize;
      }
      
      .split-chkbox-td{
        width: 8% !important;
        padding-right: 0px;
        padding-left: 6px !important;
      }
      
      .w-50 {
        width: 50%;
      }
      .w-100 {
        width: 100%;
      }
      
      .chkbox-td {
        width: 2%;
        padding-right: 0px;
        padding-left: 6px !important;
      }
      
      .img-td {
        width: 5%;
        padding-left: 0px;
        padding-right: 5px;
        text-align: center;
      }
      .name-td {
        padding-left: 0px;
        width: 20%;
      }
      .email-td {
        padding-left: 0px;
        width: 20%;
        color: grey;
      }
      .phone-td {
        padding-left: 0px;
        width: 20%;
        color: grey;
      }
      .split-img-td {
        width: 12%;
        padding-left: 0px;
        padding-right: 5px;
        text-align: center;
      }
      .split-name-td {
        padding-left: 0px;
        width: 20%;
      }
      .split-email-td {
        padding-left: 0px;
        width: 25%;
        color: grey;
      }
      .split-phone-td {
        padding-left: 0px;
        width: 16%;
        color: grey;
      }
      .split-options-td {
        padding-left: 0px;
        width: 20%;
      }
      .options-td{
        padding-left: 0px;
        width: 12%;
      }
      ::ng-deep .ant-table-tbody > tr.ant-table-placeholder {
        display: none;
      }
      .contact {
        cursor: pointer;
        padding: 3px 0px;
      }
      .table-data-img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
      .hide {
        visibility: hidden;
        flex-direction: row;
        padding-left: 10px;
        width: 11%;
      }
      .contact:hover {
        .hide {
          visibility: visible;
        }
      }
      svg{
        cursor: pointer;
      }
      
      .flag {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .profile-row{
        border-top: 1px solid lightgrey;
        padding: 15px; 
        padding-bottom: 0px;
      }
      .half-2{
        width: 50%;
        height: 100%;
    }
    
    ::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
        color: #04057e !important;
    }
  
    ::ng-deep .ant-tabs-tab{
        border-top: none !important;
      border-right: 0px !important;
      border-left: none !important;
  }
  
  ::ng-deep .ant-tabs-tab:hover{
      color: #04057e !important;
  }
  
    ::ng-deep .ant-tabs-tab-active{
      background: linear-gradient(
          720.11deg,
          rgba(4, 5, 126, 0.3) 10.23%,
          rgba(4, 5, 126, 0.12) 95.18%
        ) !important;
        color: #04057e !important;
        border-bottom: 3px solid #04057e !important;
    }
  
    ::ng-deep .ant-tabs-tab .ng-star-inserted .ant-tabs-tab-active{
      border-bottom: 3px solid #04057e !important;
    }
    .flag2 {
      position: relative;
      top: 20px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .paddt-10{
      padding-top: 10px;
    }
    .profile-img {
      width: 100px;
      height: 100px;
      margin: auto;
    }
    .options{
      padding: 5px;
      border: 1px solid lightgray;
      border-radius: 8px;
      width: 60%;
    }
    .center{
      text-align: center;
    }
    .right{
      text-align: right;
    }
    ::ng-deep .ant-tabs>.ant-tabs-nav, .ant-tabs>div>.ant-tabs-nav{
      margin: 10px !important;
    }