<div class="dashboard-container">
    <div class="cards">
        <nz-card class="type-card">
            <div nz-row class="custom-padd">
                <div nz-col [nzSpan]="'18'">
                    <nz-radio-group [(ngModel)]="profileType" (ngModelChange)="typeChanged()" nzName="type">
                        <label nz-radio nzValue="1">Individual</label>
                        <label nz-radio nzValue="2">Business</label>
                    </nz-radio-group>
                </div>
                <div nz-col [nzSpan]="'3'" class="m-auto fs-12 mr-5">
                    <span>Creation Date : </span><span>10/3/2021</span>
                </div>
                <div nz-col nzSpan="1" class="m-auto fs-12 ml-0">
                    <img class="flag" src="../../../../assets/images/spain-flag.png" />
                </div>
            </div>


        </nz-card>
        <nz-card class="main-card">
            <form [formGroup]="userForm">
                <div nz-row>
                    <div nz-col [nzSpan]="'4'">
                        <!-- <div *ngIf="inherited" nz-row class="options">
                        <div (click)="showModal('showDeleteMsg')" nz-col nzSpan="12" class="center pointer" style="border-right: 1px solid lightgrey;">
                            <load-svg url="/assets/svg/icon-delete.svg"></load-svg>
                        </div>
                        <div (click)="showModal('showStarMsg')" nz-col nzSpan="12" class="center pointer">
                            <load-svg url="/assets/svg/icon-favourite.svg"></load-svg>
                        </div>
                    </div> -->
                    </div>
                    <div nz-col class="smrt-profile-wrapper" [nzSpan]="'16'">
                        <div class="profile-img">
                            <img *ngIf="profileType == '1'" id="indImg" class="profile" [src]="userPayload ? userPayload.profilePicture : '../../../../assets/images/profile.PNG'">
                            <img *ngIf="profileType == '2'" id="busImg" class="profile" src="../../../../assets/images/business-profile.png">

                            <label class="profile-img-label" for="profileimg-upload">
                                Edit Image
                                <input (change)="pictureChanged($event)" accept="image/*" type="file" id="profileimg-upload" />
                                <input type="hidden" formControlName="profilePicture" />
                            </label>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="'4'" class="right">
                        <button class="edit" *ngIf="!individualEdit && !businessEdit" nz-button nzType="default" (click)="startEdit()">Edit</button>
                        <div *ngIf="individualEdit || businessEdit" class="flex-row">
                            <button class="accept-btn" nz-button nzType="default" (click)="accept(profileType == '1' ? 'individualEdit' : 'businessEdit')">Accept</button>
                            <button class="apply" nz-button nzType="default" (click)="cancel(profileType == '1' ? 'individualEdit' : 'businessEdit')">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="heading-1">
                    General Info
                </div>
                <div nz-row class="row-padd paddb-0">
                    <div *ngIf="profileType == '1'" nz-col nzSpan="6">
                        <label>First Name</label>
                        <input formControlName="firstName" nz-input placeholder="First Name" />
                    </div>
                    <div *ngIf="profileType == '2'" nz-col nzSpan="6">
                        <label>Code</label>
                        <input nz-input formControlName="firstName" placeholder="Code" />
                    </div>
                    <div *ngIf="profileType == '1'" nz-col nzSpan="6" class="paddl-14">
                        <label>Last Name</label>
                        <input formControlName="lastName" nz-input placeholder="Last Name" />
                    </div>
                    <div *ngIf="profileType == '2'" nz-col nzSpan="6" class="paddl-14">
                        <label>Name</label>
                        <input nz-input formControlName="lastName" placeholder="Name" />
                    </div>
                    <!-- <div *ngIf="profileType == '1'" nz-col nzFlex="1" class="paddl-14">
                    <label>Last Name</label>
                    <input nz-input placeholder="Last Name" />
                  </div> -->
                    <!-- <div *ngIf="profileType == '1'" nz-col nzFlex="1" class="paddl-14">
                    <label [class]="inherited && 'second-last'">Second Last Name</label>
                    <input nz-input placeholder="Second Last Name" />
                  </div>
                  <div nz-col nzFlex="1" class="paddl-14">
                    <label>Nickname</label>
                    <input nz-input placeholder="Nickname" />
                  </div> -->
                </div>

                <div class="heading mt-15">
                    General Details
                </div>
                <div [nzGutter]="16" *ngIf="profileType == '1'" nz-row class="row-padd">
                    <div nz-col nzSpan="6">
                        <nz-radio-group style="display: flex;">
                            <label class="male" nz-radio checked nzValue="male">Male</label>
                            <label class="female" nz-radio nzValue="female">Female</label>
                            <label nz-radio nzValue="non-binary">Non binary</label>
                        </nz-radio-group>
                    </div>
                    <div nz-col nzSpan="6">
                        <label>Birthday</label>
                        <div>
                            <nz-date-picker formControlName="birthday" class=""></nz-date-picker>
                        </div>
                    </div>
                    <div nz-col nzSpan="6">
                        <label>Registration Email</label>
                        <input nz-input formControlName="registrationEmail" placeholder="Registration Email" />
                    </div>
                </div>
                <div [nzGutter]="16" *ngIf="profileType == '1'" nz-row class="row-padd">
                    <div nz-col nzSpan="6">
                        <label>Country</label>
                        <nz-select nzPlaceHolder="Country" formControlName="country" class="" nzShowSearch>
                            <nz-option *ngFor="let item of countriesList" [nzValue]="item.alpha3Code" [nzLabel]="item.name"></nz-option>
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="6">
                        <label>State</label>
                        <input formControlName="state" nz-input placeholder="State" />
                    </div>
                    <div nz-col nzSpan="6">
                        <label>City</label>
                        <input formControlName="city" nz-input placeholder="City" />
                    </div>
                    <div nz-col nzSpan="6">
                        <label>Postal Code</label>
                        <input formControlName="postalCode" nz-input placeholder="Postal Code" />
                    </div>
                </div>
                <div [nzGutter]="16" *ngIf="profileType == '2'" nz-row class="row-padd">
                    <div nz-col nzFlex="1">
                        <label>Establishment Date</label>
                        <input nz-input placeholder="Establishment Date" />
                    </div>
                    <div nz-col nzFlex="1" class="paddl-14">
                        <label>Web Page</label>
                        <input nz-input placeholder="Web Page" />
                    </div>
                    <div nz-col nzFlex="1" class="paddl-14">
                        <label>ID Number</label>
                        <input nz-input placeholder="ID Number" />
                    </div>
                    <div nz-col nzFlex="1" class="paddl-14">
                        <label>Sector</label>
                        <input nz-input placeholder="Sector" />
                    </div>
                    <div nz-col nzFlex="1" class="paddl-14">
                        <label>Address</label>
                        <input nz-input placeholder="Address" />
                    </div>
                </div>
                <div [nzGutter]="16" *ngIf="profileType == '1'" nz-row class="row-padd">
                    <div nz-col nzSpan="24">
                        <label>Address</label>
                        <input formControlName="userAddress" nz-input placeholder="Address" />
                    </div>
                </div>
                <div [nzGutter]="16" *ngIf="profileType == '1'" nz-row class="row-padd">
                    <div nz-col nzFlex="1">
                        <label>Profession</label>
                        <input formControlName="profession" nz-input placeholder="Profession" />
                    </div>
                    <div nz-col nzFlex="1">
                        <label>Occupation</label>
                        <input formControlName="occupation" nz-input placeholder="Occupation" />
                    </div>
                    <div nz-col nzFlex="1">
                        <label>Company</label>
                        <input formControlName="company" nz-input placeholder="Company" />
                    </div>
                    <div nz-col nzFlex="1">
                        <label>Position</label>
                        <input nz-input formControlName="position" placeholder="Position" />
                    </div>
                    <div nz-col nzFlex="1">
                        <label>Web site</label>
                        <input nz-input formControlName="website" placeholder="Web site" />
                    </div>
                </div>
                <div *ngIf="profileType == '2'" nz-row class="row-padd">
                    <div nz-col nzFlex="1">
                        <label>Registration Email</label>
                        <input nz-input formControlName="registrationEmail" placeholder="Registration Email" />
                    </div>
                    <div nz-col nzFlex="1" class="paddl-14">
                        <label>State</label>
                        <input nz-input placeholder="State" />
                    </div>
                    <div nz-col nzFlex="1" class="paddl-14">
                        <label>City</label>
                        <input nz-input placeholder="City" />
                    </div>
                    <div nz-col nzFlex="1" class="paddl-14">
                        <label>Country</label>
                        <input nz-input placeholder="Country" />
                    </div>
                    <div nz-col nzFlex="1" class="paddl-14">
                        <label>Postal Code</label>
                        <input nz-input placeholder="Postal Code" />
                    </div>
                </div>
                <div nz-row class="row-padd paddb-0">
                    <div *ngIf="profileType == '1'" nz-col nzSpan="4">
                        <label>Registration Email</label>
                        <input formControlName="registrationEmail" nz-input [value]="emails[0]" placeholder="Registration Email" />
                    </div>
                    <div nz-col [nzSpan]="profileType == '1' ? '20' : '24'" [class]="profileType == '1' ? 'paddl-14' : null">
                        <label>Notes</label>
                        <input formControlName="notes" nz-input placeholder="Notes" />
                    </div>
                </div>




            </form>
            <div class="heading mt-15">
                Contact Details
            </div>
            <div nz-row [nzGutter]="16" class="row-padd">
                <div nz-col nzSpan="7" *ngFor="let email of emails; let i = index">
                    <!-- <span> -->
                    <div *ngIf="emails.length>0">
                        <label>Email</label>
                        <input [value]="email" (change)="valueChanged($event,i)" nz-input placeholder="Email Address" />

                    </div>
                </div>
                <div (click)="addEmail()" *ngIf="mode == 'edit'" nz-col nzSpan="3" class="custom-btn">
                    <button class="addEmail" nz-button nzType="default">
                    <i nz-icon nzType="plus-circle" nzTheme="outline" class="plus"> </i> Add Email
                  </button>
                </div>
            </div>
            <div nz-row [nzGutter]="16" class="row-padd smrt-user-number-input">
                <div nz-col nzSpan="7" *ngFor="let ph of phoneNumbers; let i = index">
                    <div class="smrt-number-picker">
                        <img class="flag" [src]="selectFlagByCode(ph)" />

                        <div class="smrt-seamless-pickers">
                            <nz-select class="seamless-selectbox" nzPlaceHolder="Type" [ngModel]="phoneNumbers[i].type">
                                <nz-option [nzValue]="1" nzLabel="Mobile"></nz-option>
                                <nz-option [nzValue]="2" nzLabel="Home"></nz-option>
                                <nz-option [nzValue]="3" nzLabel="Work"></nz-option>
                            </nz-select>
                            <input class="seamless-inputbox" [value]="ph" cl [(ngModel)]="phoneNumbers[i].number" (keyup)="selectFlagByCode(ph)" ass="inp" nz-input placeholder="+58-3124234234" />
                        </div>
                    </div>

                </div>
                <div (click)="addPhone()" *ngIf="mode == 'edit'" nz-col nzSpan="3" class="custom-btn">
                    <button class="addPhone" nz-button nzType="default">
                        <i nz-icon nzType="plus-circle" nzTheme="outline" class="plus"> </i> Add Phone
                    </button>
                </div>
            </div>
            <div nz-row [nzGutter]="16" class="row-padd">
                <div nz-col nzSpan="7" *ngFor="let sm of socialMedias; let i = index">
                    <div class="smrt-social-picker">
                        <img class="flag" [src]="sm.img" />
                        
                        <div class="smrt-seamless-pickers">
                            <nz-select class="seamless-selectbox" nzPlaceHolder="Social Media" [ngModel]="socialMedias[i].type" (ngModelChange)="socialSelected(i, $event)">
                                <nz-option *ngFor="let social of socials" [nzValue]="social.type" [nzLabel]="social.name"></nz-option>
                            </nz-select>
                            <input class="seamless-inputbox" cl [(ngModel)]="socialMedias[i].socialLink" ass="inp" nz-input placeholder="@username" />
                        </div>
                    </div>

                </div>
                <div (click)="addSocial()" *ngIf="mode == 'edit'" nz-col nzSpan="3" class="custom-btn">
                    <button class="addPhone" nz-button nzType="default">
                <i nz-icon nzType="plus-circle" nzTheme="outline" class="plus"> </i> Add Social Media
              </button>
                </div>
            </div>
            <!-- <div *ngIf="!businessEdit" nz-row class="row-padd">
                <div nz-col nzSpan="1" class="mt-auto">
                    <img class="flag" src="../../../../assets/images/flag.PNG" />

                </div>
                <div nz-col nzSpan="3">
                    <div nz-row>
                        <div nz-col nzSpan="12">
                            <label>Mobile </label>
                        </div>
                        <div nz-col nzSpan="12">
                            <label>Ext.1204 </label>
                        </div>
                    </div>
                    <input class="inp" nz-input placeholder="+58-3124234234" />
                </div>
                <div nz-col nzSpan="1" class="mt-auto paddl-14">
                    <img class="flag" src="../../../../assets/images/flag.PNG" />

                </div>
                <div nz-col nzSpan="3" class="paddl-14">
                    <label>Home</label>
                    <input class="inp" nz-input placeholder="+58-3124234234" />
                </div>
                <div nz-col nzSpan="1" class="mt-auto paddl-14">
                    <img class="flag" src="../../../../assets/images/italy-flag.png" />

                </div>
                <div nz-col nzSpan="3" class="paddl-14">
                    <label>Mobile</label>
                    <input class="inp" nz-input placeholder="+58-3124234234" />
                </div>
                <div nz-col nzSpan="1" class="mt-auto paddl-14">
                    <img class="flag" src="../../../../assets/images/Instagram.png" />

                </div>
                <div nz-col nzSpan="3" class="paddl-14">
                    <label>Instagram</label>
                    <input class="inp" nz-input placeholder="@mike" />
                </div>
                <div nz-col nzSpan="1" class="mt-auto paddl-14">
                    <img class="flag" src="../../../../assets/images/Snapchat.png" />

                </div>
                <div nz-col nzSpan="3" class="paddl-14">
                    <label>Snapchat</label>
                    <input class="inp" nz-input placeholder="@mike" />
                </div>
                <div nz-col nzSpan="1" class="mt-auto paddl-14">
                    <img class="flag" src="../../../../assets/images/Twitter.png" />

                </div>
                <div nz-col nzSpan="3" class="paddl-14">
                    <label>Twitter</label>
                    <input class="inp" nz-input placeholder="@miketwitter" />
                </div>


                <div nz-col nzFlex="1" class="paddl-14">

                </div>
                <div nz-col nzFlex="1" class="paddl-14">

                </div>
            </div>

            <div *ngIf="businessEdit" nz-row class="row-padd">
                <div nz-col nzSpan="1" class="mt-auto">
                    <img class="flag" src="../../../../assets/images/flag.PNG" />

                </div>
                <div nz-col nzSpan="3">
                    <div nz-row>
                        <div nz-col nzSpan="12">
                            <label>Mobile </label>
                        </div>
                        <div nz-col nzSpan="12">
                            <label>Ext.1204 </label>
                        </div>
                    </div>
                    <input class="inp" nz-input placeholder="+58-3124234234" />
                </div>
                <div nz-col nzSpan="1" class="mt-auto">
                    <img class="flag" src="../../../../assets/images/flag.PNG" />

                </div>
                <div nz-col nzSpan="3">
                    <label>Home</label>
                    <input class="inp" nz-input placeholder="+58-3124234234" />
                </div>
                <div nz-col nzSpan="1" class="mt-auto">
                    <img class="flag" src="../../../../assets/images/italy-flag.png" />

                </div>
                <div nz-col nzSpan="3">
                    <label>Mobile</label>
                    <input class="inp" nz-input placeholder="+58-3124234234" />
                </div>
                <div *ngIf="businessEdit" nz-col nzSpan="4" class="paddl-14 custom-btn">
                    <button class="addEmail" nz-button nzType="default">
                    <i nz-icon nzType="plus-circle" nzTheme="outline" class="plus"> </i> Add phone number
                  </button>
                </div>
            </div> -->

            <!-- <div *ngIf="businessEdit" nz-row class="row-padd">
                <div nz-col nzSpan="1" class="mt-auto">
                    <img class="flag" src="../../../../assets/images/Instagram.png" />

                </div>
                <div nz-col nzSpan="3">
                    <label>Instagram</label>
                    <input class="inp" nz-input placeholder="@mike" />
                </div>
                <div nz-col nzSpan="1" class="mt-auto">
                    <img class="flag" src="../../../../assets/images/Snapchat.png" />

                </div>
                <div nz-col nzSpan="3">
                    <label>Snapchat</label>
                    <input class="inp" nz-input placeholder="@mike" />
                </div>
                <div nz-col nzSpan="1" class="mt-auto">
                    <img class="flag" src="../../../../assets/images/Twitter.png" />

                </div>
                <div nz-col nzSpan="3">
                    <label>Twitter</label>
                    <input class="inp" nz-input placeholder="@miketwitter" />
                </div>
                <div nz-col nzSpan="4" class="paddl-14 custom-btn">
                    <button class="addEmail" nz-button nzType="default">
                <i nz-icon nzType="plus-circle" nzTheme="outline" class="plus"> </i> Add mobile number
              </button>
                </div>
            </div> -->

            <div class="heading mt-15">
                Attachments
            </div>

            <div nz-row class="row-padd paddb-0">
                <div nz-col nzSpan="24">
                    <input (change)="attachmentSelected($event)" id="attachment" type="file" accept=".png, .jpg, .jpeg, .pdf, .doc, .docx" style="display: none;" />
                    <div (click)="addAttachment()" *ngIf="mode == 'edit'" nz-col nzSpan="3" class="custom-btn ">
                        <button class="addPhone" nz-button nzType="default">
                            <i nz-icon nzType="plus-circle" nzTheme="outline" class="plus"> </i> Add attachments
                        </button>
                    </div>

                    <nz-card *ngIf="attachments.length" class="attachment-card">
                        <ul>
                            <div *ngFor="let att of attachments; let i = index;" class="smrt-attachment-list" (click)="openImg(att.attachmentLink)">
                                <li>
                                    <span> {{ att.img ? att.img.name : att.name }}</span>
                                </li>
                                <!-- <i (click)="showModal('showDeleteImg')" nz-icon class="minus" nzType="minus" nzTheme="outline"></i> -->
                                <i nz-icon class="minus" nzType="download" nzTheme="outline"></i>
                            </div>
                        </ul>
                    </nz-card>
                </div>
            </div>

        </nz-card>
    </div>
    <!-- </form> -->
</div>

<app-confirmation-modal *ngIf="showDeleteMsg || showStarMsg || showDeleteImg" [title]="
showDeleteMsg ? 'Are you sure you want to delete this contact?' :
showDeleteImg ? 'Are you sure you want to delete this attachment?' :
'Are you sure you want to add this contact to your favourites?'
" [button1]="'Yes'" [button2]="'No'" (cancel)="showModal(showDeleteMsg ? 'showDeleteMsg' : showDeleteImg ? 'showDeleteImg' : 'showStarMsg')"
>