// .dashboard-container {
//   padding: 6px 100px;
// }
.type-card {
  width: 100% !important;
  height: 50px !important;
  display: flex;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid lightgray;
}

.attachment-card {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid lightgray;
  margin-top: 20px;
}

.privacy-card {
  width: 100% !important;
  height: 35px !important;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid lightgray;
}

.paddl-1{
  padding-left: 1px;
}

.ml-0{
  margin-left: 0px !important;
}

.custom-btn{
  display: flex; align-items: flex-end;
}

.flex-row{
  flex-direction: row;
}

.mr-5{
  margin-right: 5px !important;
}

// ::ng-deep .cdk-overlay-pane{
//   position: absolute !important;
//   right: 0px !important;
// }

::ng-deep .type-card .ant-card-body {
  padding: 0px !important;
  // margin-left: 50px !important;
  width: 100% !important;
}

.main-card ::ng-deep  .ant-card-body {
  padding: 12px 24px !important;
}

.attachment-card ::ng-deep .ant-card-body {
  padding: 0px !important;
  margin: auto;
  margin-right: 0px;
  width: 100%;
}
.privacy-card ::ng-deep .ant-card-body {
  padding: 0px 0px 0px 15px !important;
  margin: auto;
  margin-right: 0px;
  width: 100%;
}
.minus {
  color: #04057e;
  position: absolute;
  right: 20px;
  padding-top: 7px;
  margin: auto;
  display: none;
  cursor: pointer;
}
li {
  padding: 4px 0px;
  cursor: pointer;
  width: 100%;
}
.smrt-attachment-list:hover{
  background: linear-gradient(
    272.11deg,
    rgba(4, 5, 126, 0.3) 0.23%,
    rgba(4, 5, 126, 0.12) 95.18%
  );
  .minus{
    display: block;
  } 
}

.selected {
  background: linear-gradient(
    272.11deg,
    rgba(4, 5, 126, 0.3) 0.23%,
    rgba(4, 5, 126, 0.12) 95.18%
  );
}

.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 50px;
  border: 1px solid #04057e;
  padding: 4px;
}

.inp {
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid grey !important;
}

.flag {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.flag2 {
  position: relative;
  top: 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.heading {
  color: #04057e;
  font-weight: bold;
  padding: 4px 0px 0px 0px;
}

.heading-1 {
  color: #04057e;
  font-weight: bold;
  padding: 0px;
}

.row-padd {
  padding: 6px 0px;
}

nz-radio-group {
  margin: 17px !important;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.main-card {
  margin-top: 6px;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid lightgray;
}
.edit {
  border-radius: 15px;
  border: 1px solid #04057e !important;
  color: #04057e !important;
  width: 70px;
  height: 40px;
}
.addEmail{
  border-radius: 15px;
  border: 1px dashed #04057e !important;
  color: #04057e !important;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}
.addPhone{
  border-radius: 15px;
  border: 1px dashed #04057e !important;
  color: #04057e !important;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}
.plus{
  color: #04057e !important;
}

.profile-img {
  width: 100px;
  height: 100px;
  margin: auto;
}

.img1-custom {
  display: flex;
  padding: 5px 0px 0px 15px;
  margin-left: -1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.img2-custom {
  display: flex;
  padding: 0px 0px 5px 15px;
  margin-left: -1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

::ng-deep .ant-radio-checked .ant-radio-inner{
  border-color: #04057E !important;
}

::ng-deep .ant-radio-inner::after{
  background-color: #04057E !important;
}

::ng-deep .ant-switch-checked{
  background-color: #04057E !important;
}

.codes ::ng-deep .ant-select{
  width: 40% !important;
  margin-left: 10px;
}



.edit:hover{
  color: white !important;
  border: 1px solid white;
  background-color: #04057E !important;
  transition: 0.5s;
}

.accept:hover{
  color: #04057E !important;
  border: 1px solid #04057E;
  background-color: white !important;
  transition: 0.5s;
  
}

.apply:hover{
  color: white !important;
  border: 1px solid white;
  background-color: #04057E !important;
  transition: 0.5s;
}

.accept{
  border-radius: 15px;
  background-color: #04057E !important;
  border: 1px solid #04057E !important;
  color: white !important;
  width: 80px;
  height: 40px;
}

.apply{
  border-radius: 15px;
  border: 1px solid #04057e !important;
  color: #04057e !important;
  width: 80px;
  height: 40px;
  margin-left: 10px;
}
.options{
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 60%;
}

.male ::ng-deep span.ant-radio+*{
  padding: 0px 1px 0px 1px;
}

.female ::ng-deep span.ant-radio+*{
  padding: 0px 1px 0px 1px;
}
.custom-padd{
  padding: 0px 12px 0px 10px;
}
.second-last{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
label.profile-img-label {}

.smrt-profile-wrapper .profile-img {
    cursor: pointer;
}

.smrt-profile-wrapper .profile-img-label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    right: 0;
    margin-left: 50%;
    margin-right: auto;
    background-color: rgba(0,0,0,0.57);
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 15px;
    padding: 13px;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(0);
}

.smrt-profile-wrapper .profile-img-label input {
    visibility: hidden;
    display: none;
}

.smrt-profile-wrapper .profile-img:hover .profile-img-label {
    opacity: 1;
    transform: scale(1);
}
