body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

auth-layout {
  min-height: 100vh;
  background: url('../../SmartConnect/src/assets/images/bg.png') 50% fixed;
  display: flex;
  background-size: cover;
}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}

@keyframes  fadeinup {
  0% {
    opacity: 0;
    transform: translateY(10px);
  } 
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

* {
  box-sizing: border-box;
}

/* Login Form */

.auth-form .subtitle {
  margin-top: -18px;
  color: #c4c4c4;
}

.floating-lgn-action {
  color: #333;
  text-align: center;
  margin-top: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.auth-form {
  border-radius: 10px;
  padding: 10px 30px 30px 20px;
  width: 100%;
  max-width: 400px;
  background: #ffffff;
  position: relative;
  padding-bottom: 40px;
  box-shadow: 0px 1px 7px 2px lightgrey;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeinup 0.4s forwards;
}
.auth-form.loading .cnn-form-button-primary {
  max-height: 100%;
  padding-top: 50px;
}
.auth-form.loading .cnn-form-button-primary .spinner {
  opacity: 1;
  top: 40%;
}
.auth-form.ok .cnn-form-button-primary {
  background-color: #8bc34a;
}
.auth-form.ok .cnn-form-button-primary .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}
.auth-form .cnn-forminput {
  display: block;
  padding: 15px 10px;
  margin-bottom: 0px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #8c8c8c;
}
.auth-form .cnn-forminput + i {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: calc(50% - 10px);
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.auth-form .cnn-forminput:focus {
  outline: none;
  color: #444;
  border-color: #2196f3;
  border-left-width: 35px;
}
.auth-form .cnn-forminput:focus + i {
  opacity: 1;
  left: calc(17.5px - 10px);
  transition: all 0.25s ease-out;
}
.auth-form-wrapper {
  position: relative;
}
.auth-form a {
  font-size: 0.8em;
  color: #2196f3;
  text-decoration: none;
}
.auth-form .title {
  color: #444;
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0 20px 0;
}
.auth-form .cnn-form-button-primary {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #2196f3;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}
.auth-form .cnn-form-button-primary .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.auth-form:not(.loading) .cnn-form-button-primary:hover {
  box-shadow: 0px 1px 3px #2196f3;
}
.auth-form:not(.loading) .cnn-form-button-primary:focus {
  border-bottom-width: 4px;
}

footer {
  display: block;
  text-align: center;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  position: absolute;
  bottom: 20px;
}
footer a,
footer a:link {
  color: #fff;
  text-decoration: none;
}

.auth-form-wrapper .floating-icon {
  position: absolute;
  top: calc(50% - 9px);
  right: 15px;
  display: flex;
  font-size: 18px;
  color: #8c8c8c;
  transition: all 0.35s;
  cursor: pointer;
}

.auth-form-wrapper .floating-icon:hover {
  color: #414141;
}

// Errors

.form-group {
  margin-bottom: 16px;

  label {
    &.error {
      background-color: #ffd6d6;
      display: block;
      font-size: 11px;
      padding: 2px 14px;
      border-radius: 0px 0px 4px 4px;
      line-height: 18px;
      color: #de0f0b;
      position: relative;
      z-index: 3;
      max-height: 0px;
      overflow: hidden;
      animation: showError 1s 0s ease forwards;
    }

    &.errno-float {
      top: 0px;
    }
  }
}
.save-icon{
  color: #0088cc;
  
}

@keyframes showError{
  0%{max-height: 0px;}
  100%{max-height: 250px;}
}

.btn-div{
  text-align: center;
  margin-top: 50px;
}
.btn-signup{
  background: #04057E;
  border-color: #04057E;
  font-size: 12px;
  border-radius: 8px;
  box-shadow: 1px 1px 8px -1px #04057e;
}
.btn-signup:hover{
  transition: 0.3s;
  background-color: #010183;
  border: 1px solid #010183;
}
input{
  font-size: 13px;
  border-radius: 6px;
}
label,a{
  font-size: 12px;
}
.register{
  color: #04057E;
    font-weight: bolder;
    font-size: 13px;
}
.mt-auto{
  margin-top: auto;
}

.m-auto{
  margin: auto;
}

.paddt-8{
  padding-top: 8px;
}

.paddl-4{
  padding-left: 4px;
}

.mt-20{
  margin-top: 20px;
}

.fs-12{
  font-size: 12px;
}

.fs-13{
  font-size: 13px;
}

.fs-10{
  font-size: 10px;
}

app-dashboard, app-sessions, app-contacts, app-privacy, app-suggestions{
  height: 100% !important;
}

::ng-deep .ant-radio-checked .ant-radio-inner{
  border-color: #04057E !important;
}

::ng-deep .ant-radio-inner::after{
  background-color: #04057E !important;
}

::ng-deep .ant-switch-checked{
  background-color: #04057E !important;
}
.padd-10{
  padding: 10px;
}
.paddt-20{
  padding-top: 20px;
}
i{
  color: white;
}

.right{
  text-align: right;
}

.mt-15{
  margin-top: 15px;
}
.mt-30{
  margin-top: 30px;
}
.paddl-14{
  padding-left: 14px;
}
.center{
  text-align: center;
}
.paddb-0{
  padding-bottom: 0px;
}
.padd-0{
  padding: 0px
}

.ml-10{
  margin-left: 10px;
}
.w-160{
  width: 160px;
}
.black{
  color: black;
}
app-user-account{
  padding: 6px 100px;
}
.pointer{
  cursor: pointer;
}
.ant-modal.modal--sm {
    max-width: 400px;
}
.paddl-1{
  padding-left: 1px;
}

.ml-0{
  margin-left: 0px;
}

.custom-btn{
  display: flex; align-items: flex-end;
}

.flex-row{
  flex-direction: row;
}

.mr-5{
  margin-right: 5px;
}

.mr-10{
  margin-right: 10px;
}

// ::ng-deep .cdk-overlay-pane{
//   position: absolute !important;
//   right: 0px !important;
// }

::ng-deep .type-card .ant-card-body {
  padding: 0px !important;
  margin-left: 50px !important;
  width: 100% !important;
}

::ng-deep .main-card .ant-card-body {
  padding: 12px 24px !important;
}

.type-card {
  &.smrt-normalize {
    padding: 6px 20px;
  }
}


.inp {
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid grey;
}

.just-end{
  justify-content: flex-end;
}

.flex{
  display: flex;
}

.flex-end{
  display: flex;
  justify-content: flex-end;
}

.flag {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
}

.flag2 {
  position: relative;
  top: 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.heading {
  color: #04057e;
  font-weight: bold;
  padding: 4px 0px 0px 0px;
}

.heading-1 {
  color: #04057e;
  font-weight: bold;
  padding: 0px;
}

.row-padd {
  padding: 15px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-0{
  margin-bottom: 0px;
}

nz-radio-group:not(.m-0) {
  margin: 17px !important;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.main-card {
  margin-top: 6px;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid lightgray;
}
.edit {
  border-radius: 15px;
  border: 1px solid #04057e;
  color: #04057e;
  width: 70px;
  height: 40px;
}
.addEmail{
  border-radius: 15px;
  border: 1px dashed #04057e;
  color: #04057e;
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.plus{
  color: #04057e;
}



.img1-custom {
  display: flex;
  padding: 5px 0px 0px 15px;
  margin-left: -1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.img2-custom {
  display: flex;
  padding: 0px 0px 5px 15px;
  margin-left: -1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

::ng-deep .ant-radio-checked .ant-radio-inner{
  border-color: #04057E !important;
}

::ng-deep .ant-radio-inner::after{
  background-color: #04057E !important;
}

::ng-deep .ant-switch-checked{
  background-color: #04057E !important;
}

.edit:hover{
  color: white;
  border: 1px solid white;
  background-color: #04057E;
  transition: 0.5s;
}

.accept-btn:hover{
  color: #04057E;
  border: 1px solid #04057E;
  background-color: white;
  transition: 0.5s;
  
}

.cancel-btn:hover{
  color: white;
  border: 1px solid white;
  background-color: #04057E;
  transition: 0.5s;
  
}

.apply:hover{
  color: white;
  border: 1px solid white;
  background-color: #04057E;
  transition: 0.5s;
}


.accept-btn{
  border-radius: 15px;
  background-color: #04057E;
  border: 1px solid #04057E;
  color: white;
  width: 80px;
  height: 40px;
}

.cancel-btn{
  border-radius: 15px;
  background-color: white;
  border: 1px solid #04057E;
  color: #04057E;
  width: 80px;
  height: 40px;
}

.apply{
  border-radius: 15px;
  border: 1px solid #04057e;
  color: #04057e;
  width: 80px;
  height: 40px;
  margin-left: 10px;
}
.options{
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 120px;
  align-items: center;

  svg {
    width: 18px;
    height: 22px;
  }
}

.male ::ng-deep span.ant-radio{
  padding: 0px 1px 0px 1px;
}

.codes ::ng-deep .ant-select{
  width: 40% !important;
}

.female ::ng-deep span.ant-radio{
  padding: 0px 1px 0px 1px;
}
::ng-deep .ant-switch-checked{
  background-color: #04057e !important;
}
.mb-15{
  margin-bottom: 15px;
}
.paddr-20{
  padding-right: 20px;
}
.paddl-20{
  padding-left: 20px;
}
.mb-5{
  margin-bottom: 5px;
}
.paddl-10{
  padding-left: 10px;
}
.paddt-10{
  padding-top: 10px;
}

/* OTP */

.otp-input-wrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}

.otp-input-wrapper .otp-input {
  flex: 0 0 44px;
  margin: 0 5px;
}

.otp-input-wrapper .otp-input .ant-input {
  height: 44px;
  text-align: center;
  font-size: 20px;
}

.form-message {
  text-align: center;
  font-size: 13px;
}

.form-message .link {
  font-size: inherit;
  font-weight: 600;
  color: #04057E;
}

.otp-input-wrapper .otp-input.error input {
  border-color: red;
}

.contact .options-td span svg {
  display: block;
}

.options-td:before {
  content: "";
  display: block;
  clear: both;
}

.contact .options-td,
.contact .split-options-td {

  vertical-align: middle;

  svg {
    fill: #04057e;

    path {
      fill: #04057e;
    }
  }

  span {
    float: left;
  }
}

.options-td {
  vertical-align: middle;
}
.passStrength{
  color: lightgray;
  font-size: 10px;
  text-align: end;
  margin: 0px;
}

.weak{
  color: red;
}
.strong{
  color: rgb(0, 145, 72);
}

::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

nz-option-container ::-webkit-scrollbar-thumb {
  height: 40px;
}

.sm-deactivate-modal .ant-modal-body {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.mr-5{
  margin-right: 5px;
}
input, textarea{
  border-radius: 6px !important;
}

.options-td.ant-table-cell,
.split-options-td.ant-table-cell {
  min-width: 180px;
}

.options-td svg,
.split-options-td svg {
  display: block;
}

.contact td.ant-table-cell {
  min-height: 56px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.contact td.ant-table-cell .table-data-img {
  width: 38px;
  height: 38px;
  object-fit: cover;
}

label.profile-img-label {}

.smrt-profile-wrapper .profile-img {
    cursor: pointer;
}

.smrt-profile-wrapper .profile-img-label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.57);
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 15px;
    padding: 13px;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(0);
}

.smrt-profile-wrapper .profile-img-label input {
    visibility: hidden;
    display: none;
}

.smrt-profile-wrapper .profile-img:hover .profile-img-label {
    opacity: 1;
    transform: scale(1);
}

.contact:hover {
  background-color: rgba(4, 5, 126 ,  0.09);
}

.contact:hover:after {
  right: 0px;
  transition: all 0.3s 0.1s;
}

.contact:after {
  content: "";
  display: block;
  position: absolute;
  height: 45px;
  right: -4px;
  background-color: #04057e;
  width: 4px;
  top: 50%;
  border-radius: 10px 0px 0px 10px;
  transform: translateY(-50%);
}

.contact {
  position: relative;
  overflow: hidden;
}

.sugg-content nz-table.ant-table-wrapper {
  margin-left: -15px;
  margin-right: -15px;
  max-width: none;
}

.sort-options {
  list-style-type: none;
  ul {
    padding: 0px;
    margin: 0px;
  }
  li {
    color: grey;
    padding: 10px 42px 15px 10px;
    cursor: pointer;
    border-right: 3px solid transparent;
  }
  li:hover {
    background: linear-gradient(
      272.11deg,
      rgba(4, 5, 126, 0.3) 0.23%,
      rgba(4, 5, 126, 0.12) 95.18%
    );
    border-right: 3px solid #04057e !important;
    color: #04057e !important;
  }
}

.smrt-actions {
  display: flex;
  align-items: center;
}

.smrt-permissions li {
  border-bottom: 1px solid #F3F1F1;
}

.smrt-permission-item span {
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #757E90;
}

.smrt-permission-item, .smrt-permission-header {
  display: flex;
  align-items: center;
  padding: 15px 12px;
}

.smrt-permission-item .smrt-permission-action {
  margin-left: auto;
  transform: scale(0);
  transition: all 0.3s;
}

.smrt-permission-item:hover .smrt-permission-action {
  transform: scale(1);
}

.ant-menu .ant-menu-item:active,.ant-menu .ant-menu-submenu-title:active {
  background: transparent;
}

.ant-menu-item-active, .ant-menu-item:hover, .ant-menu-submenu-active, .ant-menu-submenu-title:hover, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
  color: #04057e;
}

.smrt-suite-lbl {
  display: block;
}

.smrt-suite-wrapper {
  min-width: 380px;
  padding: 6px;
  overflow: hidden;
}

.smrt-suite-wrapper .smrt-suite-lbl {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 2px;
  white-space: nowrap;
}

.smrt-suite-wrapper.ant-row svg {
  width: 24px;
  height: 24px;
}

.smrt-suite-wrapper > div {
  padding: 8px 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.smrt-suite-wrapper > div:hover {
  background-color: #fafafa;
}

app-root {
  display: block;
}

app-main-layout {
  display: block;
}

.ant-menu-inline .ant-menu-item, 
.ant-menu-inline .ant-menu-submenu-title, 
.ant-menu-vertical .ant-menu-item, 
.ant-menu-vertical .ant-menu-submenu-title, 
.ant-menu-vertical-left .ant-menu-item, 
.ant-menu-vertical-left .ant-menu-submenu-title, 
.ant-menu-vertical-right .ant-menu-item, 
.ant-menu-vertical-right .ant-menu-submenu-title {
    margin-bottom: 0px;
    margin-top: 0px;
}

body {
  .ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-left>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-left>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-right>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-right>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
    background: linear-gradient(to right,#04057e,#04057e);
  }
}

.pos-r {
  position: relative;
}

.smrt-connection-status {
  width: 9px;
  height: 9px;
  position: absolute;
  bottom: 8px;
  right: 20px;
  background-color: #5db101;
  border-radius: 20px;
}

.force-full-section > .h-100 {
  min-height: 100vh;
}

.js-dropdown{
  padding-top: 34px;
}

.js-dropdown > ul{
  position: absolute;
  width: 100%;
  background-color: #fff;
  top: 96%;
  border-radius: 10px !important;
  box-shadow: 0 3px 6px -4px rgba(0,0,0, 0.12), 0 6px 16px 0 rgba(0,0,0, 0.08), 0 9px 28px 8px rgba(0,0,0, 0.05);
  left: 6px;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.smrt-hover-dropdown {
  position: relative;
}

.js-dropdown ul > li {
  padding: 6px 14px;
  border-bottom: 1px solid #f3f3f3;
  display: flex;
}

.js-dropdown ul > li:last-child {
  border-bottom: 0px;
}


.js-dropdown ul > li .smrt-dropdown-icon {
  margin-left: auto;
}

.smrt-hover-dropdown:hover .js-dropdown > ul{
  transform: translateY(0px);
  pointer-events: all;
  opacity: 1;
}

load-svg{
  cursor: pointer;
}


 .att-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
  }
  .imgs{
    margin: 10px 20px;
  }
  .w-20{
    width: 20px;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 6px;
  }

.fs-12{
  font-size: 12px;
}
.fs-10{
  font-size: 10px;
}
.bold{
  font-weight: bold;
}
.ant-picker{
  border-radius: 6px;
}

.auth-form.auth-form-large {
  max-width: 712px;

  .ant-select,
  .ant-picker {
    width: 100%;
  }

  .passStrength {
    position: absolute;
    right: 9px;
  }
}

.svg-wrapper svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.auth-form .ant-input, 
.auth-form .ant-select .ant-select-selector, 
.auth-form .ant-select .ant-select-selection-search-input, 
.auth-form .ant-select .ant-select-selection-placeholder, 
.auth-form .ant-picker {
    min-height: 40px;
    height: 40px;
    line-height: 40px;
}

.ant-select-selection-item {
    display: flex;
    align-items: center;
}

.smrt-input-tel .smrt-country-flag {
    background-image: url(/assets/images/flag.PNG);
    position: absolute;
    bottom: 8px;
    left: 15px;
    width: 25px;
    height: 25px;
    z-index: 9;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.smrt-input-tel input {
  padding-left: 48px;
}

body .split-width .main-card > .ant-card-body {
  padding: 12px 12px !important;
}

.removeEmail span {
  display: block;
  width: 7px;
  height: 1px;
  background-color: #04057e;
}

.smrt-email-selected input,
.smrt-email-selected input::placeholder {
    background-color: rgba(232,232,243);
    color: #04057e;
}

.smrt-view-info {
  svg {
    min-width: 16px;
  }
}

.smrt-profile-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.amrt-profile-content h5 {
  font-size: 16px;
  margin-bottom: 2px;
}

.amrt-profile-content {
  text-align: center;
  margin-top: 15px;
}

.amrt-profile-content .subtitle {
  color: #bdbdbd;
  margin-bottom: 0px;
}

.smrt-label-info-style label, .smrt-label-info-style span {
  font-size: 14px;
}

.smrt-label-info-style span {
  color: #0f0f40;
  font-weight: 600;
}

.smrt-label-info-style label {
  color: #b4b5e6;
}

.smrt-label-info-style {
  margin-bottom: 4px;
}

.smrt-quick-actions {
  background-color: #efefef;
  padding: 7px 12px;
  border-radius: 6px;
}

.smrt-quick-actions ul {
  display: flex;
}

.smrt-quick-actions ul svg {
  width: 24px;
  height: 24px;
}

.smrt-quick-actions ul li {
  margin-right: 22px;
}

.smrt-quick-actions ul li:last-child {
  margin-right: 0px;
}

.ant-badge .ant-scroll-number-custom-component, .ant-badge-count, .ant-badge-dot{
  background-color: #c3c3e8;
    color: #04057e;
    border: 1px solid #04057e;
    position: absolute;
    top: -15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-scroll-number-only>p.ant-scroll-number-only-unit{
  font-size: 9px;
}

body app-main-layout div.index-box {
  position: absolute;
  right: 7px;
  top: 6px;
  line-height: 26.5px;

  &.fixed--state {
    position: fixed;
    top: 0px;
  }
}

nz-card.ant-card.smrt-table-list {
  padding-right: 27px;
  min-height: 712px;
}

.smrt-table-link {
  border-bottom: 1px dotted;
}

.w-50 {
  width: 50%;
  margin-right: 10px;
}

.main-account-card {
  .ant-tabs-tabpane {
    padding: 8px;
  }
}

.smrt-side-menu li.ant-menu-item {
  white-space: normal;
  line-height: 20px;
}

nz-card.main-card.smrt-table-list,
nz-card.main-half-card.smrt-table-list {
  height: auto;
  min-height: calc(100% - 180px);
}


.smrt-box {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border: 1px solid #04057e;
  border-radius: 9px;
  min-width: 200px;
  justify-content: space-between;
  margin-left: 14px;
}

.smrt-attachment-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.smrt-attachment-title {
  color: #04057e;
}

.attachment-footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.attachment-action .icon-btn {
  background: rgba(4, 5, 126, 0.09);
  border: 1px solid #04057E;
  box-sizing: border-box;
  border-radius: 3px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}

.attachment-action {
  display: flex;
}

.attachment-action .icon-btn svg {
  width: 24px;
  height: 18px;
}

.attachment-action .icon-btn:first-child {
  margin-left: 0px;
}

// .ant-btn{
//   height: 100% !important;
// }

.smrt-number-picker,
.smrt-social-picker {
  display: flex;
  align-items: center;

  .flag {
    width: 34px;
    height: 34px;
    object-fit: cover;
    margin-right: 8px;
    margin-left: 0px;
  }
}

nz-select.seamless-selectbox {
  width: auto !important;
}

nz-select.seamless-selectbox nz-select-top-control.ant-select-selector {
  border: 0px !important;
}

input.seamless-inputbox.ant-input {
  border: 0px;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 0px !important;
}

.an-spinner-container {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 15px !important;
  -webkit-animation: rotation 1s infinite;
  animation: rotation 1s infinite; }
.an-spinner-container .shape {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px !important; }
.an-spinner-container .shape.shape-1 {
  left: 0;
  background-color: #04057e; }
.an-spinner-container .shape.shape-2 {
  right: 0;
  background-color: #ffffff;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.an-spinner-container .shape.shape-3 {
  bottom: 0;
  background-color: #ffffff;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.an-spinner-container .shape.shape-4 {
  bottom: 0;
  right: 0;
  background-color: #04057e; }
  .an-spinner-container .an-font { 
    color: #fff;
    margin-top: 15px;
  }
.an-spinner-container .shape-1 {
  -webkit-animation: shape1 0.3s infinite alternate;
  animation: shape1 0.3s infinite alternate; }
.an-spinner-container .shape-2 {
  -webkit-animation: shape2 0.3s infinite alternate;
  animation: shape2 0.3s infinite alternate; }
.an-spinner-container .shape-3 {
  -webkit-animation: shape3 0.3s infinite alternate;
  animation: shape3 0.3s infinite alternate; }
.an-spinner-container .shape-4 {
  -webkit-animation: shape4 0.3s infinite alternate;
  animation: shape4 0.3s infinite alternate; }

@-webkit-keyframes rotation {
from {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }
to {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); } }

@keyframes rotation {
from {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }
to {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); } }

@-webkit-keyframes shape1 {
from {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }
to {
  -webkit-transform: translate(5px, 5px);
  transform: translate(5px, 5px); } }

@keyframes shape1 {
from {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }
to {
  -webkit-transform: translate(5px, 5px);
  transform: translate(5px, 5px); } }

@-webkit-keyframes shape2 {
from {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }
to {
  -webkit-transform: translate(-5px, 5px);
  transform: translate(-5px, 5px); } }

@keyframes shape2 {
from {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }
to {
  -webkit-transform: translate(-5px, 5px);
  transform: translate(-5px, 5px); } }

@-webkit-keyframes shape3 {
from {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }
to {
  -webkit-transform: translate(5px, -5px);
  transform: translate(5px, -5px); } }

@keyframes shape3 {
from {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }
to {
  -webkit-transform: translate(5px, -5px);
  transform: translate(5px, -5px); } }

@-webkit-keyframes shape4 {
from {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }
to {
  -webkit-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px); } }

@keyframes shape4 {
from {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }
to {
  -webkit-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px); } }

.spinner-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: #00000061;
    flex-direction: column;
}

.smrt-attachment-list {
  padding-left: 12px;
  position: relative;

  .minus {
    top: 0px;
  }
}

nz-date-picker {
  width: 100%;
}

.index--disabled {
  opacity: 0.2;
  pointer-events: none;
}